Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[dagster-sigma] handle paginating large workspaces (#25396)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
Due: pyright

fix cloud build
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/util.ts
Due: none

[ui] Update OperationQueryStringApolloLink to be agnostic to base path
  js_modules/dagster-ui/packages/ui-core/src/app/OperationQueryStringApolloLink.ts
  js_modules/dagster-ui/packages/ui-core/src/app/__tests__/appendApolloQueryParams.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/appendApolloQueryParams.tsx
Due: none

Fix bug when switching from non-user-code to user-code (#25381)
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster/_daemon/sensor.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_defs.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_non_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

handle string in StaticPartitionDefinition
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/core_tests/partition_tests/test_partition.py
Due: pyright

[ui] Update OperationQueryStringApolloLink to accept URI from context (#25401)
  js_modules/dagster-ui/packages/ui-core/src/app/OperationQueryStringApolloLink.ts
  js_modules/dagster-ui/packages/ui-core/src/app/__tests__/appendApolloQueryParams.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/appendApolloQueryParams.tsx
Due: none

Fix cloud build (#25409)
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/util.ts
Due: none

[dagster-dlift] working loader
  examples/experimental/dagster-dlift/dagster_dlift/dbt_gql_queries.py
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift/load_defs.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_instance.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/.gitignore
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/Makefile
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/README.md
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/conftest.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/cloud_instance.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/defs.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift_tests/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/pyproject.toml
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/setup.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/tox.ini
  examples/experimental/dagster-dlift/setup.py
Due: pyright

[dagster-airlift] 0.0.27 (#25378)
  examples/experimental/dagster-airlift/CHANGES.md
  examples/experimental/dagster-airlift/setup.py
Due: pyright

Make additional_deps show up in parent_entity_keys for checks (#25287)
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
Due: pyright

Make deserializing subsets safer
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_asset_slice.py
Due: pyright

[dagster-powerbi] Warn instead of erroring if fail to fetch specific dashboard
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

dagster-looker 0.24.13rc2
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

Add hidden_param and use it on non_argument_deps (#22385)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/test_annotations.py
Due: docs-mdx-format, pyright

[ui] Clip events if asset plots load data for different time ranges
  js_modules/dagster-ui/packages/ui-core/src/assets/groupByPartition.tsx
Due: none

[ui] Re-order logic in Materialize button to avoid pipeline resource check
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
Due: none

[daggy-u] Example code fix for extra credit lesson in Dagster Essentials
  docs/dagster-university/pages/dagster-essentials/extra-credit/materialization-metadata.md
Due: none

[daggy-u] Removed unnecessary import from extra credit lesson in Dagster Essentials
  docs/dagster-university/pages/dagster-essentials/extra-credit/asset-metadata-as-markdown.md
Due: none

[dagster-aws] [docs] add docs for PipesEMRClient
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/emr_script.py
Due: pyright

edit docs
  dagster_pipes.zip
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/content/concepts/dagster-pipes/databricks.mdx
  docs/content/concepts/dagster-pipes/kubernetes.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/emr_script.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

[dagster-aws, docs] add docs for `PipesEMRClient` (#25011)
  dagster_pipes.zip
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/content/concepts/dagster-pipes/databricks.mdx
  docs/content/concepts/dagster-pipes/kubernetes.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

fix partition set name for runs feed tests
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

Fix using the stop_timeout argument in DockerRunLauncher.container_kwargs
  python_modules/libraries/dagster-docker/dagster_docker/docker_executor.py
  python_modules/libraries/dagster-docker/dagster_docker/docker_run_launcher.py
Due: pyright

make better
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

made updates to config files for source and target to be lowercase
  docs/content/integrations/embedded-elt/sling.mdx
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/replication_config.py
Due: docs-mdx-format, pyright

changes lowercase for source and target references in text
  docs/content/integrations/embedded-elt/sling.mdx
Due: docs-mdx-format

made updates to config files for source and target to be lowercase (#25424)
  docs/content/integrations/embedded-elt/sling.mdx
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/replication_config.py
Due: docs-mdx-format, pyright

Tests
  python_modules/dagster-test/dagster_test/test_project/test_jobs/repo.py
  python_modules/libraries/dagster-docker/dagster_docker_tests/test_launch_docker.py
Due: pyright

[pipes] add PipesContext.asset_identifier
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster-pipes/dagster_pipes_tests/test_context.py
Due: pyright

don't instantiate instance if not needed
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
Due: pyright

[dagster-airlift] Fixes for demo (#25358)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/proxied_state/rebuild_iris_models.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/proxied_state/rebuild_iris_models.yaml-e
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/jaffle_shop.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe_with_check.py
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: pyright

dagster-sigma 0.0.13
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

[asset-graph-view] Make deserializing subsets safer (#25340)
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_asset_slice.py
Due: pyright

Propagate automation condition information through the UI for user code conditions
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetGroupRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/useAssetTabs.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetGroupRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationAssetSelectionFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationTargetList.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/types/AutomationAssetSelectionFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/nav/JobMetadata.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/types/JobMetadata.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleAssetSelectionsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/automation_condition.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/custom_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

Propagate automation condition information through the UI for user code conditions (#25211)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetGroupRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/useAssetTabs.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetGroupRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationAssetSelectionFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationTargetList.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/types/AutomationAssetSelectionFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/nav/JobMetadata.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/types/JobMetadata.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleAssetSelectionsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/automation_condition.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/custom_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

Add test demonstrating that we do not hit the RESOURCE_EXHAUSTED error above a given threshold
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/500_eager_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/perf_tests/test_perf.py
Due: pyright

ensure op concurrency defaults are initialized in run coordinator if necessary
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster_tests/daemon_tests/test_queued_run_coordinator_daemon.py
Due: pyright

Add test demonstrating that we do not hit the RESOURCE_EXHAUSTED error above a given threshold (#25214)
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/500_eager_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/perf_tests/test_perf.py
Due: pyright

Add error for user code sensors with too many entities targeted
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_condition_sensor_definition.py
Due: pyright

Add error for user code sensors with too many entities targeted (#25215)
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_condition_sensor_definition.py
Due: pyright
