Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Update docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/guides/metadata.md
Due: none

update test mocks
  js_modules/dagster-ui/packages/ui-core/src/pipelines/__tests__/PipelineNav.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/__tests__/DryRunRequestTable.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/util.ts
Due: none

[docs-beta] rm "what you'll learn" from content templates
  docs/docs-beta/content-templates/guide-no-steps.md
  docs/docs-beta/content-templates/guide-with-steps.md
Due: none

[docs-beta] rm "what you'll learn" from guides
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/asset-factories.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/configuring-assets.md
  docs/docs-beta/docs/guides/custom-logging.md
  docs/docs-beta/docs/guides/databases.md
  docs/docs-beta/docs/guides/docker.md
  docs/docs-beta/docs/guides/ingesting-data.md
  docs/docs-beta/docs/guides/kubernetes.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/docs/guides/pipelines.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/transform-dbt.md
Due: none

[docs-beta] rm "what you'll learn" from dagster+ guides
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
Due: none

[docs-beta] remove "what you'll learn" from getting started
  docs/docs-beta/docs/getting-started/quickstart.md
Due: none

[dagster-airlift] sensor revamp (#24333)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
Due: pyright

[dagster-airlift] 0.0.23
  examples/experimental/dagster-airlift/setup.py
Due: pyright

Review comments
  docs/docs-beta/docs/guides/metadata.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/oss-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/plus-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/python-local-references.py
Due: pyright

[dagster-airlift] 0.0.23 (#24418)
  examples/experimental/dagster-airlift/setup.py
Due: pyright

Update ingress.yaml
  helm/dagster/templates/ingress.yaml
Due: none

mocks
  js_modules/dagster-ui/packages/ui-core/src/pipelines/__tests__/PipelineNav.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/__tests__/DryRunRequestTable.test.tsx
Due: none

[docs] Add subheads to 'Limiting op/asset concurrency across runs' section
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Due: docs-mdx-format

[ui] Fix CodeLocationSource in flex container
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationSource.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/__stories__/CodeLocationSource.stories.tsx
Due: none

First pass
  docs/docs-beta/docs/guides/asset-factories.md
Due: none

[doc-revamp] - Clean up partitioning guide (#24399)
  docs/docs-beta/docs/guides/partition-dependencies.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/static_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/time_based_partitioning.py
Due: pyright

[ui] Fix CodeLocationSource in flex container (#24422)
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationSource.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/__stories__/CodeLocationSource.stories.tsx
Due: none

Update integrations to use kind tags in place of storage kind (#24324)
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/tags/__init__.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_decorator.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-sdf/dagster_sdf/asset_decorator.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_information_schema.py
Due: pyright

[dagster-fivetran] Pull column schema at runtime after syncing table
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/utils.py
Due: pyright

[dagster-airlift] local migration state
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift/test/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/migration_state_for_sqlite_test/dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/perf-harness/.airflow_home/airflow.db
  examples/experimental/dagster-airlift/examples/perf-harness/.airflow_home/logs/scheduler/latest
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
Due: pyright

Run in threadpool
  python_modules/dagster/dagster/_core/utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_event_iterator.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
Due: pyright

add try/except
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

1.8.7 CHANGELOG (#24380)
  CHANGES.md
  scripts/generate_changelog.py
Due: pyright

add 'pathType' field to 'dagsterWebserver' ingress (#24419)
  helm/dagster/templates/ingress.yaml
Due: none

[docs-beta] rm "what you'll learn" from dagster+ guides (#24415)
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
Due: none

[docs-beta] rm "what you'll learn" from guides (#24414)
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/asset-factories.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/configuring-assets.md
  docs/docs-beta/docs/guides/custom-logging.md
  docs/docs-beta/docs/guides/databases.md
  docs/docs-beta/docs/guides/docker.md
  docs/docs-beta/docs/guides/ingesting-data.md
  docs/docs-beta/docs/guides/kubernetes.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/docs/guides/pipelines.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/transform-dbt.md
Due: none

[docs-beta] rm "what you'll learn" from content templates (#24413)
  docs/docs-beta/content-templates/guide-no-steps.md
  docs/docs-beta/content-templates/guide-with-steps.md
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/transition-hybrid.md
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/asset-factories.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/configuring-assets.md
  docs/docs-beta/docs/guides/custom-logging.md
  docs/docs-beta/docs/guides/databases.md
  docs/docs-beta/docs/guides/docker.md
  docs/docs-beta/docs/guides/ingesting-data.md
  docs/docs-beta/docs/guides/kubernetes.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/docs/guides/pipelines.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/transform-dbt.md
Due: none

remove rest api usage
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift/test/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/migration_state_for_sqlite_test/dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

[dagster-fivetran] Pull column schema at runtime after syncing table (#23631)
  python_modules/dagster/dagster/_core/utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_event_iterator.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/utils.py
Due: pyright

k8s client wait_for_pod correctly handles multiple initcontainers
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_client.py
Due: pyright

bump indexed cache key for asset graph data
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

ruff
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_client.py
Due: pyright

bump indexed cache key for asset graph data (#24433)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

[dagster-polars] deprecate saving/loading storage metadata
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/utils.py
Due: docs-mdx-format, pyright

[docs] Add subheads to 'Limiting op/asset concurrency across runs' section (#24421)
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Due: docs-mdx-format

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
