Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[dagster-components][docs] Add section about customizing component scaffolding
  docs/docs/guides/labs/components/creating-a-component.md
  docs/src/code-examples-content.js
  docs/static/images/guides/build/projects-and-components/components/component-type-docs.png
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/6-scaffold-instance-of-component.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/6-scaffolded-component.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/7-scaffolded-component.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/8-scaffolded-component-script.sh
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/with-scaffolder.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/conftest.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs_creating_a_component.py
Due: pyright

[dagster-components][docs] Add section about customizing component scaffolding (#27904)
  docs/docs/guides/labs/components/creating-a-component.md
  docs/src/code-examples-content.js
  docs/static/images/guides/build/projects-and-components/components/component-type-docs.png
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/6-scaffold-instance-of-component.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/6-scaffolded-component.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/7-scaffolded-component.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/8-scaffolded-component-script.sh
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/custom-schema-resolution.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/with-class-defined.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/with-custom-scope.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/with-scaffolder.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/conftest.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs_creating_a_component.py
Due: pyright

Enhance error message
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_key.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_key.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/component_key.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/component_command_tests/test_check.py
Due: pyright

[dagster-components] export scaffold_component_yaml at top level
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/with-scaffolder.py
  python_modules/libraries/dagster-components/dagster_components/__init__.py
Due: pyright

[components] Update local component naming scheme (#27625)
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_key.py
  python_modules/libraries/dagster-components/dagster_components_tests/cli_tests/test_commands.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/local_component_sample/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_extra_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_invalid_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_missing_type/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_missing_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_success/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_extra_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_invalid_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_missing_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/resolution_tests/custom_scope_component/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_key.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_key_synced.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/component_key.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/component_command_tests/test_check.py
Due: pyright

remove duplicate entries
  docs/vercel.json
Due: none

[dagster-components] export scaffold_component_yaml at top level (#27926)
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/shell-script-component/with-scaffolder.py
  python_modules/libraries/dagster-components/dagster_components/__init__.py
Due: pyright

DOC-878 Reorganize and clean up Components docs (#27848)
  docs/docs-beta/src/code-examples-content.js
  docs/docs/guides/labs/components/building-pipelines-with-components/adding-components-python.md
  docs/docs/guides/labs/components/building-pipelines-with-components/adding-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/creating-a-code-location-with-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/customizing-components.md
  docs/docs/guides/labs/components/building-pipelines-with-components/index.md
  docs/docs/guides/labs/components/building-pipelines-with-components/troubleshooting-components.md
  docs/docs/guides/labs/components/components-etl-pipeline-tutorial.md
  docs/docs/guides/labs/components/creating-new-component-types/creating-a-library-of-components.md
  docs/docs/guides/labs/components/creating-new-component-types/creating-and-registering-a-component-type.md
  docs/docs/guides/labs/components/creating-new-component-types/index.md
  docs/docs/guides/labs/components/creating-new-component-types/testing-your-component-type.md
  docs/docs/guides/labs/components/incrementally-adopting-components/existing-code-location.md
  docs/docs/guides/labs/components/incrementally-adopting-components/existing-definitions.md
  docs/docs/guides/labs/components/incrementally-adopting-components/index.md
  docs/docs/guides/labs/components/index.md
  docs/docs/guides/labs/components/managing-multiple-code-locations.md
  docs/docs/guides/labs/components/using-a-component-python.md
  docs/docs/guides/labs/components/using-a-component.md
  docs/vercel.json
Due: none

remove unnecessary files
  docs/docs-beta/src/code-examples-content.js
  docs/docs/guides/build/assets/asset-selection-syntax-1-9-11.md
  docs/docs/guides/build/assets/asset-selection-syntax.md
  docs/src/code-examples-content.js
Due: none

don't need this redirect
  docs/vercel.json
Due: none

docs: Update typo in `asset-versioning-and-caching.md` (#27858)
  docs/docs/guides/build/assets/asset-versioning-and-caching.md
Due: none

Include GrapheneUnauthorizedError in GrapheneTerminateRunsResultOrError
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/__init__.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_run_cancellation.py
Due: pyright

[docs] fix metadata docs link (#27887)
  docs/docs/guides/build/assets/metadata-and-tags/index.md
Due: none

Include GrapheneUnauthorizedError in GrapheneTerminateRunsResultOrError (#27925)
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/__init__.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_run_cancellation.py
Due: pyright

[docs] fix asset name (#27827)
  docs/docs/guides/build/assets/defining-assets.md
Due: none

sync deployment settings reference with the latest guidance on concurrency
  docs/docs/dagster-plus/deployment/management/deployments/deployment-settings-reference.md
Due: none

[wip][docs] Generate + include apidocs for components
  docs/content-templates/concept.md
  docs/content-templates/example-reference.md
  docs/content-templates/guide-no-steps.md
  docs/content-templates/guide-with-steps.md
  docs/docs/api/components/dbt_project@dagster_components.md
  docs/docs/api/components/definitions@dagster_components.md
  docs/docs/api/components/pipes_subprocess_script_collection@dagster_components.md
  docs/docs/api/components/sling_replication_collection@dagster_components.md
  docs/scripts/build-components-docs.py
  docs/sidebars.ts
  docs/src/code-examples-content.js
  python_modules/libraries/dagster-dg/dagster_dg/docs.py
Due: docs-mdx-format, pyright

[components] Change title to 'Incrementally adopting components'
  docs/docs/guides/labs/components/incrementally-adopting-components/index.md
  docs/src/code-examples-content.js
Due: none

[components] Change title to 'Incrementally adopting components' (#27931)
  docs/docs/guides/labs/components/incrementally-adopting-components/index.md
  docs/src/code-examples-content.js
Due: none

Revert "Exclude failed subset when logging "Assets requested or in progress" in asset backfills (#27900)"
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

Revert "Clean up asset backfill failure reasons a bit (#27898)"
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

Revert "Fix asset backfill subset logging (#27883)"
  python_modules/dagster/dagster/_core/asset_graph_view/bfs.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_bfs.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

Revert "Remove asset key iteration from backfill daemon, part 2 (#26727)"
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
Due: pyright

Revert "Make asset backfill eligibility logic subset-aware instead of iterating through partition keys individually (#25997)"
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/legacy_tests/scenarios/partition_scenarios.py
Due: pyright

Reworded the error to match the documentation.
  python_modules/dagster/dagster/_core/execution/plan/compute_generator.py
Due: pyright

Added a return statement to comput_generator function to debug
  python_modules/dagster/dagster/_core/execution/plan/compute_generator.py
Due: pyright

new test that verifies asset backfill behavior for self-dependant assets with multi-run backfill polices
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

Use StopIteration instead of invariant in schedule iterator
  python_modules/dagster/dagster/_utils/schedules.py
Due: pyright

reorganize and update
  docs/docs/guides/build/assets/asset-selection-syntax.md
Due: none

replace old screenshots with placeholder text
  docs/docs/guides/build/assets/asset-selection-syntax.md
Due: none

improve stop iteration handling
  python_modules/dagster-graphql/dagster_graphql/schema/schedules/schedules.py
Due: pyright

fix typo in managing-code-locations-with-definitions.md
  docs/docs/guides/deploy/code-locations/managing-code-locations-with-definitions.md
Due: none

[docs] fix dagster-dbt tutorial
  examples/docs_snippets/docs_snippets/integrations/dbt/tutorial/downstream_assets/assets.py
Due: pyright

[components] Reenable dg dev deployment test on windows
  python_modules/libraries/dagster-dg/dagster_dg/cli/dev.py
  python_modules/libraries/dagster-dg/dagster_dg/utils/ipc.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_dev_command.py
Due: pyright

fix inheritance fail
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
Due: pyright

dont drop jobs
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsForTimeline.tsx
Due: none

[components] Explicit glob in definitions
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/explicit_glob/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/explicit_glob/file_one.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/explicit_glob/file_two.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_definitions_component.py
Due: pyright

better
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsForTimeline.tsx
Due: none

[Run Timeline] Don't drop job data if locations within the FutureTicksQuery fails (#27944)
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsForTimeline.tsx
Due: none

rename vale file
  .github/workflows/vale.yml.bak
  docs/docs/guides/build/io-managers/defining-a-custom-io-manager.md
Due: none
