Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

rebuild docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

feat: cli asset report runless materialization
  python_modules/dagster/dagster/_cli/asset.py
Due: pyright

feat: CLI scan FS for asset/partition materializations
  python_modules/dagster/dagster/_cli/asset.py
Due: pyright

[DOCS-423] Fix make quick_pyright on docs_beta_snippets
  examples/docs_beta_snippets/setup.py
  scripts/run-pyright.py
Due: pyright

cp
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_validate_defs.py
Due: pyright

manifest.json test
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_validate_defs.py
Due: pyright

skip them all
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_validate_defs.py
Due: pyright

[DOCS-423] Fix `make quick_pyright` when editing docs (#23945)
  examples/docs_beta_snippets/setup.py
  scripts/run-pyright.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_validate_defs.py
Due: pyright

make more guide-y
  docs/docs-beta/docs/guides/ingestion-and-transformation/ingesting-data.md
Due: none

add some type annotations in execute_step.py (#23742)
  python_modules/dagster/dagster/_core/execution/plan/execute_step.py
Due: pyright

Fix filesystem observer on watchdog 5.0
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/consolidated_sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/local_compute_log_manager.py
Due: pyright

asyncio methods for grpc repository loading methods (#23721)
  python_modules/dagster/dagster/_api/list_repositories.py
  python_modules/dagster/dagster/_api/snapshot_repository.py
  python_modules/dagster/dagster/_grpc/client.py
  python_modules/dagster/dagster_tests/api_tests/test_api_list_repositories.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_repository.py
  python_modules/dagster/setup.py
Due: pyright

[DOC-348] Docs for asset and op unit testing
  docs/docs-beta/docs/guides/quality-testing/unit-tests-assets-and-ops.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-combo.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-dependency.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-no-argument.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-combo.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-dependency.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-no-argument.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-resource.py
  examples/docs_beta_snippets/setup.py
Due: pyright

[DOC-348] Docs for asset and op unit testing (#23926)
  docs/docs-beta/docs/guides/quality-testing/unit-tests-assets-and-ops.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-combo.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-dependency.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-no-argument.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/asset-resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-combo.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-dependency.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-no-argument.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/quality-testing/unit-testing-assets-and-ops/op-resource.py
  examples/docs_beta_snippets/setup.py
Due: pyright

[docathon] Clean up metadata docs (DOC-382) (#23915)
  docs/docs-beta/docs/guides/data-modeling/metadata.md
Due: none

Add an env var that, when enabled, logs exceptions raised during code server calls to stderr (#23657)
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_persistent.py
Due: pyright

Fix filesystem observer on watchdog 5.0 (#23959)
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/consolidated_sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/local_compute_log_manager.py
Due: pyright

Update docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
Due: none

Respond to feedback
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/config-schema.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/run_config.yaml
Due: pyright

Update one missing reference to parallelism
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/config-schema.py
Due: pyright

[docathon] Configuring assets guide (#23924)
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/src/components/CodeExample.tsx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/config-schema.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/run_config.yaml
Due: pyright

first pass at code locations
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
Due: none

ruff
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
Due: pyright

Chris' initial changes
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_correctly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/migration_state/rebuild_customers_list.yaml
Due: pyright

change setup_local_dev to airflow_setup
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/conftest.py
Due: pyright

Adding makefile for tutorial (#23956)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_correctly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/migration_state/rebuild_customers_list.yaml
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/conftest.py
Due: pyright

Do not include defs on module inclusion and add unit test and integration test directories
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_duckdb_to_csv_defs.py
Due: pyright

tweak code font
  docs/docs-beta/src/styles/theme-globals.scss
Due: none

Do not include defs on module inclusion and add unit test and integration test directories (#23960)
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_duckdb_to_csv_defs.py
Due: pyright

Extract dags_def construction into s
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/build_dag_defs.py
Due: pyright

rename file
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_build_dag_defs.py
Due: pyright

Extract dags_def construction into separate file, write tests, and fix bugs
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/duckdb_to_csv_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_duckdb_to_csv_defs.py
Due: pyright

[docs-beta] configuring assets tweaks
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
Due: none
