Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-airlift] Remove airflow variable parsing
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/proxying_fn.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift/test/test_utils.py
  examples/experimental/dagster-airlift/dagster_airlift/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_proxying_to_dagster.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/perf-harness/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_proxy_operators.py
Due: pyright

added intial assets and did some cleanup
  docs/docs-beta/docs/tutorial/dagster-project-setup.md
  docs/docs-beta/docs/tutorial/tutorial-etl.md
  docs/docs-beta/docs/tutorial/your-first-asset.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
Due: pyright

Add kinds parameter to graph_asset (#25227)
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
Due: pyright

[ui] TS, lint updates for ui-components
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-components/src/components/NewConfigEditor.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/RefreshableCountdown.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/configeditor/codemirror-yaml/mode.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

[ui] TS, lint updates for ui-components (#25322)
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-components/src/components/NewConfigEditor.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/RefreshableCountdown.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/configeditor/codemirror-yaml/mode.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

[dagster-airlift] Remove airflow variable parsing (#25289)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/proxying_fn.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift/test/test_utils.py
  examples/experimental/dagster-airlift/dagster_airlift/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_proxying_to_dagster.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/perf-harness/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_proxy_operators.py
Due: pyright

[dagster-airlift] Add test for partitioned observation (#25293)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/interval_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  python_modules/dagster/dagster/_time/__init__.py
Due: pyright

[dagster-airlift] Add section on time-window partition handling
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/images/partitioned_mat.png
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe_with_partitions.py
Due: pyright

[dagster-airlift] Constrain proxy operator to one run
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_job_assets_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/multi_job_assets_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

[dagster-airlift][tutorial] Add section on time-window partition handling (#25297)
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/images/partitioned_mat.png
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe_with_partitions.py
Due: pyright

[dagster-airlift][rfc] Constrain proxy operator to one run (#25301)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_job_assets_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/multi_job_assets_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

Use AssetCheckSummaryRecord in compute subset functions for asset checks
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
Due: pyright

Docs for Custom Roles
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Due: docs-mdx-format

Use AssetCheckSummaryRecord to compute subsets for asset checks (#25325)
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
Due: pyright

Update external-assets.mdx
  docs/content/concepts/assets/external-assets.mdx
Due: docs-mdx-format

feat(cli.project): enable optional minimalist configuration in templates
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.tmpl
  python_modules/dagster/dagster_tests/cli_tests/test_project_commands.py
Due: pyright

add `schema_name` in query for fetching row count
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
Due: pyright

make `schema_name` optional in `_fetch_row_count()`
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
Due: pyright

fix type annotation
  python_modules/libraries/dagster-aws/dagster_aws/s3/sensor.py
Due: pyright

[dagster-aws] use datetime for since_last_modified; include unit test (#25310)
  python_modules/libraries/dagster-aws/dagster_aws/s3/sensor.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_sensor.py
Due: pyright

[ui] Export Apollo error utilities
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
Due: none

Update external-assets.mdx (#25327)
  docs/content/concepts/assets/external-assets.mdx
Due: docs-mdx-format

Fix cluster permissions in databricks step launcher (#25305)
  python_modules/libraries/dagster-databricks/dagster_databricks/databricks_pyspark_step_launcher.py
  python_modules/libraries/dagster-databricks/dagster_databricks_tests/test_pyspark.py
Due: pyright

[dagster-looker] add related; use dagster as dg; use PyObject references
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

[docs] add EnvVar reference to API docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/resources.rst
Due: docs-mdx-format

[dagster-looker] add related; use dagster as dg; use PyObject references (#25332)
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

[docs,dagster-looker] update examples to use import dagster as dg
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Due: docs-mdx-format, pyright

[docs] add StepLauncher deprecation notes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/internals.rst
  python_modules/dagster/dagster/_core/definitions/step_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws/emr/pyspark_step_launcher.py
  python_modules/libraries/dagster-databricks/dagster_databricks/databricks_pyspark_step_launcher.py
Due: docs-mdx-format, pyright

[docs,dagster-looker] update examples to use import dagster as dg (#25334)
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Due: docs-mdx-format, pyright

[ui] Export Apollo error utilities (#25331)
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
Due: none

example
  python_modules/dagster/dagster/_core/storage/runs/schema.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

[docs,dagsters-sigma] add api docs; use pyobject; use dagster as dg
  docs/content/_apidocs.mdx
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/sigma.mdx
  docs/next/public/objects.inv
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
Due: docs-mdx-format, pyright

flip the runs feed feature flag to default on
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/RunsFeedBackfillPage.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedUtils.tsx
Due: none

fixup
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedUtils.tsx
Due: none

update for new usages of runs feed
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/GlobalAutomaterializationContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRunsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineRunsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorPageAutomaterialize.tsx
Due: none

update to sigma
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
Due: none

make apidoc-build
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

[core] use cli-provided job_origin when executing runs/steps
  python_modules/dagster/dagster/_cli/api.py
  python_modules/dagster/dagster/_grpc/types.py
Due: pyright

[dagster-airlift][k8s] section on common operators
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
