Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[docs-beta] Fix webpack dependabot alert (#24010)
  docs/docs-beta/yarn.lock
Due: none

add ECS client
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/setup.py
Due: docs-mdx-format, pyright

[dagster-aws] ignore pyright errors with boto3-stubs
  examples/experimental/dagster-airlift/examples/mwaa-example/scripts/setup_mwaa.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/context_injectors.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-aws/dagster_aws/secretsmanager/resources.py
  python_modules/libraries/dagster-aws/dagster_aws/ssm/resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_file_manager.py
  scripts/auto_ignore_pyright_errors.py
Due: pyright

pr feedback
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
Due: none

.
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
Due: none

try 2 ?
  js_modules/dagster-ui/yarn.lock
Due: none

Fix filesystem observer on watchdog 5.0 (#23959)
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/consolidated_sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/local_compute_log_manager.py
Due: pyright

Cache JobDefinition.get_job_index (#23722)
  python_modules/dagster/dagster/_core/definitions/job_definition.py
Due: pyright

Add an env var that, when enabled, logs exceptions raised during code server calls to stderr (#23657)
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_persistent.py
Due: pyright

asyncio methods for grpc repository loading methods (#23721)
  python_modules/dagster/dagster/_api/list_repositories.py
  python_modules/dagster/dagster/_api/snapshot_repository.py
  python_modules/dagster/dagster/_grpc/client.py
  python_modules/dagster/dagster_tests/api_tests/test_api_list_repositories.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_repository.py
  python_modules/dagster/setup.py
Due: pyright

Dagster+ UI env vars guide
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
Due: none

Fix pip upgrades in dbt examples (#24001)
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
  examples/assets_dbt_python/.github/workflows/examples/branch_deployments.yml
  examples/assets_dbt_python/.github/workflows/examples/deploy.yml
Due: none

lint app-oss
  js_modules/dagster-ui/packages/app-oss/src/NUX/CommunityNux.tsx
  js_modules/dagster-ui/packages/app-oss/src/telemetryLink.tsx
Due: none

Update eslint-config package version (#24013)
  js_modules/dagster-ui/packages/app-oss/src/NUX/CommunityNux.tsx
  js_modules/dagster-ui/packages/app-oss/src/telemetryLink.tsx
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

[airlift] Fix DagsterOperator task->asset lookup
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/dagster_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
Due: pyright

add test
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/dagster_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_operator_switcheroo.py
Due: pyright

ruff
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/dagster_operator.py
Due: pyright

comment
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_operator_switcheroo.py
Due: pyright

cp
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/peer.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/migration_state/rebuild_customers_list.yaml
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/build_dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/duckdb_to_csv_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/export_duckdb_to_csv.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/load_csv_to_duckdb.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_build_dag_defs.py
Due: pyright

try different link to satisfy vercel stupidity
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
Due: none

[airlift] Fix DagsterOperator task->asset lookup (#23985)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/dagster_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_operator_switcheroo.py
Due: pyright

Add migration state tests to Airlift tutorial
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migration_state.py
Due: pyright

docs
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migration_state.py
Due: pyright

comments
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
Due: pyright

fix
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migration_state.py
Due: pyright

[dagster-aws] ignore pyright errors with boto3-stubs (#23954)
  examples/experimental/dagster-airlift/examples/mwaa-example/scripts/setup_mwaa.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/context_injectors.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-aws/dagster_aws/secretsmanager/resources.py
  python_modules/libraries/dagster-aws/dagster_aws/ssm/resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_file_manager.py
  scripts/auto_ignore_pyright_errors.py
Due: pyright

[dagster-aws] add Pipes ECS client (#23568)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  examples/experimental/dagster-airlift/examples/mwaa-example/scripts/setup_mwaa.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/context_injectors.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-aws/dagster_aws/secretsmanager/resources.py
  python_modules/libraries/dagster-aws/dagster_aws/ssm/resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_file_manager.py
  python_modules/libraries/dagster-aws/setup.py
  scripts/auto_ignore_pyright_errors.py
Due: docs-mdx-format, pyright

[dagster-aws] [docs] add documentation for ECS Pipes
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dev.Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/task.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
Due: docs-mdx-format, pyright

[dagster-aws] [docs] add documentation for ECS Pipes (#23569)
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dev.Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/task.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
Due: docs-mdx-format, pyright

always use black text for user evaluation function box
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Due: none

[ui] Exclude docs-beta content from docs GH action
  .github/workflows/build-docs.yml
Due: none

[airlift] Add migration state tests to Airlift tutorial (#23993)
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migration_state.py
Due: pyright

Update README
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/peer.py
  examples/experimental/dagster-airlift/examples/tutorial-example/standalone.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/migration_state/rebuild_customers_list.yaml
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/build_dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/duckdb_to_csv_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/export_duckdb_to_csv.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/load_csv_to_duckdb.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
Due: pyright

Vale suggestions
  docs/docs-beta/docs/dagster-plus/getting-started.md
Due: none

Refresh dagster+ getting started docs
  docs/docs-beta/docs/dagster-plus/deployment-types.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/sidebars.ts
Due: none

Switch document name to what's dagster+
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/dagster-plus/getting-started/whats-dagster-plus.md
  docs/docs-beta/sidebars.ts
Due: none

address feedback
  docs/docs-beta/docs/guides/quality-testing/data-freshness-testing.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/anomaly-detection.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/external-asset-freshness-check.py
Due: pyright

add docs changes
  docs/docs-beta/docs/guides/quality-testing/data-freshness-testing.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/anomaly-detection.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/external-asset-freshness-check.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/quality-testing/freshness-checks/materializable-asset-freshness-check.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
Due: pyright

Update docs/docs-beta/docs/guides/quality-testing/data-freshness-testing.md
  docs/docs-beta/docs/guides/quality-testing/data-freshness-testing.md
Due: none
