Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

docs(looker): add API docs for using `dagster-looker` with the Looker API
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

docs(looker): add API docs for using `dagster-looker` with the Looker API (#24692)
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

refactor get_backfills
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

fix method params
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

steal internal impl for tag matching
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

docs(looker): add guide to setup `dagster-looker` with the Looker API
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Due: docs-mdx-format, pyright

docs(looker): add guide to setup `dagster-looker` with the Looker API (#24694)
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Due: docs-mdx-format, pyright

Make useStaticSetFilter controlled (#24772)
  js_modules/dagster-ui/packages/ui-core/src/instance/flattenCodeLocationRows.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/__stories__/useFilters.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/__tests__/useStaticSetFilter.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
Due: none

[dagster-dbt][wip] automatically pull row count, lineage
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_event_iterator.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/dbt_packages/test_columns_metadata.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_postprocessing.py
Due: pyright

refactor get_backfills (#24754)
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

update backfill tests to add count tests automatically
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

fix test
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

pipe through to instance
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster/_core/storage/runs/base.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

use internal backfill tag matching filter
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

check
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

fix typo in legacy storage
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
Due: pyright

allow literals in tag sets (#24800)
  python_modules/dagster/dagster/_core/definitions/tags/tag_set.py
  python_modules/dagster/dagster_tests/definitions_tests/tags_tests/test_tag_set.py
Due: pyright

cleanup
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

exclude subruns
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
Due: pyright

fix type name
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
Due: none

update tabs query
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedTabs.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
Due: pyright

prettier again
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
Due: none

prettier
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
Due: none

update tests to test count too
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

update tabs query
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
Due: pyright

add count to runs feed gql
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/possibleTypes.generated.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedRoot.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

[lazy-defs] @definitions -> @lazy_definitions (test utility) (#24733)
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_execute_command.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_with_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/lazy_definitions.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_defs_global_context.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
  python_modules/dagster/dagster_tests/definitions_tests/test_reconstructable.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/repos/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: docs-mdx-format, pyright

[lazy-defs] Rename definitions_loader.py -> definitions_load_context.py
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

[lazy-defs] Rename definitions_loader.py -> definitions_load_context.py (#24734)
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

[lazy-defs] Move StateBackedDefinitionsLoader from airlift to core
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
Due: pyright

[lazy-defs] Move StateBackedDefinitionsLoader from airlift to core (#24736)
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
Due: pyright

[lazy-defs] [dagster-powerbi] Refactor dagster-powerbi to use the StateBackedDefinitionsLoader
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

[lazy-defs] [dagster-powerbi] Refactor dagster-powerbi to use the StateBackedDefinitionsLoader (#24743)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

[lazy-defs] [dagster-powerbi] Refactor dagster-sigma to use the StateBackedDefinitionsLoader
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

[lazy-defs] [dagster-sigma] Refactor dagster-sigma to use the StateBackedDefinitionsLoader (#24746)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

Don't create a new k8s configuration object every time a model is programatically created 1;95;0c speedscope results suggest
  python_modules/libraries/dagster-k8s/dagster_k8s/models.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_models.py
Due: pyright

Don't create a new k8s configuration object every time a model is programatically created (#24635)
  python_modules/libraries/dagster-k8s/dagster_k8s/models.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_models.py
Due: pyright

[docs] Update Makefile and Vercel sync script for mdx generation
  docs/Makefile
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
  docs/tox.ini
Due: none

[dagster-airlift] partition pluggability
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/partition_utils.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
Due: pyright

[dagster-airlift] support time-window partitioned assets
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/partition_utils.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_test_utils.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
