Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Fix error message when a sensor is paused due to being unable to reach the code server
  python_modules/dagster/dagster/_daemon/sensor.py
Due: pyright

Cleanup Header components on all pages (#24458)
  js_modules/dagster-ui/packages/ui-components/src/components/PageHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPageHeader.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/PipelineNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewPageHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTimelineRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTableActionBar.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/settings/SettingsLayout.tsx
Due: none

fuse worker
  js_modules/dagster-ui/packages/ui-core/src/search/SearchResults.tsx
  js_modules/dagster-ui/packages/ui-core/src/workers/fuseSearch.worker.ts
Due: none

Review comments
  docs/docs-beta/docs/guides/ingesting-data.md
Due: none

[docs-revamp] - Clean up Ingesting data guide (#24442)
  docs/docs-beta/docs/guides/ingesting-data.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-ingestion/custom-data-ingestion.py
Due: pyright

rm console.log
  js_modules/dagster-ui/packages/ui-core/src/workers/fuseSearch.worker.ts
Due: none

Update fuse worker to return all results if query string is empty. (#24538)
  js_modules/dagster-ui/packages/ui-core/src/search/SearchResults.tsx
  js_modules/dagster-ui/packages/ui-core/src/workers/fuseSearch.worker.ts
Due: none

Fix error message when a sensor is paused due to being unable to reach the code server (#24535)
  python_modules/dagster/dagster/_daemon/sensor.py
Due: pyright

Include full docker container state in failure message when a run worker fails
  python_modules/libraries/dagster-docker/dagster_docker/docker_run_launcher.py
  python_modules/libraries/dagster-docker/dagster_docker_tests/test_launch_docker.py
Due: pyright

don't mention experimental resume run feature in every run monitoring failure message
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
Due: pyright

Include full docker container state in failure message when a run worker fails (#24502)
  python_modules/libraries/dagster-docker/dagster_docker/docker_run_launcher.py
  python_modules/libraries/dagster-docker/dagster_docker_tests/test_launch_docker.py
Due: pyright

assert unreachable backcompat thing
  js_modules/dagster-ui/packages/ui-components/src/util/assertUnreachable.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
Due: none

[docs] fix typo (#24528)
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
Due: docs-mdx-format

Don't mention experimental resume run feature in every run monitoring failure message (#24541)
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
Due: pyright

fix
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
Due: none

remove extra render cycle
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
Due: none

[StaticSetFilter] Remove potential layoutEffect infinite loop (#24542)
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
Due: none

[dagster-airlift] always construct assetsdefinition
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml-e
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml-e
Due: pyright

[dagster-airlift] support source assets
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
Due: pyright

[dagster-airlift] change dag_defs to accept a list
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/test_dbt_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe.py
Due: pyright

[dagster-airlift] relax constraint around single list of dags and task per assetsdefinition
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml-e
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml-e
Due: pyright

[dagster-airlift] multi-task mapping
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/test_dbt_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml-e
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml-e
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

[dagster-airlift] cacheable assets support
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
Due: pyright

[dagster-airlift] use canonical assets
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
Due: pyright

[dagster-airlift] fix version pins
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] normalize prefix
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
Due: pyright

[dagster-airlift] dag-level overrides
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
Due: pyright

[dagster-airlift] peer tasks automatically
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
Due: pyright

yarn ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillAssetPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillLogsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRunsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/__fixtures__/buildBackfillDetails.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/__tests__/BackfillPage.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillAssetPartitionsTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/useBackfillDetailsQuery.tsx
Due: none

lint
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

fix sidebar chevron rotations
  docs/docs-beta/src/styles/custom.scss
Due: none

getting started page
  docs/docs-beta/docs/intro.md
  docs/docs-beta/src/components/Cards.tsx
  docs/docs-beta/static/img/favicon-old.ico
  docs/docs-beta/static/img/favicon.ico
  docs/docs-beta/static/img/getting-started/icon-assets.svg
  docs/docs-beta/static/img/getting-started/icon-github.svg
  docs/docs-beta/static/img/getting-started/icon-plus.svg
  docs/docs-beta/static/img/getting-started/icon-slack.svg
  docs/docs-beta/static/img/getting-started/icon-start.svg
  docs/docs-beta/static/img/getting-started/icon-youtube.svg
  docs/docs-beta/static/img/getting-started/lineage-dark.jpg
  docs/docs-beta/static/img/getting-started/lineage-light.jpg
Due: none

fix circular imports
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillFragments.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillStepStatusDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillTerminationDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillAssetPartitionsTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillFragments.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillStepStatusDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillTerminationDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/useBackfillDetailsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

Update hello-world.py
  examples/docs_beta_snippets/docs_beta_snippets/getting-started/hello-world.py
Due: pyright

jb/docs/getting started revamp (#24550)
  docs/docs-beta/docs/intro.md
  docs/docs-beta/src/components/Cards.tsx
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/static/img/favicon-old.ico
  docs/docs-beta/static/img/favicon.ico
  docs/docs-beta/static/img/getting-started/icon-assets.svg
  docs/docs-beta/static/img/getting-started/icon-github.svg
  docs/docs-beta/static/img/getting-started/icon-plus.svg
  docs/docs-beta/static/img/getting-started/icon-slack.svg
  docs/docs-beta/static/img/getting-started/icon-start.svg
  docs/docs-beta/static/img/getting-started/icon-youtube.svg
  docs/docs-beta/static/img/getting-started/lineage-dark.jpg
  docs/docs-beta/static/img/getting-started/lineage-light.jpg
Due: none

Update hello-world.py (#24552)
  examples/docs_beta_snippets/docs_beta_snippets/getting-started/hello-world.py
Due: pyright

cache config yaml in local storage
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSetupRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/DryRunRequestTable.tsx
Due: none

fix bad import reference
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
