Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

null out ncs
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
Due: pyright

null out acs (#24263)
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
Due: pyright

add forwards-compat
  python_modules/dagster/dagster/_core/definitions/declarative_automation/serialized_objects.py
Due: pyright

wip draft
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
Due: none

Remove forward imports in failed attempt to fix Pydantic 2.9 error (#24259)
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_set.py
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
Due: pyright

fix ruff
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
Due: pyright

fix ruff (#24266)
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
Due: pyright

Add image
  docs/docs-beta/docs/getting-started/quickstart.md
  docs/docs-beta/static/images/getting-started/quickstart/dagster-ui-start.png
Due: none

[docs] - Add link to Migration guides page (#24251)
  docs/content/guides/migrations.mdx
  docs/content/guides/migrations/observe-your-airflow-pipelines-with-dagster.mdx
Due: docs-mdx-format

Fix link
  docs/docs-beta/docs/getting-started/quickstart.md
Due: none

Fix deserialization of ignored invalid fields
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
Due: pyright

Fix other busted links
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/guides/data-modeling/data-assets.md
  docs/docs-beta/src/theme/NotFound/Content/index.tsx
Due: none

Fix deserialization of ignored invalid fields (#24270)
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
Due: pyright

[docs-beta] Make all MDX files render in Docusaurus
  docs/sphinx/Makefile
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
Due: pyright

add group by query param on timeline overview
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTimelineRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/useGroupTimelineRunsBy.tsx
Due: none

[docs-beta] Make all MDX files render in Docusaurus (#24272)
  docs/sphinx/Makefile
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
Due: pyright

[docs-beta] Temporarily hard-code links to docs.dagster.io in RST files
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types.md
  docs/sphinx/sections/api/apidocs/assets.rst
  docs/sphinx/sections/api/apidocs/config.rst
  docs/sphinx/sections/api/apidocs/external-assets.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-dbt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-openai.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pandera.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
  docs/sphinx/sections/api/apidocs/metadata.rst
  docs/sphinx/sections/api/apidocs/pipes.rst
  docs/sphinx/sections/api/apidocs/resources.rst
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
  python_modules/dagster/dagster/_core/definitions/decorators/schedule_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/definitions/partitioned_schedule.py
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
Due: pyright

[docs-beta] Temporarily hard-code links to docs.dagster.io in RST files (#24273)
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types.md
  docs/sphinx/sections/api/apidocs/assets.rst
  docs/sphinx/sections/api/apidocs/config.rst
  docs/sphinx/sections/api/apidocs/external-assets.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-dbt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-deltalake.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-duckdb.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-openai.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pandera.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-snowflake.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
  docs/sphinx/sections/api/apidocs/metadata.rst
  docs/sphinx/sections/api/apidocs/pipes.rst
  docs/sphinx/sections/api/apidocs/resources.rst
  docs/sphinx/sections/api/apidocs/schedules-sensors.rst
  python_modules/dagster/dagster/_core/definitions/decorators/schedule_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/definitions/partitioned_schedule.py
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
Due: pyright

[docs-beta] Add id refs to links
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

[docs][vale] temporarily remove todo style check
  docs/vale/styles/Dagster/todos.yml
Due: none

[dagster-airlift] more mark_as_dagster_migrating tests
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/custom_proxy.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/migration_state/custom_proxy_example.yaml
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/plus_proxy_operator.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_proxy_operators.py
Due: pyright

[dagster-airlift] more mark_as_dagster_migrating tests (#24169)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/custom_proxy.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/migration_state/custom_proxy_example.yaml
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/plus_proxy_operator.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_proxy_operators.py
Due: pyright

fix: Prevent job hang when Pod exits before init
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
Due: pyright

[dagster-airlift][rfc] use airflow variables to communicate migration state
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_proxy_operators.py
Due: pyright

[dagster-airlift] tag dags as migrating
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

Revert "pin pydantic < 2.9.0 (#24258)"
  examples/temp_pins.txt
  python_modules/dagster/setup.py
  python_modules/libraries/dagster-datahub/setup.py
Due: pyright

[dagster-airlift][rfc] use airflow variables to communicate migration state (#24231)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_proxy_operators.py
Due: pyright

[dagster-airlift] tag dags as migrating (#24236)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

[dagster-airlift] use metadata instead of tags
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

[dagster-airlift] use metadata instead of tags (#24238)
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

[dagster-airlift] 0.0.22
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[docs] Fix remaining Vale errors
  .github/workflows/vale.yml
  docs/docs-beta/content-templates/concept.md
  docs/docs-beta/content-templates/example-reference.md
  docs/docs-beta/docs/dagster-plus/access/authentication/pingone-sso.md
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/docs/dagster-plus/whats-dagster-plus.md
  docs/vale/styles/Dagster/todos.yml
  docs/vale/styles/Terms/words.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

chore: Add tests
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_client.py
Due: pyright

Update insights.md
  docs/docs-beta/docs/dagster-plus/insights.md
Due: none

[docs] Fix remaining Vale errors (#24284)
  .github/workflows/vale.yml
  docs/docs-beta/content-templates/concept.md
  docs/docs-beta/content-templates/example-reference.md
  docs/docs-beta/docs/dagster-plus/access/authentication/pingone-sso.md
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/docs/dagster-plus/whats-dagster-plus.md
  docs/vale/styles/Dagster/todos.yml
  docs/vale/styles/Terms/words.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

[ui] Untangle static set filter effect loops that lead to history.replace loop
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
Due: none

pyright 1.1.379
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/dagster-test/dagster_test/test_project/__init__.py
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_pythonic_config_types.py
  python_modules/dagster/dagster_tests/general_tests/check_tests/test_check.py
  python_modules/dagster/setup.py
  python_modules/libraries/dagster-celery/dagster_celery/tasks.py
  python_modules/libraries/dagster-deltalake/dagster_deltalake/handler.py
  python_modules/libraries/dagster-wandb/dagster_wandb/resources.py
Due: pyright

[pyright] Guard against modern editable installs in pyright envs
  scripts/run-pyright.py
Due: pyright

[pyright] Guard against modern editable installs in pyright envs (#24289)
  scripts/run-pyright.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
