Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

docker
  python_modules/libraries/dagster-docker/dagster_docker/pipes.py
Due: pyright

pipes changes for making asset execution context a standalone class
  python_modules/dagster/dagster/_core/pipes/client.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/pipes/subprocess.py
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/in_process_client.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Due: pyright

[ui] fix padding of runs tab
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

[db cach] node defs, config, and types
  python_modules/dagster-graphql/dagster_graphql/implementation/external.py
  python_modules/dagster-graphql/dagster_graphql/implementation/run_config_schema.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/config_types.py
  python_modules/dagster-graphql/dagster_graphql/schema/dagster_types.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/config.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/logger.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/mode.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/resource.py
  python_modules/dagster-graphql/dagster_graphql/schema/resources.py
  python_modules/dagster-graphql/dagster_graphql/schema/run_config.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_config_types.py
  python_modules/dagster/dagster/_core/workspace/context.py
Due: pyright

[docs][1.9] Declarative Automation refresh
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
Due: docs-mdx-format, pyright

rm top entirely as 0 is default
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

[ui] fix padding of runs tab (#25556)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

snapshot
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/libraries/dagster-looker/dagster_looker/api/cli.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

dagster-looker 0.24.14rc3
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

Update dagster-helm to use pydantic 2
  helm/dagster/Chart.yaml
  helm/dagster/charts/dagster-user-deployments/Chart.yaml
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema/charts/dagster/subschema/config.py
  helm/dagster/schema/schema/charts/dagster/subschema/daemon.py
  helm/dagster/schema/schema/charts/dagster/subschema/flower.py
  helm/dagster/schema/schema/charts/dagster/subschema/ingress.py
  helm/dagster/schema/schema/charts/dagster/subschema/postgresql.py
  helm/dagster/schema/schema/charts/dagster/subschema/python_logs.py
  helm/dagster/schema/schema/charts/dagster/subschema/rabbitmq.py
  helm/dagster/schema/schema/charts/dagster/subschema/redis.py
  helm/dagster/schema/schema/charts/dagster/subschema/retention.py
  helm/dagster/schema/schema/charts/dagster/subschema/run_launcher.py
  helm/dagster/schema/schema/charts/dagster/subschema/scheduler.py
  helm/dagster/schema/schema/charts/dagster/subschema/telemetry.py
  helm/dagster/schema/schema/charts/dagster/subschema/webserver.py
  helm/dagster/schema/schema/charts/dagster/values.py
  helm/dagster/schema/schema/charts/dagster_user_deployments/subschema/user_deployments.py
  helm/dagster/schema/schema/charts/utils/kubernetes.py
  helm/dagster/schema/schema/charts/utils/utils.py
  helm/dagster/schema/schema/utils/helm_template.py
  helm/dagster/schema/schema_tests/test_dagit.py
  helm/dagster/schema/schema_tests/test_dagster_daemon.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/schema/schema_tests/test_service_account.py
  helm/dagster/schema/schema_tests/test_user_deployments.py
  helm/dagster/schema/setup.py
  helm/dagster/schema/tox.ini
  pyright/master/requirements-pinned.txt
Due: pyright

type ignores
  helm/dagster/Chart.yaml
  helm/dagster/charts/dagster-user-deployments/Chart.yaml
  helm/dagster/charts/dagster-user-deployments/values.schema.json
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema/charts/dagster/subschema/ingress.py
  helm/dagster/schema/schema/charts/dagster/subschema/run_launcher.py
  helm/dagster/schema/schema/charts/utils/utils.py
  helm/dagster/schema/setup.py
  helm/dagster/values.schema.json
  python_modules/dagster-graphql/dagster_graphql_tests/client_tests/sleepy.py
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster/_config/pythonic_config/typing_utils.py
  python_modules/dagster/dagster/_model/__init__.py
  python_modules/dagster/dagster/_model/pydantic_compat_layer.py
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_constraints.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Due: pyright

[docs][1.9] Declarative Automation refresh (#25448)
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
Due: docs-mdx-format, pyright

Fix typehint that doesn't work on py3.8
  python_modules/dagster/dagster/_core/pipes/merge_streams.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/type_routers.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

[dagster-airlift] ignore files (#25554)
  examples/experimental/dagster-airlift/examples/dbt-example/.vscode/settings.json
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/proxied_state/rebuild_iris_models.yaml-e
Due: none

Update dbt state guide post review
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Due: docs-mdx-format, pyright

Fix typo
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

[docs] Add dbt defer and Dagster branch deployments guide
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Due: docs-mdx-format, pyright

Fix code snippets
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

Fix typehint that doesn't work on py3.8 (#25558)
  python_modules/dagster/dagster/_core/pipes/merge_streams.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/type_routers.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

Update dagster-helm to use pydantic 2 (#25507)
  helm/dagster/charts/dagster-user-deployments/values.schema.json
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema/charts/dagster/subschema/config.py
  helm/dagster/schema/schema/charts/dagster/subschema/daemon.py
  helm/dagster/schema/schema/charts/dagster/subschema/flower.py
  helm/dagster/schema/schema/charts/dagster/subschema/ingress.py
  helm/dagster/schema/schema/charts/dagster/subschema/postgresql.py
  helm/dagster/schema/schema/charts/dagster/subschema/python_logs.py
  helm/dagster/schema/schema/charts/dagster/subschema/rabbitmq.py
  helm/dagster/schema/schema/charts/dagster/subschema/redis.py
  helm/dagster/schema/schema/charts/dagster/subschema/retention.py
  helm/dagster/schema/schema/charts/dagster/subschema/run_launcher.py
  helm/dagster/schema/schema/charts/dagster/subschema/scheduler.py
  helm/dagster/schema/schema/charts/dagster/subschema/telemetry.py
  helm/dagster/schema/schema/charts/dagster/subschema/webserver.py
  helm/dagster/schema/schema/charts/dagster/values.py
  helm/dagster/schema/schema/charts/dagster_user_deployments/subschema/user_deployments.py
  helm/dagster/schema/schema/charts/utils/kubernetes.py
  helm/dagster/schema/schema/charts/utils/utils.py
  helm/dagster/schema/schema/utils/helm_template.py
  helm/dagster/schema/schema_tests/test_dagit.py
  helm/dagster/schema/schema_tests/test_dagster_daemon.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/schema/schema_tests/test_service_account.py
  helm/dagster/schema/schema_tests/test_user_deployments.py
  helm/dagster/schema/setup.py
  helm/dagster/schema/tox.ini
  helm/dagster/values.schema.json
  pyright/master/requirements-pinned.txt
  python_modules/dagster-graphql/dagster_graphql_tests/client_tests/sleepy.py
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster/_config/pythonic_config/typing_utils.py
  python_modules/dagster/dagster/_model/__init__.py
  python_modules/dagster/dagster/_model/pydantic_compat_layer.py
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_constraints.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Due: pyright

Remove pydantic 1.x support
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  azure-pipelines.yml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/__snapshots__/test_load_defs_from_yaml.ambr
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_load_defs_from_yaml.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_model/__init__.py
  python_modules/dagster/dagster/_model/pydantic_compat_layer.py
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_constraints.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_errors.py
  python_modules/dagster/dagster_tests/core_tests/test_op_invocation.py
  python_modules/dagster/dagster_tests/model_tests/test_dagster_model_serdes.py
  python_modules/dagster/setup.py
  python_modules/dagster/tox.ini
  python_modules/libraries/dagster-databricks/dagster_databricks/resources.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-dbt/tox.ini
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/tox.ini
Due: pyright

Remove pydantic 1.x support (#25499)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  azure-pipelines.yml
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/__snapshots__/test_load_defs_from_yaml.ambr
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_load_defs_from_yaml.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_model/__init__.py
  python_modules/dagster/dagster/_model/pydantic_compat_layer.py
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_constraints.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_errors.py
  python_modules/dagster/dagster_tests/core_tests/test_op_invocation.py
  python_modules/dagster/dagster_tests/model_tests/test_dagster_model_serdes.py
  python_modules/dagster/setup.py
  python_modules/dagster/tox.ini
  python_modules/libraries/dagster-databricks/dagster_databricks/resources.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-dbt/tox.ini
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/tox.ini
Due: pyright

Actually fix type issue
  python_modules/dagster/dagster/_core/pipes/merge_streams.py
Due: pyright

Actually fix type issue (#25559)
  python_modules/dagster/dagster/_core/pipes/merge_streams.py
Due: pyright

[graphql] consolidate instigator has & get calls on to workspace context
  js_modules/dagster-ui/packages/ui-core/src/graphql/possibleTypes.generated.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleMutations.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_pipelines.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_schedules.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_sensors.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/schedules/__init__.py
  python_modules/dagster-graphql/dagster_graphql/schema/schedules/schedules.py
  python_modules/dagster-graphql/dagster_graphql/schema/sensors.py
  python_modules/dagster/dagster/_core/definitions/selector.py
  python_modules/dagster/dagster/_core/workspace/context.py
Due: pyright

[dagster-ge] Drop Python 3.8 support
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  python_modules/libraries/dagster-ge/setup.py
Due: pyright

[dagster-ge] Drop Python 3.8 support (#25560)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  python_modules/libraries/dagster-ge/setup.py
Due: pyright

Add per_step_k8s_config to k8s_job_executor
  python_modules/libraries/dagster-k8s/dagster_k8s/executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_executor.py
Due: pyright

[dagster-looker] Implement PdtBuildDefinition to replace RequestStartPdtBuild
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[docs] port content from original Serverless page
  docs/docs-beta/docs/dagster-plus/deployment/serverless.md
Due: none

[docs] add page for CI/CD in Serverless
  docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
