Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[azure-docs] compute log manager docs
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
Due: docs-mdx-format

[dagster-fivetran] Use Fivetran translator instance in load specs fn and state-backed defs
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_translator.py
Due: pyright

Fix tests
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_translator.py
Due: pyright

copy api docs to api/python-api instead of /api
  docs/Makefile
  docs/docs-beta/README.md
  docs/docs-beta/docs/api/api-lifecycle.md
  docs/docs-beta/docs/api/index.mdx
  docs/docs-beta/sidebars.ts
  docs/sphinx/Makefile
Due: none

fix dir name
  docs/Makefile
Due: none

1.9.4 changelog (#26289)
  CHANGES.md
Due: none

create python-api directory
  docs/docs-beta/docs/api/python-api/.gitignore
  docs/docs-beta/docs/api/python-api/.gitkeep
Due: none

remove gitkeep file and add index
  docs/docs-beta/docs/api/python-api/.gitignore
  docs/docs-beta/docs/api/python-api/.gitkeep
  docs/docs-beta/docs/api/python-api/index.mdx
Due: none

[dagster-fivetran] Use Fivetran translator instance in load specs fn and state-backed defs (#26133)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_translator.py
Due: pyright

Update materialization logic; add tests
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

Move materialization logic to method
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Remove fetch_column_metadata and infer_missing_tables
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Update materialization logic
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
Due: pyright

Update post review
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

[11/n][dagster-fivetran] Implement materialization method in FivetranWorkspace
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Lint
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Fix navigation
  docs/content/_navigation.json
Due: docs-mdx-format

Add materialize fivetran assets section
  docs/content/integrations/fivetran/fivetran.mdx
  examples/docs_snippets/docs_snippets/integrations/fivetran/sync-and-materialize-fivetran-assets.py
Due: docs-mdx-format, pyright

Update materialize fivetran assets section
  docs/content/integrations/fivetran/fivetran.mdx
  examples/docs_snippets/docs_snippets/integrations/fivetran/customize-fivetran-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/sync-and-materialize-fivetran-assets.py
Due: docs-mdx-format, pyright

[docs] Add docs for reworked Fivetran API
  docs/content/integrations/fivetran/fivetran.mdx
Due: docs-mdx-format

Update fivetran docs
  docs/content/integrations/fivetran/fivetran.mdx
Due: docs-mdx-format

Add custom translator section in Fivetran docs
  docs/content/integrations/fivetran/fivetran.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-fivetran.rst
  examples/docs_snippets/docs_snippets/integrations/fivetran/customize-fivetran-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/representing-fivetran-assets.py
Due: docs-mdx-format, pyright

Add multiple fivetran workspaces section
  docs/content/integrations/fivetran/fivetran.mdx
  examples/docs_snippets/docs_snippets/integrations/fivetran/customize-fivetran-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/multiple-fivetran-workspaces.py
Due: docs-mdx-format, pyright

Fix deprecated ops
  python_modules/libraries/dagster-fivetran/dagster_fivetran/ops.py
Due: pyright

Mark Fivetran ops as deprecated
  python_modules/libraries/dagster-fivetran/dagster_fivetran/ops.py
Due: pyright

Add intro and prerequisites
  docs/content/integrations/fivetran/fivetran.mdx
Due: docs-mdx-format

[docs] Move legacy Fivetran docs
  docs/content/_navigation.json
  docs/content/integrations/fivetran/fivetran-legacy.mdx
  docs/content/integrations/fivetran/fivetran.mdx
Due: docs-mdx-format

[dagster-fivetran] Mark Fivetran legacy code as deprecated
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

[1/n][dagster-airbyte] Scaffold AirbyteCloudWorkspace and AirbyteClient for rework (#26204)
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
Due: pyright

Update docstrings
  python_modules/libraries/dagster-airbyte/dagster_airbyte/translator.py
Due: pyright

[dagster-airbyte] Scaffold DagsterAirbyteTranslator for rework
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/translator.py
Due: pyright

[11/n][dagster-fivetran] Implement materialization method in FivetranWorkspace (#25961)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

[dagster-fivetran] Support fetch_column_metadata in FivetranWorkspace.sync_and_poll
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

[dagster-fivetran] Support infer_missing_tables in FivetranWorkspace.sync_and_poll
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

[dagster-fivetran] Implement get_columns_config_for_table in FivetranClient
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

core refactor
  examples/experimental/dagster-components/dagster_components/core/component_decl_builder.py
  examples/experimental/dagster-components/dagster_components/core/component_defs_builder.py
  examples/experimental/dagster-components/dagster_components_tests/test_pipes_subprocess_script_collection.py
Due: pyright

[2/n][dagster-airbyte] Scaffold DagsterAirbyteTranslator for rework (#26205)
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/translator.py
Due: pyright

[dagster-azure] fix azure compute log manager credentialing (#26157)
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_nightly_pipeline.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/content/deployment/dagster-instance.mdx
  docs/next/public/images/dagster-cloud/azure/azure-blob-storage-logs.png
  docs/next/public/images/dagster-cloud/azure/dagster-cloud-code-locations.png
  docs/next/public/images/dagster-cloud/azure/github-actions-workflow.png
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/templates/helpers/instance/_compute-log-manager.tpl
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/defs.py
  integration_tests/test_suites/dagster-azure-live-tests/dagster.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  integration_tests/test_suites/dagster-azure-live-tests/setup.py
  integration_tests/test_suites/dagster-azure-live-tests/tox.ini
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/conftest.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_compute_log_manager.py
Due: docs-mdx-format, pyright

DOC-594 refactor new API docs (#26296)
  docs/Makefile
  docs/docs-beta/README.md
  docs/docs-beta/docs/api/.gitignore
  docs/docs-beta/docs/api/.gitkeep
  docs/docs-beta/docs/api/api-lifecycle.md
  docs/docs-beta/docs/api/index.mdx
  docs/docs-beta/docs/api/python-api/.gitignore
  docs/docs-beta/docs/api/python-api/index.mdx
  docs/docs-beta/sidebars.ts
  docs/sphinx/Makefile
Due: none

reorganize agents section
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/amazon-ecs-existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/amazon-ecs-new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/index.mdx
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/docker.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/index.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/index.mdx
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/multiple.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/settings.md
Due: none
