Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

one more int => bigint change (#25651)
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
Due: pyright

remove unused evaluation ID field
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/GetEvaluationsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
Due: none

0.0.11
  python_modules/libraries/dagster-powerbi/dagster_powerbi/version.py
  python_modules/libraries/dagster-powerbi/setup.py
Due: pyright

[dagster-tableau] Raise exception on invalid or empty workbook data
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

Update error message
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

[docs] Fix custom owners examples in BI integrations docs (#25649)
  docs/content/integrations/looker.mdx
  docs/content/integrations/powerbi.mdx
  docs/content/integrations/sigma.mdx
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

[docs] Fix typo in Looker filtering docs (#25650)
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

[dagster-tableau] Raise exception on invalid or empty workbook data (#25653)
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

[docs] [jobless-automation] Update automation concept pages (#25494)
  docs/content/concepts/automation.mdx
  docs/content/concepts/automation/schedules.mdx
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  docs/next/public/images/concepts/partitions-schedules-sensors/schedules/schedules-tab-toggle.png
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/sensors.py
Due: docs-mdx-format, pyright

[docs] [jobless-automation] Update tutorial (#25495)
  docs/content/tutorial/connecting-to-external-services.mdx
  docs/content/tutorial/next-steps.mdx
  docs/content/tutorial/scheduling-your-pipeline.mdx
  docs/next/public/images/tutorial/resources-uses.png
  docs/next/public/images/tutorial/schedule.png
  docs/next/public/images/tutorial/test-schedule.png
  examples/docs_snippets/docs_snippets/tutorial/scheduling/with_job/with_job.py
  examples/docs_snippets/docs_snippets/tutorial/scheduling/with_schedule/with_schedule.py
  examples/docs_snippets/docs_snippets_tests/tutorial_tests/scheduling/test_scheduling.py
Due: docs-mdx-format, pyright

[dagster-sigma] Update Sigma documentation to showcase filtering (#25644)
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/filtering-sigma-assets.py
Due: docs-mdx-format, pyright

[dagster-looker] Update Looker documentation to showcase filtering (#25646)
  docs/content/integrations/looker.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  examples/docs_snippets/docs_snippets/integrations/looker/filtering-looker-assets.py
Due: docs-mdx-format, pyright

[TEST_PYTHON_VERSIONS=test-all][dagster-airlift] Fix kitchen sink test on 3.12
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
Due: pyright

[dagster-looker] Attach URL metadata, owners to dashboards, explores (#25626)
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/mock_looker_data.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[dagster-airlift] Fix kitchen sink test on 3.12 (#25657)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
Due: pyright

[perf] Kill `useDelayedRowQuery` (#25636)
  js_modules/dagster-ui/packages/ui-core/src/automation/VirtualizedAutomationScheduleRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/VirtualizedAutomationSensorRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/VirtualizedInstanceConcurrencyTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedJobRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedScheduleRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedSensorRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedWorkspaceTable.tsx
Due: none

bring backfill page back and add banner
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
Due: none

remove unused evaluation ID field (#25652)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/GetEvaluationsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
Due: none

update wording
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
Due: none

wording
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
Due: none

tables data
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

bring backfill page back and add banner (#25663)
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
Due: none

dagster-powerbi 0.0.12
  python_modules/libraries/dagster-powerbi/dagster_powerbi/version.py
Due: pyright

[dagster-powerbi] Update Power BI documentation to showcase new API patterns
  docs/content/integrations/powerbi.mdx
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models-advanced.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Due: docs-mdx-format, pyright

rebuild
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

ruff
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models-advanced.py
Due: pyright

fmt
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
Due: docs-mdx-format

fix broken apidoc
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
Due: docs-mdx-format

[dagster-airlift][rfc] Multi code locations working (#25343)
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_location_dags.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_first_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_second_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_instance.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/constants.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/observation_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/__init__.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/first_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/second_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/workspace.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_multi_code_location.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_observation.py
Due: pyright

apidoc bump
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
Due: docs-mdx-format

[dagster-looker] Add ability to filter incoming dashboards, models (#25522)
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/mock_looker_data.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[dagster-sigma] Add SigmaFilter to filter set of incoming workbooks (#25529)
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[dagster-powerbi] Update Power BI documentation to showcase new API patterns (#25468)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models-advanced.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Due: docs-mdx-format, pyright

[dagster-dlift] project scaffold
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/experimental/dagster-dlift/.coveragerc
  examples/experimental/dagster-dlift/CHANGES.md
  examples/experimental/dagster-dlift/LICENSE
  examples/experimental/dagster-dlift/MANIFEST.in
  examples/experimental/dagster-dlift/README.md
  examples/experimental/dagster-dlift/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift/test/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift/test/shared_fixtures.py
  examples/experimental/dagster-dlift/dagster_dlift/version.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/test_module.py
  examples/experimental/dagster-dlift/py.typed
  examples/experimental/dagster-dlift/setup.py
  examples/experimental/dagster-dlift/tox.ini
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
