Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[dagster-airlift] pin dagster on non-dev intalls
  examples/experimental/dagster-airlift/dagster_airlift_tests/test_version.py
  examples/experimental/dagster-airlift/setup.py
Due: pyright

DOCS Updated dagster-instance.mdx and example dagster.yaml to clarify UTC … (#24868)
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
Due: docs-mdx-format

[dagster-airlift] pin dagster on non-dev installs (#24956)
  examples/experimental/dagster-airlift/dagster_airlift_tests/test_version.py
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] 0.0.24 changelog
  examples/experimental/dagster-airlift/CHANGES.md
Due: none

[dagster-airlift] 0.0.24 changelog (#24966)
  examples/experimental/dagster-airlift/CHANGES.md
Due: none

[dagster-airlift] 0.0.24
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] bubble up translation fn (#24891)
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

[dagster-airlift] make AirflowDefinitionsData non serializable, make loader use serializable class (#24892)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

fix
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

fix test
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

Add dag_id tag to base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dagster_operator.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

ruff
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

test
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

Add dag_id tag to base_proxy_operator.py (#24962)
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dagster_operator.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

Better response handling in the proxy operator
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
Due: pyright

Better response handling in the proxy operator (#24965)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
Due: pyright

[dagster-airlift] move defs/mapping construction out of AirflowDefinitionsData
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_asset_keys.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

[docs] fix formatting of basic asset schedule snippet
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
Due: docs-mdx-format, pyright

set mode tag to 'default' so that it doesn't get displayed in runs feed
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

[dagster-airlift] move defs/mapping construction out of AirflowDefinitionsData (#24897)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_asset_keys.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

[dagster-airlift] make explicit our reliance on the serialized data within sensor
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
Due: pyright

[dagster-airlift] move out sensor
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
Due: pyright

[dagster-airlift] change AirflowDefinitionsData to operate on fully resolved definitions
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
Due: pyright

[dagster-airlift] asset properties on AirflowDefinitionsData use resolved defs
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

[docs] fix formatting of basic asset schedule snippet (#24972)
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
Due: docs-mdx-format, pyright

[docs] remove reference to build_last_update_freshness_checks
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
Due: docs-mdx-format

[dagster-airlift] force run examples whenever there's a change to airlift code.
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
Due: pyright

[dagster-airlift][dont-land] dummy
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
Due: pyright

[dagster-airlift] change AirflowDefinitionsData to operate on fully resolved definitions (#24900)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
Due: pyright

[dagster-airlift] pluggability readme
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/additional_dagster_examples/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/additional_dagster_examples/customizing_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/additional_dagster_examples/sensor_callback.py
Due: pyright

[dagster-airlift] simplify pluggable function
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

[dagster-airlift] vend airflow instance off of airflow data
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
Due: pyright

store canonicalized assets defs in loader
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
Due: pyright

[docs] remove reference to build_last_update_freshness_checks (#24971)
  docs/content/concepts/assets/asset-checks/checking-for-data-freshness.mdx
Due: docs-mdx-format

[dagster-airlift] k8s pod operator equivalent
  examples/experimental/dagster-airlift/dagster_airlift/k8s/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/k8s/asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/k8s_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/k8s_tests/test_k8s_pod_defs.py
  examples/experimental/dagster-airlift/setup.py
  examples/experimental/dagster-airlift/tox.ini
  python_modules/libraries/dagster-k8s/dagster_k8s/ops/k8s_job_op.py
Due: pyright
