Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-embedded-elt] Mark dagster-embedded-elt as deprecated (#27061)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/__init__.py
Due: pyright

Revert dagster-sling addition
  python_modules/libraries/dagster-sling/LICENSE
  python_modules/libraries/dagster-sling/MANIFEST.in
  python_modules/libraries/dagster-sling/README.md
  python_modules/libraries/dagster-sling/dagster_sling/__init__.py
  python_modules/libraries/dagster-sling/dagster_sling/asset_decorator.py
  python_modules/libraries/dagster-sling/dagster_sling/asset_defs.py
  python_modules/libraries/dagster-sling/dagster_sling/dagster_sling_translator.py
  python_modules/libraries/dagster-sling/dagster_sling/py.typed
  python_modules/libraries/dagster-sling/dagster_sling/resources.py
  python_modules/libraries/dagster-sling/dagster_sling/sling_event_iterator.py
  python_modules/libraries/dagster-sling/dagster_sling/sling_replication.py
  python_modules/libraries/dagster-sling/dagster_sling/version.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/__init__.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/blueprints/test2.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/conftest.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_config/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_config_disabled/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_with_default_meta/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_with_meta_config/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Employees.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Orders.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Products.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/test.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/test.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_asset_decorator.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_dagster_sling_translator.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_fetch_metadata.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_json.no_ext
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_op.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_resource.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_version.py
  python_modules/libraries/dagster-sling/integration.yaml
  python_modules/libraries/dagster-sling/setup.cfg
  python_modules/libraries/dagster-sling/setup.py
  python_modules/libraries/dagster-sling/tox.ini
Due: pyright

Lint
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/__init__.py
Due: pyright

Add dagster-dlt dep in dagster-embedded-elt/tox
  python_modules/libraries/dagster-embedded-elt/tox.ini
Due: none

Fix tmp deps
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

Rebuild pins
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: none

Fix tox
  python_modules/libraries/dagster-embedded-elt/tox.ini
Due: none

Add dagster-dlt to install_dev_python_modules.py
  scripts/install_dev_python_modules.py
Due: pyright

fix deps
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/tox.ini
  python_modules/libraries/dagster-components/tox.ini
Due: none

Delete dlt code in dagster-embedded-elt
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/constants.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/translator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/conftest.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/dlt_test_sources/duckdb_with_transformer.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_fetch_metadata.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_op.py
  python_modules/libraries/dagster-embedded-elt/setup.py
Due: pyright

Fix deps
  docs/tox.ini
Due: none

Fix tests
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

[HourlyDataCache] Wait for indexeddb data to load before notifying subscriber of existing data on initial subscription (#27097)
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/__tests__/HourlyDataCache.test.tsx
Due: none

[ui] Add tabs to evaluation dialog
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationListRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/runTableFiltersForEvaluation.tsx
Due: none

[dagster-dlt] Copy dlt code to dagster-dlt (#27038)
  docs/tox.ini
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/tox.ini
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
  python_modules/libraries/dagster-components/tox.ini
  python_modules/libraries/dagster-dlt/LICENSE
  python_modules/libraries/dagster-dlt/MANIFEST.in
  python_modules/libraries/dagster-dlt/README.md
  python_modules/libraries/dagster-dlt/dagster_dlt/__init__.py
  python_modules/libraries/dagster-dlt/dagster_dlt/asset_decorator.py
  python_modules/libraries/dagster-dlt/dagster_dlt/constants.py
  python_modules/libraries/dagster-dlt/dagster_dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-dlt/dagster_dlt/py.typed
  python_modules/libraries/dagster-dlt/dagster_dlt/resource.py
  python_modules/libraries/dagster-dlt/dagster_dlt/translator.py
  python_modules/libraries/dagster-dlt/dagster_dlt/version.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/__init__.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/conftest.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/dlt_test_sources/duckdb_with_transformer.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/test_fetch_metadata.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/test_op.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/test_version.py
  python_modules/libraries/dagster-dlt/integration.yaml
  python_modules/libraries/dagster-dlt/setup.cfg
  python_modules/libraries/dagster-dlt/setup.py
  python_modules/libraries/dagster-dlt/tox.ini
  scripts/install_dev_python_modules.py
Due: pyright

Update navigation
  docs/content/_navigation.json
Due: docs-mdx-format

Update library in docs beta
  docs/docs-beta/docs/integrations/libraries/dlt.md
Due: none

Lint
  docs/content/integrations.mdx
Due: docs-mdx-format

[docs] Move dlt docs out of embedded-elt docs
  docs/content/_navigation.json
  docs/content/integrations/dlt.mdx
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-dlt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/dlt/__init__.py
  examples/docs_snippets/docs_snippets/integrations/dlt/dlt_dagster_translator.py
  examples/docs_snippets/docs_snippets/integrations/dlt/dlt_partitions.py
  examples/docs_snippets/docs_snippets/integrations/dlt/dlt_source_assets.py
Due: docs-mdx-format, pyright

Update links in docs beta
  docs/docs-beta/docs/integrations/libraries/dlt.md
Due: none

Fix deadlinks
  docs/content/_navigation.json
  docs/content/integrations/embedded-elt.mdx
  docs/content/integrations/embedded-elt/sling.mdx
Due: docs-mdx-format

Update integrations.mdx
  docs/content/integrations.mdx
Due: docs-mdx-format

Update examples
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dlt.py
Due: pyright

Update _apidocs.mdx
  docs/content/_apidocs.mdx
Due: docs-mdx-format

Rebuild apidocs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

Update docs and examples
  examples/docs_snippets/setup.py
Due: pyright

Add redirection
  docs/next/util/redirectUrls.json
Due: none

lint
  docs/next/util/redirectUrls.json
Due: none

[docs] Move dlt docs out of embedded-elt docs (#27071)
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations.mdx
  docs/content/integrations/dlt.mdx
  docs/content/integrations/embedded-elt.mdx
  docs/content/integrations/embedded-elt/sling.mdx
  docs/docs-beta/docs/integrations/libraries/dlt.md
  docs/next/public/objects.inv
  docs/next/util/redirectUrls.json
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-dlt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/tox.ini
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dlt.py
  examples/docs_snippets/docs_snippets/integrations/dlt/__init__.py
  examples/docs_snippets/docs_snippets/integrations/dlt/dlt_dagster_translator.py
  examples/docs_snippets/docs_snippets/integrations/dlt/dlt_partitions.py
  examples/docs_snippets/docs_snippets/integrations/dlt/dlt_source_assets.py
  examples/docs_snippets/setup.py
Due: docs-mdx-format, pyright

fix additional_deps not showing up on assetsdefinition (#27037)
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_decorator_with_check_specs.py
Due: pyright

Revert "[docs] Move dlt docs out of embedded-elt docs (#27071)"
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations.mdx
  docs/content/integrations/embedded-elt.mdx
  docs/content/integrations/embedded-elt/dlt.mdx
  docs/content/integrations/embedded-elt/sling.mdx
  docs/docs-beta/docs/integrations/libraries/dlt.md
  docs/next/public/objects.inv
  docs/next/util/redirectUrls.json
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-dlt.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/tox.ini
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dlt.py
  examples/docs_snippets/docs_snippets/integrations/dlt/__init__.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_dagster_translator.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_partitions.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_source_assets.py
  examples/docs_snippets/setup.py
Due: docs-mdx-format, pyright

Revert "[dagster-dlt] Copy dlt code to dagster-dlt (#27038)"
  docs/tox.ini
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/tox.ini
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
  python_modules/libraries/dagster-components/tox.ini
  python_modules/libraries/dagster-dlt/LICENSE
  python_modules/libraries/dagster-dlt/MANIFEST.in
  python_modules/libraries/dagster-dlt/README.md
  python_modules/libraries/dagster-dlt/dagster_dlt/__init__.py
  python_modules/libraries/dagster-dlt/dagster_dlt/py.typed
  python_modules/libraries/dagster-dlt/dagster_dlt/version.py
  python_modules/libraries/dagster-dlt/dagster_dlt_tests/test_version.py
  python_modules/libraries/dagster-dlt/integration.yaml
  python_modules/libraries/dagster-dlt/setup.cfg
  python_modules/libraries/dagster-dlt/setup.py
  python_modules/libraries/dagster-dlt/tox.ini
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/constants.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/translator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/conftest.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/dlt_test_sources/duckdb_with_transformer.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_fetch_metadata.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_op.py
  python_modules/libraries/dagster-embedded-elt/setup.py
  python_modules/libraries/dagster-embedded-elt/tox.ini
  scripts/install_dev_python_modules.py
Due: pyright

Make EcsRunLauncher task definition deduping less strict (#27034)
  python_modules/libraries/dagster-aws/dagster_aws/ecs/tasks.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/utils.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
