Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[docs] remove note that concurrency is only supported for non-sqlite databases (#26579)
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Due: docs-mdx-format

Apply suggestions from code review
  helm/dagster/templates/deployment-celery-queues.yaml
Due: none

Apply suggestions from code review
  helm/dagster/templates/deployment-daemon.yaml
Due: none

Apply suggestions from code review
  helm/dagster/templates/deployment-flower.yaml
Due: none

Apply suggestions from code review
  helm/dagster/templates/helpers/_deployment-webserver.tpl
Due: none

Apply suggestions from code review
  helm/dagster/templates/helpers/_helpers.tpl
Due: none

step stats
  python_modules/dagster/dagster/_core/execution/stats.py
  python_modules/dagster/dagster_tests/storage_tests/test_event_log.py
Due: pyright

fix(helm): registry missing in postgresql templating (#26569)
  helm/dagster/templates/deployment-celery-queues.yaml
  helm/dagster/templates/deployment-daemon.yaml
  helm/dagster/templates/deployment-flower.yaml
  helm/dagster/templates/helpers/_deployment-webserver.tpl
  helm/dagster/templates/helpers/_helpers.tpl
  helm/dagster/values.yaml
Due: none

fix test also using the file of assets
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_asset_list_command.py
Due: pyright

Include specs in asset module loaders
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_package/__init__.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_package/module_with_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_defs_source_metadata.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_unresolved_asset_job.py
Due: pyright

Handle attribute mapping properly
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_from_modules.py
Due: pyright

[module-loaders] Simplify module asset loader code path (#26484)
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_from_modules.py
Due: pyright

Additional asset check tests
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
Due: pyright

Delete extra_source_assets param from assets_from_modules
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
Due: pyright

Use new loader code in checks
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
Due: pyright

[io-managers-deps] Allow deps and ins to coexist at decorator layer (#26465)
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_deps.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator_secondary_assets.py
Due: pyright

Make key iterator property on all asset objects
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Due: pyright

File and test refactor
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/another_module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/asset_subsubpackage/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package_with_cacheable/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule_2/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_asset_checks_from_modules.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
Due: pyright

Further simplify asset checks path
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
Due: pyright

Consolidate cacheable methods
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Due: pyright

Split loader file into multiple different files
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule_2/__init__.py
Due: pyright

Make asset check coercion explicit in with_attributes
  python_modules/dagster/dagster/_core/definitions/asset_check_spec.py
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_unresolved_asset_job.py
  python_modules/dagster/dagster_tests/general_tests/test_cacheable_assets_defs.py
Due: pyright

Properly handle deps mapping in multi_asset decorator
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_deps.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

add outline for airflow to dagster migration guide
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission-the-airflow-dag.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/index.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer-to-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/setup-local-airflow.md
  docs/docs-beta/docs/guides/migrate/index.md
  docs/docs-beta/sidebars.ts
Due: none

add index page for operate section
  docs/docs-beta/docs/guides/operate/index.md
Due: none

Support argument-based dep override on multi-asset checks
  python_modules/dagster/dagster/_core/definitions/asset_in.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
Due: pyright

update section index pages, fix dagster-yaml front matter
  docs/docs-beta/docs/guides/build/index.md
  docs/docs-beta/docs/guides/deploy/dagster-yaml.md
  docs/docs-beta/docs/guides/deploy/index.md
  docs/docs-beta/docs/guides/migrate/index.md
  docs/docs-beta/docs/guides/monitor/index.md
Due: none

[io-managers-deps] Support argument-based dep override on multi-asset checks (#26457)
  python_modules/dagster/dagster/_core/definitions/asset_in.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
Due: pyright

[io-managers-deps] Properly handle deps mapping in multi_asset decorator (#26466)
  python_modules/dagster/dagster/_core/definitions/asset_in.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_deps.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
Due: pyright

fix k8s step verification
  python_modules/dagster/dagster/_cli/api.py
Due: pyright

add support for run retries with default sqlite storage (#26581)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster_tests/storage_tests/test_event_log.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[io-managers-deps] Additional asset check tests (#26461)
  python_modules/dagster/dagster/_core/definitions/asset_in.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_deps.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator_secondary_assets.py
Due: pyright

add_output_metadata refactor
  python_modules/dagster/dagster/_core/execution/context/metadata_logging.py
  python_modules/dagster/dagster/_core/execution/context/system.py
Due: pyright

Support partitions in add_output_metadata
  python_modules/dagster/dagster/_core/execution/context/asset_execution_context.py
  python_modules/dagster/dagster/_core/execution/context/metadata_logging.py
  python_modules/dagster/dagster/_core/execution/context/system.py
  python_modules/dagster/dagster/_core/execution/plan/execute_step.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
Due: pyright

rm h1 titles
  docs/docs-beta/docs/dagster-plus/deployment/management/dagster-cloud-cli/dagster-cloud-cli-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/management/dagster-cloud-cli/installing-and-configuring.md
Due: none
