Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

ruff
  python_modules/libraries/dagster-postgres/dagster_postgres/__init__.py
  python_modules/libraries/dagster-postgres/dagster_postgres/resources.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/test_resources.py
Due: pyright

typos
  python_modules/libraries/dagster-postgres/dagster_postgres/resources.py
Due: pyright

docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

add backoff
  python_modules/libraries/dagster-postgres/dagster_postgres/resources.py
Due: pyright

update docs (rst files)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-azure.rst
Due: docs-mdx-format

ruff
  python_modules/libraries/dagster-azure/dagster_azure/blob/__init__.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/resources.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_resources.py
Due: pyright

Add Azure Blob Storage Resource
  python_modules/libraries/dagster-azure/dagster_azure/blob/__init__.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/resources.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_resources.py
Due: pyright

typo
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_resources.py
Due: pyright

docs: fix typo
  docs/docs-beta/docs/integrations/libraries/duckdb/using-duckdb-with-dagster.md
Due: none

rebase and update RST
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
Due: docs-mdx-format

rebase and update RST
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-postgres.rst
  python_modules/libraries/dagster-postgres/dagster_postgres/resources.py
Due: docs-mdx-format, pyright

rebase and update docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
Due: docs-mdx-format

[docs] add missing word in managing-concurrency.md
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
Due: none

[docs] add missing word in managing-concurrency.md (#27448)
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
Due: none

fix
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
Due: pyright

fix api docs example for adls resource
  python_modules/libraries/dagster-azure/dagster_azure/adls2/io_manager.py
Due: pyright

more example
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
Due: pyright

pr comments
  python_modules/libraries/dagster-azure/dagster_azure/adls2/io_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
Due: pyright

fix api docs example for adls resource and i/o manager (#27371)
  python_modules/libraries/dagster-azure/dagster_azure/adls2/io_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
Due: pyright

[INTERNAL_BRANCH=salazarm/refactor-internal]
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteProvider.tsx
Due: none

[INTERNAL_BRANCH=salazarm/refactor-internal]
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/useAssetSelectionAutoCompleteProvider.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/util.ts
Due: none

[INTERNAL_BRANCH=salazarm/refactor-internal]
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/useAssetSelectionAutoCompleteProvider.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/useGanttChartSelectionAutoCompleteProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/useOpGraphSelectionAutoCompleteProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteProviderFromAttributeMap.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
Due: none

[components] Make dg component-type list output a table with colors
  python_modules/libraries/dagster-dg/dagster_dg/cli/component_type.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_component_type_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_custom_help_format.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
  python_modules/libraries/dagster-dg/setup.py
Due: pyright

[components] Make dg component-type list output a table with colors (BUILD-637) (#27381)
  python_modules/libraries/dagster-dg/dagster_dg/cli/component_type.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_component_type_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_custom_help_format.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
  python_modules/libraries/dagster-dg/setup.py
Due: pyright

[components] Add a summary to all published components (BUILD-634)
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication_collection/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

[components] Add a summary to all published components (BUILD-634) (#27382)
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication_collection/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

[components] Add dagster-components to install_dev_python_modules script
  scripts/install_dev_python_modules.py
Due: pyright

[components] Add dagster-components to install_dev_python_modules script (#27383)
  scripts/install_dev_python_modules.py
Due: pyright

Add tests that exercise get_records_for_run with event type filters
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Add tests that exercise get_records_for_run with event type filters (#27453)
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Update dev python modules script to only install dagster-ge on python>=3.10
  scripts/install_dev_python_modules.py
Due: pyright

Update dev python modules script to only install dagster-ge on python>=3.10 (#27454)
  scripts/install_dev_python_modules.py
Due: pyright

create instance concurrency config object
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_core/run_coordinator/queued_run_coordinator.py
  python_modules/dagster/dagster/_daemon/run_coordinator/queued_run_coordinator_daemon.py
Due: pyright

distinguish between concurrency config / run queue config
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/run_coordinator/queued_run_coordinator.py
  python_modules/dagster/dagster/_daemon/run_coordinator/queued_run_coordinator_daemon.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/legacy_run_queue_default_run_blocking.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/legacy_run_queue_disabled_run_blocking.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/legacy_run_queue_enabled_run_blocking.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance_config.py
Due: pyright

add base pool config storage method
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[INTERNAL_BRANCH=prha/concurrency_config]
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_instance.py
Due: pyright

add pool config to graphql layer
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_instance.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
