Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[docs-beta] Fix layout in dbt & Dagster guide (#27546)
  docs/docs-beta/docs/integrations/libraries/dbt/using-dbt-with-dagster/index.md
Due: none

[components] Add `dg dev` command (BUILD-578) (#27481)
  python_modules/dagster/dagster/_serdes/ipc.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/dev.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/utils/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_dev_command.py
  python_modules/libraries/dagster-dg/setup.py
  python_modules/libraries/dagster-dg/tox.ini
Due: pyright

[bk] run components/dg CLI tests when either package is updated
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/index/1-help.txt
Due: pyright

add new-docs
  docs/docs-beta/vercel.json
Due: none

[docs] add redirect from docs-preview to docs (#27543)
  docs/docs-beta/vercel.json
Due: none

bump file to run test
  python_modules/libraries/dagster-dg/dagster_dg/cli/check_utils.py
Due: pyright

add babel build rule
  js_modules/dagster-ui/packages/ui-components/.babelrc
  js_modules/dagster-ui/packages/ui-core/babel.config.js
Due: none

allow using partial asset graph data
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
Due: none

[docs] redirect non-root paths for docs-preview, and new-docs
  docs/docs-beta/vercel.json
Due: none

[docs] redirect non-root paths for docs-preview, and new-docs (#27549)
  docs/docs-beta/vercel.json
Due: none

[bk] run components/dg CLI tests when either package is updated (#27547)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/index/1-help.txt
  python_modules/libraries/dagster-dg/dagster_dg/cli/check_utils.py
Due: pyright

[dagster-dbt] Fix error when using dbt_assets decorator with io_manager_key
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
Due: pyright

Allow rendering asset graph without full asset graph data (#27550)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
Due: none

[docs] include root path in addition to paths for redirects
  docs/docs-beta/vercel.json
Due: none

docs: fix typo (#27447)
  docs/docs-beta/docs/integrations/libraries/duckdb/using-duckdb-with-dagster.md
Due: none

[docs] include root path in addition to paths for redirects (#27551)
  docs/docs-beta/vercel.json
Due: none

[config] clean-up and perf pass (#27523)
  python_modules/dagster/dagster/_config/config_type.py
  python_modules/dagster/dagster/_config/errors.py
  python_modules/dagster/dagster/_config/evaluate_value_result.py
  python_modules/dagster/dagster/_config/post_process.py
  python_modules/dagster/dagster/_config/stack.py
  python_modules/dagster/dagster/_config/traversal_context.py
  python_modules/dagster/dagster/_config/type_printer.py
  python_modules/dagster/dagster/_config/validate.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/core_tests/config_types_tests/test_type_printer.py
Due: pyright

[dg docs] Improve frustrating tree comparison in CLI output
  docs/Makefile
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/deployments/5-tree.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/index/10-tree-jaffle-platform.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/index/3-tree.txt
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs_deployments.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/utils.py
Due: pyright

[ui] Fix storybook builds
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-mistral-color.svg
Due: none

[dg docs] Improve frustrating tree comparison in CLI output (#27553)
  docs/Makefile
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/deployments/5-tree.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/index/10-tree-jaffle-platform.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/index/3-tree.txt
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs_deployments.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/utils.py
Due: pyright

Document complex io manager use cases
  docs/docs-beta/docs/guides/build/io-managers/index.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/asset-key-remap.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/multi-asset-io-managers.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/swapping-input-managers.py
Due: pyright

[dagster-pipes, dagster-gcp] support passing Pipes messages on GCS
  .gitignore
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
  examples/docs_snippets/docs_snippets/integrations/databricks/databricks.py
  pyright/alt-1/requirements-pinned.txt
  pyright/alt-1/requirements.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster-pipes/setup.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/context_injectors.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/message_readers.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/conftest.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/test_gcs.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/utils.py
  python_modules/libraries/dagster-gcp/setup.py
  python_modules/libraries/dagster-gcp/tox.ini
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

[dagster cli] Add option to dagster definitions validate to load in-process
  python_modules/dagster/dagster/_cli/definitions.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/test_utils.py
  python_modules/dagster/dagster/_core/workspace/load_target.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/alternate_entrypoint_project/__init__.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/alternate_entrypoint_project/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/pyproject.toml
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/workspace.yaml
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_definitions_validate_command.py
Due: pyright

[ui] Fix storybook builds (#27554)
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-mistral-color.svg
Due: none

updates for feedback
  examples/google_drive_factory/google_drive_factory/definitions.py
Due: pyright

fix test
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
Due: pyright

pyright
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_definitions_validate_command.py
Due: pyright

[dagster-pipes, dagster-gcp] support passing Pipes messages on GCS (#27235)
  .gitignore
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pipes.rst
  examples/docs_snippets/docs_snippets/integrations/databricks/databricks.py
  pyright/alt-1/requirements-pinned.txt
  pyright/alt-1/requirements.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster-pipes/setup.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/context_injectors.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/message_readers.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/conftest.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/test_gcs.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/utils.py
  python_modules/libraries/dagster-gcp/setup.py
  python_modules/libraries/dagster-gcp/tox.ini
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

[dagster-gcp] PipesDataprocClient
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/tox.ini
  pyright/alt-1/requirements-pinned.txt
  pyright/alt-1/requirements.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/clients/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/clients/dataproc_job.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/test_dataproc.py
  python_modules/libraries/dagster-gcp/setup.py
  python_modules/libraries/dagster-gcp/tox.ini
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

fix components docs test
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs.py
Due: pyright

[uv] bump pin (#27544)
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
Due: pyright

[dagster-gcp] PipesDataprocJobClient (#27269)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp.rst
  docs/tox.ini
  pyright/alt-1/requirements-pinned.txt
  pyright/alt-1/requirements.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/clients/__init__.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/clients/dataproc_job.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/pipes_tests/test_dataproc.py
  python_modules/libraries/dagster-gcp/setup.py
  python_modules/libraries/dagster-gcp/tox.ini
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

[dagster-gcp] PipesDataprocJobClient tutorial
  docs/docs-beta/docs/guides/build/external-pipelines/gcp-dataproc-pipeline.md
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/gcp/dataproc_job/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/gcp/dataproc_job/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/gcp/dataproc_job/dev.Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/gcp/dataproc_job/init.sh
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/gcp/dataproc_job/script.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/gcp/dataproc_job/upload_artifacts.py
  python_modules/libraries/dagster-gcp/dagster_gcp/pipes/clients/dataproc_job.py
Due: pyright

[components] Update deployment doc with dg dev
  docs/docs-beta/docs/guides/build/components/setting-up-a-deployment.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/deployments/12-workspace.yaml
Due: none

[dagster cli] Add option to dagster definitions validate to load in-process (#27459)
  python_modules/dagster/dagster/_cli/definitions.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/test_utils.py
  python_modules/dagster/dagster/_core/workspace/load_target.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/alternate_entrypoint_project/__init__.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/alternate_entrypoint_project/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/pyproject.toml
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/alternate_entrypoint_project/workspace.yaml
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_definitions_validate_command.py
Due: pyright

fix components docs test (#27560)
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs.py
Due: pyright

[components] Update deployment doc with dg dev (#27557)
  docs/docs-beta/docs/guides/build/components/setting-up-a-deployment.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/deployments/12-workspace.yaml
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
