Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

make the partition names argument to get_partition_set_execution_param_data a set
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
Due: pyright

[dagster-sigma] Move contextual data from DagsterSigmaTranslator to container classes
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

Lint
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

[utils] add preview warning and decorator (#26747)
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

use warning instead of future warning
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

[utils] add beta warning and decorator
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

Update beta warning
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

Remove slow validation code in get_partition_set_execution_param_data
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

updated pinecone resource and openai resource
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/retrieval.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/pinecone.py
  examples/project_ask_ai_dagster/pyproject.toml
  examples/project_ask_ai_dagster/requirements.txt
Due: pyright

rm
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/apolloLinks.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
Due: none

use asset selection syntax flag
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/Run.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionButtons.tsx
Due: none

rename
  js_modules/dagster-ui/packages/ui-core/jest/mocks/ComputeGraphData.worker.ts
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ComputeGraphData.types.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ComputeGraphData.worker.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/Run.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionButtons.tsx
Due: none

[dagster-sigma] Move contextual data from DagsterSigmaTranslator to container classes (#26798)
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

[dagster-sigma] Use Sigma translator instance in spec loader and state-backed defs
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_with_translator_legacy.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

[dagster-sigma] Use Sigma translator instance in spec loader and state-backed defs (#26799)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_with_translator_legacy.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

Remove debug console logging feature flag. (#26811)
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/apolloLinks.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
Due: none

Consolidate `flagRunSelectionSyntax` and `flagAssetSelectionSyntax` to just `flagSelectionSyntax` (#26812)
  js_modules/dagster-ui/packages/ui-core/jest/mocks/ComputeGraphData.worker.ts
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ComputeGraphData.types.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ComputeGraphData.worker.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/Run.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionButtons.tsx
Due: none

[dagster-sigma] Update Sigma docs to use translator instance and container data classes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
Due: docs-mdx-format, pyright

Rebuild api docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
Due: docs-mdx-format

[ui] Add Automation History to asset checks
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetCheckAutomationList.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecks.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecksQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecksTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/VirtualizedAssetCheckTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetCheckAutomationList.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/VirtualizedAssetCheckTable.types.ts
Due: none

[ui] Add Automation History to asset checks (#26766)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetCheckAutomationList.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecks.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecksQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecksTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/VirtualizedAssetCheckTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetCheckAutomationList.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/VirtualizedAssetCheckTable.types.ts
Due: none

[dagster-looker] Fix wording in LookerApiTranslatorStructureData docstring
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

[utils] add beta warning and decorator (#26748)
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

[dagster-sigma] Update Sigma docs to use translator instance and container data classes (#26800)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
Due: docs-mdx-format, pyright

[dagster-looker] Fix wording in LookerApiTranslatorStructureData docstring (#26814)
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

add tutorials section
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/third-tutorial.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none

[dagster-fivetran] Add fetch_column_metadata docs for Fivetran
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/fivetran/fivetran.mdx
  docs/docs-beta/docs/integrations/libraries/fivetran.md
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-fivetran.rst
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/fetch_column_metadata_fivetran_assets.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/fetch_column_metadata_fivetran_assets.py
Due: docs-mdx-format, pyright

Exclude code snippets from docs beta tests
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
Due: pyright

Fix broken link
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

Use code server start in process context use cases
  python_modules/dagster/dagster/_core/remote_representation/grpc_server_registry.py
  python_modules/dagster/dagster/_core/remote_representation/origin.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_daemon/controller.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_grpc_server_registry.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_persistent.py
Due: pyright

[single-grpc-server] introduce a heartbeat to proxy server
  python_modules/dagster/dagster/_cli/code_server.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_persistent.py
Due: pyright

Add tutorials section to docs (#26815)
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/third-tutorial.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none

[components] Uv run component
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components/core/dsl_schema.py
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/native_step_component.py
  python_modules/libraries/dagster-components/dagster_components/lib/uv_run_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/native_steps/uv_run_hello_world/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/native_steps/uv_run_hello_world/step.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_uv_run_step.py
Due: pyright

cp
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components/core/dsl_schema.py
Due: pyright

xp
  python_modules/libraries/dagster-components/dagster_components/lib/native_step_component.py
  python_modules/libraries/dagster-components/dagster_components/lib/uv_run_component.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
