Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

clean
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/Common.tsx
Due: none

Enable rendering extra sidebar entries on asset overview page
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsOverviewRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetAlertsSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/Common.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/ComputeDetailsSection.tsx
Due: none

rm
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetAlertsSection.tsx
Due: none

0;95;0cuse noop component
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetAlertsSection.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsOverviewRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetNodeOverview.tsx
Due: none

clean
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/ComputeDetailsSection.tsx
Due: none

undefined
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetAlertsSection.oss.tsx
Due: none

acached
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetAlertsSection.oss.tsx
Due: none

Add templated alert section to asset sidebar (#26570)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetAlertsSection.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetNodeOverview.tsx
Due: none

[dagster-airlift] docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/airlift/airflow-1-migration.mdx
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
  docs/content/integrations/airlift/operator-migration/bash-operator-dbt.mdx
  docs/content/integrations/airlift/operator-migration/bash-operator-general.mdx
  docs/content/integrations/airlift/operator-migration/kubernetes-pod-operator.mdx
  docs/content/integrations/airlift/reference.mdx
  docs/content/integrations/airlift/tutorial/overview.mdx
Due: docs-mdx-format

apply nikki's feedback
  docs/docs-beta/docs/etl-pipeline-tutorial/automate-your-pipeline.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-a-sensor-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-a-downstream-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-assets.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-partitioned-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/ensure-data-quality-with-asset-checks.md
  docs/docs-beta/docs/etl-pipeline-tutorial/index.md
  docs/docs-beta/docs/etl-pipeline-tutorial/refactor-your-project.md
Due: none

use network name in docker-compose file if specified
  python_modules/dagster-test/dagster_test/fixtures/docker_compose.py
Due: pyright

Print all expensive imports with a clearer message
  python_modules/dagster/dagster_tests/general_tests/test_import.py
Due: pyright

Surface how to visualize import performance issues
  python_modules/dagster/dagster_tests/general_tests/test_import.py
Due: pyright

[docs] use CodeExample props as cache key
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

loadModule -> useLoadModule
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

[docs] use CodeExample props as cache key (#26859)
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

fix broken links
  docs/docs-beta/docs/dagster-plus/features/catalog-views.md
  docs/docs-beta/docs/getting-started/quickstart.md
  docs/docs-beta/docs/guides/automate/asset-sensors.md
  docs/docs-beta/docs/guides/automate/index.md
  docs/docs-beta/docs/guides/automate/schedules.md
  docs/docs-beta/docs/guides/automate/sensors.md
  docs/docs-beta/docs/guides/build/assets-concepts/asset-dependencies.md
  docs/docs-beta/docs/guides/build/assets-concepts/asset-metadata.md
  docs/docs-beta/docs/guides/build/assets-concepts/configuring-assets.md
  docs/docs-beta/docs/guides/build/connect-to-external-systems/apis.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/data-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/index.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/metadata.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/ingesting-data.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/pipes/index.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/pipes/javascript-pipeline.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/guides/test/asset-checks.md
  docs/docs-beta/docs/guides/test/unit-tests-assets-and-ops.md
  docs/docs-beta/docs/intro.md
Due: none

[ui] Highlight exact matches in global search labels
  js_modules/dagster-ui/packages/ui-core/src/search/SearchResults.tsx
Due: none

[docs-beta] Update to Docusaurus 3.7
  docs/docs-beta/README.md
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Due: none

[ui] Lint: error instead of warn
  js_modules/dagster-ui/packages/eslint-config/index.js
Due: none

[eslint] Errors instead of warnings, bump version
  js_modules/dagster-ui/packages/eslint-config/.eslintrc.js
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/missing-graphql-variables-type.test.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/no-apollo-client.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/no-react-router-route.test.js
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-apollo-client.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-react-router-route.js
  js_modules/dagster-ui/yarn.lock
Due: none

typo fixes
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-assets.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-partitioned-asset.md
Due: none

check MultiAssetSensorEvaluationContext.advance_cursor arg (#26817)
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
Due: pyright

[ui] Lint: error instead of warn (#26856)
  js_modules/dagster-ui/packages/eslint-config/.eslintrc.js
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/index.js
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/missing-graphql-variables-type.test.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/no-apollo-client.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/no-react-router-route.test.js
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-apollo-client.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-react-router-route.js
  js_modules/dagster-ui/yarn.lock
Due: none

[docs] revert pathPrefix prop for CodeExample
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

[ui] Highlight exact matches in global search labels (#26860)
  js_modules/dagster-ui/packages/ui-core/src/search/SearchResults.tsx
Due: none

Add a "scheduled_execution_timestamp" field to scheudle tick data
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/instigation.py
  python_modules/dagster/dagster/_core/scheduler/instigation.py
  python_modules/dagster/dagster/_scheduler/scheduler.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

Start using InstigationTick.scheduledExecutionTimestamp when rendering the schedule timeline
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AssetDaemonTicksQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/types/AssetDaemonTicksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/InstigationTick.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/InstigationUtils.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/__tests__/InstigationTick.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/InstigationTick.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/InstigationUtils.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickDetailsDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickHistory.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleUtils.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/AssetSensorTicksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/VirtualizedScheduleRow.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/VirtualizedSensorRow.types.ts
Due: none

Create a new tick when a failed schedule tick retries, instead of overwriting the failed tick
  python_modules/dagster/dagster/_scheduler/scheduler.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

use network name in docker-compose file if specified (#26858)
  python_modules/dagster-test/dagster_test/fixtures/docker_compose.py
Due: pyright

[docs-beta] Fix duplicate text when reference also contains an inline literal
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

fix links
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/features/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/insights/asset-metadata.md
  docs/docs-beta/docs/getting-started/installation.md
  docs/docs-beta/docs/guides/automate/asset-sensors.md
  docs/docs-beta/docs/guides/automate/index.md
  docs/docs-beta/docs/guides/automate/schedules.md
  docs/docs-beta/docs/guides/automate/sensors.md
  docs/docs-beta/docs/guides/build/assets/configuring-assets.md
  docs/docs-beta/docs/guides/build/assets/creating-dsls-with-asset-factories.md
  docs/docs-beta/docs/guides/build/assets/defining-data-assets.md
  docs/docs-beta/docs/guides/build/assets/defining-dependencies-with-asset-factories.md
  docs/docs-beta/docs/guides/build/assets/index.md
  docs/docs-beta/docs/guides/build/assets/organizing-assets-with-tags-and-metadata.md
  docs/docs-beta/docs/guides/build/assets/representing-external-data-with-external-assets.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/apis.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/databases.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/ingesting-data.md
  docs/docs-beta/docs/guides/build/index.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/defining-dependencies-between-partitioned-assets.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/partitioning-assets.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
  docs/docs-beta/docs/guides/test/asset-checks.md
  docs/docs-beta/docs/guides/test/data-freshness-testing.md
  docs/docs-beta/docs/guides/test/unit-tests-assets-and-ops.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

Also fix literal_emphasis nodes
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

[docs-beta] Fix duplicate text when reference also contains an inline literal (#26875)
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

[docs-beta] Update to Docusaurus 3.7 (#26861)
  docs/docs-beta/README.md
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Due: none

Surface how to visualize import performance issues (#26850)
  python_modules/dagster/dagster_tests/general_tests/test_import.py
Due: pyright

[WIP] Add msgpack to serdes
  python_modules/dagster/dagster/_serdes/msgpack.py
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
  python_modules/dagster/setup.py
Due: pyright

add branch for generator
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
Due: pyright
