Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[pipes] small improvements to make Pipes more test-friendly (#26470)
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/pipes/utils.py
Due: pyright

Fix two other O(n^2) input callsites (#26493)
  python_modules/dagster/dagster/_core/snap/dep_snapshot.py
Due: pyright

make the change
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

[docstring] Replace inexistent object `DltDagsterResource` by `DagsterDltResource` (#26518)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
Due: pyright

reduce the number of logs queried for run stats in base implementation (#26479)
  python_modules/dagster/dagster/_core/execution/stats.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
Due: pyright

add job name filter support for run status sensors
  python_modules/dagster/dagster/_core/definitions/run_status_sensor_definition.py
  python_modules/dagster/dagster/_core/event_api.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Add missing space to kind-tags.mdx
  docs/content/concepts/metadata-tags/kind-tags.mdx
Due: docs-mdx-format

[ui] Add Google Drive icon for asset `kinds` tag (#26349)
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-googledrive-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-googledrive-color.svg
Due: docs-mdx-format

[ui] Fix endless log loading
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsScrollingTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunMetadataProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/StepLogsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/filterLogs.tsx
  js_modules/dagster-ui/packages/ui-core/src/util/flattenOneLevel.tsx
Due: none

[ui] Fix endless log loading (#26446)
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsScrollingTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunMetadataProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/StepLogsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/filterLogs.tsx
  js_modules/dagster-ui/packages/ui-core/src/util/flattenOneLevel.tsx
Due: none

[dagster-fivetran][docs] Migrate Fivetran docs to new doc site
  docs/docs-beta/docs/integrations/libraries/fivetran.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/__init__.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/customize_fivetran_asset_defs.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/customize_fivetran_translator_asset_spec.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/multiple_fivetran_workspaces.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/representing_fivetran_assets.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/sync_and_materialize_fivetran_assets.py
Due: pyright

Temporarily exclude fivetran code snippets from tests
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
Due: pyright

Fix typo
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

Remove H1
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

test DataprocResource with multiple labels
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/dataproc_tests/test_resources.py
Due: pyright

add pipelineName in consideration with launching all runs
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
Due: none

[ui] add pipelineName in consideration with launching all runs (#26525)
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
Due: none

remove outdated airflow pipeline observation doc
  docs/content/_navigation.json
  docs/content/guides/migrations/observe-your-airflow-pipelines-with-dagster.mdx
Due: docs-mdx-format

show the error
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill_with_backfill_policies.py
Due: pyright

[dagster-fivetran][docs] Migrate Fivetran docs to new doc site (#26485)
  docs/docs-beta/docs/integrations/libraries/fivetran.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/__init__.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/customize_fivetran_asset_defs.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/customize_fivetran_translator_asset_spec.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/multiple_fivetran_workspaces.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/representing_fivetran_assets.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/sync_and_materialize_fivetran_assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
Due: pyright

[dagster-fivetran][docs] Add setup env section in Fivetran docs
  docs/content/integrations/fivetran/fivetran.mdx
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: docs-mdx-format

[dagster-fivetran][docs] Add setup env section in Fivetran docs (#26486)
  docs/content/integrations/fivetran/fivetran.mdx
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: docs-mdx-format

remove additional references
  docs/content/guides/migrations.mdx
  docs/content/integrations/airflow.mdx
Due: docs-mdx-format

ruff formatting
  python_modules/libraries/dagster-gcp/dagster_gcp/dataproc/resources.py
Due: pyright

WIP serdes-proto
  python_modules/dagster/dagster_tests/general_tests/test_serialization.py
  test.capnp
Due: pyright

address comments 2
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
Due: none

DOC-629 remove outdated airflow pipeline observation doc (#26526)
  docs/content/_navigation.json
  docs/content/guides/migrations.mdx
  docs/content/guides/migrations/observe-your-airflow-pipelines-with-dagster.mdx
  docs/content/integrations/airflow.mdx
Due: docs-mdx-format

add job name filter support for run status sensors (#22760)
  python_modules/dagster/dagster/_core/definitions/run_status_sensor_definition.py
  python_modules/dagster/dagster/_core/event_api.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

changed dbt model group
  examples/project_atproto_dashboard/dbt_project/models/modeling/activity_over_time.sql
  examples/project_atproto_dashboard/dbt_project/models/modeling/all_profiles.sql
  examples/project_atproto_dashboard/dbt_project/models/modeling/calendar.sql
  examples/project_atproto_dashboard/dbt_project/models/modeling/latest_feed.sql
  examples/project_atproto_dashboard/dbt_project/models/modeling/schema.yml
  examples/project_atproto_dashboard/dbt_project/models/modeling/top_daily_posts.sql
  examples/project_atproto_dashboard/dbt_project/models/modeling/top_external_links.sql
  examples/project_atproto_dashboard/dbt_project/profiles.yml
Due: none

linting
  examples/project_atproto_dashboard/dbt_project/models/analysis/activity_over_time.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/all_profiles.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/calendar.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/latest_feed.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/schema.yml
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_daily_posts.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_external_links.sql
Due: none

add powerbi definitons
  examples/project_atproto_dashboard/.env.example
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_daily_posts.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_external_links.sql
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/pyproject.toml
Due: pyright

Enabling Dataproc cluster labels (#26481)
  python_modules/libraries/dagster-gcp/dagster_gcp/dataproc/configs.py
  python_modules/libraries/dagster-gcp/dagster_gcp/dataproc/resources.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/dataproc_tests/test_resources.py
Due: pyright

current <ReferenceTable> replacement is a markdown table
  docs/docs-beta/CONTRIBUTING.md
Due: none

[core] add dagster/retry-number to DagsterRun.dagster_execution_info
  python_modules/dagster/dagster/_core/storage/dagster_run.py
Due: pyright

adding powerbi lineage
  examples/project_atproto_dashboard/.env.example
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
Due: pyright

[components] Set up test components
  python_modules/libraries/dagster-components/dagster_components/cli/__init__.py
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/utils.py
  python_modules/libraries/dagster-components/dagster_components_tests/cli_tests/test_commands.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/all_metadata_empty_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/simple_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/simple_pipes_script_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
  python_modules/libraries/dagster-components/setup.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/info.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_info_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_list_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
Due: pyright

fix broken markdown hyperlink
  docs/content/deployment/run-monitoring.mdx
Due: docs-mdx-format

programmatically map assets
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
Due: pyright

[docs] fix broken markdown hyperlink (#26544)
  docs/content/deployment/run-monitoring.mdx
Due: docs-mdx-format

rename translator
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
Due: pyright
