Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[docs] Update GH action project ID
  .github/workflows/build-docs.yml
Due: none

Make updating the changelog also rebuild the docs site (#21981)
  .github/workflows/build-docs.yml
Due: none

[ui] Add IBM DB2 kind icon
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-db2-color.svg
Due: none

[doc] add kind tags to match new docs site
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs-beta/static/images/guides/build/assets/metadata-tags/kinds/icons/tool-db2-color.svg
Due: none

reorganize metadata docs, bring in updates from old docs, incl. new pipes tutorial
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/insights/asset-metadata.md
  docs/docs-beta/docs/guides/build/assets/defining-assets.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/asset-observations.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/code-references.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/column-level-lineage.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/index.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/organizing-assets-with-tags-and-metadata.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/table-metadata.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/tags.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-containers-pipeline.md
  docs/docs-beta/docs/guides/build/ml-pipelines/managing-ml.md
  docs/docs-beta/docs/guides/operate/webserver.md
  docs/docs-beta/docs/integrations/libraries/dbt/reference.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

move metadata tip from old to new pipes docs
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-containers-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/javascript-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
Due: none

more pipes docs cleanup
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
Due: none

tiny copyedits
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-multiple-projects-and-teams.md
  docs/docs-beta/docs/guides/build/ml-pipelines/ml-pipeline.md
Due: none

[pythonic resources] never treat partial resources as resolved
  python_modules/dagster/dagster/_config/pythonic_config/resource.py
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_nesting.py
Due: pyright

docstr, rename
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_nesting.py
Due: pyright

[dagster-aws] fix log location for non-yarn EMR
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

[dagster-aws] fix log location for non-yarn EMR (#27100)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

Update docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
Due: none

Apply suggestions from code review
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature_engineering.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/file_creation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/ingestion.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model_validation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/open_ai_job.md
Due: none

Update docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model_validation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model_validation.md
Due: none

Check
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model_validation.md
  examples/project_llm_fine_tune/project_llm_fine_fune/assets.py
  examples/project_llm_fine_tune/project_llm_fine_fune/constants.py
  examples/project_llm_fine_tune/project_llm_fine_fune/utils/__init__.py
Due: pyright

PR Revisions
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature-engineering.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/file-creation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/ingestion.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model-validation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/open-ai-job.md
  examples/project_llm_fine_tune/project_llm_fine_fune/assets.py
  examples/project_llm_fine_tune/project_llm_fine_fune/utils/__init__.py
Due: pyright

LLM fine-tuning init
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/create-and-materialize-assets.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature_engineering.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
  examples/project_llm_fine_tune/.env.example
  examples/project_llm_fine_tune/.gitignore
  examples/project_llm_fine_tune/Makefile
  examples/project_llm_fine_tune/README.md
  examples/project_llm_fine_tune/_static/screenshot_dagster_lineage.png
  examples/project_llm_fine_tune/project_llm_fine_fune/__init__.py
  examples/project_llm_fine_tune/project_llm_fine_fune/assets.py
  examples/project_llm_fine_tune/project_llm_fine_fune/constants.py
  examples/project_llm_fine_tune/project_llm_fine_fune/definitions.py
  examples/project_llm_fine_tune/project_llm_fine_fune/utils/__init__.py
  examples/project_llm_fine_tune/project_llm_fine_tune_tests/__init__.py
  examples/project_llm_fine_tune/project_llm_fine_tune_tests/test_assets.py
  examples/project_llm_fine_tune/pyproject.toml
  examples/project_llm_fine_tune/setup.cfg
  examples/project_llm_fine_tune/setup.py
Due: pyright

Check
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/create-and-materialize-assets.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature_engineering.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/file_creation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/ingestion.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model_validation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/open_ai_job.md
  docs/docs-beta/static/images/tutorial/llm-fine-tuning/model_accuracy_1.png
  docs/docs-beta/static/images/tutorial/llm-fine-tuning/model_accuracy_2.png
  docs/docs-beta/static/images/tutorial/llm-fine-tuning/screenshot_dagster_lineage.png
  examples/project_llm_fine_tune/project_llm_fine_fune/assets.py
Due: pyright

Update docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature_engineering.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature_engineering.md
Due: none

Review comments
  examples/project_llm_fine_tune/.gitignore
  examples/project_llm_fine_tune/_static/screenshot_dagster_lineage.png
  examples/project_llm_fine_tune/data/.gitkeep
  examples/project_llm_fine_tune/project_llm_fine_fune/assets.py
  examples/project_llm_fine_tune/project_llm_fine_fune/constants.py
  examples/project_llm_fine_tune/project_llm_fine_fune/definitions.py
  examples/project_llm_fine_tune/project_llm_fine_fune/utils/__init__.py
  examples/project_llm_fine_tune/pyproject.toml
  examples/project_llm_fine_tune/setup.cfg
  examples/project_llm_fine_tune/setup.py
Due: pyright

add deltalake docs
  docs/docs-beta/docs/integrations/libraries/deltalake/index.md
  docs/docs-beta/docs/integrations/libraries/deltalake/reference.md
  docs/docs-beta/docs/integrations/libraries/deltalake/using-deltalake-with-dagster.md
Due: none

move dlt docs
  docs/docs-beta/docs/integrations/libraries/dlt/index.md
  docs/docs-beta/docs/integrations/libraries/dlt/using-dlt-with-dagster.md
Due: none

Update CodeExample
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/feature-engineering.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/file-creation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/ingestion.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/model-validation.md
  docs/docs-beta/docs/tutorials/category-two/llm-fine-tuning/open-ai-job.md
  examples/project_llm_fine_tune/project_llm_fine_tune/__init__.py
  examples/project_llm_fine_tune/project_llm_fine_tune/assets.py
  examples/project_llm_fine_tune/project_llm_fine_tune/constants.py
  examples/project_llm_fine_tune/project_llm_fine_tune/definitions.py
  examples/project_llm_fine_tune/project_llm_fine_tune/utils/__init__.py
  examples/project_llm_fine_tune/pyproject.toml
Due: pyright

add duckdb docs
  docs/docs-beta/docs/integrations/libraries/duckdb/index.md
  docs/docs-beta/docs/integrations/libraries/duckdb/reference.md
  docs/docs-beta/docs/integrations/libraries/duckdb/using-duckdb-with-dagster.md
Due: none

this has been moved
  docs/docs-beta/docs/integrations/libraries/deltalake.md
Due: none

move bigquery docs
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/index.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/reference.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/using-bigquery-with-dagster.md
Due: none

Fix MultiPartitionsDefinition subset -> range -> keys conversion inconsistency (#26652)
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitions_subset.py
Due: pyright

more asserts
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
