Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[components] Add component to load entire Defininitons subobject
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_object_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/definitions_object/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/definitions_object/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/definitions_object/definitions.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/definitions_object/some_file.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/definitions_object_explicit_file/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/definitions_object_explicit_file/explicit_defs_file.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_definitions_object.py
Due: pyright

cp
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components/generate.py
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/custom_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_custom_component.py
Due: pyright

[dagster-fivetran] Add fetch_column_metadata docs for Fivetran (#26813)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/fivetran/fivetran.mdx
  docs/docs-beta/docs/integrations/libraries/fivetran.md
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-fivetran.rst
  examples/docs_beta_snippets/docs_beta_snippets/integrations/fivetran/fetch_column_metadata_fivetran_assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/fetch_column_metadata_fivetran_assets.py
Due: docs-mdx-format, pyright

refactor to use i/o manager and split assets
  examples/project_ask_ai_dagster/.gitignore
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/lineage.svg
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/retrieval.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/definitions.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/scraper.py
  examples/project_ask_ai_dagster/requirements.txt
Due: pyright

remove empty tutorial pages, move multi-asset integration guide
  docs/docs-beta/docs/integrations/guides/multi-asset-integration.md
  docs/docs-beta/docs/tutorial/create-new-project.md
  docs/docs-beta/docs/tutorial/introduction.md
  docs/docs-beta/docs/tutorial/multi-asset-integration.md
Due: none

check MultiAssetSensorEvaluationContext.advance_cursor arg
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
Due: pyright

reorganize etl pipeline tutorial
  docs/docs-beta/docs/etl-pipeline-tutorial/automate-your-pipeline.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-a-sensor-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-a-downstream-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-assets.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-partitioned-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/ensure-data-quality-with-asset-checks.md
  docs/docs-beta/docs/etl-pipeline-tutorial/index.md
  docs/docs-beta/docs/etl-pipeline-tutorial/refactor-the-project.md
  docs/docs-beta/sidebars.ts
Due: none

Fixup docs snippets tests
  examples/docs_snippets/docs_snippets_tests/concepts_tests/io_management_tests/test_io_manager_per_output.py
Due: pyright

Remove docs_snippets moto pin
  examples/docs_snippets/setup.py
Due: pyright

Install dagster-aws[test]
  examples/docs_snippets/setup.py
Due: pyright

Change environ assertion
  python_modules/libraries/dagster-aws/dagster_aws_tests/test_version.py
Due: pyright

rebuild pyright pins
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
Due: none

fixup! Change environ assertion
  python_modules/libraries/dagster-aws/dagster_aws_tests/test_version.py
Due: pyright

Bump moto >= 5
  python_modules/libraries/dagster-aws/dagster_aws_tests/athena_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/cloudwatch_tests/test_loggers.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_emr.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_pyspark.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_sensor.py
  python_modules/libraries/dagster-aws/setup.py
Due: pyright

update sidebar, fix quickstart links, update index page
  docs/docs-beta/docs/etl-pipeline-tutorial/create-a-sensor-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/index.md
  docs/docs-beta/docs/getting-started/quickstart.md
  docs/docs-beta/sidebars.ts
Due: none

cp
  python_modules/libraries/dagster-components/dagster_components/lib/custom_component.py
Due: pyright

fix links
  docs/docs-beta/docs/etl-pipeline-tutorial/automate-your-pipeline.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-a-sensor-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-a-downstream-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-assets.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-partitioned-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/ensure-data-quality-with-asset-checks.md
  docs/docs-beta/docs/etl-pipeline-tutorial/index.md
Due: none

Update docs/content/dagster-plus/managing-deployments/alerts.mdx
  docs/content/dagster-plus/managing-deployments/alerts.mdx
Due: docs-mdx-format

Use a single code server
  python_modules/dagster/dagster/_cli/dev.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
Due: pyright

[docs] display preview warning and decorator info
  docs/content/about/releases.mdx
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/public/objects.inv
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
  docs/sphinx/sections/api/apidocs/utilities.rst
Due: docs-mdx-format, pyright

use note block
  docs/docs-beta/docs/dagster-plus/features/alerts/creating-alerts.md
Due: none

Update docstring_flags.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
Due: pyright

Lint
  docs/next/components/markdoc/Badges.tsx
Due: none

Update docs
  docs/content/about/releases.mdx
Due: docs-mdx-format

[rfc] execute an arbitrary set of partitions instead of a range
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
  python_modules/dagster/dagster/_core/execution/context/output.py
  python_modules/dagster/dagster/_core/execution/context/system.py
  python_modules/dagster/dagster/_core/storage/tags.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_partition_set_execution.py
Due: pyright

Fix typo
  docs/content/about/releases.mdx
Due: docs-mdx-format

[docs] display beta warning and decorator info
  docs/content/about/releases.mdx
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/public/objects.inv
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
  docs/sphinx/sections/api/apidocs/utilities.rst
Due: docs-mdx-format, pyright

Add a "scheduled_execution_timestamp" field to scheudle tick data
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/instigation.py
  python_modules/dagster/dagster/_core/scheduler/instigation.py
  python_modules/dagster/dagster/_scheduler/scheduler.py
Due: pyright

Start using InstigationTick.scheduledExecutionTimestamp when rendering the schedule timeline
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AssetDaemonTicksQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/types/AssetDaemonTicksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/InstigationTick.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/InstigationUtils.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/InstigationTick.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/InstigationUtils.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickDetailsDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickHistory.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleUtils.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/AssetSensorTicksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/VirtualizedScheduleRow.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/VirtualizedSensorRow.types.ts
Due: none

Create a new tick when a failed schedule tick retries, instead of overwriting the failed tick
  python_modules/dagster/dagster/_scheduler/scheduler.py
Due: pyright

Show the partitions targeted in the new Runs Feed UI
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillOpJobPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillPartitionsRequestedDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillPartitionsRequestedDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/types/InstanceBackfills.types.ts
  js_modules/dagster-ui/packages/ui-core/src/partitions/types/JobBackfillsTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTableEntryFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedTableEntryFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/useRunsFeedEntries.types.ts
Due: none

Update comment, add test for the backfills view option
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

[ui] Include a Backfills tab on the new runs feed
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/useBulkActionStatusFilter.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineRunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedTabs.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/useRunsFeedEntries.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsFeedEntries.tsx
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

Tab PR feedback, backfill daemon warning and updated backfill notice
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

[components] Separate out generator into separate class that can be dynamically imported
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/generate.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
Due: pyright

mv
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_generator.py
Due: pyright

make code-example block SSRd
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

add branch for generator
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
Due: pyright

[components] Refactor DefinitionsComponent to use ComponentGenerator
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/generator.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
Due: pyright

[components] Separate out runtime component and generator in dbt_project
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/generator.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
