Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

to defs
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/multiple_tasks.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
Due: pyright

RFC: targeted_by_multiple_tasks
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/multiple_tasks.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/migration_state/daily_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/migration_state/weekly_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/print_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/print_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

remove the border on h2s
  docs/docs-beta/src/styles/custom.scss
Due: none

improve h1 spacing
  docs/docs-beta/src/styles/custom.scss
Due: none

.
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/SchedulesNextTicks.tsx
Due: none

Explicitly error if auto_materialize: use_sensors is set to False, but AutomationConditionSensorDefinitions are found
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_non_user_space.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

Add targeted_by_multiple_tasks (#24771)
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/multiple_tasks.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/migration_state/daily_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/migration_state/weekly_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/print_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

fix comment
  examples/experimental/dagster-airlift/dagster_airlift/core/multiple_tasks.py
Due: pyright

Terminate execute-step process early when it runs on a run that is canceling or otherwise finisehed (#24896)
  python_modules/dagster/dagster/_cli/api.py
  python_modules/dagster/dagster_tests/cli_tests/test_api_commands.py
Due: pyright

.
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
Due: none

Make instance name parameterizable
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_asset_keys.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/test_dbt_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/test_e2e.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/cli.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness_tests/test_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/peer_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_peer_with_check_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_peering_e2e.py
Due: pyright

.
  js_modules/dagster-ui/packages/ui-core/src/schedules/SchedulesNextTicks.tsx
Due: none

dagster-sigma 0.0.11
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

sub-runs to runs
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/RunsFeedBackfillPage.tsx
Due: none

pipe through to instance
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster/_core/storage/runs/base.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

update backfill tests to add count tests automatically
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

check
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

fix typo in legacy storage
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
Due: pyright

use internal backfill tag matching filter
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

fix test
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

cleanup
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

add override mechanism for testing
  python_modules/dagster/dagster_tests/storage_tests/test_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/test_run_storage.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/test_run_storage.py
Due: pyright

update backfill filter test
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

Make instance name parameterizable (#24904)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_asset_keys.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/test_dbt_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/test_e2e.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/cli.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness_tests/test_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/peer_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_peer_with_check_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_peering_e2e.py
Due: pyright

Be more permissive of duplicate step retry events in ActiveExecution
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/execution/plan/execute_plan.py
  python_modules/dagster/dagster/_core/execution/plan/plan.py
  python_modules/dagster/dagster/_core/executor/multiprocess.py
  python_modules/dagster/dagster/_core/executor/step_delegating/step_delegating_executor.py
  python_modules/libraries/dagster-celery/dagster_celery/core_execution_loop.py
Due: pyright

add backfill id filter support to backfills in runs feed (#24856)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

add get_backfills_count (#24755)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster/_core/storage/runs/base.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/test_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/test_run_storage.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/test_run_storage.py
Due: pyright

Add runs feed count to gql layer
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/possibleTypes.generated.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedTabs.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

prettier
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
Due: none

fix tests
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

[1/c] add column tag field to TableColumn
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
  python_modules/dagster/dagster_tests/core_tests/test_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_tests/test_table_metadata_set.py
Due: pyright

ruff
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
  python_modules/dagster/dagster_tests/core_tests/test_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_tests/test_table_metadata_set.py
Due: pyright

mapping
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
Due: pyright

[record] convert concurrency nts to record
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_utils/concurrency.py
Due: pyright

Add runs feed count to gql layer (#24813)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/possibleTypes.generated.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedTabs.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

enable RunsFeed feature flag (#24899)
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
Due: none

[docs] Update dbt & Dagster+ guide for dbt and Dagster projects
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
Due: docs-mdx-format

Lint
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
Due: docs-mdx-format

Show asset checks in schedule triggered run (#24652)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/RunAssetCheckTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunAssetTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/AssetCheckTagCollection.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunAssetCheckTags.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_asset_checks.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_checks.py
Due: pyright

Allow DA to selectively emit backfills or not
  integration_tests/test_suites/auto_materialize_perf_tests/test_asset_daemon_perf.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_tester.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_with_runs_and_checks.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_backfills_requested.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/legacy_tests/test_auto_observe.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/base_scenario.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
