Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[NO_SKIP=True] Fix uv installation in Docker image
  python_modules/automation/automation/docker/images/buildkite-test/Dockerfile
  scripts/install_dev_python_modules.py
Due: pyright

[dagster-looker] Update custom API translator example in Looker docs (#26050)
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
Due: docs-mdx-format, pyright

Avoid unnecessary pyenv usage in environment setup (#26090)
  Makefile
  docs/content/community/contributing.mdx
  python_modules/automation/automation/docker/images/buildkite-test/Dockerfile
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

Update callsites of AssetSpec._replace to use replace_attributes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  examples/experimental/dagster-blueprints/dagster_blueprints/load_from_yaml.py
  examples/starlift-demo/dbt_example/dagster_defs/dbt_cloud_utils.py
  examples/starlift-demo/dbt_example/dagster_defs/jaffle_shop.py
  examples/starlift-demo/dbt_example/dagster_defs/utils.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/external_asset.py
  python_modules/dagster/dagster/_core/definitions/metadata/source_code.py
  python_modules/libraries/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
Due: docs-mdx-format, pyright

test sqlite global concurrency
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/consolidated_sqlite_event_log.py
  python_modules/dagster/dagster/_core/storage/event_log/sqlite/sqlite_event_log.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_concurrency_command.py
Due: pyright

Update callsites of AssetSpec._replace to use replace_attributes (#25942)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  examples/experimental/dagster-blueprints/dagster_blueprints/load_from_yaml.py
  examples/starlift-demo/dbt_example/dagster_defs/dbt_cloud_utils.py
  examples/starlift-demo/dbt_example/dagster_defs/jaffle_shop.py
  examples/starlift-demo/dbt_example/dagster_defs/utils.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/external_asset.py
  python_modules/dagster/dagster/_core/definitions/metadata/source_code.py
  python_modules/libraries/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
Due: docs-mdx-format, pyright

[auto run retry tags] 1/n - make run_retries retry_on_asset_or_op_failure setting available on instance (#26046)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_daemon/auto_run_reexecution/auto_run_reexecution.py
Due: pyright

make prettier
  examples/project_atproto_dashboard/README.md
Due: none

[graphql] dont wipe instance in checks test (#26134)
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_checks.py
Due: pyright

make rebuild_pyright_pins
  examples/project_atproto_dashboard/pyproject.toml
  examples/project_atproto_dashboard/setup.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: pyright

[dagster-powerbi] Default-on admin scan APIs (#26030)
  docs/content/integrations/powerbi.mdx
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: docs-mdx-format, pyright

[dagster-sigma] avoid fetching lineage info for filtered workbooks
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

dagster-sigma 0.25.4rc1
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

dbt project setup -- need to get the data to read from r2 not an s3 address "HTTP Error: Unable to connect to URL "https://dagster-demo.s3.amazonaws.com/atproto_starter_pack_snapshot/"
  examples/project_atproto_dashboard/dbt_project/.gitignore
  examples/project_atproto_dashboard/dbt_project/dbt_project.yml
  examples/project_atproto_dashboard/dbt_project/models/select_all_files.sql
  examples/project_atproto_dashboard/dbt_project/models/staging_data.sql
  examples/project_atproto_dashboard/dbt_project/profiles.yml
  examples/project_atproto_dashboard/setup.py
Due: pyright

[components] Initial implementation of Component base class, registry, CLI
  .gitignore
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_cli/__init__.py
  python_modules/dagster/dagster/_components/__init__.py
  python_modules/dagster/dagster/_components/cli/__init__.py
  python_modules/dagster/dagster/_components/cli/generate.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/__init__.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/components/.gitkeep
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/lib/__init__.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER_tests/__init__.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.jinja
  python_modules/dagster/dagster/_generate/templates/COMPONENT_TYPE/COMPONENT_TYPE_NAME_PLACEHOLDER.py.jinja
  python_modules/dagster/dagster/_generate/templates/DEPLOYMENT_NAME_PLACEHOLDER/.github/workflows/dagster-cloud-deploy.yaml.jinja
  python_modules/dagster/dagster/_generate/templates/DEPLOYMENT_NAME_PLACEHOLDER/code_locations/.gitkeep
  python_modules/dagster/dagster/_generate/templates/DEPLOYMENT_NAME_PLACEHOLDER/dagster_cloud.yaml.jinja
  python_modules/dagster/dagster/_utils/__init__.py
  python_modules/dagster/dagster_tests/cli_tests/test_generate_commands.py
  python_modules/dagster/dagster_tests/components_tests/__init__.py
  python_modules/dagster/setup.py
Due: pyright

sanity check that patched k8s api client is running
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
Due: pyright

[ui] Fix tags on backfill table (#26126)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillAssetPartitionsTable.tsx
Due: none

[ui] Add min-height to breadcrumbs to fix layout loop caused by MiddleTruncate RAF (#26127)
  js_modules/dagster-ui/packages/ui-components/src/components/MiddleTruncate.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/PageHeader.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/__stories__/MiddleTruncate.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPageHeader.oss.tsx
Due: none

[ui] Stop using the job page as the home page when single job is defined
  js_modules/dagster-ui/packages/ui-core/src/app/BaseFallthroughRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/__fixtures__/useJobStateForNav.fixtures.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/__tests__/BaseFallthroughRoot.test.tsx
Due: none

[ui] Stop using the job page as the home page when single job is defined (#26120)
  js_modules/dagster-ui/packages/ui-core/src/app/BaseFallthroughRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/__fixtures__/useJobStateForNav.fixtures.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/__tests__/BaseFallthroughRoot.test.tsx
Due: none

added partitions, automations, and sensors
  docs/docs-beta/docs/tutorial/01-etl-tutorial-introduction.md
  docs/docs-beta/docs/tutorial/02-create-and-materialize-assets.md
  docs/docs-beta/docs/tutorial/03-create-and-materialize-a-downstream-asset.md
  docs/docs-beta/docs/tutorial/03-creating-a-downstream-asset.md
  docs/docs-beta/docs/tutorial/04-ensuring-data-quality-with-asset-checks.md
  docs/docs-beta/docs/tutorial/05-create-and-materialize-partitioned-asset.md
  docs/docs-beta/docs/tutorial/05-partitions.md
  docs/docs-beta/docs/tutorial/06-automating-your-pipeline.md
  docs/docs-beta/docs/tutorial/07-creating-a-sensor-asset.md
  docs/docs-beta/docs/tutorial/08-refactoring-the-project.md
  docs/docs-beta/sidebars.ts
  docs/docs-beta/static/images/tutorial/etl-tutorial/automation-final.png
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
Due: pyright

update unit tests
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[components] Initial implementation of component project scaffolding (#26104)
  .gitignore
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_cli/__init__.py
  python_modules/dagster/dagster/_components/__init__.py
  python_modules/dagster/dagster/_components/cli/__init__.py
  python_modules/dagster/dagster/_components/cli/generate.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/__init__.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/components/.gitkeep
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/lib/__init__.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER_tests/__init__.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.jinja
  python_modules/dagster/dagster/_generate/templates/COMPONENT_TYPE/COMPONENT_TYPE_NAME_PLACEHOLDER.py.jinja
  python_modules/dagster/dagster/_generate/templates/DEPLOYMENT_NAME_PLACEHOLDER/.github/workflows/dagster-cloud-deploy.yaml.jinja
  python_modules/dagster/dagster/_generate/templates/DEPLOYMENT_NAME_PLACEHOLDER/code_locations/.gitkeep
  python_modules/dagster/dagster/_generate/templates/DEPLOYMENT_NAME_PLACEHOLDER/dagster_cloud.yaml.jinja
  python_modules/dagster/dagster/_utils/__init__.py
  python_modules/dagster/dagster_tests/cli_tests/test_generate_commands.py
  python_modules/dagster/dagster_tests/components_tests/__init__.py
  python_modules/dagster/setup.py
Due: pyright

ruff
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[ui] Break apart Asset Check page
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetCheckDetailModal.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetCheckExecutionList.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetCheckOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecks.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecksQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/AssetChecksTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/__stories__/AssetChecks.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetCheckDetailModal.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecksQuery.types.ts
Due: none

correctly override k8s ApiClient private method in PatchedApiClient
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
Due: pyright

correctly override k8s ApiClient private method in PatchedApiClient (#26154)
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
Due: pyright

Update FivetranConnectorScheduleType to subclass str
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
Due: pyright

[9/n][dagster-fivetran] Implement sync and poll methods in FivetranClient
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
Due: pyright

Assert connector syncable before updating schedule
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

lint
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
Due: pyright

Update callable signature type hints
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Split PRs; Implement base sync method
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

Revert is_syncable property; rename to validate_syncable
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
Due: pyright

Add connector_id in comments
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

lint
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

Make is_syncable a property
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
Due: pyright

Update Fivetran client and tests
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

Update description for disable_schedule_on_trigger
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Remove MIN_STR_TIME
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
Due: pyright
