Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Revert "[1/n] Add shimmer + loading state to asset graph (#24390)"
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetCatalogFiltering.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/asyncGraphLayout.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/GraphNotices.tsx
Due: none

chore: register `dbt-core` version in `DagsterLibraryRegistry`
  python_modules/dagster/dagster/_core/libraries.py
  python_modules/dagster/dagster_tests/core_tests/test_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/__init__.py
Due: pyright

chore: register `dbt-core` version in `DagsterLibraryRegistry` (#23329)
  python_modules/dagster/dagster/_core/libraries.py
  python_modules/dagster/dagster_tests/core_tests/test_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/__init__.py
Due: pyright

rebase fix
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillActionsMenu.tsx
Due: none

simplify `prepare_if_dev` explanation in dbt tutorial (#23765)
  docs/content/integrations/dbt/using-dbt-with-dagster/load-dbt-models.mdx
Due: docs-mdx-format

LocationWorkspaceQueryVersion
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

[3/4] Use generated query version to access indexeddb cache (#24451)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/useAllAssets.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/useRunsForTimeline.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsForTimeline.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
Due: none

more cookbooks
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_job.py
Due: pyright

mark as generated file
  js_modules/dagster-ui/.gitattributes
  js_modules/dagster-ui/packages/ui-core/.gitignore
  js_modules/dagster-ui/packages/ui-core/client.json
Due: none

.
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/scripts/generateGraphQLTypes.ts
Due: none

fix tests
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_job.py
Due: pyright

fix
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

different structure for multi-cluster portion
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
Due: none

fix ruff format
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/hybrid/agents/kubernetes/resource_request_job.py
Due: pyright

shorten run id
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

[dagster-embedded-elt] allow deferred fetch of row count using Sling (#24438)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_fetch_metadata.py
Due: pyright

[1/n] Add shimmer + loading state to asset graph (#24390)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetCatalogFiltering.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/asyncGraphLayout.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/GraphNotices.tsx
Due: none

[3/n] Add loading shimmer to asset catalog table (#24392)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetTable.tsx
Due: none

explicit version_key on code location status and entry (#24376)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/flattenCodeLocationRows.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationRowSet.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceQueries.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/core_tests/workspace_tests/test_request_context.py
  python_modules/dagster/dagster_tests/general_tests/asset_graph_differ_tests/test_asset_graph_differ.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

Automation: versioned docs for 1.8.7
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

Use Mapping instead of Dict
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

Update TableauWorkspaceData
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

Add dagster-tableau to requirements
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
Due: pyright

[2/n][dagster-tableau] Scaffold DagsterTableauTranslator class
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

Update translator.py
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

.
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
Due: none

Fix workspace context issue (#24456)
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
Due: none

[bugfix] k8s client wait_for_pod correctly handles multiple initcontainers (#24432)
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_client.py
Due: pyright

header-cleanup
  js_modules/dagster-ui/packages/ui-components/src/components/PageHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPageHeader.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/PipelineNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewPageHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTimelineRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTableActionBar.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/settings/SettingsLayout.tsx
Due: none

First pass
  docs/docs-beta/docs/guides/asset-sensors.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/asset-sensor-with-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/multi-asset-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-asset-sensor-example.py
Due: pyright

[2/n][dagster-tableau] Scaffold DagsterTableauTranslator class (#24190)
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

First pass
  docs/docs-beta/docs/guides/declarative-automation.md
Due: none

refactor
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

rename variables
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

.
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
