Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Correctly account for end_offset when deciding which partition key to look for in a freshness-based asset check (#24486)
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/time_partition.py
  python_modules/dagster/dagster_tests/definitions_tests/freshness_checks_tests/test_time_partition_freshness.py
Due: pyright

make graphql
  js_modules/dagster-ui/packages/ui-core/client.json
Due: none

make graphql (#24487)
  js_modules/dagster-ui/packages/ui-core/client.json
Due: none

[lazy-definitions] @definitions decorator and DecoratorLoadContext
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_execute_command.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_no_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_with_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
  python_modules/dagster/dagster_tests/definitions_tests/test_reconstructable.py
Due: pyright

[lazy-defs] `@definitions` decorator and `DecoratorLoadContext` (#24337)
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_execute_command.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_no_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_with_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
  python_modules/dagster/dagster_tests/definitions_tests/test_reconstructable.py
Due: pyright

[lazy-defs] Add `metadata` field on `Definitions`
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
Due: pyright

[lazy-defs] Add `metadata` field on `Definitions` (#24397)
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
Due: pyright

[lazy-defs] Add a DefinitionsLoadType Enum
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
Due: pyright

[lazy-defs] Add a DefinitionsLoadType Enum (#24490)
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
Due: pyright

[lazy-defs] Add support for source metadata on Definitions
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
  python_modules/dagster/dagster_tests/general_tests/test_pending_repository.py
Due: pyright

additions
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_value.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster_tests/core_tests/test_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
Due: pyright

[lazy-defs] Add new reconstruction metadata API on Definitions (#24395)
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_value.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster_tests/core_tests/test_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
  python_modules/dagster/dagster_tests/general_tests/test_pending_repository.py
Due: pyright

WIP dlt_event_iterator
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
Due: pyright

WIP working iterator
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

expose AssetSpec on OutputContext
  python_modules/dagster/dagster/_core/execution/context/output.py
  python_modules/dagster/dagster_tests/execution_tests/context_tests/test_output.py
Due: pyright

additions
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

[lazy-defs] Add source metadata to PowerBI integration
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

additions
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

cp
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/state_backed_loader.py
Due: pyright

Update aws.mdx
  docs/content/deployment/guides/aws.mdx
Due: docs-mdx-format

add new statuses for backfill completed success and failure
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/execution/job_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill_failure_recovery.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

pr comments
  python_modules/dagster/dagster/_core/execution/job_backfill.py
Due: pyright

prototype filtering backfills by filtering runs
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
Due: pyright

FE can display new bulk action statuses
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillStatusTagForPage.tsx
Due: none

add new statuses
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
Due: pyright

pass none for filters for this branch
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
Due: pyright

a little cleanup
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
Due: pyright

succeeded -> success
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
Due: none

stop fetching runs for runs feed earlier in some cases
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
Due: pyright

tag default
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

tests
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

possible fix
  python_modules/dagster/dagster/_record/__init__.py
Due: pyright

[record] Make work with Generics
  python_modules/dagster/dagster_tests/general_tests/test_record.py
Due: pyright

display new bulk action statuses in UI (#24409)
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillStatusTagForPage.tsx
Due: none

[Docs] Fix AWS Deployment Guide EcsRunLauncher Config Run Resources (#24206)
  docs/content/deployment/guides/aws.mdx
Due: docs-mdx-format

backfill policy docstring
  python_modules/dagster/dagster/_core/definitions/backfill_policy.py
Due: pyright

fix typo on releases page
  docs/content/about/releases.mdx
Due: docs-mdx-format

Review comments
  docs/docs-beta/docs/guides/asset-sensors.md
Due: none

add BulkActionStatuses COMPLETED_SUCCESS and COMPLETED_FAILURE (#24365)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceBackfills.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillStatusTagForPage.tsx
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/execution/job_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill_failure_recovery.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

[record] Make work with Generics (#23832)
  python_modules/dagster/dagster/_record/__init__.py
  python_modules/dagster/dagster_tests/general_tests/test_record.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
