Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

whitespace fixes
  docs/docs-beta/docs/tutorial/01-etl-tutorial-introduction.md
  docs/docs-beta/docs/tutorial/02-create-and-materialize-assets.md
Due: none

schema migration to add index run_tags.run_tags_run_id_idx (#25948)
  python_modules/dagster/dagster/_core/storage/alembic/versions/047_add_run_tags_run_id_idx.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs.db
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs/0582693a-4b0c-4154-95ec-d4c0cd0e1674.db
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs/0582693a-4b0c-4154-95ec-d4c0cd0e1674.db-shm
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs/0582693a-4b0c-4154-95ec-d4c0cd0e1674.db-wal
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs/index.db
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs/index.db-shm
  python_modules/dagster/dagster_tests/general_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/sqlite/history/runs/index.db-wal
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx.sql
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/snapshot_1_9_3_add_run_tags_run_id_idx/postgres/pg_dump.txt
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[ui] Consistently hide metadata entries shown in the asset overview sidebar (#25955)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetEventMetadataEntriesTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/MetadataEntry.tsx
Due: none

move to .github directory
  .github/CODEOWNERS
Due: none

Add missing dg. prefix to declarative automation docs
  docs/content/concepts/automation/declarative-automation.mdx
Due: docs-mdx-format

[dagster-fivetran] Mark FivetranWorkspace as experimental
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Add CODEOWNERS file with entry for docs directory (#25959)
  .github/CODEOWNERS
Due: none

refactor useLaunchMultiple with .oss version
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleWithTelemetry.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/SensorDryRunDialog.tsx
Due: none

Add missing dg. prefix to declarative automation docs (#25960)
  docs/content/concepts/automation/declarative-automation.mdx
Due: docs-mdx-format

retry
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

dagster-sigma 0.25.2rc4
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

dagster-sigma 0.25.3rc1
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

discard folder info
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

dagster-sigma 0.25.3rc2
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

true
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

dagster-sigma 0.25.3rc3
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

fix pagination 2
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

dagster-sigma 0.25.3rc4
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

Fix flaky test
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

[DA] Fix issue with label for dep operators
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
Due: pyright

Fix issue where ToposortedPriorityQueue could return children after their parents
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
Due: pyright

more renames
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphFilterBar.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
Due: none

[DA] Fix issue with label for dep operators (#25966)
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
Due: pyright

Fix flaky test (#25965)
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

[dagster-airlift] Add initial stage to add specs to federation tutorial
  examples/airlift-federation-tutorial/Makefile
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/with_specs.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_specs_stage.py
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
Due: pyright

[dagster-airlift] Federation tutorial overview and setup
  docs/content/_navigation.json
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  docs/next/public/images/integrations/airlift/customer_metrics.png
  docs/next/public/images/integrations/airlift/load_customers.png
  examples/airlift-federation-tutorial/Makefile
Due: docs-mdx-format

[dagster-airlift] Add executable stage to federation tutorial
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_executable_stage.py
Due: pyright

[dagster-airlift] Scaffold federation tutorial docs
  docs/content/_navigation.json
  docs/content/integrations/airlift.mdx
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
Due: docs-mdx-format

[dagster-airlift] Federation tutorial
  examples/airlift-federation-tutorial/.gitignore
  examples/airlift-federation-tutorial/Makefile
  examples/airlift-federation-tutorial/README.md
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/definitions.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/downstream_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/upstream_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_load.py
  examples/airlift-federation-tutorial/conftest.py
  examples/airlift-federation-tutorial/pyproject.toml
  examples/airlift-federation-tutorial/scripts/airflow_setup.sh
  examples/airlift-federation-tutorial/setup.py
  examples/airlift-federation-tutorial/tox.ini
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
Due: pyright

[dagster-airlift] Implement dags
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  examples/airlift-federation-tutorial/.gitignore
  examples/airlift-federation-tutorial/Makefile
  examples/airlift-federation-tutorial/airlift_federation_tutorial/__init__.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/constants.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/with_specs.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/downstream_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/metrics_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/upstream_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/warehouse_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_executable_stage.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_instances.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_load.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_specs_stage.py
  examples/airlift-federation-tutorial/raw_customers.csv
Due: docs-mdx-format, pyright

[dagster-airlift] Observe section federation tutorial
  docs/content/_navigation.json
  docs/content/integrations/airlift/federation-tutorial/observe.mdx
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  docs/next/public/images/integrations/airlift/dag_lineage.png
  docs/next/public/images/integrations/airlift/load_customers_mat.png
  docs/next/public/images/integrations/airlift/observe_warehouse.png
  docs/next/public/images/integrations/airlift/only_load_customers.png
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/observe_complete.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/observe_with_deps.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/conftest.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_load.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_specs_stage.py
  examples/airlift-federation-tutorial/snippets/observe.py
Due: docs-mdx-format, pyright

add asset selection filtering
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionFiltering.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionState.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

fix test
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphFilterBar.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/AssetTables.test.tsx
Due: none

[ui] Split AssetNodeOverview into sub-components
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AutomationDetailsSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/Common.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/ComputeDetailsSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/DefinitionSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/LineageSection.tsx
Due: none

[ui] Fix the launchpad’s “no partition specified” warning for asset jobs
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
Due: none

[ui] Split AssetNodeOverview into sub-components (#25956)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/AutomationDetailsSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/Common.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/ComputeDetailsSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/DefinitionSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/LineageSection.tsx
Due: none

.
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionFiltering.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/types.ts
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
Due: none

.
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
Due: none

bfs checkpoint
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/asset_graph_view/serializable_entity_subset.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright
