Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

fix: run metrics thread capture cgroups support more acurately and exits gracefully (#25854)
  python_modules/dagster/dagster/_core/execution/run_metrics_thread.py
  python_modules/dagster/dagster/_utils/container.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_run_metrics_thread.py
Due: pyright

[cli-refactor] Fix regression with code pointer dict working directory (#27559)
  examples/docs_beta_snippets/docs_beta_snippets_tests/snippet_checks/guides/components/test_components_docs.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
Due: pyright

[dagster-dbt] Drop --numprocesses in dagster-dbt tests (#27562)
  python_modules/libraries/dagster-dbt/tox.ini
Due: none

[integrations-api][beta] dagster-powerbi (#26871)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/assets.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

[integrations-api][beta] dagster-tableau
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

[docs] Fix formatting in dagster-instance.mdx
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format

[docs] Workaround for docs issue
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/docs-beta/docs/guides/build/components/snippet-graveyard.md
  docs/next/public/objects.inv
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/deployments/12-workspace.yaml
Due: docs-mdx-format

[dagster definitions validate] Minimize validate logging
  python_modules/dagster/dagster/_cli/definitions.py
Due: pyright

[docs] Fix formatting in dagster-instance.mdx (#27568)
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format

format tree
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format

[integrations-api][beta] dagster-tableau (#26872)
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

[integrations-api][beta] dagster-looker
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
Due: pyright

[docs] Snippet graveyard to hold references to old snippets (#27567)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/docs-beta/docs/guides/build/components/snippet-graveyard.md
  docs/next/public/objects.inv
  examples/docs_beta_snippets/docs_beta_snippets/guides/components/deployments/12-workspace.yaml
Due: docs-mdx-format

[integrations-api][beta] dagster-looker (#26873)
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
Due: pyright

[integrations-api][beta] dagster-sigma
  python_modules/libraries/dagster-sigma/dagster_sigma/assets.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

Lint
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

[dagster definitions validate] Minimize validate logging (#27569)
  python_modules/dagster/dagster/_cli/definitions.py
Due: pyright

[integrations-api][beta] dagster-sigma (#26874)
  python_modules/libraries/dagster-sigma/dagster_sigma/assets.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

[integrations-api][beta][superseded] dagster-fivetran
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/fivetran_event_iterator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/managed/reconciliation.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/ops.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

remove local installs
  docs/docs-beta/docs/integrations/libraries/sdf.md
  examples/docs_beta_snippets/tox.ini
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/automation/tox.ini
Due: none

mdx format
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format

change library pin
  pyright/master/requirements-pinned.txt
Due: none

remove sdf req
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: none

[integrations-api][beta][superseded] dagster-fivetran (#26876)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/fivetran_event_iterator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/managed/reconciliation.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/ops.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

[integrations-api][beta][superseded] Airbyte Cloud in dagster-airbyte
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_decorator.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/managed/reconciliation.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/translator.py
Due: pyright

[integrations-api][beta][superseded] Airbyte Cloud in dagster-airbyte (#26877)
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_decorator.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/managed/reconciliation.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/translator.py
Due: pyright

[integrations-api][beta] dagstermill
  python_modules/libraries/dagstermill/dagstermill/asset_factory.py
  python_modules/libraries/dagstermill/dagstermill/context.py
  python_modules/libraries/dagstermill/dagstermill/factory.py
  python_modules/libraries/dagstermill/dagstermill/io_managers.py
  python_modules/libraries/dagstermill/dagstermill/manager.py
Due: pyright

[integrations-api][beta] dagstermill (#26882)
  python_modules/libraries/dagstermill/dagstermill/asset_factory.py
  python_modules/libraries/dagstermill/dagstermill/context.py
  python_modules/libraries/dagstermill/dagstermill/factory.py
  python_modules/libraries/dagstermill/dagstermill/io_managers.py
  python_modules/libraries/dagstermill/dagstermill/manager.py
Due: pyright

Use @beta for dagster-pandera
  python_modules/libraries/dagster-pandera/dagster_pandera/__init__.py
Due: pyright

[integrations-api][preview] dagster-pandera
  python_modules/libraries/dagster-pandera/dagster_pandera/__init__.py
Due: pyright

[integrations-api][beta] dagster-pandera (#26883)
  python_modules/libraries/dagster-pandera/dagster_pandera/__init__.py
Due: pyright

Update breaking version
  python_modules/libraries/dagster-ssh/dagster_ssh/resources.py
Due: pyright

[integrations-api][deprecated] dagster-ssh
  python_modules/libraries/dagster-ssh/dagster_ssh/resources.py
Due: pyright

Update to beta decorator
  python_modules/libraries/dagster-ssh/dagster_ssh/resources.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
