Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[components] Refactor generate files to call explicit function to build component.yaml
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/generate.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

Update custom translator example
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

[dagster-embedded-elt][dlt] Subclass typing.Iterator in DltEventIterator (#26425)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
Due: pyright

[dagster-embedded-elt][sling] Subclass typing.Iterator in SlingEventIterator (#26426)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
Due: pyright

[dagster-dbt] Subclass typing.Iterator in DbtEventIterator (#26424)
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_event_iterator.py
Due: pyright

[components] Fix dagster-dg tests
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[dagster-fivetran] Update custom translator example in docstrings for Fivetran asset decorator and factory (#26435)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

[components] Fix dagster-dg component type scaffold and tests (#26441)
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[components] dagster-dg general code cleanup
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/error.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[bugfix] k8s client now waits for main container to be ready (#26422)
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_client.py
Due: pyright

pulling in dagster sources in dbt project
  examples/project_atproto_dashboard/dbt_project/models/sources.yml
  examples/project_atproto_dashboard/dbt_project/models/staging/stg_feed_snapshots.sql
  examples/project_atproto_dashboard/dbt_project/models/staging/stg_profiles.sql
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
Due: pyright

refactor
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionLinter.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionSyntaxErrorListener.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/createSelectionLinter.ts
Due: none

docs changes for manual tick
  docs/content/concepts/automation/schedules/testing.mdx
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  docs/content/concepts/webserver/ui.mdx
  docs/content/tutorial/scheduling-your-pipeline.mdx
  docs/dagster-university/pages/dagster-essentials/lesson-7/jobs-schedules-dagster-ui.md
  docs/dagster-university/pages/dagster-essentials/lesson-9/enabling-the-sensor.md
  docs/screenshots/concepts/partitions-schedules-sensors/schedules.yaml
  docs/screenshots/concepts/partitions-schedules-sensors/sensors.yaml
Due: docs-mdx-format

dagster-components 0.1.1
  python_modules/libraries/dagster-components/dagster_components/version.py
Due: pyright

Rename run group side bar to Retries instead of the job name
  js_modules/dagster-ui/packages/ui-core/src/gantt/RunGroupPanel.tsx
Due: none

rename re-executions
  js_modules/dagster-ui/packages/ui-core/src/gantt/RunGroupPanel.tsx
Due: none

Fix events fields on GrapheneRunStepStats (#26016)
  python_modules/dagster-graphql/dagster_graphql/implementation/events.py
  python_modules/dagster-graphql/dagster_graphql/schema/logs/events.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_expectations.py
Due: pyright

[components] dagster-dg general code cleanup (#26442)
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/error.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[components] Fix uv sync invocation on code location generation
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
Due: pyright

[components] Fix `uv` error messages/warnings in dagster-dg tests (#26443)
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
Due: pyright

Rename run group side bar to Re-executions instead of the job name (#26359)
  js_modules/dagster-ui/packages/ui-core/src/gantt/RunGroupPanel.tsx
Due: none

[components] Stop forcing editable dagster for `dg generate code-location`
  python_modules/libraries/dagster-components/setup.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.jinja
Due: pyright

dagster-components 0.1.2
  python_modules/libraries/dagster-components/dagster_components/version.py
Due: pyright

fix(example): quickstart aws example should now work properly
  examples/quickstart_aws/quickstart_aws/assets/hackernews.py
Due: pyright

fix: make it work with all s3 settings
  examples/quickstart_aws/quickstart_aws/assets/hackernews.py
Due: pyright

[ui] Fix endless log loading
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsScrollingTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunMetadataProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/StepLogsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/filterLogs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/flattenNodeChunks.tsx
Due: none

[changelog] 1.9.5
  CHANGES.md
Due: none

[components] allow automation_condition to be set with AssetSpecModel
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/python_script_location/components/scripts/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
Due: pyright

[components] Stop forcing editable dagster for `dg generate code-location`
  python_modules/automation/automation_tests/test_repo.py
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/setup.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.jinja
Due: pyright

dagster-components 0.1.3
  python_modules/libraries/dagster-components/dagster_components/version.py
Due: pyright

[freshness-checks][rfc] Retrieve latest completed check execution in summary records. (#26331)
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[freshness-checks][rfc] fix tickets (#26335)
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/sensor.py
  python_modules/dagster/dagster_tests/definitions_tests/freshness_checks_tests/test_sensor.py
Due: pyright

[changelog] 1.9.5 (#26450)
  CHANGES.md
Due: none

[azure-docs] refine deployment with ACR docs
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
Due: docs-mdx-format

[azure-docs] refine deployment with ACR docs (#26397)
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
Due: docs-mdx-format

[azure-docs] refine AzureBlobComputeLogManager guide
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
Due: docs-mdx-format

[azure-docs] refine AzureBlobComputeLogManager guide (#26407)
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
Due: docs-mdx-format

Update PR to incorporate feedback for skip GRPC endpoint clearing
  python_modules/dagster/dagster/_daemon/controller.py
  python_modules/dagster/dagster_tests/daemon_tests/test_dagster_daemon.py
Due: pyright

fix broken links
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/guides/build/integrate/ingesting-data.md
  docs/docs-beta/docs/guides/test/asset-checks.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
