Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

small
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

small
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

update canceling logic
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

update canceling logic for failed subset
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

typos
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

fix
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

rm console.log
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

Add Icechunk kind tag
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-icechunk-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-icechunk-color.svg
Due: docs-mdx-format

1.9.4 changelog (#26289)
  CHANGES.md
Due: none

[backfill daemon run retries 2/n] backfill daemon incorporates retries runs when launching new runs (#25853)
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

more tests for auto reexecution
  integration_tests/test_suites/daemon-test-suite/auto_run_reexecution_tests/test_auto_run_reexecution.py
Due: pyright

start process of removing tags when a run is retried from a completed backfill
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/tags.py
Due: pyright

update
  integration_tests/test_suites/daemon-test-suite/auto_run_reexecution_tests/test_auto_run_reexecution.py
Due: pyright

try add test
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

fix condition
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

try test again
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/conftest.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

update test
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

fix test
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

pr comments
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/tags.py
Due: pyright

[10/n][dagster-fivetran] Implement fivetran_assets and build_fivetran_assets_definitions (#25944)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/__init__.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
Due: pyright

test drop in bq io manager
  python_modules/libraries/dagster-gcp/dagster_gcp/bigquery/io_manager.py
Due: pyright

[dagster-azure] fix azure compute log manager credentialing
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/conftest.py
Due: pyright

[dagster-azure] Generate URL from compute log manager
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
Due: pyright

[azure-docs] Deploying with ACR.
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/next/public/images/dagster-cloud/azure/dagster-cloud-code-locations.png
  docs/next/public/images/dagster-cloud/azure/github-actions-workflow.png
Due: docs-mdx-format

[dagster-azure] compute log manager tests
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_nightly_pipeline.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/templates/helpers/instance/_compute-log-manager.tpl
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/defs.py
  integration_tests/test_suites/dagster-azure-live-tests/dagster.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  integration_tests/test_suites/dagster-azure-live-tests/setup.py
  integration_tests/test_suites/dagster-azure-live-tests/tox.ini
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_compute_log_manager.py
Due: docs-mdx-format, pyright

[azure-docs] compute log manager docs
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/next/public/images/dagster-cloud/azure/azure-blob-storage-logs.png
Due: docs-mdx-format

[azure-docs] docs on setting up AKS agent
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
Due: docs-mdx-format

comment
  integration_tests/test_suites/daemon-test-suite/auto_run_reexecution_tests/test_auto_run_reexecution.py
Due: pyright

[ui] Bump ui-components version to 1.2.0 (#26290)
  js_modules/dagster-ui/packages/ui-components/CHANGES.md
  js_modules/dagster-ui/packages/ui-components/package.json
Due: none

fix
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionLinter.ts
Due: none

[backfill daemon run retries 3/n] retries of runs in completed backfills should not be considered part of the backfill (#25900)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/tags.py
  python_modules/dagster/dagster_tests/daemon_tests/conftest.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

Fix asset catalog loading state showing "No assets found" while asset selection filtering is loading. (#26291)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

add more tests for auto reexecution behavior (#26277)
  integration_tests/test_suites/daemon-test-suite/auto_run_reexecution_tests/test_auto_run_reexecution.py
Due: pyright

[azure-docs] compute log manager docs (#26202)
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/next/public/images/dagster-cloud/azure/azure-blob-storage-logs.png
Due: docs-mdx-format

[azure-docs] compute log manager docs
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
Due: docs-mdx-format

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
