Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

yarn lint
  docs/docs-beta/docs/tutorials/category-two/modal/rss-assets.md
Due: none

[docs] RAG Tutorial (#27304)
  docs/docs-beta/docs/tutorials/category-two/rag/embeddings.md
  docs/docs-beta/docs/tutorials/category-two/rag/index.md
  docs/docs-beta/docs/tutorials/category-two/rag/retrieval.md
  docs/docs-beta/docs/tutorials/category-two/rag/sources.md
  docs/docs-beta/docs/tutorials/category-two/rag/vector-database.md
Due: none

[docs] Modal Tutorial (#27306)
  docs/docs-beta/docs/tutorials/category-two/modal/factory-pipeline.md
  docs/docs-beta/docs/tutorials/category-two/modal/index.md
  docs/docs-beta/docs/tutorials/category-two/modal/modal-application.md
  docs/docs-beta/docs/tutorials/category-two/modal/rss-assets.md
  docs/docs-beta/static/images/tutorial/modal/screenshot_dagster_lineage.png
Due: none

[docs] add script for validating redirects in vercel.json
  docs/docs-beta/scripts/vercel-validate-redirects.js
Due: none

fix docs links
  docs/docs-beta/docs/integrations/libraries/aws/glue.md
  docs/docs-beta/docs/integrations/libraries/databricks.md
  docs/docs-beta/docs/integrations/libraries/docker.md
  docs/docs-beta/docs/integrations/libraries/embedded-elt.md
  docs/docs-beta/docs/integrations/libraries/kubernetes.md
Due: none

move static assets (mostly CSVs) to new docs location
  docs/docs-beta/static/assets/cereal-ratings.csv.zip
  docs/docs-beta/static/assets/cereal.csv
  docs/docs-beta/static/assets/customers.csv
  docs/docs-beta/static/assets/head-texture.jpg
  docs/docs-beta/static/assets/iris.csv
  docs/docs-beta/static/assets/join-us-on-slack.png
  docs/docs-beta/static/assets/logos/dagster-logo.svg
  docs/docs-beta/static/assets/logos/dagster_logo_primary.svg
  docs/docs-beta/static/assets/logos/github.svg
  docs/docs-beta/static/assets/logos/small.png
  docs/docs-beta/static/assets/orders.csv
  docs/docs-beta/static/assets/raw_sales_data.csv
  docs/docs-beta/static/assets/shared/dagster-og-share.png
  docs/docs-beta/static/assets/stopwords.csv
  docs/docs-beta/static/assets/stopwords.zip
Due: none

Reorg
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/third-tutorial.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/index.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/feature-engineering.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/file-creation.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/ingestion.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/model-validation.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/open-ai-job.md
  docs/docs-beta/docs/tutorials/modal/factory-pipeline.md
  docs/docs-beta/docs/tutorials/modal/index.md
  docs/docs-beta/docs/tutorials/modal/modal-application.md
  docs/docs-beta/docs/tutorials/modal/rss-assets.md
  docs/docs-beta/docs/tutorials/prompt-engineering/additional-prompt.md
  docs/docs-beta/docs/tutorials/prompt-engineering/custom-resource.md
  docs/docs-beta/docs/tutorials/prompt-engineering/index.md
  docs/docs-beta/docs/tutorials/prompt-engineering/prompts.md
  docs/docs-beta/docs/tutorials/rag/embeddings.md
  docs/docs-beta/docs/tutorials/rag/index.md
  docs/docs-beta/docs/tutorials/rag/retrieval.md
  docs/docs-beta/docs/tutorials/rag/sources.md
  docs/docs-beta/docs/tutorials/rag/vector-database.md
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/code-examples-content.js
Due: none

Apply suggestions from code review
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
Due: pyright

Move static assets (mostly CSVs) to new docs location (#27315)
  docs/docs-beta/static/assets/cereal-ratings.csv.zip
  docs/docs-beta/static/assets/cereal.csv
  docs/docs-beta/static/assets/customers.csv
  docs/docs-beta/static/assets/head-texture.jpg
  docs/docs-beta/static/assets/iris.csv
  docs/docs-beta/static/assets/join-us-on-slack.png
  docs/docs-beta/static/assets/logos/dagster-logo.svg
  docs/docs-beta/static/assets/logos/dagster_logo_primary.svg
  docs/docs-beta/static/assets/logos/github.svg
  docs/docs-beta/static/assets/logos/small.png
  docs/docs-beta/static/assets/orders.csv
  docs/docs-beta/static/assets/raw_sales_data.csv
  docs/docs-beta/static/assets/shared/dagster-og-share.png
  docs/docs-beta/static/assets/stopwords.csv
  docs/docs-beta/static/assets/stopwords.zip
Due: none

Apply suggestions from code review
  CHANGES.md
Due: none

update text styles
  js_modules/dagster-ui/packages/ui-components/src/components/Text.tsx
Due: none

Draft the changelog for the Dagster 1.9.10 release (#27302)
  CHANGES.md
Due: none

Add example of using `output_required` to API docs (#27305)
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
Due: pyright

update integrations docs links
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-cloud.md
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-oss.md
  docs/docs-beta/docs/integrations/libraries/airbyte/index.md
  docs/docs-beta/docs/integrations/libraries/airlift/index.md
  docs/docs-beta/docs/integrations/libraries/dbt/dbt-cloud.md
  docs/docs-beta/docs/integrations/libraries/dbt/dbt-core.md
  docs/docs-beta/docs/integrations/libraries/dlt/index.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
  docs/docs-beta/docs/integrations/libraries/jupyter/index.md
  docs/docs-beta/docs/integrations/libraries/openai/index.md
  docs/docs-beta/docs/integrations/libraries/pandas/index.md
  docs/docs-beta/docs/integrations/libraries/pandera/index.md
  docs/docs-beta/docs/integrations/libraries/powerbi/index.md
  docs/docs-beta/docs/integrations/libraries/sigma/index.md
  docs/docs-beta/docs/integrations/libraries/sling.md
  docs/docs-beta/docs/integrations/libraries/snowflake/index.md
  docs/docs-beta/docs/integrations/libraries/spark.md
Due: none

wip
  docs/docs-beta/docs/tutorials/index.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/modal/index.md
  docs/docs-beta/docs/tutorials/prompt-engineering/index.md
  docs/docs-beta/docs/tutorials/rag/index.md
  docs/docs-beta/sidebars.ts
  docs/docs-beta/static/images/integrations/pinecone.svg
Due: none

[docs] Reorg Tutorials (#27316)
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-one/second-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/category-one/third-tutorial.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/index.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-one.md
  docs/docs-beta/docs/tutorials/category-two/first-tutorial/page-two.md
  docs/docs-beta/docs/tutorials/index.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/feature-engineering.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/file-creation.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/index.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/ingestion.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/model-validation.md
  docs/docs-beta/docs/tutorials/llm-fine-tuning/open-ai-job.md
  docs/docs-beta/docs/tutorials/modal/factory-pipeline.md
  docs/docs-beta/docs/tutorials/modal/index.md
  docs/docs-beta/docs/tutorials/modal/modal-application.md
  docs/docs-beta/docs/tutorials/modal/rss-assets.md
  docs/docs-beta/docs/tutorials/prompt-engineering/additional-prompt.md
  docs/docs-beta/docs/tutorials/prompt-engineering/custom-resource.md
  docs/docs-beta/docs/tutorials/prompt-engineering/index.md
  docs/docs-beta/docs/tutorials/prompt-engineering/prompts.md
  docs/docs-beta/docs/tutorials/rag/embeddings.md
  docs/docs-beta/docs/tutorials/rag/index.md
  docs/docs-beta/docs/tutorials/rag/retrieval.md
  docs/docs-beta/docs/tutorials/rag/sources.md
  docs/docs-beta/docs/tutorials/rag/vector-database.md
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/code-examples-content.js
  docs/docs-beta/static/images/integrations/pinecone.svg
Due: none

[components] Add note to Components README telling how to use local dg
  docs/docs-beta/docs/guides/build/components/index.md
Due: none

fix link
  docs/docs-beta/docs/integrations/libraries/jupyter/index.md
Due: none

[docs] add docs for PipesEMRContainersClient (#27159)
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes.mdx
  docs/content/concepts/dagster-pipes/aws-emr-containers.mdx
  docs/content/integrations/spark.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-containers/script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_containers.py
Due: docs-mdx-format, pyright

add missing redirects for marketing emails and UI
  docs/docs-beta/vercel.json
Due: none

pywrong
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/local_component_sample/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/other_local_component_sample/__init__.py
Due: pyright

[docs] fix dbt logos
  docs/docs-beta/docs/integrations/libraries/dbt/dbt-cloud.md
  docs/docs-beta/docs/integrations/libraries/dbt/dbt-core.md
Due: none

separate configured limit from slot count
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/graphql_context_test_suite.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_instance.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_utils/concurrency.py
Due: pyright

add column to track limits set by the default
  python_modules/dagster/dagster/_core/execution/plan/instance_concurrency_context.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/storage/alembic/versions/048_7e2f3204cf8e_add_column_concurrency_default_limit.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/schema.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_instance_concurrency_context.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[components] fix import from dagster
  python_modules/libraries/dagster-dg/dagster_dg/docs.py
Due: pyright

[docs] fix dbt logos (#27320)
  docs/docs-beta/docs/integrations/libraries/dbt/dbt-cloud.md
  docs/docs-beta/docs/integrations/libraries/dbt/dbt-core.md
Due: none

Update text styles (#27318)
  js_modules/dagster-ui/packages/ui-components/src/components/Text.tsx
Due: none

Add missing redirects (#27319)
  docs/docs-beta/vercel.json
Due: none

[sensors] de-duplicate run_requests with the same run key emitted a single evaluation
  python_modules/dagster/dagster/_daemon/sensor.py
Due: pyright

[dagster-components cli] add dagster-components list local-components-types (#27285)
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/cli_tests/test_commands.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/local_component_sample/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/local_component_sample/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/other_local_component_sample/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/other_local_component_sample/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/utils.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
Due: pyright

[docs] add script for validating redirects in vercel.json (#27314)
  docs/docs-beta/scripts/vercel-validate-redirects.js
Due: none

[components] fix import from dagster (#27321)
  python_modules/libraries/dagster-dg/dagster_dg/docs.py
Due: pyright

Automation: versioned docs for 1.9.10
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none
