Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Javascript example
  docs/docs-beta/docs/guides/build/external-pipelines/javascript-pipeline.md
Due: none

disable vercel deploys for PR branches (#27196)
  .github/workflows/build-docs.yml
Due: none

add pyspark pipeline tutorial
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs-beta/docs/guides/build/external-pipelines/pyspark-pipeline.md
Due: none

small edits
  docs/docs-beta/docs/guides/build/external-pipelines/pyspark-pipeline.md
Due: none

asset sensors edits
  docs/docs-beta/docs/guides/automate/asset-sensors.md
Due: none

[DOC-730][docs-beta] creates ScoutOS Docusaurus plugin for embedded chat
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/plugins/scoutos/index.js
Due: none

fix font formatting
  docs/docs-beta/src/plugins/scoutos/index.js
Due: none

update link for test
  docs/content/concepts/dagster-pipes/pyspark.mdx
Due: docs-mdx-format

Update integrations images
  docs/docs-beta/docs/integrations/libraries/dbt/transform-dbt.md
  docs/docs-beta/static/images/integrations/libraries/dbt/dbt-lineage.png
Due: none

1.9.9 changelog
  CHANGES.md
Due: none

1.9.9 changelog (#27201)
  CHANGES.md
Due: none

[docs] Update quickstart imgs (#27175)
  docs/docs-beta/docs/getting-started/quickstart.md
  docs/docs-beta/static/images/getting-started/quickstart/dagster-ui-start.png
  docs/docs-beta/static/images/getting-started/quickstart/run-details.png
Due: none

[docs] Update integrations images (#27200)
  docs/docs-beta/docs/integrations/libraries/dbt/transform-dbt.md
  docs/docs-beta/static/images/integrations/libraries/dbt/dbt-lineage.png
Due: none

[docs] Update guide/assets imgs (#27179)
  docs/docs-beta/docs/guides/build/assets/asset-selection-syntax.md
  docs/docs-beta/docs/guides/build/assets/configuring-assets.md
  docs/docs-beta/docs/guides/build/external-pipelines/javascript-pipeline.md
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/asset-selection-syntax-dag.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-disjointed-lineages.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-downstream-dependencies.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-entire-lineage.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-multiple-components.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-single-asset.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-two-downstream-layers.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-two-upstream-layers.png
  docs/docs-beta/static/images/guides/build/assets/asset-selection-syntax/select-upstream-dependencies.png
  docs/docs-beta/static/images/guides/build/assets/configuring-assets-in-the-ui/look-back-7.png
  docs/docs-beta/static/images/guides/build/assets/configuring-assets-in-the-ui/open-launchpad.png
Due: none

more tests
  python_modules/dagster/dagster_tests/core_tests/test_mask_user_code_errors.py
Due: pyright

special case exception types
  python_modules/dagster/dagster/_utils/error.py
  python_modules/dagster/dagster_tests/core_tests/test_mask_user_code_errors.py
Due: pyright

aggressively mask user code errors
  python_modules/dagster/dagster/_core/errors.py
  python_modules/dagster/dagster/_core/execution/plan/utils.py
  python_modules/dagster/dagster/_utils/error.py
Due: pyright

tests
  python_modules/dagster/dagster/_core/errors.py
  python_modules/dagster/dagster/_core/execution/plan/utils.py
  python_modules/dagster/dagster/_utils/error.py
  python_modules/dagster/dagster_tests/core_tests/test_mask_user_code_errors.py
Due: pyright

update
  python_modules/dagster/dagster_tests/core_tests/test_mask_user_code_errors.py
Due: pyright

comments
  python_modules/dagster/dagster/_core/errors.py
  python_modules/dagster/dagster/_core/execution/plan/utils.py
  python_modules/dagster/dagster/_utils/error.py
  python_modules/dagster/dagster_tests/core_tests/test_mask_user_code_errors.py
Due: pyright

errid
  python_modules/dagster/dagster/_utils/error.py
Due: pyright

inject copilot after DOMContentLoaded
  docs/docs-beta/src/plugins/scoutos/index.js
Due: none

more aggressive masking
  python_modules/dagster/dagster/_utils/error.py
Due: pyright

Rename file
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelectionVisitor.oss.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AssetSelectionAntlr.oss.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/util.ts
Due: none

add ion support
  python_modules/dagster/dagster/_serdes/msgpack.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
  python_modules/dagster/setup.py
Due: pyright

rename file
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ComputeGraphData.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/filterAssetSelectionByQuery.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
Due: none

simplify instructions
  docs/docs-beta/src/plugins/scoutos/index.js
Due: none

Automation: versioned docs for 1.9.9
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

[dagster-openai] removes space in "OpenAI"
  examples/project_ask_ai_dagster/lineage.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  python_modules/libraries/dagster-openai/setup.py
Due: pyright

dagster-components 0.1.8
  python_modules/libraries/dagster-components/dagster_components/version.py
Due: pyright

dagster-dg 0.1.5
  python_modules/libraries/dagster-dg/dagster_dg/version.py
Due: pyright

[partition-status-cache][repro] Bug when using old AssetRecord in get_and_update_asset_status_cache_value
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/daemon_tests/definitions/observable_to_eager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/partition_status_cache.py
Due: pyright

typo
  examples/project_ask_ai_dagster/lineage.svg
  python_modules/libraries/dagster-openai/setup.py
Due: pyright

clean up dagster+ deployment management docs
  docs/docs-beta/docs/dagster-plus/deployment/management/dagster-cloud-cli/index.md
  docs/docs-beta/docs/dagster-plus/deployment/management/environment-variables/index.md
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
  docs/docs-beta/docs/dagster-plus/deployment/management/rate-limits.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/customizing-agent-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/deployment-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/hybrid-agent-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/index.md
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/index.md
Due: none

add tableau integration
  docs/docs-beta/docs/integrations/libraries/tableau.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
