Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Update writing-a-multi-asset-decorator-integration.mdx
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

Update docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

update replicate update this sentence to be a bit more specific
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

wip
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

minor vale linting
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

fix intro
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

mv integration guides up one level
  docs/content/_navigation.json
Due: docs-mdx-format

mention configurability and reusability
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

fix broken link
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

Re-enable test analytics
  .buildkite/hooks/pre-command
Due: none

Automation: versioned docs for 1.8.3
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

Re-enable test analytics (#23852)
  .buildkite/hooks/pre-command
Due: none

add todo page
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/todo.md
Due: none

added foo.py
  python_modules/dagster/dagster/foo.py
Due: pyright

wrap useQuery/useLazyQuery
  js_modules/dagster-ui/packages/eslint-config/rules/index.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-apollo-client.js
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
Due: none

[docs-revamp] Metadata docs (#23831)
  docs/docs-beta/.gitignore
  docs/docs-beta/README.md
  docs/docs-beta/docs/guides/data-modeling/adding-metadata-to-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/todo.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/custom-local-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/definition-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/oss-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/owners.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/plus-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/python-local-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/runtime-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/table-column-lineage-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/table-schema-metadata.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/tags.py
  pyright/master/exclude.txt
Due: pyright

[dagster-airlift] assets_from_task (#23813)
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/dbt/models/iris_setosa.sql
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/dbt/models/sources.yml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/load_iris.py
Due: pyright

[docs-beta] clean up unused sidebar items
  docs/docs-beta/docs/guides/data-modeling/creating-dependencies-between-assets.md
  docs/docs-beta/docs/guides/deployment/building-a-data-mesh.md
  docs/docs-beta/docs/guides/etl/incremental-loading.md
  docs/docs-beta/docs/guides/etl/transform-python.md
  docs/docs-beta/docs/guides/external-systems/connecting-databases.md
  docs/docs-beta/docs/guides/external-systems/using-api-connections.md
  docs/docs-beta/docs/guides/ingestion/ingesting-data.md
  docs/docs-beta/docs/guides/monitoring/failed-run-alerts.md
  docs/docs-beta/docs/guides/quality-testing/integration-tests.md
  docs/docs-beta/docs/guides/testing.md
  docs/docs-beta/docs/guides/testing/detecting-schema-changes.md
  docs/docs-beta/docs/guides/testing/integration-tests.md
  docs/docs-beta/docs/guides/testing/stopping-runs.md
  docs/docs-beta/docs/guides/testing/testing-assets-with-asset-checks.md
  docs/docs-beta/docs/guides/testing/testing-for-data-freshness.md
  docs/docs-beta/docs/guides/testing/unit-tests-for-assets-and-ops.md
  docs/docs-beta/docs/guides/transformation.md
  docs/docs-beta/docs/guides/transformation/pushing-operations-to-data-warehouses.md
  docs/docs-beta/docs/guides/transformation/working-with-different-data-formats.md
  docs/docs-beta/docs/guides/transformation/working-with-large-datasets.md
Due: none

[dagster-airlift] fix demo code
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dbt_dag.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/iris.csv
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/load_iris.py
Due: pyright

[dagster-airlift][tutorial-example] tweak new example readme (#23839)
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

[dagster-airlift] fix demo code (#23853)
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dbt_dag.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/iris.csv
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/shared/load_iris.py
Due: pyright

yuhan feedback
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

address pedrams feedback #1
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

[docs][guide] approaches to writing integrations
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

Update approaches-to-writing-integrations.mdx
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

[docs][guide] approaches to writing integrations (#22903)
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

[docs][guide] writing a multi-asset backed integration (#22910)
  docs/content/_navigation.json
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
  docs/content/guides/integrations/writing-a-multi-asset-decorator-integration.mdx
Due: docs-mdx-format

[dagster-airlift] consolidate dags
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dbt_dag.py
Due: pyright

[dagster-airlift] consolidate dags (#23856)
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dbt_dag.py
Due: pyright

[docs-beta] README change regarding lint:fix
  docs/docs-beta/.eslintrc.js
  docs/docs-beta/README.md
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Due: none

[docs-beta] README change regarding lint:fix (#23858)
  docs/docs-beta/.eslintrc.js
  docs/docs-beta/README.md
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Due: none
