Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Beartype `DagsterInstance` to the point tests pass
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/setup.py
Due: pyright

fix pyobjects in external pipelines docs
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/sphinx/sections/api/apidocs/libraries/dagster-databricks.rst
  docs/sphinx/sections/api/apidocs/pipes.rst
Due: none

move
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
Due: none

add text splitting for the docs scrape
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
Due: pyright

Automation: versioned docs for 1.9.7
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

[docs-beta] Map API lifecycle flags to style levels for docs beta (#26846)
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

fix api docs links
  docs/docs-beta/docs/guides/build/external-resources/index.md
Due: none

add example
  docs/content/dagster-plus/getting-started.mdx
Due: docs-mdx-format

add text splitting for the docs scrape (#26981)
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
Due: pyright

more api docs link fixes
  docs/docs-beta/docs/guides/build/external-resources/configuring-resources.md
  docs/docs-beta/docs/guides/build/external-resources/defining-resources.md
  docs/docs-beta/docs/guides/build/external-resources/index.md
  docs/docs-beta/docs/guides/build/external-resources/managing-resource-state.md
  docs/docs-beta/docs/guides/build/external-resources/testing-configurable-resources.md
  docs/docs-beta/docs/guides/build/external-resources/using-bare-python-objects-as-resources.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/backfilling-data.md
Due: none

fix formatting
  docs/content/dagster-plus/getting-started.mdx
Due: docs-mdx-format

Fix many more unqualified forward ref import paths
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

[changelog] 1.9.7 (#26975)
  CHANGES.md
Due: none

Remove reference to quickstart-etl project (#26974)
  docs/content/dagster-plus/getting-started.mdx
Due: docs-mdx-format

Add full qualified paths for `AssetRecord` imports
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

Add full qualified forward ref for `HistoricalJob`
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

try without rst file changes
  docs/sphinx/sections/api/apidocs/libraries/dagster-databricks.rst
  docs/sphinx/sections/api/apidocs/pipes.rst
Due: none

fix link, try re-adding class definition
  docs/docs-beta/docs/guides/build/external-resources/index.md
  docs/sphinx/sections/api/apidocs/pipes.rst
Due: none

[docs-beta] make sync-api-docs directive platform agnostic
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
Due: none

revert change to rst file, remove PyObject that references class that isn't documented
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/sphinx/sections/api/apidocs/pipes.rst
Due: none

Only import modules for Ruff in TYPE_CHECKING code
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

[docs] Update CSS for superseded and deprecated flags (#26972)
  docs/next/styles/globals.css
Due: none

Fix return type of `int` property that can be null
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

test links
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
Due: none

[docs-beta] make sync-api-docs directive platform agnostic (#26986)
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
Due: none

[module-loaders] Add load_definitions_from_current_module
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

Fix test
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

Lint
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

fix links again
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/index.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/docs-beta/docs/guides/build/external-resources/configuring-resources.md
  docs/docs-beta/docs/guides/build/external-resources/defining-resources.md
  docs/docs-beta/docs/guides/build/external-resources/index.md
  docs/docs-beta/docs/guides/build/external-resources/managing-resource-state.md
  docs/docs-beta/docs/guides/build/external-resources/testing-configurable-resources.md
  docs/docs-beta/docs/guides/build/external-resources/using-bare-python-objects-as-resources.md
Due: none

add changelog entry to 1.9.6 for job name filtering
  CHANGES.md
Due: none

more link fixes
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/docs-beta/docs/guides/build/external-resources/index.md
  docs/docs-beta/docs/guides/build/external-resources/using-bare-python-objects-as-resources.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/backfilling-data.md
Due: none

fix more links
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
Due: none

Update test
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

add changelog entry to 1.9.6 for job name filtering (#26987)
  CHANGES.md
Due: none

fix non-standard quotes
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/backfilling-data.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/defining-dependencies-between-partitioned-assets.md
Due: none

update asset catalog docs
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/index.md
  docs/docs-beta/static/images/dagster-plus/asset-catalog/asset-catalog-cloud-pro.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/asset-catalog.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/catalog-views.png
Due: none

organize features docs by order on dagster+ index page
  docs/docs-beta/docs/dagster-plus/features/alerts/index.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/index.md
  docs/docs-beta/docs/dagster-plus/features/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/index.md
  docs/docs-beta/docs/dagster-plus/features/data-catalog.md
  docs/docs-beta/docs/dagster-plus/features/insights/index.md
  docs/docs-beta/docs/dagster-plus/index.md
Due: none
