Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-polars] deprecate storage-level metadata (#24373)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/parquet.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/utils.py
Due: docs-mdx-format, pyright

[ui] Code location polish and cleanup
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsMain.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationPageHeader.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationPageHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationPageHeaderTitle.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationSearchableList.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/CodeLocationsPage.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/TimeFromNow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationSource.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/RepositoryLocationsList.tsx
Due: none

remove indexeddb version foot gun
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsForTimeline.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/__tests__/useIndexedDBCachedQuery.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

[ui] Code location polish and cleanup (#24412)
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsMain.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationPageHeader.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationPageHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationPageHeaderTitle.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationSearchableList.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/CodeLocationsPage.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/TimeFromNow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationSource.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/RepositoryLocationsList.tsx
Due: none

.
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

[dagster-aws] extend main ruff config + move boto3-stubs to "pyright" extras
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  pyright/alt-1/requirements-pinned.txt
  pyright/alt-1/requirements.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-aws/MANIFEST.in
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/athena_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/cloudwatch_tests/test_loggers.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecr_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_container_context.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_utils.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_configs_spark.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_emr.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_emr_step_main.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_pyspark.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_pyspark_step_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/redshift_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_file_handle_to_s3.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_io_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_file_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_sensor.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/secretsmanager_tests/test_secrets.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ssm_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/test_version.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/utils_tests/mrjob_tests/test_utils.py
  python_modules/libraries/dagster-aws/ruff.toml
  python_modules/libraries/dagster-aws/setup.py
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

Update docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/apis.md
Due: none

Ruff
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/env_var_configuration.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
Due: pyright

[dagster-aws] extend main ruff config + move boto3-stubs to `stubs` extras (#24153)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  pyright/alt-1/requirements-pinned.txt
  pyright/alt-1/requirements.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-aws/MANIFEST.in
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/athena_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/cloudwatch_tests/test_loggers.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecr_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_container_context.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_utils.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_configs_spark.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_emr.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_emr_step_main.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_pyspark.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/emr_tests/test_pyspark_step_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/redshift_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_file_handle_to_s3.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_io_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_file_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_sensor.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/secretsmanager_tests/test_secrets.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ssm_tests/test_resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/test_version.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/utils_tests/mrjob_tests/test_utils.py
  python_modules/libraries/dagster-aws/ruff.toml
  python_modules/libraries/dagster-aws/setup.py
  scripts/install_dev_python_modules.py
Due: docs-mdx-format, pyright

add more asset type kind tags
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/csv.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/dag.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/dashboard.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/file.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/notebook.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/pdf.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/seed.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/source.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/table.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/task.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/view.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/yaml.svg
Due: none

Fixing links
  docs/docs-beta/docs/guides/partition-dependencies.md
  docs/docs-beta/docs/guides/partitioning.md
Due: none

[dagster-embedded-elt] allow deferred fetch of row count using Sling
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_fetch_metadata.py
Due: pyright

replace up s3 icon
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-s3-color.svg
Due: none

First pass
  docs/docs-beta/docs/guides/ingesting-data.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-ingestion/custom-data-ingestion.py
Due: pyright

[docs-revamp] - Clean up API connections guide (#24408)
  docs/docs-beta/docs/guides/apis.md
  docs/docs-beta/docs/guides/partition-dependencies.md
  docs/docs-beta/docs/guides/partitioning.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/env_var_configuration.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_minimal_resource_in_asset.py
Due: pyright

[dagster-airlift] local migration state (#24321)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/migration_state_for_sqlite_test/dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/perf-harness/.airflow_home/airflow.db
  examples/experimental/dagster-airlift/examples/perf-harness/.airflow_home/logs/scheduler/latest
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
Due: pyright

Add more asset type kind tags (#24440)
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/csv.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/dag.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/dashboard.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/file.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/notebook.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/pdf.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/seed.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/source.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/table.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/task.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-s3-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/view.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/yaml.svg
Due: none

Tweaking copy a bit
  docs/docs-beta/docs/guides/ingesting-data.md
Due: none

[ui] Disable sensor cursor editing based on code location permissions
  js_modules/dagster-ui/packages/ui-core/src/app/Permissions.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleResetButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorResetButton.tsx
Due: none

[ui] Disable sensor cursor editing based on code location permissions (#24436)
  js_modules/dagster-ui/packages/ui-core/src/app/Permissions.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleResetButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorResetButton.tsx
Due: none

[dagster-airlift] remove naming convention
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
Due: pyright

Add my 1.8.7 changelog entries
  CHANGES.md
Due: none

Add my 1.8.7 changelog entries (#24439)
  CHANGES.md
Due: none

bronze,silver,gold icons
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/medallion-bronze-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/medallion-gold-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/medallion-silver-color.svg
Due: none

[1/n] Enable materializing ranges of partitions using the asset CLI (#24303)
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/assets.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_asset_list_command.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

[RFC] explicit version_key on code location status and entry
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/flattenCodeLocationRows.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationRowSet.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceQueries.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/core_tests/workspace_tests/test_request_context.py
  python_modules/dagster/dagster_tests/general_tests/asset_graph_differ_tests/test_asset_graph_differ.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

[ui] Fix CodeLocationSource in flex container (#24422)
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationSource.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/__stories__/CodeLocationSource.stories.tsx
Due: none

1.8.7 CHANGELOG (#24380)
  CHANGES.md
  scripts/generate_changelog.py
Due: pyright

[dagster-airlift] remove naming convention (#24417)
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
Due: pyright

Add kind tags for Bronze, Silver, and Gold (#24446)
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/medallion-bronze-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/medallion-gold-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/medallion-silver-color.svg
Due: none

[1/n] Add shimmer + loading state to asset graph (#24390)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetCatalogFiltering.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/asyncGraphLayout.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/GraphNotices.tsx
Due: none

[3/n] Add loading shimmer to asset catalog table (#24392)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetTable.tsx
Due: none

feat(dbt): add materialization type kinds
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
Due: pyright

First pass
  docs/docs-beta/docs/guides/non-python.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-full-featured-javascript.js
Due: pyright

salazarm/use-query-version
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/useAllAssets.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/useRunsForTimeline.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/useRunsForTimeline.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
Due: none

Update copy
  docs/docs-beta/docs/guides/non-python.md
Due: none

[dagster-k8s] test fixes (#24382)
  integration_tests/test_suites/k8s-test-suite/tests/test_utils.py
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
Due: pyright

Revert "[3/n] Add loading shimmer to asset catalog table (#24392)"
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetTable.tsx
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
