Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-tableau] Use get_asset_spec().key in DagsterTableauTranslator (#26027)
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_reconstruction.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_translator.py
Due: pyright

Lint
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

[dagster-tableau] Mark get_asset_key as deprecated in DagsterTableauTranslator
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

Change the default implementation to calculate step stats more efficiently (#26106)
  python_modules/dagster/dagster/_core/execution/stats.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
Due: pyright

[graphql] dont wipe instance in checks test
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_checks.py
Due: pyright

[dagster-tableau] Mark get_asset_key as deprecated in DagsterTableauTranslator (#26028)
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

Fix typo
  docs/content/integrations/tableau.mdx
Due: docs-mdx-format

Move sheet customization
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

Use AssetSpec.replace_attributes in docs
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

[dagster-tableau] Update custom translator example in Tableau docs
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

Update copy
  docs/content/integrations/tableau.mdx
Due: docs-mdx-format

[dagster-tableau] Update custom translator example in Tableau docs (#26029)
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

Fix issue where when user provides a custom task definition, the image is not provided via config, and this check fails
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
Due: pyright

[dagster-sigma] Use get_asset_spec().key in DagsterSigmaTranslator (#26035)
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_with_translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

Use AssetSpec.replace_attributes
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[dagster-sigma] Mark get_asset_key as deprecated in DagsterSigmaTranslator
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

[dagster-looker] Use get_asset_spec().key in DagsterLookerApiTranslator
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

Update deprecation message
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

[dagster-tableau] Update deprecation message for get_asset_key in DagsterTableauTranslator
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

Update test
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[dagster-sigma] Mark get_asset_key as deprecated in DagsterSigmaTranslator (#26036)
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

[dagster-sigma] Update custom translator example in Sigma docs
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Due: docs-mdx-format, pyright

Use AssetSpec.replace_attributes in docs
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Due: docs-mdx-format, pyright

Update copy
  docs/content/integrations/sigma.mdx
Due: docs-mdx-format

[dagster-powerbi] Use get_asset_spec().key in DagsterPowerBITranslator (#26051)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[dagster-powerbi] Mark asset key methods as deprecated in DagsterPowerBITranslator
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

Update deprecation message
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

[dagster-looker] Use get_asset_spec().key in DagsterLookerApiTranslator (#26048)
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[dagster-sigma] Update custom translator example in Sigma docs (#26037)
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Due: docs-mdx-format, pyright

persist session to filesystem
  examples/project_atproto_dashboard/.gitignore
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/dagster.yaml
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/setup.py
Due: pyright

[devrel] use dynamic partitions for user feeds (#26107)
  examples/project_atproto_dashboard/.gitignore
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/dagster.yaml
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/setup.py
Due: pyright

[devrel] add snapshotting of bsky starter packs (#26103)
  examples/project_atproto_dashboard/.gitignore
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/dagster.yaml
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/setup.py
Due: pyright

[devrel] add data ingestion for atproto feeds (bsky social) (#26058)
  examples/project_atproto_dashboard/.gitignore
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/dagster.yaml
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/setup.py
Due: pyright

[dagster-looker] Mark asset key methods as deprecated in DagsterLookerApiTranslator
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

Update deprecation message
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

Lint
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

[dagster-looker] Mark asset key methods as deprecated in DagsterLookerApiTranslator (#26049)
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

Use AssetSpec.replace_attributes in docs
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
Due: docs-mdx-format, pyright

[dagster-looker] Update custom API translator example in Looker docs
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
Due: docs-mdx-format, pyright

Fix code snippet
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
Due: docs-mdx-format, pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
