Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

test
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_backfill.py
Due: pyright

[docs-beta] temporarily remove `lastmod` for sitemap as `.git/` is not present on Vercel (#24660)
  docs/docs-beta/docusaurus.config.ts
Due: none

[docs-beta] fix announcement bar colors for dark theme (#24659)
  docs/docs-beta/src/styles/custom.scss
Due: none

[docs-beta] Set resolution for path-to-regexp
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Due: none

[docs-beta] Set resolution for path-to-regexp (#24656)
  docs/docs-beta/package.json
  docs/docs-beta/yarn.lock
Due: none

[graphql] shuffle execution methods (#24631)
  python_modules/dagster-webserver/dagster_webserver/graphql.py
  python_modules/dagster-webserver/dagster_webserver/webserver.py
Due: pyright

[1/n][Runs Feed] Add filtering support (#24598)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRunsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/CreatedByTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedTabs.types.ts
  js_modules/dagster-ui/packages/ui-core/src/ui/IndeterminateLoadingBar.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/VirtualizedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/appendCurrentQueryParams.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/appendCurrentQueryParams.ts
Due: none

bread-crumb + warning
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

[2/n][Runs Feed] Add breadcrumb on backfill run + warning if backfill selected for bulk action (#24611)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

feature gating for runs feed
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/ExecutionTimeline.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/RunsFeedBackfillPage.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedUtils.tsx
Due: none

flag
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

[3/n][Runs feed] Feature gating (#24621)
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/ExecutionTimeline.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/RunsFeedBackfillPage.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedUtils.tsx
Due: none

Add types to reconstruction metadata tests
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_loader.py
Due: pyright

claire/dbt-global-config-fix
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_resource.py
Due: pyright

Revert "Revert "support filtering in the runs feed"" (#24661)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
  python_modules/dagster/dagster/_core/execution/backfill.py
Due: pyright

Fix dagster-cloud serverless deploy-python-executable references in docs
  docs/content/dagster-plus/deployment/serverless.mdx
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
Due: docs-mdx-format

[docs, dagster-pipes] fix inconsistencies in k8s example (#24658)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/kubernetes.mdx
  docs/next/public/objects.inv
Due: docs-mdx-format

[docs-beta] add algolia search when deployed
  docs/docs-beta/docusaurus.config.ts
Due: none

[dagster-powerbi] Add basic docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/docs-beta/docs/guides/powerbi.md
  docs/next/public/objects.inv
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/power-bi/customize-power-bi-asset-defs.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/power-bi/materialize-semantic-models.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/power-bi/representing-power-bi-assets.py
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
  examples/docs_snippets/tox.ini
Due: docs-mdx-format, pyright

blushd
  scripts/build_and_publish.sh
Due: none

refmt
  docs/content/integrations/powerbi.mdx
Due: docs-mdx-format

respond to comments
  docs/content/integrations/powerbi.mdx
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
Due: docs-mdx-format, pyright

update
  docs/content/integrations/powerbi.mdx
Due: docs-mdx-format

add multiple workspace entry
  docs/content/integrations/powerbi.mdx
  docs/docs-beta/docs/guides/powerbi.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/power-bi/customize-power-bi-asset-defs.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/power-bi/materialize-semantic-models.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/power-bi/representing-power-bi-assets.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Due: docs-mdx-format, pyright

[dagster-powerbi] Add basic docs (#24269)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/public/objects.inv
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
  examples/docs_snippets/tox.ini
  scripts/build_and_publish.sh
Due: docs-mdx-format, pyright

add search section to readme
  docs/docs-beta/README.md
Due: none

Publish script
  .buildkite/dagster-buildkite/dagster_buildkite/cli.py
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
  .buildkite/dagster-buildkite/setup.py
  python_modules/libraries/dagster-powerbi/setup.py
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/setup.py
  scripts/build_and_publish.sh
Due: pyright

Introduce individual package publish Buildkite script (#24616)
  .buildkite/dagster-buildkite/dagster_buildkite/cli.py
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
  .buildkite/dagster-buildkite/setup.py
  python_modules/libraries/dagster-powerbi/setup.py
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/setup.py
  scripts/build_and_publish.sh
Due: pyright

job backfill
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillFragments.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillOpJobPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/RunsFeedBackfillPage.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillFragments.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/BackfillTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/types/useBackfillDetailsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/useBackfillDetailsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/types/InstanceBackfills.types.ts
  js_modules/dagster-ui/packages/ui-core/src/partitions/types/JobBackfillsTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFeedRow.types.ts
Due: none

update automaterialization views to use simplified tick filter
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationEvaluationHistoryTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/InstanceAutomaterializationEvaluationHistoryTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/SensorAutomaterializationEvaluationHistoryTable.tsx
Due: none

[docs-beta] add algolia search when deployed (#24668)
  docs/docs-beta/README.md
  docs/docs-beta/docusaurus.config.ts
Due: none

StateBackedDefinitionsLoader
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_state_backed_defs_loader.py
Due: pyright

comments
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationEvaluationHistoryTable.tsx
Due: none

Allow name to be assigned independently of key in the @asset / @graph_asset decorators
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

[dagster-sigma] Fetch and assign default owners to workbooks
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

update automaterialization views to use simplified tick filter (#24444)
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationEvaluationHistoryTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/InstanceAutomaterializationEvaluationHistoryTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/SensorAutomaterializationEvaluationHistoryTable.tsx
Due: none

[pipes][fix] make DagsterK8sPipesClient.run public APi
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
Due: pyright

asset check test
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/AssetCheckTagCollection.test.tsx
Due: none

small refactor of hidden asset group job check
  js_modules/dagster-ui/packages/ui-core/src/runs/RunAssetCheckTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunAssetTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
Due: none
