Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-airlift] Proxy partitioning working
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/migrated_partitioned.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/migrated_daily_interval_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

[dagster-airlift][misc] section on dealing with changing airflow
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

Make deserializing subsets safer
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
Due: pyright

[dagster-looker] Add support for refinements, extensions
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_extensions/views/base.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_extensions/views/double_extension.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_extensions/views/extension.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_refinements/views/base.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_refinements/views/refinement.view.lkml
Due: pyright

cleanu[p]
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
Due: pyright

[dagster-looker] Fetch dashboards, explores etc in parallel
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

[dagster-airlift][misc] section on dealing with changing airflow (#24980)
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

[docs,dagsters-sigma] add api docs; use pyobject; use dagster as dg (#25336)
  docs/content/_apidocs.mdx
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/sigma.mdx
  docs/next/public/objects.inv
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
Due: docs-mdx-format, pyright

[1.9] Update default value of allow_backfills to True
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple_non_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_with_runs_and_checks.py
Due: pyright

[1.9] Promote hidden params to top-level args in AutomationConditionSensorDefinition
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/500_eager_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_with_runs_and_checks.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/custom_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/default_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_condition_sensor_definition.py
Due: pyright

[1.9] Update deprecation warnings for automation_condition, auto_materialize_policy, and freshness_policy
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_policy.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/freshness_policy.py
Due: pyright

Propagate automation condition information through the UI for user code conditions
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetGroupRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/useAssetTabs.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetGroupRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationAssetSelectionFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationTargetList.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/types/AutomationAssetSelectionFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/nav/JobMetadata.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/types/JobMetadata.types.ts
  js_modules/dagster-ui/packages/ui-core/src/schedules/types/ScheduleAssetSelectionsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/SensorRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/automation_condition.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/custom_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

[1.9] Remove experimental warnings from AutomationCondition static constructors
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
Due: pyright

Add error for user code sensors with too many entities targeted
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_condition_sensor_definition.py
Due: pyright

Add test demonstrating that we do not hit the RESOURCE_EXHAUSTED error above a given threshold
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/500_eager_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/perf_tests/test_perf.py
Due: pyright

Add `executed_with_root_target` condition to handle partial runs / failures
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/__init__.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/operands.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_eager_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
Due: pyright

Create default_automation_condition_sensor in Definitions object
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_sensors.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/utils.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster_tests/definitions_tests/asset_policy_sensors_tests/test_default_auto_materialize_sensors.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/old_code_server_simulation.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

fix
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

Hide non_argument_deps
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/test_annotations.py
Due: docs-mdx-format, pyright

cp
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_defs.py
Due: docs-mdx-format, pyright

publish change
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
  scripts/build_and_publish.sh
Due: pyright

dagster-looker 0.24.12pre1
  python_modules/libraries/dagster-looker/dagster_looker/version.py
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

Hide non_argument_deps
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/test_annotations.py
Due: docs-mdx-format, pyright

dagster-looker 0.24.12rc1
  python_modules/libraries/dagster-looker/dagster_looker/version.py
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

fix
  scripts/build_and_publish.sh
Due: none

[dagster-airlift] Multi code locations working
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_location_dags.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_first_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_second_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_instance.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/constants.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/observation_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/__init__.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/first_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/second_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/workspace.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_multi_code_location.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_observation.py
Due: pyright

unit test merging
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_utils.py
  scripts/build_and_publish.sh
Due: pyright

ruff
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
Due: pyright

update for rst file
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  docs/tox.ini
Due: none

powerbi doc edits
  docs/content/_apidocs.mdx
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/next-env.d.ts
  docs/next/public/objects.inv
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Due: docs-mdx-format, pyright

formatting changes and api references
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/integrations/powerbi.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
Due: docs-mdx-format, pyright

build api docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

Revert "tmp"
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/external_asset.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_on_cron_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/hourly_observable.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

[WIP] Update evaluation id logic
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_asset_daemon_failure_recovery.py
Due: pyright

changelog for 1.8.12
  CHANGES.md
Due: none

changelog for 1.8.12 (#25345)
  CHANGES.md
Due: none

📝 Update outdated class names that were renamed
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

🍱 Update Airflow proxied_dag image
  examples/experimental/dagster-airlift/examples/tutorial-example/images/proxied_dag.png
Due: none

updated docs for tableau using dg and pyobject for api references.
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/integrations/tableau.mdx
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-tableau.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/refresh-and-materialize-tableau-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
Due: docs-mdx-format, pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
