Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

feedback#1
  docs/docs-beta/docs/guides/project-structure.md
Due: none

fix anchors
  docs/docs-beta/docs/guides/project-structure.md
Due: none

simplify intro
  docs/docs-beta/docs/guides/project-structure.md
Due: none

[docs-beta] project structure guide (#23741)
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/sidebars.ts
Due: none

[2/n][dagster-powerbi] scaffold DagsterPowerBITranslator class (#23245)
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

DOC-385 Fix odd breadcrumb rendering (#24095)
  docs/docs-beta/src/styles/custom.scss
Due: none

Search sytles
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
Due: none

Use asset_selection instead of target in airlift polling sensor
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
Due: pyright

DOC-407 DOC-411 DOC-412 Setting up Branch Deployments Guide
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/github.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/gitlab.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/dagster.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/dagster_cloud.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/helm.yaml
Due: none

Use asset_selection instead of target in airlift polling sensor (#24113)
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
Due: pyright

Move and clean up guide
  docs/docs-beta/docs/guides/etl/transform-dbt.md
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
Due: none

Add highlights and comments to examples
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/_source.yml
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/basic-dbt-project/models/example/customers.sql
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions_with_downstream.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions_with_schedule.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/etl/transform-dbt/dbt_definitions_with_upstream.py
Due: pyright

Bump airlift version to 0.12.0
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[docs] Team Management in Dagster+ guide (#24109)
  docs/docs-beta/docs/dagster-plus/access/rbac/teams.md
Due: none

Docathon -- Add Search Styles (#24114)
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
Due: none

rename resource class
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

fix test
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

[3/n][dagster-powerbi] build initial PowerBIResource
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

caps
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

[3/n][dagster-powerbi] build initial PowerBIWorkspace resource (#23246)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

DOC-407 DOC-411 DOC-412 Setting up Branch Deployments Guide (#24073)
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/github.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/gitlab.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/dagster.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/dagster_cloud.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/branch-deployments/helm.yaml
Due: none

Bump airlift version to 0.12.0 (#24115)
  examples/experimental/dagster-airlift/setup.py
Due: pyright

Automation: versioned docs for 1.8.4
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

Refresh Dagster+ K8s agent install guide (#24030)
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
Due: none

[4/n] implement base DagsterPowerBITranslator spec generation
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

add custom translator example
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

assetspec
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[4/n][dagster-powerbi] implement base DagsterPowerBITranslator spec generation (#23247)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[5/n] implement non-cached asset-building fns
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/conftest.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

ruff
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

[5/n][dagster-powerbi] implement non-cached asset-building fns (#23338)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/conftest.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

fix test
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
Due: pyright

[6/n] use asset caching logic for powerbi assets
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/conftest.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

use cacheable assets instead
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

[6/n][dagster-powerbi] publish dagster-powerbi, add apidoc
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  docs/tox.ini
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/version.py
  python_modules/libraries/dagster-powerbi/setup.py
Due: docs-mdx-format, pyright

make the guide
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/data_files_setup.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/example_setup.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_base_image.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_disable_pex.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_no_pex_custom_base_image.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/github_python_version.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_base_image.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_disable_pex.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_python_version.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/gitlab_template.yaml
Due: pyright

readthrough
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/serverless/runtime-environment/data_files_setup.py
Due: pyright

start the doc
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none
