Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Update connector data
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

[4/n][dagster-tableau] Implement fetch_fivetran_workspace_data
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/translator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

Update api mocks
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_resources.py
Due: pyright

Lint
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/test_asset_specs.py
Due: pyright

Update fetch_fivetran_workspace_data
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

Refactor AssetOut to hold AssetSpec
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_context.py
Due: pyright

disable warnings
  python_modules/dagster/dagster/_core/definitions/asset_out.py
Due: pyright

amp
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Due: pyright

warnings
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Due: pyright

hidden spec argument
  python_modules/dagster/dagster/_core/definitions/asset_out.py
Due: pyright

extra params
  python_modules/dagster/dagster/_core/definitions/asset_out.py
Due: pyright

err if adding deps, test
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_context.py
Due: docs-mdx-format, pyright

[core, pipes] escaping slashes in asset keys (#25742)
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster-pipes/dagster_pipes_tests/test_context.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_key.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_in_process_client.py
Due: pyright

Refactor AssetOut to hold AssetSpec (#25789)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_context.py
Due: docs-mdx-format, pyright

parseerror
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
Due: pyright

[dagster-looker] Fix lkml parsing of unions, try/except optimize
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/sqlglot_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_union_no_distinct/views/union_table.view.lkml
Due: pyright

add startdate, end date
  python_modules/libraries/dagster-looker/dagster_looker/lkml/liquid_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_liquid/views/liquid_derived_table.view.lkml
Due: pyright

fix test
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_asset_specs.py
Due: pyright

Make 'multiple Definitions objects' error message more actionable
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/autodiscover_in_module_multiple/__init__.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/autodiscover_in_module_multiple/defs1.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/autodiscover_in_module_multiple/defs2.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
Due: pyright

[dagster-databricks] attach tags and metadata in PipesDatabricksClient
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-databricks/dagster_databricks_tests/test_pipes.py
Due: pyright

Bulk asset editting
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_assets.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/federated_airflow_1.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/federated_airflow_2.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/jaffle_shop.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/utils.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Due: pyright

[dagster-aws] attach tags & metadata in PipesEMRClient
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
Due: pyright

[dagster-aws] attach tags and metadata in PipesEMRServerlessClient
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Due: pyright

[dagster-aws] attach tags and metadata in PipesGlueClient
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Due: pyright

[dagster-aws] attach tags and metadata for PipesECSClient
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Due: pyright

omit run metrics tags on retry
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/tags.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance_reexecution.py
Due: pyright

removes sites implementing back-compatibility with 3.7
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster/_config/pythonic_config/io_manager.py
  python_modules/dagster/dagster/_utils/typing_api.py
Due: pyright

fix ui-core build (#25855)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

removes legacy python classifiers from setup.py
  docs/dagster-ui-screenshot/setup.py
  python_modules/libraries/dagster-deltalake-pandas/setup.py
  python_modules/libraries/dagster-deltalake-polars/setup.py
  python_modules/libraries/dagster-deltalake/setup.py
Due: pyright

[buildkite] use longer commit hash in linked builds
  .buildkite/dagster-buildkite/dagster_buildkite/steps/trigger.py
Due: pyright

omit run metrics tags on retry (#25869)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/tags.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance_reexecution.py
Due: pyright

add launch all button
  js_modules/dagster-ui/packages/ui-core/src/ticks/EvaluateScheduleDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/SensorDryRunDialog.tsx
Due: none

relabel to test sensor/schedule to manual tick
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
Due: none

change to evaluate tick
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
Due: none

[ui] add icons for semantic models, reports
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/scripts/regen_kind_tags.py
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: docs-mdx-format, pyright

[ui] add label icon
  js_modules/dagster-ui/packages/ui-components/src/components/Icon.tsx
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/label.svg
Due: none

Pull out the JsonFormatter used by json_console_logger into a top-level import
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_loggers/__init__.py
Due: pyright

mdx fmt
  docs/content/concepts/metadata-tags/kind-tags.mdx
Due: docs-mdx-format

Update connecting-to-external-services.mdx
  docs/content/tutorial/connecting-to-external-services.mdx
Due: docs-mdx-format
