Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Extract dags_def construction into separate file, write tests, and fix bugs (#23961)
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/build_dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/duckdb_to_csv_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_build_dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/unit_tests/test_duckdb_to_csv_defs.py
Due: pyright

Make dbt example tests integration/unit split
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/__init__.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/unit_tests/__init__.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/unit_tests/test_all_variants_loadable.py
Due: pyright

Make dbt example tests integration/unit split (#23962)
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/__init__.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/unit_tests/__init__.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/unit_tests/test_all_variants_loadable.py
Due: pyright

TODOs in the README
  examples/experimental/dagster-airlift/README.md
Due: none

cp
  examples/experimental/dagster-airlift/README.md
Due: none

[docathon] fix broken link
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
Due: none

[docs-beta] tweaks to configuring assets page (#23969)
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
Due: none

[docathon] include http header x-robots-tag noindex for production deployment
  docs/docs-beta/vercel.json
Due: none

Add stub pages
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs-existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs-new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs.md
Due: none

[docs-revamp] - Add stub pages for Amazon ECS agents (#23972)
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs-existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs-new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs.md
Due: none

[docathon] include http header x-robots-tag noindex for production de… (#23970)
  docs/docs-beta/vercel.json
Due: none

Support cacheable assets
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
Due: pyright

c;
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_cacheable_orchestrated_assets.py
Due: pyright

move to dag defs
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_cacheable_orchestrated_assets.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dag_defs.py
Due: pyright

feedback
  docs/docs-beta/docs/guides/ingestion-and-transformation/ingesting-data.md
Due: none

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/spec_tags_cacheable_assets.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_spec_with_tags_cacheable_assets.py
Due: pyright

[airlift] Initial README update pass
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/images/migrated_dag.png
  examples/experimental/dagster-airlift/images/observe.svg
  examples/experimental/dagster-airlift/images/peer.svg
  examples/experimental/dagster-airlift/images/peer_materialize.svg
  examples/experimental/dagster-airlift/images/state_in_airflow.png
Due: none

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/spec_tags_cacheable_assets.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_spec_with_tags_cacheable_assets.py
Due: pyright

Support SourceAsset in airlift
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dag_defs.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
Due: pyright

[docathon] set noindex in docusaurus config
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/vercel.json
Due: none

[docathon] set noindex in docusaurus config (#23976)
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/vercel.json
Due: none

[docathon] standardize titles to not use `-ing` words
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/automation/configuring.md
  docs/docs-beta/docs/guides/data-modeling/asset-factories.md
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/docs/guides/data-modeling/external-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/guides/data-modeling/selection-syntax.md
  docs/docs-beta/docs/guides/deployment/code-locations.md
  docs/docs-beta/docs/guides/deployment/docker.md
  docs/docs-beta/docs/guides/deployment/secrets.md
  docs/docs-beta/docs/guides/etl/ingesting-data.md
  docs/docs-beta/docs/guides/etl/transform-dbt.md
  docs/docs-beta/docs/guides/external-systems/apis.md
  docs/docs-beta/docs/guides/external-systems/authentication.md
  docs/docs-beta/docs/guides/external-systems/build-your-own.md
  docs/docs-beta/docs/guides/external-systems/cloud-services.md
  docs/docs-beta/docs/guides/external-systems/databases.md
  docs/docs-beta/docs/guides/external-systems/io-managers.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
  docs/docs-beta/docs/guides/external-systems/pipes.md
  docs/docs-beta/docs/guides/monitor-alert/alerting.md
  docs/docs-beta/docs/guides/monitor-alert/custom-logging.md
Due: none

[ui] Try to guard against history loop in useQueryPersistedState
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
Due: none

get_job_name method on PartitionArgs and PartitionNamesArgs
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster/_grpc/types.py
Due: pyright

Check-in minor repo of resource issue and mark suspect code
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dbt_defs_migrated.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_load_dagster.py
Due: pyright

make job_name param on PartitionArgs and PartitionNames args optional
  python_modules/dagster/dagster/_grpc/types.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

update based on review feedback
  examples/experimental/dagster-airlift/README.md
Due: none

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
Due: pyright

[docs] Add dbt & Dagster+ guide for Hybrid deployments (#23683)
  docs/content/_navigation.json
  docs/content/integrations/dbt/using-dbt-with-dagster-plus.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
Due: docs-mdx-format

adhere to other docstrings
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
Due: pyright

Squashed asset factories docs page
  docs/docs-beta/docs/guides/data-modeling/asset-factories.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/advanced-yaml-asset-factory.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/etl_jobs.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/etl_jobs_with_jinja.yaml
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/python-asset-factory.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/simple-yaml-asset-factory.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_beta_snippets/tox.ini
Due: pyright

[docathon] add missing public docstrings op_execution_context, sling translator; exclude _ext from sphinx (#23946)
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/dagster_sling_translator.py
Due: pyright

use strings
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/configurable_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/env_var_configuration.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_minimal_resource_in_asset.py
Due: pyright

first pass
  docs/docs-beta/docs/guides/external-systems/apis.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_resource_in_asset.py
Due: pyright

explaine where resource param comes from
  docs/docs-beta/docs/guides/external-systems/apis.md
Due: none

remove too complicated bit
  docs/docs-beta/docs/guides/external-systems/apis.md
Due: none

fix typo
  docs/docs-beta/docs/guides/external-systems/apis.md
Due: none

add configurable resource
  docs/docs-beta/docs/guides/external-systems/apis.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/configurable_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_minimal_resource_in_asset.py
Due: pyright

env vars
  docs/docs-beta/docs/guides/external-systems/apis.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/env_var_configuration.py
Due: pyright
