Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Add default component generator and use it in some test components
  python_modules/libraries/dagster-components/dagster_components/core/component_generator.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/all_metadata_empty_asset.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_asset.py
Due: pyright

[components] Convert SimplePipesScriptAssetComponent to generator
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_pipes_script_asset.py
Due: pyright

use suspense
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

working
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_asset.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_pipes_script_asset.py
Due: pyright

[components] Eliminate adapters and temporary code for generator
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
Due: pyright

add suppressHydrationWarning
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

Ruff
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
Due: pyright

remove suppressHydrationWarning cuz it was changed to only work 1 level deep :(
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

Make CodeExample block SSRd for better SEO. (#26829)
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
  docs/docs-beta/src/components/CodeExample.tsx
Due: none

Josh feedback: Move the “partition” tag to the target area
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRowTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTargetLink.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

Change tag collection size-to-fit timing to avoid jank
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
Due: none

fix includes
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/dagster_components/generate.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/generator.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component/generator.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_pipes_script_asset.py
Due: pyright

Small Typo (Complimentary → Complementary)
  docs/content/concepts/types.mdx
Due: docs-mdx-format

add new selection syntax to job op graphs
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/OpSelector.tsx
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/GraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/OpGraphSelectionInput.tsx
Due: none

docs: update AutomationConditionSensorDefinition docsrtring
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
Due: pyright

fix links
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/index.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-partitioned-asset.md
  docs/docs-beta/src/theme/NotFound/Content/index.tsx
Due: none

fix another link
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-a-downstream-asset.md
Due: none

track engagement
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInputParser.ts
Due: none

change file name and title for consistency
  docs/docs-beta/docs/etl-pipeline-tutorial/create-a-sensor-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/refactor-your-project.md
Due: none

compile works a bit better, still bugs though and some fields are missing
  python_modules/dagster/dagster/_serialization/base/scribe.py
  python_modules/dagster/dagster/_serialization/capnproto/compile.py
  python_modules/dagster/dagster/_serialization/capnproto/scribe.py
  python_modules/dagster/dagster/_serialization/capnproto/types.py
  python_modules/dagster/dagster_tests/general_tests/test_serialization.py
Due: pyright

[embedded-elt][sling] Correctly get an object_key when a stream has an empty config (#26797)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
Due: pyright

fix clicking on result
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none

fix tag attribute value
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.g4
  js_modules/dagster-ui/packages/ui-core/src/selection/createSelectionLinter.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteListener.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteVisitor.ts
Due: none

Remove slow validation code in get_partition_set_execution_param_data (#26810)
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

move assets concepts up one level and move metadata content
  docs/docs-beta/docs/guides/build/assets-concepts/asset-dependencies.md
  docs/docs-beta/docs/guides/build/assets-concepts/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/build/assets-concepts/asset-factories.md
  docs/docs-beta/docs/guides/build/assets-concepts/asset-materialization.md
  docs/docs-beta/docs/guides/build/assets-concepts/asset-metadata.md
  docs/docs-beta/docs/guides/build/assets-concepts/configuring-assets.md
  docs/docs-beta/docs/guides/build/assets-concepts/index.md
  docs/docs-beta/docs/guides/build/assets-concepts/selection-syntax.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/assets-concepts/asset-metadata.md
Due: none

add feature flag
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
Due: none

[SelectionAutoCompleteInput] Fix auto-complete for tags that have both a key and value (#26847)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.g4
  js_modules/dagster-ui/packages/ui-core/src/selection/createSelectionLinter.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteListener.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteVisitor.ts
Due: none

Track engagement of new selection syntax (#26839)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInputParser.ts
Due: none

[ui] Lint cleanup
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInputParser.ts
Due: none

Add new selection syntax to job op graphs (#26836)
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/OpSelector.tsx
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/GraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/OpGraphSelectionInput.tsx
Due: none

Pin marshmallow
  python_modules/libraries/dagster-airlift/setup.py
Due: pyright

[ui] Lint cleanup (#26852)
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
Due: none

[ui] Add Teradata icon for `kind` tags (#26782)
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-teradata-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-teradata-color.svg
Due: docs-mdx-format

future proof
  js_modules/dagster-ui/packages/ui-core/src/pipelines/OpGraphSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none

[dagster-airlift] Pin marshmallow (#26853)
  python_modules/libraries/dagster-airlift/setup.py
Due: pyright

[dagster-gcp] live tests (#26761)
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_nightly_pipeline.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  integration_tests/test_suites/dagster-gcp-live-tests/gcp_test_proj/__init__.py
  integration_tests/test_suites/dagster-gcp-live-tests/gcp_test_proj/defs.py
  integration_tests/test_suites/dagster-gcp-live-tests/integration_tests/__init__.py
  integration_tests/test_suites/dagster-gcp-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-gcp-live-tests/integration_tests/dagster-yamls/json-credentials.yaml
  integration_tests/test_suites/dagster-gcp-live-tests/integration_tests/test_compute_log_manager.py
  integration_tests/test_suites/dagster-gcp-live-tests/setup.py
  integration_tests/test_suites/dagster-gcp-live-tests/tox.ini
Due: pyright

Document bare check result in op behavior
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_op.py
Due: pyright

Document bare check result in op behavior (#26726)
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_op.py
Due: pyright

[SelectionAutoCompleteInput] Fix clicking on auto-complete result. (#26844)
  js_modules/dagster-ui/packages/ui-core/src/pipelines/OpGraphSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none
