Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

feat(cli.project): enable optional minimalist configuration in templates
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/__init__.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.tmpl
  python_modules/dagster/dagster_tests/cli_tests/test_project_commands.py
Due: pyright

rm unneeded project list entry
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

appease pyright
  python_modules/dagster/dagster/_generate/generate.py
Due: pyright

resolve make ruff
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/generate.py
Due: pyright

use context to invoke scaffold command
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/download.py
  python_modules/dagster/dagster_tests/cli_tests/test_project_commands.py
Due: pyright

dagster-looker 0.24.14rc4
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

[dagster-airlift] Expand migration section of tutorial
  docs/content/integrations/airlift/tutorial.mdx
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/csv_operators.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/csv_operators_complete.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/raw_customers.csv
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate_dag_level.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/partial_migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/peer_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/standalone.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/complete/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/complete/export_duckdb_to_csv.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/complete/load_csv_to_duckdb.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/constants.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/dbt/profiles.yml
Due: docs-mdx-format, pyright

[dagster-powerbi] Mark PowerBI loading method as experimental
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

[dagster-sigma] Mark Sigma loading method as experimental
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

test
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

Various 1.9 kind cleanups
  js_modules/dagster-ui/packages/ui-core/src/graph/KindTags.tsx
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/definitions/tags/__init__.py
Due: pyright

rm old test
  js_modules/dagster-ui/packages/ui-core/src/graph/KindTags.tsx
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
Due: pyright

eat(cli): add `dagster project scaffold --excludes foo` option
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/download.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/setup.cfg.tmpl
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER/__init__.py
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER/assets.py
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER/definitions.py.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER_tests/__init__.py
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER_tests/test_assets.py.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/README.md.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/pyproject.toml.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/setup.cfg.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/setup.py.jinja
  python_modules/dagster/dagster_tests/cli_tests/test_project_commands.py
  scripts/install_dev_python_modules.py
Due: pyright

add BI integations to docs navigation
  docs/content/_navigation.json
Due: docs-mdx-format

do runs table backfill id migration by run tags table
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

update
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

small update
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

dont update if already set
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

access vals correctly
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

Various 1.9 kind cleanups (#25518)
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/definitions/tags/__init__.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
Due: pyright

[dagster-powerbi] Mark PowerBI loading method as experimental (#25591)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

[dagster-sigma] Mark Sigma loading method as experimental (#25592)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

[docs] Pass on kind docs
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/content/concepts/metadata-tags/tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/kinds.svg
Due: docs-mdx-format

Unexperimentalize asset tag params
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Due: pyright

do runs table backfill id migration by run tags table (#25581)
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

apidoc
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
Due: docs-mdx-format

[dagster-sigma] Update Sigma documentation to showcase new API patterns
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
Due: docs-mdx-format, pyright

[ui] Resolve AMP state before handling Overview AMP route (#25496)
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
Due: none

[ui] Eliminate legacy nav (#25583)
  js_modules/dagster-ui/packages/ui-core/src/app/App.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/AppTopNav/AppTopNavLinks.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/settings/SettingsMainPane.tsx
Due: none

[dagster-tableau] Make new Power BI semantic model refresh fn experimental
  python_modules/libraries/dagster-powerbi/dagster_powerbi/assets.py
Due: pyright

provide limit in get_run_record_by_id
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

run make mdx-full-format
  docs/content/integrations/sigma.mdx
Due: docs-mdx-format

provide limit in get_run_record_by_id (#25600)
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

fix pyright
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/generate.py
Due: pyright

[dagster-airlift] Move snippets to snippets folder
  docs/content/integrations/airlift/tutorial.mdx
  examples/docs_snippets/docs_snippets/integrations/airlift/__init__.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/__init__.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/all_proxied.yaml
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/custom_operator_examples/__init__.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/custom_operator_examples/custom_dag_level_proxy.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/custom_operator_examples/custom_proxy.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/custom_operator_examples/plus_proxy_operator.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/custom_operator_examples/proxied_state/custom_dag_level_proxy_example.yaml
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/custom_operator_examples/proxied_state/custom_proxy_example.yaml
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/dags_truncated.py
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/dbt_proxied.yaml
  examples/docs_snippets/docs_snippets/integrations/airlift/tutorial/rebuild_customers_list.yaml
  examples/docs_snippets/docs_snippets_tests/integrations_tests/airlift_tests/__init__.py
  examples/docs_snippets/docs_snippets_tests/integrations_tests/airlift_tests/test_airlift.py
  examples/docs_snippets/docs_snippets_tests/integrations_tests/airlift_tests/tutorial_tests/__init__.py
  examples/docs_snippets/docs_snippets_tests/integrations_tests/airlift_tests/tutorial_tests/test_snippets.py
Due: docs-mdx-format, pyright

[dagster-looker] Update Looker documentation to showcase new API patterns
  docs/content/integrations/looker.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/looker/materializing-looker-pdts.py
  examples/docs_snippets/docs_snippets/integrations/looker/representing-looker-assets.py
Due: docs-mdx-format, pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
