Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[bugfix] Make ScheduleDefinition.with_job pass tags correctly (#26042)
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_schedule.py
Due: pyright

rewrite auto-complete
  js_modules/dagster-ui/.gitattributes
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionLinter.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionMode.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionSyntaxErrorListener.tsx
  js_modules/dagster-ui/packages/ui-core/src/scripts/generateSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/CustomErrorListener.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.g4
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteHighlighter.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInputParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteUtil.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteListener.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteVisitor.ts
Due: none

[core] consolidate well-known Dagster tags in DagsterRun
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
Due: pyright

[deploy-docker] update example to set concurrency limit and use definitions.py
  examples/deploy_docker/Dockerfile_user_code
  examples/deploy_docker/dagster.yaml
  examples/deploy_docker/definitions.py
  examples/deploy_docker/repo.py
Due: pyright

fix build and automate nav
  docs/docs-beta/docs/guides/automate/index.md
  docs/docs-beta/docs/guides/build/assets-concepts/index.md
  docs/docs-beta/docs/guides/build/index.mdx
  docs/docs-beta/sidebars.ts
Due: none

attempt protobuf cieling bump
  python_modules/dagster/setup.py
  python_modules/libraries/dagster-mlflow/setup.py
Due: pyright

use map instead
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Add run selection syntax on frontend
  js_modules/dagster-ui/.gitattributes
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/run-selection/RunSelection.g4
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/scripts/generateRunSelection.ts
Due: none

Add ANTLR run selection syntax on frontend (#26102)
  js_modules/dagster-ui/.gitattributes
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/run-selection/RunSelection.g4
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/scripts/generateRunSelection.ts
Due: none

Fix tests
  js_modules/dagster-ui/packages/ui-core/src/gantt/__tests__/toGraphQueryItems.test.ts
Due: none

Implement AntlrRunSelectionVisitor on frontend
  js_modules/dagster-ui/packages/ui-core/src/gantt/toGraphQueryItems.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelectionVisitor.ts
Due: none

Add tests
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/__tests__/AntlrRunSelection.test.ts
Due: none

Implement AntlrRunSelectionVisitor on frontend (#26243)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/gantt/__tests__/toGraphQueryItems.test.ts
  js_modules/dagster-ui/packages/ui-core/src/gantt/toGraphQueryItems.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/__tests__/AntlrRunSelection.test.ts
Due: none

Hook up run selection to GanttChart
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/__stories__/GanttChart.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/toGraphQueryItems.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
Due: none

Hook up run selection to GanttChart (#26254)
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/__stories__/GanttChart.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/toGraphQueryItems.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
Due: none

raise exceptions if encountered in threaded concurrency test (#26263)
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

update README
  docs/docs-beta/README.md
Due: none

protobuf ceiling bump (#26271)
  python_modules/dagster/setup.py
  python_modules/libraries/dagster-mlflow/setup.py
Due: pyright

[dagster-airbyte] Scaffold AirbyteCloudWorkspace and AirbyteClient for rework
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
Due: pyright

Update docstring
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
Due: pyright

Update comments and docstrings
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
Due: pyright

Rename AirbyteClient to AirbyteCloudClient
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
Due: pyright

Cache AirbyteWorkspace.get_client
  python_modules/libraries/dagster-airbyte/dagster_airbyte/resources.py
Due: pyright

add concurrency key to the op definition
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/decorators/op_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
Due: pyright

thread concurrency key into execution step
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/execution/plan/plan.py
  python_modules/dagster/dagster/_core/execution/plan/step.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_active.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_execution_plan.ambr
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_op_concurrency.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
Due: pyright

dagster-snowflake: encode private_key str before passing it to serialization.load_pem_private_key()
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Due: pyright

add extract_serialized_job_snap_from_job_data
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/api_tests/api_tests_repo.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_repository.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
Due: pyright

[dagster-azure] fix azure compute log manager credentialing
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/conftest.py
Due: pyright

fix deploy section
  docs/docs-beta/docs/guides/deploy/index.md
  docs/docs-beta/sidebars.ts
Due: none

[dagster-azure] compute log manager tests
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_nightly_pipeline.py
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/templates/helpers/instance/_compute-log-manager.tpl
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/azure_test_proj/defs.py
  integration_tests/test_suites/dagster-azure-live-tests/dagster.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/__init__.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  integration_tests/test_suites/dagster-azure-live-tests/setup.py
  integration_tests/test_suites/dagster-azure-live-tests/tox.ini
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/blob_tests/test_compute_log_manager.py
Due: docs-mdx-format, pyright

[ui] make reload button on RepositoryLocationErrorDialog optional
  js_modules/dagster-ui/packages/ui-core/src/workspace/RepositoryLocationErrorDialog.tsx
Due: none

add index pages to remaining sections:
  docs/docs-beta/docs/guides/build/index.md
  docs/docs-beta/docs/guides/deploy/index.md
  docs/docs-beta/docs/guides/monitor/index.md
  docs/docs-beta/docs/guides/test/index.md
  docs/docs-beta/sidebars.ts
Due: none

[dagster-azure] Generate URL from compute log manager
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
  python_modules/libraries/dagster-azure/dagster_azure/blob/fake_blob_client.py
Due: pyright

[azure-docs] docs on setting up AKS agent
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
Due: docs-mdx-format

[adf-lift][throwaway] initial musings
  examples/experimental/dagster-adlflift/.coveragerc
  examples/experimental/dagster-adlflift/CHANGES.md
  examples/experimental/dagster-adlflift/LICENSE
  examples/experimental/dagster-adlflift/MANIFEST.in
  examples/experimental/dagster-adlflift/README.md
  examples/experimental/dagster-adlflift/conftest.py
  examples/experimental/dagster-adlflift/dagster_adflift/__init__.py
  examples/experimental/dagster-adlflift/dagster_adflift_tests/__init__.py
  examples/experimental/dagster-adlflift/dagster_adflift_tests/test_adf.py
  examples/experimental/dagster-adlflift/py.typed
  examples/experimental/dagster-adlflift/setup.py
  examples/experimental/dagster-adlflift/tox.ini
Due: pyright

[azure-docs] compute log manager docs
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/blob-compute-logs.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/next/public/images/dagster-cloud/azure/azure-blob-storage-logs.png
Due: docs-mdx-format

[azure-docs] Deploying with ACR.
  docs/content/_navigation.json
  docs/content/dagster-plus/deployment/azure/acr-user-code.mdx
  docs/content/dagster-plus/deployment/azure/aks-agent.mdx
  docs/content/dagster-plus/deployment/azure/overview.mdx
  docs/next/public/images/dagster-cloud/azure/dagster-cloud-code-locations.png
  docs/next/public/images/dagster-cloud/azure/github-actions-workflow.png
Due: docs-mdx-format

[components] DbtPorojectComponent
  examples/experimental/dagster-components/dagster_components/__init__.py
  examples/experimental/dagster-components/dagster_components/impls/dbt_project.py
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/defs.yml
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/.gitignore
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/dbt_project.yml
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/customers.sql
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/docs.md
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/orders.sql
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/overview.md
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/schema.yml
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/staging/schema.yml
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/staging/stg_customers.sql
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/staging/stg_orders.sql
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/models/staging/stg_payments.sql
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/profiles.yml
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/seeds/.gitkeep
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/seeds/raw_customers.csv
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/seeds/raw_orders.csv
  examples/experimental/dagster-components/dagster_components_tests/stub_code_locations/dbt_project_location/components/jaffle_shop_dbt/jaffle_shop/seeds/raw_payments.csv
  examples/experimental/dagster-components/dagster_components_tests/test_dbt_project.py
  examples/experimental/dagster-components/dagster_components_tests/utils.py
  examples/experimental/dagster-components/setup.py
  examples/experimental/dagster-components/tox.ini
Due: pyright

remove reference section and clean up API docs
  docs/docs-beta/docs/api/index.mdx
  docs/docs-beta/docs/reference/api-lifecycle.md
  docs/docs-beta/docs/reference/configuration/dagster-yaml.md
  docs/docs-beta/docs/reference/configuration/workspace-yaml.md
  docs/docs-beta/docs/reference/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none
