Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

rm unused ref
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none

[1/n] Update asset selection syntax to use DBT style traversal syntax (python) (#27013)
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/AssetSelection.g4
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/README.md
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/antlr_asset_selection.py
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelection.interp
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelection.tokens
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelectionLexer.interp
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelectionLexer.py
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelectionLexer.tokens
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelectionListener.py
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelectionParser.py
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/generated/AssetSelectionVisitor.py
  python_modules/dagster/dagster/_core/definitions/asset_selection.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_antlr_asset_selection.py
Due: pyright

[2/n] Update selection syntax to use DBT style traversal syntax (javascript) (#27016)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/OpSelection.g4
  js_modules/dagster-ui/packages/ui-core/src/op-selection/__tests__/AntlrOpSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/RunSelection.g4
  js_modules/dagster-ui/packages/ui-core/src/run-selection/__tests__/AntlrRunSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/generated/RunSelectionVisitor.ts
Due: none

flex-start
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
Due: none

Do not try to backfill any unmaterializable assets
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
Due: pyright

flex-start
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none

[3/n] Update selection syntax to use DBT style traversal syntax (Autocomplete) (#27021)
  js_modules/dagster-ui/packages/ui-core/src/op-selection/AntlrOpSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/OpSelection.g4
  js_modules/dagster-ui/packages/ui-core/src/op-selection/__tests__/AntlrOpSelection.test.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.g4
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteListener.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteVisitor.ts
Due: none

[components] Default disallow extra inputs
  python_modules/libraries/dagster-components/dagster_components/core/schema/base.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_extra_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_extra_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/basic_components.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
Due: pyright

Add a missing DaemonErrorCapture callsite (#27053)
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

[windows] Use a single code server
  python_modules/dagster/dagster/_cli/dev.py
  python_modules/dagster/dagster/_core/remote_representation/origin.py
  python_modules/dagster/dagster/_core/types/loadable_target_origin.py
  python_modules/dagster/dagster/_core/workspace/config_schema.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/load.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_grpc_server_registry.py
Due: pyright

flex-start
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

add OSS deployment docs
  docs/docs-beta/docs/guides/deploy/dagster-instance-configuration.md
  docs/docs-beta/docs/guides/deploy/execution/dagster-daemon.md
  docs/docs-beta/docs/guides/deploy/execution/run-coordinators.md
  docs/docs-beta/docs/guides/deploy/execution/run-launchers.md
  docs/docs-beta/docs/guides/deploy/execution/run-monitoring.md
  docs/docs-beta/docs/guides/deploy/execution/run-retries.md
Due: none

add run executors doc
  docs/docs-beta/docs/guides/operate/run-executors.md
Due: none

Make EcsRunLauncher task deduping less strict
  python_modules/libraries/dagster-aws/dagster_aws/ecs/tasks.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/utils.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
Due: pyright

Expand Selection auto-complete input when focused (#27068)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteHighlighter.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none

Add a "task_definition_prefx" config option for EcsRunLauncher. (#27036)
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
Due: pyright

[dagster-azure] default behavior testing (#27041)
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/conftest.py
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/dagster-yamls/default-capture-behavior.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/dagster-yamls/default-credential.yaml
  integration_tests/test_suites/dagster-azure-live-tests/integration_tests/test_compute_log_manager.py
Due: pyright

fix additional_deps not showing up on assetsdefinition
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_check_decorator.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_asset_decorator_with_check_specs.py
Due: pyright

[single-grpc-server] introduce a heartbeat to proxy server
  python_modules/dagster/dagster/_cli/code_server.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_persistent.py
Due: pyright

Use code server start in process context use cases
  python_modules/dagster/dagster/_cli/code_server.py
  python_modules/dagster/dagster/_core/remote_representation/grpc_server_registry.py
  python_modules/dagster/dagster/_core/remote_representation/origin.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_daemon/controller.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_grpc_server_registry.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_persistent.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_ping.py
Due: pyright

Support table metadata in pipes
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_subprocess.py
Due: pyright

[dagster-pipes] rich metadata docs
  .gitignore
  docs/content/concepts/dagster-pipes/subprocess/reference.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/json_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/markdown_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/notebook_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/path_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_column_lineage.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_schema_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/timestamp_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/url_metadata.py
Due: docs-mdx-format, pyright

Incident followup
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
Due: pyright

[dagster-pipes] add references to metadata section
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
Due: docs-mdx-format

Add table support
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_subprocess.py
Due: pyright

[dagster-pipes] support timestamp metadata
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_subprocess.py
Due: pyright

Section on schema change
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
Due: docs-mdx-format, pyright

Improve docstring on schema change checks
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Due: pyright

add more OSS deployment docs
  docs/docs-beta/docs/guides/deploy/dagster-instance-configuration.md
  docs/docs-beta/docs/guides/deploy/deployment-options/amazon-web-services.md
  docs/docs-beta/docs/guides/deploy/deployment-options/aws.md
  docs/docs-beta/docs/guides/deploy/deployment-options/deploying-dagster-as-a-service.md
  docs/docs-beta/docs/guides/deploy/deployment-options/gcp.md
  docs/docs-beta/docs/guides/deploy/deployment-options/google-cloud-platform.md
  docs/docs-beta/docs/guides/deploy/deployment-options/running-dagster-locally.md
  docs/docs-beta/docs/guides/deploy/execution/celery.md
  docs/docs-beta/docs/guides/deploy/execution/dask.md
Due: none

update CONTRIBUTING with info on tabs and admonitions
  docs/docs-beta/CONTRIBUTING.md
Due: none

add deployment architecture doc
  docs/docs-beta/docs/guides/deploy/oss-deployment-architecture.md
Due: none

Allow specifying up front which objects to load
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

test tweaks
  azure-pipelines.yml
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_grpc_server_registry.py
  python_modules/dagster/tox.ini
Due: pyright

move kubernetes docs to directory, update other deployment docs
  docs/docs-beta/docs/guides/deploy/deployment-options/aws.md
  docs/docs-beta/docs/guides/deploy/deployment-options/deploying-dagster-as-a-service.md
  docs/docs-beta/docs/guides/deploy/deployment-options/docker.md
  docs/docs-beta/docs/guides/deploy/deployment-options/gcp.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/customizing-your-deployment.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/deploying-to-kubernetes.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/index.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/migrating-while-upgrading.md
  docs/docs-beta/docs/guides/deploy/deployment-options/microsoft-azure.md
  docs/docs-beta/docs/guides/deploy/deployment-options/running-dagster-locally.md
  docs/docs-beta/docs/guides/deploy/execution/run-launchers.md
Due: none

[components] Default disallow extra inputs (#27079)
  python_modules/libraries/dagster-components/dagster_components/core/schema/base.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_extra_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_extra_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/basic_components.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
Due: pyright

move code locations docs, update deployment docs
  docs/docs-beta/docs/guides/deploy/code-locations/managing-code-locations-with-definitions.md
  docs/docs-beta/docs/guides/deploy/code-locations/managing-code-locations.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/customizing-your-deployment.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/deploying-to-kubernetes.md
  docs/docs-beta/docs/guides/deploy/deployment-options/microsoft-azure.md
Due: none

move test docs
  docs/docs-beta/docs/guides/test/testing-partitioned-config-and-jobs.md
  docs/docs-beta/docs/guides/test/unit-tests-assets-and-ops.md
Due: none

add graphql step stats for non-status steps
  python_modules/dagster-graphql/dagster_graphql/schema/logs/events.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs.py
Due: pyright

Allow specifying up front which objects to load (#27080)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

Migrate airlift docs
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission-the-airflow-dag.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/index.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer-to-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/set-up-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/setup.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
