Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

tidy up hash_str (#24567)
  python_modules/dagster/dagster/_serdes/utils.py
Due: pyright

feat(looker): implement cacheable assets (#24562)
  python_modules/libraries/dagster-looker/dagster_looker/cacheable_assets.py
  python_modules/libraries/dagster-looker/dagster_looker/resource.py
  python_modules/libraries/dagster-looker/dagster_looker/translator.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/mock_looker_data.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/test_cacheable_assets.py
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

Add a "hasReportRunlessAssetEventPermission' field to GrapheneAssetNode (#24564)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
Due: pyright

[lazy-defs] Add reconstruction metadata to PowerBI integration (#24403)
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

dynamic row height for runs-feed
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

[ui] Permission check for reporting materialization event
  js_modules/dagster-ui/packages/app-oss/next-env.d.ts
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetActionMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetView.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/useReportEventsModal.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
Due: none

[ui] Permission check for reporting materialization event (#24571)
  js_modules/dagster-ui/packages/app-oss/next-env.d.ts
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetActionMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetView.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/useReportEventsModal.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
Due: none

changelog
  CHANGES.md
Due: none

add `job_name` property to partition backfill (#24539)
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster/_core/execution/backfill.py
Due: pyright

[docs] - Fix example in Spark/Pandas SDA guide (#15908)
  docs/content/guides/dagster/software-defined-assets.mdx
  examples/assets_pandas_pyspark/assets_pandas_pyspark/local_spark_filesystem_io_manager.py
Due: docs-mdx-format, pyright

[daggy-u] - Misc. formatting changes (#17287)
  docs/dagster-university/pages/dagster-essentials/lesson-2/project-files.md
  docs/dagster-university/pages/dagster-essentials/lesson-8/coding-practice-partition-taxi-trips.md
Due: none

[docs-revamp] - Clean up metadata guide (#24400)
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/metadata.md
  docs/docs-beta/docs/partials/_Experimental.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/oss-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/plus-references.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/metadata/python-local-references.py
Due: pyright

[docs-revamp] - Clean up Unit testing guide (#24514)
  docs/docs-beta/docs/guides/unit-tests-assets-and-ops.md
Due: none

First pass
  docs/docs-beta/docs/guides/schedules.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition-ops.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition.py
Due: pyright

Silence ruff
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition-ops.py
Due: pyright

Ruff
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition-ops.py
Due: pyright

Attempt to fix example
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition-ops.py
Due: pyright

[docs] Add missing import to build_schedule_from_partitioned_job docstring (#24530)
  python_modules/dagster/dagster/_core/definitions/partitioned_schedule.py
Due: pyright

[docs] also use 'allowlist' when referencing 'whitelist' (#23737)
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

[docs-revamp] - Clean up Schedules guide (#24453)
  docs/docs-beta/docs/guides/schedules.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition-ops.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition.py
Due: pyright

test
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
Due: pyright

add tox:integrations
  examples/docs_beta_snippets/docs_beta_snippets/integrations/databricks/dagster_code.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt_cloud.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/hashicorp.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/hightouch.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
  examples/docs_beta_snippets/tox.ini
Due: pyright

skip two kinds. all others green
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  docs/docs-beta/docs/integrations/dbt.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/defs.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/.gitignore
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/dbt_project.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/customers.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/docs.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/orders.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/overview.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/schema.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/schema.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/stg_customers.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/stg_orders.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/stg_payments.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/profiles.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/.gitkeep
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/raw_customers.csv
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/raw_orders.csv
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/raw_payments.csv
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt_cloud.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dlt.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/pandera.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/sdf.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
  examples/docs_beta_snippets/tox.ini
Due: pyright

fix glue, skip dbt
  examples/docs_beta_snippets/docs_beta_snippets/integrations/aws-glue.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt.py
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/.gitignore
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/dbt_project.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/customers.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/docs.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/orders.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/overview.md
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/schema.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/schema.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/stg_customers.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/stg_orders.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/models/staging/stg_payments.sql
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/profiles.yml
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/.gitkeep
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/raw_customers.csv
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/raw_orders.csv
  examples/docs_beta_snippets/docs_beta_snippets/integrations/dbt/my_dbt_project/seeds/raw_payments.csv
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
Due: pyright

test
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/docs_beta_snippets/tox.ini
Due: pyright

test
  examples/docs_beta_snippets/tox.ini
Due: none

real errors left!
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
  examples/docs_beta_snippets/tox.ini
Due: pyright

i think its looking good
  docs/docs-beta/docs/integrations.md
  docs/docs-beta/docs/integrations/aws/index.md
  docs/docs-beta/docs/integrations/gcp/index.md
  docs/docs-beta/docs/integrations/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none

v1
  docs/docs-beta/docs/integrations/aws/athena.md
  docs/docs-beta/docs/integrations/aws/cloudwatch.md
  docs/docs-beta/docs/integrations/aws/ecr.md
  docs/docs-beta/docs/integrations/aws/emr.md
  docs/docs-beta/docs/integrations/aws/glue.md
  docs/docs-beta/docs/integrations/aws/lambda.md
  docs/docs-beta/docs/integrations/aws/redshift.md
  docs/docs-beta/docs/integrations/aws/s3.md
  docs/docs-beta/docs/integrations/aws/secretsmanager.md
  docs/docs-beta/docs/integrations/aws/ssm.md
  docs/docs-beta/docs/integrations/gcp/bigquery.md
  docs/docs-beta/docs/integrations/gcp/dataproc.md
  docs/docs-beta/docs/integrations/gcp/gcs.md
  docs/docs-beta/sidebars.ts
Due: none

sidebar bucketed in categories
  docs/docs-beta/docs/integrations.md
  docs/docs-beta/sidebars.ts
Due: none

v2
  docs/docs-beta/sidebars.ts
Due: none

v3
  docs/docs-beta/sidebars.ts
Due: none

integration docs beta 3/ integration sidebar and landing page [DS-479] (#24393)
  docs/docs-beta/docs/integrations.md
  docs/docs-beta/docs/integrations/aws/athena.md
  docs/docs-beta/docs/integrations/aws/cloudwatch.md
  docs/docs-beta/docs/integrations/aws/ecr.md
  docs/docs-beta/docs/integrations/aws/emr.md
  docs/docs-beta/docs/integrations/aws/glue.md
  docs/docs-beta/docs/integrations/aws/index.md
  docs/docs-beta/docs/integrations/aws/lambda.md
  docs/docs-beta/docs/integrations/aws/redshift.md
  docs/docs-beta/docs/integrations/aws/s3.md
  docs/docs-beta/docs/integrations/aws/secretsmanager.md
  docs/docs-beta/docs/integrations/aws/ssm.md
  docs/docs-beta/docs/integrations/gcp/bigquery.md
  docs/docs-beta/docs/integrations/gcp/dataproc.md
  docs/docs-beta/docs/integrations/gcp/gcs.md
  docs/docs-beta/docs/integrations/gcp/index.md
  docs/docs-beta/docs/integrations/index.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none

update build-docs-revamp gh action to default to configured custom domains
  .github/workflows/build-docs-revamp.yml
Due: none

update build-docs-revamp gh action to default to configured custom domains (#24579)
  .github/workflows/build-docs-revamp.yml
Due: none

Set virtualized row height dynamically for runs feed (#24570)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
