Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[components] Allow generate command to be paramterized
  examples/experimental/dagster-components/dagster_components/cli/generate.py
  examples/experimental/dagster-components/dagster_components/core/component.py
  examples/experimental/dagster-components/dagster_components/generate.py
  examples/experimental/dagster-components/dagster_components/impls/dbt_project.py
  examples/experimental/dagster-components/dagster_components/templates/COMPONENT_INSTANCE_NAME_PLACEHOLDER/defs.yml.jinja
Due: pyright

move config docs to OSS deploy section, reorganize API docs
  docs/docs-beta/docs/guides/deploy/code-locations/index.mdx
  docs/docs-beta/docs/guides/deploy/code-locations/managing-code-locations.md
  docs/docs-beta/docs/guides/deploy/code-locations/workspace-yaml.md
  docs/docs-beta/docs/guides/deploy/dagster-yaml.md
  docs/docs-beta/docs/guides/deploy/secrets.md
  docs/docs-beta/sidebars.ts
Due: none

make code locations section visible
  docs/docs-beta/docs/guides/deploy/code-locations/index.mdx
Due: none

[graphql] defend against hang in backfill test (#26136)
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
Due: pyright

mo
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteVisitor.ts
Due: none

all tests fixed
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
Due: none

Fix callsite in k8s run launcher termination where we were making an unneeded and potentially expensive event log fetch
  python_modules/libraries/dagster-k8s/dagster_k8s/launcher.py
Due: pyright

[DA] Update docs
  docs/content/concepts/automation/declarative-automation/automation-conditions-explained.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/__init__.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/all_parents_condition.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_missing_upstreams.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/blocking_checks_condition.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/ignore_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/update_older_time_partitions.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/update_specific_older_partition.py
Due: docs-mdx-format, pyright

revert random changes
  python_modules/dagster-webserver/dagster_webserver/graphiql/graphiql.min.js
Due: none

update how we determine backfill completion to account for retried runs
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
Due: pyright

formatting fix
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

test
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

small fixes
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

test for auto retries
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

small
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

fix
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

turn run retries on for backfill tests
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/conftest.py
Due: pyright

update to use tags and add logging
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
Due: pyright

util fn
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
Due: pyright

tag update
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

Fix callsite in k8s run launcher termination where we were making an unneeded and potentially expensive event log fetch (#26288)
  python_modules/libraries/dagster-k8s/dagster_k8s/launcher.py
Due: pyright

[DA] Update docs (#26262)
  docs/content/concepts/automation/declarative-automation/automation-conditions-explained.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/__init__.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/all_parents_condition.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_missing_upstreams.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/blocking_checks_condition.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/ignore_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/update_older_time_partitions.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/update_specific_older_partition.py
Due: docs-mdx-format, pyright

1.9.4 changelog
  CHANGES.md
Due: none

[ui] Bump ui-components version to 1.2.0
  js_modules/dagster-ui/packages/ui-components/CHANGES.md
  js_modules/dagster-ui/packages/ui-components/package.json
Due: none

[fix] Allow a backfill to target a selection of assets of which only a subset have backfill policies
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill_with_backfill_policies.py
Due: pyright

[backfill daemon run retries 1/n] update how we determine backfill completion to account for retried runs (#25771)
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/conftest.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

backfill daemon incorporates retries runs
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

add back
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
