Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[core-api][experimental] AutomationCondition.any_downstream_conditions (#26707)
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/last_update.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/sensor.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/time_partition.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/metadata_bounds_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/external_asset.py
  python_modules/dagster/dagster/_core/definitions/input.py
  python_modules/dagster/dagster/_core/definitions/metadata/source_code.py
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/definitions/result.py
  python_modules/dagster/dagster/_core/definitions/run_request.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
Due: pyright

tmp
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Due: pyright

edits for new docs site
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/index.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/setup.md
  docs/docs-beta/static/images/guides/migrate/airlift/after_dag_override.png
  docs/docs-beta/static/images/guides/migrate/airlift/asset_check_peered_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/before_dag_override.png
  docs/docs-beta/static/images/guides/migrate/airlift/customer_metrics.png
  docs/docs-beta/static/images/guides/migrate/airlift/dag_lineage.png
  docs/docs-beta/static/images/guides/migrate/airlift/load_customers.png
  docs/docs-beta/static/images/guides/migrate/airlift/load_customers_mat.png
  docs/docs-beta/static/images/guides/migrate/airlift/observe.svg
  docs/docs-beta/static/images/guides/migrate/airlift/observe_warehouse.png
  docs/docs-beta/static/images/guides/migrate/airlift/only_load_customers.png
  docs/docs-beta/static/images/guides/migrate/airlift/partitioned_mat.png
  docs/docs-beta/static/images/guides/migrate/airlift/peer.svg
  docs/docs-beta/static/images/guides/migrate/airlift/peer_check_success.png
  docs/docs-beta/static/images/guides/migrate/airlift/peer_materialize.svg
  docs/docs-beta/static/images/guides/migrate/airlift/proxied_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/rebuild_customers_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/state_in_airflow.png
Due: none

add support for run-granularity op concurrency
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/run_coordinator/queued_run_coordinator.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_daemon/run_coordinator/queued_run_coordinator_daemon.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/merged_run_coordinator_concurrency.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/merged_run_queue_concurrency.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance_config.py
  python_modules/dagster/dagster_tests/daemon_tests/test_locations/concurrency_limited_workspace.py
  python_modules/dagster/dagster_tests/daemon_tests/test_queued_run_coordinator_daemon.py
Due: pyright

add concurrency config schema
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_core/run_coordinator/queued_run_coordinator.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/error_run_coordinator_concurrency_mismatch.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/error_run_queue_concurrency_mismatch.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/merged_run_coordinator_concurrency.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_config/merged_run_queue_concurrency.yaml
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance_config.py
Due: pyright

add column to track limits set by the default
  python_modules/dagster/dagster/_core/execution/plan/instance_concurrency_context.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/storage/alembic/versions/048_7e2f3204cf8e_add_column_concurrency_default_limit.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/schema.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_instance_concurrency_context.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Try to more explicitly narrow the type with TypeIs
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/setup.py
Due: pyright

Don't use bound type alias; use type union instead
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
Due: pyright

Section on schema change (#27066)
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
Due: docs-mdx-format, pyright

Improve docstring on schema change checks (#27065)
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Due: docs-mdx-format, pyright

[dagster-pipes] add references to metadata section (#26999)
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Due: docs-mdx-format, pyright

[dagster-pipes] rich metadata docs (#26998)
  .gitignore
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/content/concepts/dagster-pipes/subprocess/reference.mdx
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/json_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/markdown_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/notebook_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/path_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_column_lineage.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_schema_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/timestamp_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/url_metadata.py
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Due: docs-mdx-format, pyright

update CONTRIBUTING
  docs/docs-beta/CONTRIBUTING.md
Due: none

unhide index page
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/index.md
Due: none

Airlift migration guide -> New docs site (#27086)
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission-the-airflow-dag.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/decomission.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/index.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/migrate.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe-assets.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/observe.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer-to-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/peer.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/set-up-local-airflow.md
  docs/docs-beta/docs/guides/migrate/airflow-to-dagster/setup.md
  docs/docs-beta/static/images/guides/migrate/airlift/after_dag_override.png
  docs/docs-beta/static/images/guides/migrate/airlift/asset_check_peered_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/before_dag_override.png
  docs/docs-beta/static/images/guides/migrate/airlift/customer_metrics.png
  docs/docs-beta/static/images/guides/migrate/airlift/dag_lineage.png
  docs/docs-beta/static/images/guides/migrate/airlift/load_customers.png
  docs/docs-beta/static/images/guides/migrate/airlift/load_customers_mat.png
  docs/docs-beta/static/images/guides/migrate/airlift/observe.svg
  docs/docs-beta/static/images/guides/migrate/airlift/observe_warehouse.png
  docs/docs-beta/static/images/guides/migrate/airlift/only_load_customers.png
  docs/docs-beta/static/images/guides/migrate/airlift/partitioned_mat.png
  docs/docs-beta/static/images/guides/migrate/airlift/peer.svg
  docs/docs-beta/static/images/guides/migrate/airlift/peer_check_success.png
  docs/docs-beta/static/images/guides/migrate/airlift/peer_materialize.svg
  docs/docs-beta/static/images/guides/migrate/airlift/proxied_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/rebuild_customers_dag.png
  docs/docs-beta/static/images/guides/migrate/airlift/state_in_airflow.png
Due: none

update slack bot name
  docs/docs-beta/docs/dagster-plus/features/alerts/configuring-an-alert-notification-service.md
Due: none

update from old PR
  docs/docs-beta/docs/guides/deploy/deployment-options/running-dagster-locally.md
Due: none

update from old PR
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
Due: none

add pages for missing community integrations
  docs/docs-beta/docs/integrations/libraries/dingtalk.md
  docs/docs-beta/docs/integrations/libraries/gcp/cloud-run-launcher.md
  docs/docs-beta/docs/integrations/libraries/hashicorp-nomad.md
  docs/docs-beta/docs/integrations/libraries/hex.md
  docs/docs-beta/docs/integrations/libraries/modal.md
  docs/docs-beta/docs/integrations/libraries/mssql-bulk-copy-tool
  docs/docs-beta/docs/integrations/libraries/perian.md
  docs/docs-beta/docs/integrations/libraries/ray.md
  docs/docs-beta/docs/tags.yml
Due: none

remove redundant page
  docs/docs-beta/docs/guides/automate/about-automation.md
Due: none

migrate changes from old docs PRs
  docs/docs-beta/docs/guides/automate/sensors/index.md
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
Due: none

fix tags file, fix tag
  docs/docs-beta/docs/integrations/libraries/mssql-bulk-copy-tool
  docs/docs-beta/docs/tags.yml
Due: none

formatting fixes, images
  docs/docs-beta/docs/about/contributing.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/azure/acr-user-code.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/azure/aks-agent.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/azure/blob-compute-logs.md
  docs/docs-beta/docs/guides/automate/schedules/defining-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/testing-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/troubleshooting-schedules.md
  docs/docs-beta/docs/guides/automate/sensors/monitoring-sensors-in-the-dagster-ui.md
  docs/docs-beta/docs/guides/automate/sensors/testing-sensors.md
  docs/docs-beta/docs/integrations/libraries/ray.md
  docs/docs-beta/docs/integrations/libraries/tableau.md
  docs/docs-beta/static/images/about/community/md-code-block.png
  docs/docs-beta/static/images/about/community/py-code-block.png
  docs/docs-beta/static/images/dagster-plus/deployment/azure/azure-blob-storage-logs.png
  docs/docs-beta/static/images/dagster-plus/deployment/azure/dagster-cloud-code-locations.png
  docs/docs-beta/static/images/dagster-plus/deployment/azure/github-actions-workflow.png
  docs/docs-beta/static/images/guides/automate/schedules/deployment-daemons-tab.png
  docs/docs-beta/static/images/guides/automate/schedules/eval-schedule-result-page.png
  docs/docs-beta/static/images/guides/automate/schedules/schedules-enabled-toggle.png
  docs/docs-beta/static/images/guides/automate/schedules/schedules-next-tick.png
  docs/docs-beta/static/images/guides/automate/schedules/schedules-tab-toggle.png
  docs/docs-beta/static/images/guides/automate/schedules/select-timestamp-page.png
  docs/docs-beta/static/images/guides/automate/schedules/test-schedule-button.png
  docs/docs-beta/static/images/guides/automate/schedules/testing-select-timestamp-page.png
  docs/docs-beta/static/images/guides/automate/sensors/all-sensors.png
  docs/docs-beta/static/images/guides/automate/sensors/eval-result-page.png
  docs/docs-beta/static/images/guides/automate/sensors/provide-cursor-page.png
  docs/docs-beta/static/images/guides/automate/sensors/test-sensor-button.png
Due: none

lots of link fixes
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/azure/acr-user-code.md
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/customizing-agent-settings.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/index.md
  docs/docs-beta/docs/dagster-plus/features/insights/asset-metadata.md
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/automation-condition-operands-and-operators.md
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/example-customizations.md
  docs/docs-beta/docs/guides/automate/index.md
  docs/docs-beta/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs-beta/docs/guides/automate/schedules/customizing-execution-timezone.md
  docs/docs-beta/docs/guides/automate/schedules/troubleshooting-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/using-resources-in-schedules.md
  docs/docs-beta/docs/guides/automate/sensors/run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/using-resources-in-sensors.md
  docs/docs-beta/docs/guides/build/assets/defining-assets.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs-beta/docs/guides/build/external-pipelines/pyspark-pipeline.md
  docs/docs-beta/docs/guides/deploy/webserver.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

lots of dagster+ docs updates
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/azure/acr-user-code.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/setup.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/index.md
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/agent-tokens.md
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/user-tokens.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/dagster-cloud-cli.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/using-branch-deployments-with-the-cli.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/configuring-ci-cd.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/guides/build/io-managers/index.md
  docs/docs-beta/static/images/dagster-plus/branch-deployments/branch-deployments.png
  docs/docs-beta/static/images/dagster-plus/branch-deployments/dagster-ui-deployment-switcher.png
  docs/docs-beta/static/images/dagster-plus/branch-deployments/github-aws-ecr.png
  docs/docs-beta/static/images/dagster-plus/branch-deployments/github-cloud-preview-link.png
  docs/docs-beta/static/images/dagster-plus/branch-deployments/github-dockerhub.png
  docs/docs-beta/static/images/dagster-plus/branch-deployments/github-preview-link-click.gif
Due: none

fix links
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/agent-tokens.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/using-branch-deployments-with-the-cli.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/automation-condition-operands-and-operators.md
  docs/docs-beta/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs-beta/docs/guides/automate/schedules/defining-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/using-resources-in-schedules.md
  docs/docs-beta/docs/guides/automate/sensors/index.md
  docs/docs-beta/docs/guides/automate/sensors/run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-sensors.md
  docs/docs-beta/docs/integrations/libraries/tableau.md
Due: none

Adding code to fetch more metadata from tableau and showing embedded data sources as well in connections
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
Due: pyright

updates from old docs PRs
  docs/docs-beta/CONTRIBUTING.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/integrations/libraries/dlt.md
  docs/docs-beta/docs/integrations/libraries/pandera.md
Due: none

add missing powerbi and sigma integrations docs
  docs/docs-beta/CONTRIBUTING.md
  docs/docs-beta/docs/integrations/libraries/powerbi.md
  docs/docs-beta/docs/integrations/libraries/sigma.md
  docs/docs-beta/static/images/integrations/powerbi.svg
Due: none

no logo for this one
  docs/docs-beta/docs/integrations/libraries/sigma.md
Due: none

updates from old PRs
  docs/docs-beta/docs/integrations/guides/integration-approaches.md
  docs/docs-beta/docs/integrations/libraries/dlt.md
  docs/docs-beta/docs/integrations/libraries/sling.md
Due: none

separate configured limit from slot count
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/graphql_context_test_suite.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_instance.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_utils/concurrency.py
Due: pyright

UI references to pools
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/SidebarAssetInfo.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/SidebarAssetInfo.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeDefinition.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetSidebarActivitySummary.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/ComputeDetailsSection.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetNodeDefinition.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetView.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/InstanceConcurrency.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/PoolTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/types/InstanceConcurrency.types.ts
  js_modules/dagster-ui/packages/ui-core/src/ops/types/OpDetailsRoot.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/SidebarOp.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/SidebarOpDefinition.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/SidebarOp.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/SidebarOpDefinition.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
Due: none

run graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
Due: pyright

runs ui
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/runs/RunFragments.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunHeaderActions.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunPoolsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/types/RunActionButtonsTestQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunFragments.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunRoot.types.ts
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
