Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[single-implicit-asset-job] methods on `CodeLocation` to get job partitions, partition tags, and partition config, with asset selection (#23491)
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/backfill.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster/dagster/_api/snapshot_partition.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/definitions/job_definition.py
  python_modules/dagster/dagster/_core/definitions/run_request.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
  python_modules/dagster/dagster_tests/api_tests/utils.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

[single-implicit-asset-job] add `partitionKeysOrError` and `partition` to `GrapheneJob` (#23494)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/utils.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_keys.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_job_partitions.py
Due: pyright

[ui] Use single hidden asset job for all single-run asset executions (#23747)
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/RunningBackfillsNotice.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetChoosePartitionsDialog.fixtures.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetExecutionButton.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetChoosePartitionsDialog.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetExecutionButton.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/LaunchAssetExecutionButton.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/RunningBackfillsNotice.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigFetch.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigEditorConfigPicker.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigFetch.types.ts
Due: none

Revert "revert single implicit asset job (#23607)" (#23777)
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_sensors.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster-test/dagster_test_tests/toys_tests/partitioned_assets_tests/test_hourly_and_daily_and_unpartitioned.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_external_data.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_repository_definition.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[dagster-airlift] peer/observe/migrate for dbt example (#23614)
  examples/experimental/dagster-airlift/examples/dbt-example/.vscode/settings.json
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/README.md
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dbt_dag.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/__init__.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/peer.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/test_load_dagster.py
Due: pyright

Allow attaching IO managers to specs (#23674)
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
Due: pyright

last pass ignore text inputs
  js_modules/dagster-ui/packages/ui-components/src/components/TextInput.tsx
Due: none

[docs-beta] value -> vale (#23790)
  docs/docs-beta/README.md
Due: none

fix
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

fix
  js_modules/dagster-ui/packages/ui-components/src/components/TextInput.tsx
Due: none

[ui] Make CodeLocationTabs a shared component (#23769)
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationTabs.oss.tsx
Due: none

switch tick filters to contained set rather than every permutation
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
Due: none

Make last pass ignore TextInput (#23791)
  js_modules/dagster-ui/packages/ui-components/src/components/TextInput.tsx
Due: none

[ui] Code location: Graphs page
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsMain.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationGraphsList.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/__fixtures__/CodeLocationPages.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/code-location/__stories__/CodeLocationDefinitionsRoot.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceGraphsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceGraphsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/extractGraphsForRepo.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceGraphsQuery.types.ts
Due: none

[ui] Code location: Graphs page (#23738)
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsMain.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationGraphsList.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/__fixtures__/CodeLocationPages.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/code-location/__stories__/CodeLocationDefinitionsRoot.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceGraphsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceGraphsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/extractGraphsForRepo.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceGraphsQuery.types.ts
Due: none

Fix bug: "Asset Group list view shows entire catalog" (#23792)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

[ui] Code location: Asset page
  js_modules/dagster-ui/packages/ui-core/src/assets/__stories__/AssetTables.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationAssetsList.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsMain.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/__fixtures__/CodeLocationPages.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/code-location/__stories__/CodeLocationDefinitionsRoot.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedRepoAssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceAssetsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceAssetsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/VirtualizedRepoAssetTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/useFlattenedGroupedAssetList.tsx
Due: none

remove cloud resolutions when running oss
  js_modules/dagster-ui/package.json
Due: none

[ui] Code location: Asset page (#23755)
  js_modules/dagster-ui/packages/ui-core/src/assets/__stories__/AssetTables.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationAssetsList.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsMain.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/__fixtures__/CodeLocationPages.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/code-location/__stories__/CodeLocationDefinitionsRoot.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedRepoAssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceAssetsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceAssetsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/VirtualizedRepoAssetTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/useFlattenedGroupedAssetList.tsx
Due: none

switch tick filters to contained set rather than every permutation (#23781)
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
Due: none

add metadata flag for restarted run workers
  python_modules/dagster/dagster/_core/events/__init__.py
  python_modules/dagster/dagster/_core/execution/api.py
  python_modules/dagster/dagster_tests/execution_tests/misc_execution_tests/test_api_iterators.py
Due: pyright

[DA] Add doc block to AutomationCondition, mark static constructors public (#23649)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
Due: docs-mdx-format, pyright

add run failure flag for restarted run workers (#23796)
  python_modules/dagster/dagster/_core/events/__init__.py
  python_modules/dagster/dagster/_core/execution/api.py
  python_modules/dagster/dagster_tests/execution_tests/misc_execution_tests/test_api_iterators.py
Due: pyright

Revert "[single-implicit-asset-job] remove `get_implicit_job_def_for_assets` (#23372)"
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[dagster-fivetran][refactor] Use specs instead of outs when building Fivetran multi assets
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
Due: pyright

[dagster-fivetran][refactor] Use specs instead of outs when building Fivetran multi assets (#23676)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
Due: pyright

[dagster-fivetran] Add storage kind to fivetran assets
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/utils.py
Due: pyright

[dagster-fivetran] Add storage kind to fivetran assets (#23680)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/utils.py
Due: pyright

[dagster-airlift] complex sensor testing
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/complex_dag_for_sensor_tests/dags/dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_sensor.py
Due: pyright

re-revert "remove `get_implicit_job_def_for_assets` (#23372)" (#23798)
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

feat: add Vale linting styles for documentation
  .github/workflows/vale.yml
Due: none

[docs-beta] Add the beta docs site
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docs/guides/automation/schedules.md
  docs/docs-beta/docs/guides/automation/sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/static/img/docusaurus-social-card.jpg
  docs/docs-beta/static/img/docusaurus.png
  docs/docs-beta/static/img/undraw_docusaurus_mountain.svg
  docs/docs-beta/static/img/undraw_docusaurus_react.svg
  docs/docs-beta/static/img/undraw_docusaurus_tree.svg
Due: none

refactor: simplify Sphinx documentation build process
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/setup.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/tox.ini
Due: pyright

[docs-revamp] Create basic Sphinx html build
  docs/sphinx/_static/css/custom.css
  docs/sphinx/_static/css/style.css
  docs/sphinx/_static/fonts/GeistMonoVF.woff
  docs/sphinx/_static/fonts/GeistVF.woff
  docs/sphinx/_static/images/logo-dark.svg
  docs/sphinx/_static/images/logo-light.svg
  docs/sphinx/_templates/globaltoc.html
  docs/sphinx/_templates/layout.html
  docs/sphinx/_templates/layouts.html
  docs/sphinx/_templates/searchbox.html
Due: none
