Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[docs] link to community integration dagster-perian (#25399)
  docs/content/integrations.mdx
Due: docs-mdx-format

[dagster-dlift] project scaffold
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/experimental/dagster-dlift/.coveragerc
  examples/experimental/dagster-dlift/CHANGES.md
  examples/experimental/dagster-dlift/LICENSE
  examples/experimental/dagster-dlift/MANIFEST.in
  examples/experimental/dagster-dlift/README.md
  examples/experimental/dagster-dlift/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift/test/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift/test/shared_fixtures.py
  examples/experimental/dagster-dlift/dagster_dlift/version.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/unit_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/unit_tests/test_basic.py
  examples/experimental/dagster-dlift/py.typed
  examples/experimental/dagster-dlift/setup.cfg
  examples/experimental/dagster-dlift/setup.py
  examples/experimental/dagster-dlift/tox.ini
Due: pyright

[dagster-dlift] working graphql connection
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
Due: pyright

[ui] Update OperationQueryStringApolloLink to be agnostic to base path
  js_modules/dagster-ui/packages/ui-core/src/app/OperationQueryStringApolloLink.ts
  js_modules/dagster-ui/packages/ui-core/src/app/appendApolloQueryParams.tsx
Due: none

[dagster-looker] Best-effort render liquid templates in derived table sql (#25383)
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/liquid_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_liquid/views/liquid_derived_table.view.lkml
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

publish individual package as rc
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
  scripts/build_and_publish.sh
Due: pyright

looker no rc pin
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

rc
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

ruff
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
Due: pyright

rm unneeded project list entry
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

add lint rule
  js_modules/dagster-ui/packages/eslint-config/rules/index.js
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
Due: none

dagster-looker 0.24.13rc1
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

[ui] Disable runs feed “Show runs within backfills” when filtering by ”Launched By”
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineRunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

claire/relation-identifier-to-table-name
  docs/content/concepts/metadata-tags/asset-metadata.mdx
  docs/docs-beta/docs/guides/metadata.md
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/TableSchema.tsx
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_set.py
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_tests/test_table_metadata_set.py
  python_modules/dagster/dagster_tests/storage_tests/test_db_io_manager.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_instance.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_def_metadata.py
  python_modules/libraries/dagster-duckdb-pandas/dagster_duckdb_pandas_tests/test_type_handler.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_asset_decorator.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/utils.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-gcp-pandas/dagster_gcp_pandas_tests/bigquery/test_type_handler.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_information_schema.py
  python_modules/libraries/dagster-snowflake-pandas/dagster_snowflake_pandas_tests/test_snowflake_pandas_type_handler.py
  python_modules/libraries/dagster-snowflake-pyspark/dagster_snowflake_pyspark_tests/test_snowflake_pyspark_type_handler.py
Due: docs-mdx-format, pyright

[dagster-sigma] Use aiohttp to fetch data from Sigma APIs (#25374)
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/utils.py
  python_modules/libraries/dagster-sigma/setup.py
  python_modules/libraries/dagster-sigma/tox.ini
Due: pyright

[dagster-sigma] handle paginating large workspaces
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
Due: pyright

add lint rule
  js_modules/dagster-ui/packages/eslint-config/rules/missing-shared-import.js
Due: none

test
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo.py
Due: pyright

[dagster-sigma] Fix client ID when using env var
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

Add lint rule to auto-fix incorrect `shared/` imports (#25402)
  js_modules/dagster-ui/packages/eslint-config/rules/index.js
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
  js_modules/dagster-ui/packages/eslint-config/rules/missing-shared-import.js
Due: none

vscode inserting incorrect imports
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationTickDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorRoot.tsx
Due: none

wip
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationEvaluationHistoryTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationTickDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/GlobalAutomaterializationContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/VirtualizedAutomationScheduleRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/VirtualizedAutomationSensorRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/InstigationUtils.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/LiveTickTimeline2.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickMaterializationsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/InstigationUtils.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickDetailsDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickHistory.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickMaterializationsTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/TickTagForRun.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/TickStatusTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedScheduleRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedSensorRow.tsx
Due: none

wip
  js_modules/dagster-ui/packages/ui-core/src/instigation/LiveTickTimeline2.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickMaterializationsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/__tests__/InstigationTick.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorPageAutomaterialize.tsx
Due: none

Fix tests
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_check_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_code_version_changed_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_dep_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_eager_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_failed_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_in_progress_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_latest_time_window_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_missing_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_requested_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_true_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_updated_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_on_cron_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_on_missing_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_since_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_updated_since_cron_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_will_be_requested_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
Due: pyright

[dagster-dlift] working loader
  examples/experimental/dagster-dlift/dagster_dlift/dbt_gql_queries.py
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift/load_defs.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_instance.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/.gitignore
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/Makefile
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/README.md
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/conftest.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/cloud_instance.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/defs.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift_tests/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/pyproject.toml
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/setup.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/tox.ini
  examples/experimental/dagster-dlift/setup.py
Due: pyright

claire/table-metadata-set-read-relation-identifier-key
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_set.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_tests/test_table_metadata_set.py
Due: pyright

Normalizes the metadata object in asset_check_evaluation.py (#25397)
  python_modules/dagster/dagster/_core/definitions/asset_check_evaluation.py
Due: pyright

fix link in run launcher docs
  docs/content/deployment/run-launcher.mdx
Due: docs-mdx-format

[ui] Use the standard sensor page for new automation sensors, enable tick logs (#25239)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationEvaluationHistoryTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationTickDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/GlobalAutomaterializationContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/VirtualizedAutomationScheduleRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/VirtualizedAutomationSensorRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/InstigationUtils.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/LiveTickTimeline2.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickMaterializationsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/__tests__/InstigationTick.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/InstigationUtils.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickDetailsDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickHistory.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickMaterializationsTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/TickTagForRun.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorPageAutomaterialize.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/TickStatusTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedScheduleRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedSensorRow.tsx
Due: none

Fix link in run launcher docs (#25404)
  docs/content/deployment/run-launcher.mdx
Due: docs-mdx-format

[utils] add supersession warning and decorator
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

[utils] add supersession warning and decorator (#25363)
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

[docs] display supersession info
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
Due: docs-mdx-format, pyright

Hide non_argument_deps
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/test_annotations.py
Due: docs-mdx-format, pyright

consolidated pages and added partitions page
  docs/docs-beta/docs/tutorial/01-etl-tutorial-introduction.md
  docs/docs-beta/docs/tutorial/02-dagster-project-setup.md
  docs/docs-beta/docs/tutorial/02-your-first-asset.md
  docs/docs-beta/docs/tutorial/03-asset-dependencies-and-checks.md
  docs/docs-beta/docs/tutorial/04-partitions.md
  docs/docs-beta/sidebars.ts
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
Due: pyright

[docs] display supersession info (#25362)
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
Due: docs-mdx-format, pyright

[docs] deprecated badge yellow -> orange
  docs/next/styles/globals.css
  docs/next/tailwind.config.js
Due: none

[docs] deprecated badge yellow -> orange (#25405)
  docs/next/styles/globals.css
  docs/next/tailwind.config.js
Due: none

[dagster-sigma] Fix client ID when using env var (#25392)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo.py
Due: pyright
