Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Generate after making changes to GraphQL fragments
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/types/InstanceConcurrency.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/types/VirtualizedInstanceConcurrencyTable.types.ts
Due: none

Add Teradata icon for kind tags
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-teradata-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-teradata-color.svg
Due: docs-mdx-format

fix typo
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: none

cp
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
Due: pyright

cp
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
Due: pyright

Tests
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/footran_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/footran_component/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/test_basic_env_requirement.py
Due: pyright

throwing up for sean to look at
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/footran_component/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/test_basic_env_requirement.py
Due: pyright

fix
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/scope_tests/test_basic_env_requirement.py
Due: pyright

feat: aws sfn added
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/sfn.py
  python_modules/libraries/dagster-aws/dagster_aws/sfn/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/sfn/sfn_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/test_stubbed_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_sfn.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_sfn.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/sfn_tests/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/sfn_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/sfn_tests/test_sfn.py
  python_modules/libraries/dagster-aws/ruff.toml
Due: pyright

feat: aws sfn added
  python_modules/libraries/dagster-aws/dagster_aws_tests/sfn_tests/test_sfn.py
Due: pyright

fix: remove commented code
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Due: pyright

update callsite
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
Due: none

webscraping asset
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
Due: pyright

update mock
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/AssetTables.test.tsx
Due: none

update tutorial link
  docs/docs-beta/docs/getting-started/quickstart.md
Due: none

Add `PartitionBackfill` construction to public API
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/execution/backfill.py
Due: pyright

Expose the `DagsterInstance.add_backfill()` method
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

[ui] Display currently-implicit code location selection in asset selection strings
  python_modules/dagster-graphql/dagster_graphql/schema/asset_selections.py
Due: pyright

[docs-beta] migrate - dagster+ settings (#26607)
  docs/docs-beta/CONTRIBUTING.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/customizing-agent-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/deployment-settings.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/theme/MDXComponents.tsx
Due: none

[utils] add preview warning and decorator
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

update docstring
  python_modules/dagster/dagster/_annotations.py
Due: pyright

Update preview warning
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

use warning instead of future warning
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

update comment
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

[purina] Separate out unmatched submission assetsinto a separate job
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_sensors.py
Due: pyright

[Asset selection input] Show auto-complete suggestions immediately on focus. (#26755)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/AssetTables.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
Due: none

Avoid indirectly loading grpc by deferring imports
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/backfill.py
Due: pyright

fix tests
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_scheduler.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_sensors.py
Due: pyright

[dagster-powerbi] Move contextual data from DagsterPowerBITranslator to PowerBITranslatorData
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

Fix pyright
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[dagster-looker] Move contextual data from DagsterLookerApiTranslator to LookerApiTranslatorStructureData
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

Make PowerBITranslatorData a container class
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[dagster-tableau] Move contextual data from DagsterTableauTranslator to TableauTranslatorData
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_translator.py
Due: pyright

Lint
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

Update tests
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

Use record instead of namedtuple
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

group
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/decorators/op_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/execution/plan/plan.py
  python_modules/dagster/dagster/_core/execution/plan/step.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_active.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_execution_plan.ambr
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_op_concurrency.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
