Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[docs-sphinx] Clean up Sphinx styling in API docs
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery-docker.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery-k8s.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-databricks.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-docker.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-k8s.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pagerduty.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-shell.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
Due: none

docs: update Sphinx configuration and add new documentation
  docs/Makefile
  docs/sphinx/README.md
  docs/sphinx/conf.py
  docs/sphinx/requirements.txt
Due: pyright

bulid -> build
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
Due: pyright

rm sphinx block on warning; make docstring checks warning
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/setup.py
  docs/tox.ini
Due: pyright

sync
  .github/workflows/vale.yml
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docs/guides/automation/schedules.md
  docs/docs-beta/docs/guides/automation/sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/static/img/docusaurus-social-card.jpg
  docs/docs-beta/static/img/docusaurus.png
  docs/docs-beta/static/img/undraw_docusaurus_mountain.svg
  docs/docs-beta/static/img/undraw_docusaurus_react.svg
  docs/docs-beta/static/img/undraw_docusaurus_tree.svg
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-shell.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
Due: none

fix indentation, add missing docstring to appease our sphinx lords
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_config/config_type.py
  python_modules/dagster/dagster/_core/execution/context/system.py
Due: pyright

revert tox exclusions
  docs/tox.ini
Due: none

include html in tox
  docs/tox.ini
Due: none

[docs-beta] add new project structure guide
  docs/docs-beta/docs/guides/project-structure.md
Due: none

tmp sidebar location
  docs/docs-beta/sidebars.ts
Due: none

yarn install before linting
  .github/workflows/build-docs-revamp.yml
Due: none

2nd pass
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/sidebars.ts
Due: none

fix vale
  docs/docs-beta/docs/guides/project-structure.md
Due: none

run prettier
  docs/docs-beta/.remarkrc.js
  docs/docs-beta/.vscode/extensions.json
  docs/docs-beta/README.md
  docs/docs-beta/content-templates/concept.md
  docs/docs-beta/content-templates/example-reference.md
  docs/docs-beta/content-templates/guide-with-steps.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/package.json
  docs/docs-beta/pnpm-lock.yaml
  docs/docs-beta/src/components/PyObject.tsx
  docs/docs-beta/yarn.lock
Due: none

mv project structure -> data modeling
  docs/docs-beta/sidebars.ts
Due: none

fix
  docs/docs-beta/content-templates/concept.md
  docs/docs-beta/content-templates/example-reference.md
  docs/docs-beta/content-templates/guide-with-steps.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/components/PyObject.tsx
Due: none

fix
  docs/docs-beta/package.json
Due: none

fdjskl
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
Due: pyright

update yarn
  docs/docs-beta/.yarn/install-state.gz
  docs/docs-beta/yarn.lock
Due: none

[ui] Sensor history: Fix tick ID variable
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/TickTagForRun.tsx
Due: none

[docs-beta] Add Vale updates (#23785)
  .github/workflows/build-docs-revamp.yml
  docs/docs-beta/.yarn/install-state.gz
  docs/docs-beta/content-templates/concept.md
  docs/docs-beta/content-templates/example-reference.md
  docs/docs-beta/content-templates/guide-with-steps.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/package-lock.json
  docs/docs-beta/package.json
  docs/docs-beta/src/components/PyObject.tsx
Due: none

fix asset sensor name
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Due: none

Revert "re-revert "remove `get_implicit_job_def_for_assets` (#23372)" (#23798)"
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Revert "Revert "revert single implicit asset job (#23607)" (#23777)"
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_sensors.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster-test/dagster_test_tests/toys_tests/partitioned_assets_tests/test_hourly_and_daily_and_unpartitioned.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_external_data.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_repository_definition.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Revert "[ui] Use single hidden asset job for all single-run asset executions (#23747)"
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/RunningBackfillsNotice.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetChoosePartitionsDialog.fixtures.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetExecutionButton.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetChoosePartitionsDialog.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetExecutionButton.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/LaunchAssetExecutionButton.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/RunningBackfillsNotice.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigFetch.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigEditorConfigPicker.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigFetch.types.ts
Due: none

Revert "[single-implicit-asset-job] add `partitionKeysOrError` and `partition` to `GrapheneJob` (#23494)"
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/utils.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_keys.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_job_partitions.py
Due: pyright

Revert "[single-implicit-asset-job] methods on `CodeLocation` to get job partitions, partition tags, and partition config, with asset selection (#23491)"
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/backfill.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster/dagster/_api/snapshot_partition.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/definitions/job_definition.py
  python_modules/dagster/dagster/_core/definitions/run_request.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
  python_modules/dagster/dagster_tests/api_tests/utils.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

[prototype] support deps on graph_asset and graph_multi_asset
  python_modules/dagster/dagster/_core/definitions/composition.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
Due: pyright

Update dbt & Dagster+ guide for hybrid deployments
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
Due: docs-mdx-format

[script] Add script to help generate the Changelog (#23744)
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/generate_changelog.py
Due: pyright

dont show no results
  js_modules/dagster-ui/packages/ui-core/src/search/SearchDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/SearchResults.tsx
Due: none

remove SourceAsset from assorted docs
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
  docs/content/guides/dagster/software-defined-assets.mdx
  docs/content/integrations/embedded-elt/dlt.mdx
  examples/assets_pandas_pyspark/assets_pandas_pyspark/assets/table_assets.py
  examples/assets_pandas_pyspark/assets_pandas_pyspark_tests/test_assets.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/backfills/single_run_backfill_io_manager.py
  examples/docs_snippets/docs_snippets/guides/dagster/enriching_with_software_defined_assets/sda_io_manager.py
  examples/docs_snippets/docs_snippets/guides/dagster/enriching_with_software_defined_assets/sda_nothing.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_source_assets.py
Due: docs-mdx-format, pyright

Revert "remove irrelevant tests"
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_job_partitions.py
Due: pyright

Revert "remove more irrelevant tests"
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

Revert "remove irrelevant tests"
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

[deprecate-source-assets] remove SourceAsset from assorted docs (#23718)
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
  docs/content/guides/dagster/enriching-with-software-defined-assets.mdx
  docs/content/guides/dagster/software-defined-assets.mdx
  docs/content/integrations/embedded-elt/dlt.mdx
  examples/assets_pandas_pyspark/assets_pandas_pyspark/assets/table_assets.py
  examples/assets_pandas_pyspark/assets_pandas_pyspark_tests/test_assets.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/backfills/single_run_backfill_io_manager.py
  examples/docs_snippets/docs_snippets/guides/dagster/enriching_with_software_defined_assets/sda_io_manager.py
  examples/docs_snippets/docs_snippets/guides/dagster/enriching_with_software_defined_assets/sda_nothing.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_source_assets.py
Due: docs-mdx-format, pyright
