Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

test
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/mock_looker_data.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

schema migration to add job_name to bulk actions table and backfill tags table (#25460)
  python_modules/dagster/dagster/_core/storage/alembic/versions/046_16e3655b4d9b045_add_bulk_actions_job_name_column_and_tags_table.py
  python_modules/dagster/dagster/_core/storage/runs/schema.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[dagster-tableau][docs] Specifically mention pip installing dagster-tableau package (#25521)
  docs/content/integrations/tableau.mdx
Due: docs-mdx-format

store tags
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

write bulk actions job name
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

backcompat
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

small fixes
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[dagster-looker][docs] Specifically mention pip installing dagster-looker package
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

[dagster-sigma][docs] Specifically mention pip installing dagster-sigma package
  docs/content/integrations/sigma.mdx
Due: docs-mdx-format

[dagit] dont fetch Pipeline.tags
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceQueries.tsx
Due: none

Revert "Fix import (#25394)"
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/useDefinitionTagFilter.tsx
Due: none

Revert "Fix cloud build (#25409)"
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/util.ts
Due: none

Revert "(feat.) Add tag filtering to jobs page (#25196)"
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/jobs/types/JobsPageContent.types.ts
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/useDefinitionTagFilter.tsx
Due: none

Revert "[Automations] Add filtering by tag (#25176)" and all other tags changes that are causing OOMs
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetCatalogFiltering.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetDefinitionFilterState.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/KindTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/jobs/types/JobsPageContent.types.ts
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/useAssetTagFilter.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/util.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceQueries.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
Due: none

remove tags filter
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
Due: none

.
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
Due: none

[dagster-sigma] Add SigmaFilter to filter set of incoming workbooks
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[dagit] dont fetch Pipeline.tags (#25524)
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceQueries.tsx
Due: none

generate-graphql
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
Due: none

[dagster-sigma] Release cached methods
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

regenerate-graphql (#25530)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/types/WorkspaceQueries.types.ts
Due: none

add option to skip col
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

dagster-sigma 0.0.15
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

fix
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

dagster-sigma 0.0.16
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

llogger stuff
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

write bulk actions job name and tags if new column/table exists (#25461)
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

data migration
  python_modules/dagster/dagster/_core/storage/runs/migration.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

read from job_name and tags table
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

change tags filtering to make mysql happy
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/test_run_storage.py
Due: pyright

tag check
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

fix comment
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

fix select call
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

dagster-sigma 0.0.17
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

[dagster-looker][docs] Specifically mention pip installing dagster-looker package (#25526)
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

[dagster-sigma][docs] Specifically mention pip installing dagster-sigma package (#25527)
  docs/content/integrations/sigma.mdx
Due: docs-mdx-format

fix Sigma pyright docs issue
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Due: docs-mdx-format, pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
