Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[definition-tags] Add new `run_tags` param to JobDefinition and associated constructs (#24379)
  examples/docs_snippets/docs_snippets_tests/deploying_tests/test_monitoring_daemon_examples.py
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_pipeline_snapshot.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_pipeline_snapshot.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/decorators/job_decorator.py
  python_modules/dagster/dagster/_core/definitions/graph_definition.py
  python_modules/dagster/dagster/_core/definitions/job_definition.py
  python_modules/dagster/dagster/_core/definitions/unresolved_asset_job_definition.py
  python_modules/dagster/dagster/_core/execution/api.py
  python_modules/dagster/dagster/_core/execution/execute_in_process.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/snap/job_snapshot.py
  python_modules/dagster/dagster/_daemon/sensor.py
  python_modules/dagster/dagster/_scheduler/scheduler.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_unresolved_asset_job.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/test_job_snap.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_sensor_run.py
  python_modules/dagster/dagster_tests/definitions_tests/decorators_tests/test_job.py
  python_modules/dagster/dagster_tests/execution_tests/execute_job_tests/test_job.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

[external-renames] ExternalTargetData -> TargetSnap (#20787)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_sensors.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/sensors.py
  python_modules/dagster/dagster/_core/remote_representation/__init__.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_daemon/sensor.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_external_data.py
Due: pyright

Make invariant that canceling runs must have a canceling event fail open
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
Due: pyright

factor out
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_fetch_metadata.py
Due: pyright

Update examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/README.md
Due: none

tests passing and format code
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_fetch_metadata.py
Due: pyright

remove papermill-origami dependency
  examples/tutorial_notebook_assets/setup.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
Due: pyright

remove papermill-origami dependency (#24860)
  examples/tutorial_notebook_assets/setup.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
Due: pyright

[documentation] Fix incorrect example of TableColumnConstraints (#24825)
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
Due: pyright

remove CacheableAssetsDefinition from looker integration
  python_modules/libraries/dagster-looker/dagster_looker/api/cacheable_assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[docs-beta] Update API reference links in releases.md
  docs/docs-beta/docs/about/releases.md
Due: none

[looker] replace `CacheableAssetsDefinition` with reconstructable metadata (#24753)
  python_modules/libraries/dagster-looker/dagster_looker/api/cacheable_assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[dagster-airlift] dag asset kind (#24808)
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_asset.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

Updated dagster-instance.mdx and example dagster.yaml to clarify UTC timezone in database configuration
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
Due: docs-mdx-format

fix type for concurrency slot info
  python_modules/dagster/dagster/_utils/concurrency.py
Due: pyright

Correct Python module vs package reference in code locations docs (#22522)
  docs/content/concepts/code-locations.mdx
Due: docs-mdx-format

short circuit get_run_record_by_id
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

short circuit get_run_record_by_id (#24872)
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

fix type for concurrency slot info (#24871)
  python_modules/dagster/dagster/_utils/concurrency.py
Due: pyright

filter run_ids before calling get_runs
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
Due: pyright

Filter out empty run IDs in AMP
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
Due: pyright

filter run_ids before calling get_runs (#24873)
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
Due: pyright

Revert "filter run_ids before calling get_runs (#24873)"
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
Due: pyright

Revert "filter run_ids before calling get_runs (#24873)" (#24875)
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
Due: pyright

ECS Executor WIP
  python_modules/dagster/dagster/_core/executor/step_delegating/step_delegating_executor.py
  python_modules/dagster/dagster/_core/executor/step_delegating/step_handler/base.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/executor.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/utils.py
  python_modules/libraries/dagster-docker/dagster_docker/docker_executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s/executor.py
Due: pyright

[external-renames] Rename ExternalAssetNode and associates
  python_modules/dagster-graphql/dagster_graphql/implementation/asset_checks_loader.py
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/__init__.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/loader.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_core/telemetry.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/test_repository_load.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_custom_repository_data.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_external_data.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/base_scenario.py
Due: pyright

[typing] workspace types
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_grpc/server_watcher.py
Due: pyright

dagster-dev: Create one code server instance per location
  integration_tests/test_suites/daemon-test-suite/dagster_dev_command_tests/test_dagster_dev_command.py
  python_modules/dagster/dagster/_cli/dev.py
Due: pyright

[typing] serdes
  python_modules/dagster/dagster/_core/execution/plan/handle.py
  python_modules/dagster/dagster/_core/execution/stats.py
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster/_utils/__init__.py
  python_modules/dagster/dagster/_utils/alert.py
  python_modules/dagster/dagster/_utils/backoff.py
  python_modules/dagster/dagster/_utils/container.py
  python_modules/dagster/dagster/_utils/cronstring.py
  python_modules/dagster/dagster/_utils/forked_pdb.py
  python_modules/dagster/dagster/_utils/hosted_user_process.py
  python_modules/dagster/dagster/_utils/net.py
  python_modules/dagster/dagster/_utils/timing.py
Due: pyright

[ui] Fix asset group outlines not rendering properly in Safari
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ExpandedGroupNode.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeLineageGraph.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/SVGComponents.tsx
Due: none

[ui] Fix asset group outlines not rendering properly in Safari (#24882)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/ExpandedGroupNode.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeLineageGraph.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/SVGComponents.tsx
Due: none

[dagster-pipes] surface main Pipes objects to dagster._core.pipes
  python_modules/dagster/dagster/_core/pipes/__init__.py
Due: pyright

support backfill id filterng for backfills
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

.
  js_modules/dagster-ui/packages/ui-components/src/components/TokenizingField.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

forgot to lint :(
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
