Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

speed up dagster dev shutdown
  python_modules/dagster/dagster/_grpc/server.py
Due: pyright

Update OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: none

Allow assets with output_required=False and embedded checks to forego AssetCheckResults (#27399)
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
Due: pyright

speed up dagster dev shutdown (#27436)
  python_modules/dagster/dagster/_grpc/server.py
Due: pyright

Use TemporaryDirectory instead of TemporaryNamedFile in dagster dev (#27431)
  python_modules/dagster/dagster/_cli/dev.py
Due: pyright

[ui] Add DB2 kind icon (#27263)
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs-beta/static/images/guides/build/assets/metadata-tags/kinds/icons/tool-db2-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-db2-color.svg
Due: none

[docs] list kubernetes configuration
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/configuration.md
Due: none

[docs] list kubernetes configuration (#27441)
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/configuration.md
Due: none

Remove extraneous grave before `PipesContext` link (#27415)
  docs/docs-beta/docs/guides/build/external-pipelines/using-dagster-pipes/reference.md
Due: none

[docs] add missing script (#27417)
  docs/docs-beta/docs/etl-pipeline-tutorial/index.md
Due: none

add changelog for 1.9.11 push
  CHANGES.md
Due: none

add changelog for 1.9.11 (#27435)
  CHANGES.md
Due: none

Fixing build error and updating new docs
  docs/content/concepts/automation/declarative-automation.mdx
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/automation-condition-operands-and-operators.md
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/describing-conditions-with-labels.md
  docs/docs-beta/docs/guides/automate/declarative-automation/index.md
Due: docs-mdx-format

[5/n] Refactor SelectionInput auto-complete logic (#27229)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/useAssetSelectionAutoComplete.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/util.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/AssetTables.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/OpGraphSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/BaseSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.g4
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteUtil.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputAutoCompleteResults.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputHighlighter.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputUtil.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/BaseSelectionVisitor.test.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoComplete.interp
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteListener.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteParser.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/generated/SelectionAutoCompleteVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/useSelectionInputAutoComplete.tsx
Due: none

[Selection input] Enter to submit (#27251)
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputAutoCompleteResults.tsx
Due: none

[Runs feed] Fix status filtering logic on tabs with hardcoded filters (#27268)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRoot.tsx
Due: none

[1/3][Selection Input] Add double quotes only if necessary (#27262)
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
Due: none

[2/3][Selection Input] Add clear selection button (#27264)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInput.tsx
Due: none

Changing "parents" to "dependencies" in DA docs (#27406)
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/automation-conditions-explained.mdx
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/automation-condition-operands-and-operators.md
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/describing-conditions-with-labels.md
  docs/docs-beta/docs/guides/automate/declarative-automation/index.md
Due: docs-mdx-format

Update text styles (#27318)
  js_modules/dagster-ui/packages/ui-components/src/components/Text.tsx
Due: none

[Selection Input] Always add double quotes again (#27339)
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
Due: none

[Selection Input] Implement new auto-complete designs (#27345)
  js_modules/dagster-ui/packages/ui-components/src/components/Icon.tsx
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/abc.svg
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/curly_braces.svg
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/magnify_glass.svg
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/magnify_glass_checked.svg
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/OpGraphSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputAutoCompleteResults.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputHighlighter.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
Due: none

Fixing DA docs sensor steps
  docs/docs-beta/docs/guides/automate/declarative-automation/index.md
Due: none

Fixing DA docs sensor steps (#27443)
  docs/docs-beta/docs/guides/automate/declarative-automation/index.md
Due: none

[docs] add segment to docs
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/plugins/segment/index.js
Due: none

Automation: versioned docs for 1.9.11
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

[INTERNAL_BRANCH=salazarm/refactor-internal]
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/useAssetSelectionInput.tsx
Due: none

[INTERNAL_BRANCH=salazarm/refactor-internal]
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionInputAutoCompleteResults.tsx
Due: none

[ui] Fix launchpad warning about missing partition for hidden asset job (#27340)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigEditorConfigPicker.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/usePartitionSetDetailsForLaunchpad.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/usePartitionSetDetailsForLaunchpad.tsx
Due: none

ruff
  python_modules/libraries/dagster-aws/dagster_aws/rds/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/rds/resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/rds_tests/test_resources.py
Due: pyright

fix typos
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-aws/dagster_aws/rds/resources.py
Due: docs-mdx-format, pyright

documentation update
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  python_modules/libraries/dagster-aws/dagster_aws/rds/resources.py
Due: docs-mdx-format, pyright

Add Aws-RDS resource
  python_modules/libraries/dagster-aws/dagster_aws/rds/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/rds/resources.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/rds_tests/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/rds_tests/test_resources.py
Due: pyright

Add Postgres Resource
  python_modules/libraries/dagster-postgres/dagster_postgres/__init__.py
  python_modules/libraries/dagster-postgres/dagster_postgres/resources.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/test_resources.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
