Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-airlift] materialization accumulation refactor (#24830)
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
Due: pyright

[dagster-airlift] move utilities
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

[dagster-airlift] move utilities (#24831)
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

Allow DA to selectively emit backfills (#24905)
  integration_tests/test_suites/auto_materialize_perf_tests/test_asset_daemon_perf.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_tester.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_with_runs_and_checks.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_backfills_requested.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/legacy_tests/test_auto_observe.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/base_scenario.py
Due: pyright

[dagster-airlift] make AirflowDefinitionsData non serializable, make loader use serializable class
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

[dagster-airlift] bubble up translation fn
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

[1/c] add column tag field to TableColumn (#24717)
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
  python_modules/dagster/dagster_tests/core_tests/test_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_tests/test_table_metadata_set.py
Due: pyright

[dagster-dbt] populate column tags for dbt
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/dbt_packages/test_columns_metadata.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_metadata/models/schema.yml
Due: pyright

fix scss warnings
  docs/docs-beta/src/styles/custom.scss
Due: none

[docs] Add guide and apidocs for dagster definitions validate
  docs/content/_navigation.json
  docs/content/guides/validating-dagster-definitions.mdx
  docs/sphinx/sections/api/apidocs/cli.rst
Due: docs-mdx-format

Fix apidocs for dagster definitions validate
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_cli/definitions.py
Due: docs-mdx-format, pyright

Move guide to API docs for CLI
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/guides/validating-dagster-definitions.mdx
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_cli/definitions.py
Due: docs-mdx-format, pyright

prettier
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_metadata/models/schema.yml
Due: none

[docs] Add apidocs for dagster definitions validate (#24815)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/cli.rst
  python_modules/dagster/dagster/_cli/definitions.py
Due: docs-mdx-format, pyright

[dagster-aws] Refactor S3 key retrieval with pagination support
  python_modules/libraries/dagster-aws/dagster_aws/s3/sensor.py
Due: pyright

Doc fixes (#12717)
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format

update iris_dataset asset definition in Delta Lake integration tutorial (#19216)
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
Due: docs-mdx-format

fix typos (#19247)
  docs/content/integrations/deltalake/reference.mdx
Due: docs-mdx-format

Update docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/reference.mdx
Due: docs-mdx-format

[docs] Fix typo in deltalake docs (#19249)
  docs/content/integrations/deltalake/reference.mdx
Due: docs-mdx-format

Update docs/content/integrations/dbt/reference.mdx
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

[docs] Update config dbt incremental model with partitions (#19530)
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

[docs] chore: remove repetitive words (#21514)
  docs/content/tutorial/building-an-asset-graph.mdx
  python_modules/dagster/dagster/_config/validate.py
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
  scripts/check_schemas.py
Due: docs-mdx-format, pyright

[du] fixing imports for 4-automating-dbt-models-in-dagster (#21765)
  docs/dagster-university/pages/dagster-dbt/lesson-5/4-automating-dbt-models-in-dagster.md
Due: none

[docs] Fix formatting on deltalake files
  docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
Due: docs-mdx-format

[docs-beta] Update API reference links in releases.md (#24863)
  docs/docs-beta/docs/about/releases.md
Due: none

[dagster-pipes] jsonspec + quicktype
  pipes/quicktype.sh
  pipes/schema/context.schema.json
  pipes/schema/event.schema.json
  pipes/schema/exception.schema.json
  pipes/schema/metadata.schema.json
  pipes/src/python/dagster_pipes/context.py
  pipes/src/python/dagster_pipes/event.py
  pipes/src/python/dagster_pipes/exception.py
  pipes/src/python/dagster_pipes/metadata.py
Due: pyright

[dagster-polars] fix loading missing LazyFrames
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
Due: pyright

add java
  pipes/quicktype.sh
  pipes/src/java/dagster_pipes/CauseCause.java
  pipes/src/java/dagster_pipes/CauseContext.java
  pipes/src/java/dagster_pipes/Context.java
  pipes/src/java/dagster_pipes/Converter.java
  pipes/src/java/dagster_pipes/Event.java
  pipes/src/java/dagster_pipes/ExceptionCause.java
  pipes/src/java/dagster_pipes/ExceptionContext.java
  pipes/src/java/dagster_pipes/Metadata.java
  pipes/src/java/dagster_pipes/Method.java
  pipes/src/java/dagster_pipes/PartitionKeyRange.java
  pipes/src/java/dagster_pipes/PartitionTimeWindow.java
  pipes/src/java/dagster_pipes/ProvenanceByAssetKey.java
  pipes/src/java/dagster_pipes/PurpleException.java
  pipes/src/java/dagster_pipes/RawValue.java
  pipes/src/java/dagster_pipes/Type.java
Due: none

[dagster-aws] [docs] add docs for PipesEMRServerlessClient
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/script.py
Due: docs-mdx-format, pyright

[dagster-pipes, docs] apply ruff to docs_snippets
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/aws-lambda.mdx
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/content/concepts/dagster-pipes/databricks.mdx
  docs/content/concepts/dagster-pipes/subprocess/create-subprocess-asset.mdx
  docs/content/concepts/dagster-pipes/subprocess/modify-external-code.mdx
  docs/content/concepts/dagster-pipes/subprocess/reference.mdx
  docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/custom_context_injector.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/custom_message_reader.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/custom_message_writer.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/session_lifecycle_orchestration.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/databricks/databricks_asset_client.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/databricks/databricks_asset_open_pipes_session.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/databricks/databricks_script.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/databricks/databricks_script_existing.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ecs/task.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/glue_script.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/lambda/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/lambda/lambda_function.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/ruff.toml
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/custom_messages/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_1/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_1/dagster_code_finished.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_2/step_1/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_2/step_1/external_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_2/step_2/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_2/step_3_check/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/part_2/step_3_materialization/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/with_asset_check/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/with_extras_env/external_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/with_multi_asset/external_code.py
Due: docs-mdx-format, pyright

[dagster-aws] [docs] add docs for PipesEMRServerlessClient (#24319)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr-serverless/script.py
Due: docs-mdx-format, pyright

Initial structure for dagster Java module
  java-dagster-pipes/.gitignore
  java-dagster-pipes/build.gradle
  java-dagster-pipes/gradle/wrapper/gradle-wrapper.jar
  java-dagster-pipes/gradle/wrapper/gradle-wrapper.properties
  java-dagster-pipes/gradlew
  java-dagster-pipes/gradlew.bat
  java-dagster-pipes/settings.gradle
  java-dagster-pipes/src/main/java/dagster/pipes/CauseCause.java
  java-dagster-pipes/src/main/java/dagster/pipes/CauseContext.java
  java-dagster-pipes/src/main/java/dagster/pipes/Context.java
  java-dagster-pipes/src/main/java/dagster/pipes/Converter.java
  java-dagster-pipes/src/main/java/dagster/pipes/Event.java
  java-dagster-pipes/src/main/java/dagster/pipes/ExceptionCause.java
  java-dagster-pipes/src/main/java/dagster/pipes/ExceptionContext.java
  java-dagster-pipes/src/main/java/dagster/pipes/Metadata.java
  java-dagster-pipes/src/main/java/dagster/pipes/Method.java
  java-dagster-pipes/src/main/java/dagster/pipes/PartitionKeyRange.java
  java-dagster-pipes/src/main/java/dagster/pipes/PartitionTimeWindow.java
  java-dagster-pipes/src/main/java/dagster/pipes/ProvenanceByAssetKey.java
  java-dagster-pipes/src/main/java/dagster/pipes/PurpleException.java
  java-dagster-pipes/src/main/java/dagster/pipes/RawValue.java
  java-dagster-pipes/src/main/java/dagster/pipes/Type.java
Due: none

Added jackson-databind
  java-dagster-pipes/build.gradle
  java-dagster-pipes/src/main/java/dagster/pipes/Converter.java
  java-dagster-pipes/src/main/java/dagster/pipes/RawValue.java
Due: none

Added Schema files to the resources
  java-dagster-pipes/src/main/resources/schema/context.schema.json
  java-dagster-pipes/src/main/resources/schema/event.schema.json
  java-dagster-pipes/src/main/resources/schema/exception.schema.json
  java-dagster-pipes/src/main/resources/schema/metadata.schema.json
Due: none

flush temp_file_obj after blob download
  python_modules/libraries/dagster-gcp/dagster_gcp/gcs/file_manager.py
Due: pyright

[docs] Update dbt & Dagster+ guide for dbt and Dagster projects (#24922)
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
Due: docs-mdx-format

feat(compute_logs): wait for tail after finish
  python_modules/dagster/dagster/_core/execution/compute_logs.py
Due: pyright

Move test files into its own file
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_automapping.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
