Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-airlift] fix version pins
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] normalize prefix
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
Due: pyright

[dagster-airlift] cacheable assets support
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
Due: pyright

[dagster-airlift] change dag_defs to accept a list
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/test_dbt_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/migrate_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe.py
Due: pyright

[dagster-airlift] dag-level overrides
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
Due: pyright

[dagster-airlift] support source assets
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
Due: pyright

web url
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[dagster-powerbi] Add url, kinds to PowerBI assets
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

rename to web_url for now
  examples/experimental/dagster-airlift/examples/bi-demo/.airflow_home/airflow.db
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

[dagster-powerbi] Add url, kinds to PowerBI assets (#24334)
  examples/experimental/dagster-airlift/examples/bi-demo/.airflow_home/airflow.db
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

test
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/conftest.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

finish
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

pkg
  package_prerelease/LICENSE
  package_prerelease/MANIFEST.in
  package_prerelease/README.md
  package_prerelease/dagster_powerbi/__init__.py
  package_prerelease/dagster_powerbi/py.typed
  package_prerelease/dagster_powerbi/resource.py
  package_prerelease/dagster_powerbi/translator.py
  package_prerelease/dagster_powerbi_tests/__init__.py
  package_prerelease/dagster_powerbi_tests/conftest.py
  package_prerelease/dagster_powerbi_tests/pending_repo.py
  package_prerelease/dagster_powerbi_tests/test_asset_specs.py
  package_prerelease/dagster_powerbi_tests/test_resource.py
  package_prerelease/dagster_powerbi_tests/test_translator.py
  package_prerelease/dagster_powerbi_tests/test_version.py
  package_prerelease/setup.cfg
  package_prerelease/setup.py
  package_prerelease/tox.ini
Due: pyright

[dagster-powerbi] Remove kinds for early publish, ensure resource key uniqueness
  package_prerelease/LICENSE
  package_prerelease/MANIFEST.in
  package_prerelease/README.md
  package_prerelease/dagster_powerbi/__init__.py
  package_prerelease/dagster_powerbi/py.typed
  package_prerelease/dagster_powerbi/resource.py
  package_prerelease/dagster_powerbi/translator.py
  package_prerelease/dagster_powerbi_tests/__init__.py
  package_prerelease/dagster_powerbi_tests/conftest.py
  package_prerelease/dagster_powerbi_tests/pending_repo.py
  package_prerelease/dagster_powerbi_tests/test_asset_specs.py
  package_prerelease/dagster_powerbi_tests/test_resource.py
  package_prerelease/dagster_powerbi_tests/test_translator.py
  package_prerelease/dagster_powerbi_tests/test_version.py
  package_prerelease/setup.cfg
  package_prerelease/setup.py
  package_prerelease/tox.ini
Due: pyright

[dagster-powerbi] Remove kinds for early publish, ensure resource key uniqueness (#24361)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/conftest.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
  python_modules/libraries/dagster-powerbi/setup.py
Due: pyright

[dagster-powerbi] Add option to auth using a Service Principal
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

credentials
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

test
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

[1/n][dagster-sigma] Scaffold empty dagster-sigma package (#24475)
  python_modules/libraries/dagster-sigma/.coveragerc
  python_modules/libraries/dagster-sigma/LICENSE
  python_modules/libraries/dagster-sigma/MANIFEST.in
  python_modules/libraries/dagster-sigma/README.md
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/py.typed
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_placeholder.py
  python_modules/libraries/dagster-sigma/setup.cfg
  python_modules/libraries/dagster-sigma/setup.py
  python_modules/libraries/dagster-sigma/tox.ini
Due: pyright

[dagster-powerbi] Add option to auth using a Service Principal (#24374)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_resource.py
Due: pyright

[2/n][dagster-sigma] Scaffold Sigma resource and auth
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

rm placeholder test
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_placeholder.py
Due: pyright

add sqlglot dep
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

use inode stuff
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

get to build
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[3/n][dagster-sigma] Build out organization parsing logic
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[4/n][dagster-sigma] Build out translator class
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

[5/n][dagster-sigma] Add cacheable assets loading methods for Sigma assets
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

get to build
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

First pass
  docs/docs-beta/docs/guides/unit-tests-assets-and-ops.md
Due: none

fix resource telemetry test
  python_modules/automation/tox.ini
Due: none

fix typo on releases page (#24505)
  docs/content/about/releases.mdx
Due: docs-mdx-format

fix resource telemetry test (#24520)
  python_modules/automation/tox.ini
Due: none

Fix links
  docs/docs-beta/docs/dagster-plus/insights/asset-metadata.md
  docs/docs-beta/docs/guides/metadata.md
Due: none

Update js_modules/dagster-ui/packages/ui-components/src/components/PageHeader.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/PageHeader.tsx
Due: none

Update js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
Due: none

Update js_modules/dagster-ui/packages/ui-core/src/runs/RunTableActionBar.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTableActionBar.tsx
Due: none

use Link instead of href
  js_modules/dagster-ui/packages/ui-core/src/nav/PipelineNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleDetails.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorDetails.tsx
Due: none

Implement LookerResource
  python_modules/libraries/dagster-looker/dagster_looker/resources.py
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
