Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[core-api][preview] load_definitions_from_* functions
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Due: pyright

Rebuild docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

Allow get_entity_subset_from_asset_graph_subset to stil return EntitySubsets for serialized AssetGraphSubsets when the underlying partitions definition has gotten larger (#27470)
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
Due: pyright

let users know docs will change and make components docs public
  docs/docs-beta/docs/guides/preview/components/creating-a-component.md
  docs/docs-beta/docs/guides/preview/components/existing-code-location.md
  docs/docs-beta/docs/guides/preview/components/index.md
  docs/docs-beta/docs/guides/preview/components/setting-up-a-deployment.md
  docs/docs-beta/docs/guides/preview/components/using-a-component.md
  docs/docs-beta/docs/guides/preview/index.md
Due: none

bump db version
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
Due: none

Change indexeddb names (#27600)
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
Due: none

comment out indexeddb
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
Due: none

update docs.dagster.cloud links
  examples/project_dagster_university_start/README.md
  examples/project_du_dbt_starter/README.md
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/README.md.jinja
Due: none

[core-api][preview] load_definitions_from_* functions (#26996)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Due: docs-mdx-format, pyright

DOC-831 Update docs.dagster.cloud links (#27603)
  examples/project_dagster_university_start/README.md
  examples/project_du_dbt_starter/README.md
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/README.md.jinja
Due: none

convert to codeexample in dagster+ docs
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
Due: none

update integrations docs code examples
  docs/docs-beta/docs/integrations/libraries/dlt/using-dlt-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/duckdb/reference.md
  docs/docs-beta/docs/integrations/libraries/duckdb/using-duckdb-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/reference.md
  docs/docs-beta/docs/integrations/libraries/gcp/bigquery/using-bigquery-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/jupyter/reference.md
  docs/docs-beta/docs/integrations/libraries/looker/using-looker-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/openai/using-openai-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/pandas/using-pandas-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/pandera/using-pandera-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/powerbi/using-powerbi-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/sigma/using-sigma-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/snowflake/reference.md
  docs/docs-beta/docs/integrations/libraries/snowflake/using-snowflake-with-dagster-io-managers.md
  docs/docs-beta/docs/integrations/libraries/snowflake/using-snowflake-with-dagster.md
  docs/docs-beta/docs/integrations/libraries/tableau.md
Due: none

fix: review comments
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/sfn.py
  python_modules/libraries/dagster-aws/dagster_aws/sfn/sfn_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/fake_sfn.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_sfn.py
  python_modules/libraries/dagster-aws/setup.py
Due: pyright

convert automate docs
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/example-customizations.md
  docs/docs-beta/docs/guides/automate/schedules/configuring-job-behavior.md
  docs/docs-beta/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs-beta/docs/guides/automate/schedules/customizing-execution-timezone.md
  docs/docs-beta/docs/guides/automate/schedules/defining-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/testing-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/using-resources-in-schedules.md
  docs/docs-beta/docs/guides/automate/sensors/logging-in-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/using-resources-in-sensors.md
Due: none

fix: review comments
  python_modules/libraries/dagster-aws/dagster_aws/sfn/sfn_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/sfn_tests/test_sfn.py
Due: pyright

convert example code in build docs
  docs/docs-beta/docs/guides/build/assets/asset-jobs.md
  docs/docs-beta/docs/guides/build/assets/asset-versioning-and-caching.md
  docs/docs-beta/docs/guides/build/assets/metadata-and-tags/kind-tags.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/pyspark-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/using-dagster-pipes/create-subprocess-asset.md
  docs/docs-beta/docs/guides/build/external-pipelines/using-dagster-pipes/index.md
  docs/docs-beta/docs/guides/build/external-pipelines/using-dagster-pipes/modify-external-code.md
  docs/docs-beta/docs/guides/build/external-pipelines/using-dagster-pipes/reference.md
  docs/docs-beta/docs/guides/build/external-resources/configuring-resources.md
  docs/docs-beta/docs/guides/build/external-resources/connecting-to-apis.md
  docs/docs-beta/docs/guides/build/external-resources/defining-resources.md
  docs/docs-beta/docs/guides/build/external-resources/managing-resource-state.md
  docs/docs-beta/docs/guides/build/external-resources/testing-configurable-resources.md
  docs/docs-beta/docs/guides/build/external-resources/using-bare-python-objects-as-resources.md
  docs/docs-beta/docs/guides/build/io-managers/defining-a-custom-io-manager.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/backfilling-data.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/partitioning-assets.md
Due: none

update CONTRIBUTING
  docs/docs-beta/CONTRIBUTING.md
Due: none

added test case for the updated logic
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/conftest.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_resources.py
Due: pyright

[dagster-dbt] Skip failing test with lock issue for Duckdb (#27599)
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_resource.py
Due: pyright

[integrations-api][test] Rename experimental tests to beta in dagster-airbyte
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/__init__.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/conftest.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/test_asset_specs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/test_resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/test_translator.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/utils.py
Due: pyright

Update du content after removing kaliedo
  docs/dagster-university/pages/dagster-dbt/lesson-2/2-set-up-the-dagster-project.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/asset-metadata-as-markdown.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/assets-with-in-memory-computations.md
  docs/dagster-university/pages/dagster-essentials/lesson-9/creating-an-asset-triggered-by-a-sensor.md
  examples/project_dagster_university_start/setup.py
  examples/project_du_dbt_starter/dagster_university/assets/metrics.py
  examples/project_du_dbt_starter/dagster_university/assets/requests.py
  examples/project_du_dbt_starter/setup.py
Due: pyright

[integrations-api][test] Rename experimental tests to beta in dagster-airbyte (#27610)
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/__init__.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/conftest.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/test_asset_specs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/test_resources.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/test_translator.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/beta/utils.py
Due: pyright

[integrations-api][docs] Update dagster-airbyte docs to use beta language
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-cloud.md
  python_modules/libraries/dagster-airbyte/dagster_airbyte/managed/reconciliation.py
Due: pyright

Cleanup
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/assets-with-in-memory-computations.md
  examples/project_du_dbt_starter/dagster_university/assets/metrics.py
  examples/project_du_dbt_starter/dagster_university/assets/requests.py
Due: pyright

[integrations-api][docs] Update dagster-airbyte docs to use beta language (#27611)
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-cloud.md
  python_modules/libraries/dagster-airbyte/dagster_airbyte/managed/reconciliation.py
Due: pyright

[integrations-api][test] Rename experimental tests to beta in dagster-fivetran
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/__init__.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_columns_metadata.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_translator.py
Due: pyright

Lint
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_translator.py
Due: pyright

Tweak changelog script for better bullets
  scripts/generate_changelog.py
Due: pyright

[integrations-api][test] Rename experimental tests to beta in dagster-fivetran (#27614)
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/__init__.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/conftest.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_asset_specs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_columns_metadata.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_resources.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/beta/test_translator.py
Due: pyright

[integrations-api][docs] Update dagster-fivetran docs to use beta language
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

updated test cases for translator as well as resources
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/conftest.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_translator.py
Due: pyright

Switch to `upgrade --install`
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/setup.md
Due: none

[dagster-dbt] Refactor UnitTestDefinition instantiation in utils.py to use `from_dict` method (#27052)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  python_modules/libraries/dagster-dbt/dagster_dbt/utils.py
  python_modules/libraries/dagster-dbt/tox.ini
Due: pyright

[du] Remove `kaliedo` from Dagster University (#27613)
  docs/dagster-university/pages/dagster-dbt/lesson-2/2-set-up-the-dagster-project.md
  docs/dagster-university/pages/dagster-dbt/lesson-5/3-creating-assets-that-depend-on-dbt-models.md
  docs/dagster-university/pages/dagster-essentials/extra-credit/asset-metadata-as-markdown.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/assets-with-in-memory-computations.md
  docs/dagster-university/pages/dagster-essentials/lesson-9/creating-an-asset-triggered-by-a-sensor.md
  examples/project_dagster_university_start/setup.py
  examples/project_du_dbt_starter/dagster_university/assets/metrics.py
  examples/project_du_dbt_starter/dagster_university/assets/requests.py
  examples/project_du_dbt_starter/setup.py
Due: pyright

[changelog] 1.9.12
  CHANGES.md
Due: none

[prettier] Fix `make prettier`
  .prettierignore
Due: none

[integrations-api][docs] Update dagster-fivetran docs to use beta language (#27615)
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

[changelog] 1.9.12 (#27618)
  CHANGES.md
Due: none
