Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

fix link
  docs/docs-beta/docs/guides/deploy/dagster-instance-configuration.md
Due: none

[dagster-openai] removes space in "OpenAI" (#27202)
  examples/project_ask_ai_dagster/lineage.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  python_modules/libraries/dagster-openai/setup.py
Due: pyright

Add `.allow()` and `.ignore()` for bool conditions (#27147)
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/allow_dependencies_cron.py
  examples/docs_snippets/docs_snippets/concepts/declarative_automation/ignore_dependencies_cron.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
Due: docs-mdx-format, pyright

add concurrency key to the op definition
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/decorators/op_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
Due: pyright

thread concurrency key into execution step
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/execution/plan/plan.py
  python_modules/dagster/dagster/_core/execution/plan/step.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_active.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_execution_plan.ambr
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_op_concurrency.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
Due: pyright

definitions
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
Due: pyright

fix error message, descriptions
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
Due: pyright

add pools to graphs
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
Due: pyright

thread pool information to graphql layer
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
Due: pyright

coerce tag-based concurrency keys into pools
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/op_concurrency_limits_counter.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
  python_modules/dagster/dagster/_core/snap/node.py
Due: pyright

handle graph snapshots
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster/dagster/_core/definitions/graph_definition.py
  python_modules/dagster/dagster/_core/definitions/node_definition.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/snap/node.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_execution_plan.ambr
Due: pyright

update types
  python_modules/dagster/dagster/_core/definitions/graph_definition.py
  python_modules/dagster/dagster/_core/definitions/node_definition.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/snap/node.py
Due: pyright

fix tests
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_pipeline_snapshot.ambr
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/snap/node.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_active_data.ambr
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_execution_plan.ambr
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_job_snap.ambr
Due: pyright

snap op node
  python_modules/dagster/dagster/_core/snap/node.py
Due: pyright

group
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/decorators/op_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/execution/plan/plan.py
  python_modules/dagster/dagster/_core/execution/plan/step.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_active.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/__snapshots__/test_execution_plan.ambr
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_op_concurrency.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
Due: pyright

thread pool info to remote representation
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
Due: pyright

concurrency_group => pool
  python_modules/dagster/dagster/_core/definitions/decorators/asset_check_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster/_core/definitions/decorators/op_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/source_asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/op_definition.py
  python_modules/dagster/dagster/_core/execution/plan/active.py
  python_modules/dagster/dagster/_core/execution/plan/plan.py
  python_modules/dagster/dagster/_core/execution/plan/step.py
  python_modules/dagster/dagster/_core/snap/execution_plan_snapshot.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_active.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_op_concurrency.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
Due: pyright

hoists the run queue config from the run coordinator up to the instance
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_daemon/run_coordinator/queued_run_coordinator_daemon.py
  python_modules/dagster/dagster_tests/core_tests/instance_tests/test_instance.py
Due: pyright

incorporate recent changes
  docs/docs-beta/docs/guides/automate/declarative-automation/customizing-automation-conditions/example-customizations.md
Due: none

update changelog with correct logger name
  CHANGES.md
Due: none

[pythonic config] properly propagate default values set at the top level for nested config classes
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_default_values.py
Due: pyright

update partial thing
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster/_config/pythonic_config/resource.py
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_general_pythonic_resources.py
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_partial.py
Due: pyright

handle selector properly
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
Due: pyright

break up default building
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
Due: pyright

tidy up
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
Due: pyright

add experimental decorator
  python_modules/dagster/dagster/_config/pythonic_config/resource.py
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_partial.py
Due: pyright

[pythonic config][alternate] properly propagate default values set at the top level for nested config classes
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_config/pythonic_config/conversion_utils.py
  python_modules/dagster/dagster_tests/core_tests/pythonic_config_tests/test_default_values.py
Due: pyright

add graphql docs
  docs/docs-beta/docs/guides/deploy/webserver.md
  docs/docs-beta/docs/guides/operate/graphql/graphql-client.md
  docs/docs-beta/docs/guides/operate/graphql/index.md
  docs/docs-beta/static/images/guides/operate/graphql/docs.png
  docs/docs-beta/static/images/guides/operate/graphql/playground.png
Due: none

fix links
  docs/docs-beta/docs/guides/deploy/execution/celery.md
  docs/docs-beta/docs/guides/deploy/execution/run-retries.md
  docs/docs-beta/docs/guides/deploy/oss-deployment-architecture.md
  docs/docs-beta/docs/guides/deploy/webserver.md
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
Due: none

Support table metadata in pipes (#26988)
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/definitions/metadata/table.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_subprocess.py
Due: pyright

[dagster-pipes] support timestamp metadata
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_subprocess.py
Due: pyright

[dagster-pipes] support timestamp metadata (#26997)
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_subprocess.py
Due: pyright

Use `isinstance()` over `hasattr()` for type guard
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
Due: pyright

[dagster-pipes] rich metadata docs
  .gitignore
  docs/content/concepts/dagster-pipes/subprocess/reference.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/json_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/markdown_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/notebook_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/path_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_column_lineage.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/table_schema_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/timestamp_metadata.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/subprocess/rich_metadata/url_metadata.py
Due: docs-mdx-format, pyright

[dagster-pipes] add references to metadata section
  docs/content/concepts/dagster-pipes/aws-ecs.mdx
  docs/content/concepts/dagster-pipes/aws-emr-serverless.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
Due: docs-mdx-format

Improve docstring on schema change checks
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/schema_change_checks.py
Due: pyright

Section on schema change
  docs/content/concepts/metadata-tags/asset-metadata/table-metadata.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/schema_change_checks.py
Due: docs-mdx-format, pyright

fix links
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/index.md
  docs/docs-beta/docs/dagster-plus/features/insights/asset-metadata.md
  docs/docs-beta/docs/guides/build/assets/defining-assets.md
  docs/docs-beta/docs/guides/deploy/webserver.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

[core-api] base
  python_modules/dagster/dagster/_annotations.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
