Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[docs] Fix code snippets in Deltalake docs
  docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
Due: docs-mdx-format

[docs] Fix code snippets in Deltalake docs (#24941)
  docs/content/integrations/deltalake/reference.mdx
  docs/content/integrations/deltalake/using-deltalake-with-dagster.mdx
Due: docs-mdx-format

Update apidoc files
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
Due: docs-mdx-format

[docs] Mention dbt deps and dbt parse in prepare-and-package
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  docs/next/public/objects.inv
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
Due: docs-mdx-format, pyright

add profiles dir to DbtProject
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dbt_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_project.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_resource.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/__init__.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_profiles_dir/profiles.yml
Due: pyright

Move Dagster Version input lower in report_bug.yml
  .github/ISSUE_TEMPLATE/report_bug.yml
Due: none

fix indentation
  .github/ISSUE_TEMPLATE/report_bug.yml
Due: none

remove dupe section
  .github/ISSUE_TEMPLATE/report_bug.yml
Due: none

wrap indexeddb db usage with try/catch
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/__tests__/HourlyDataCache.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/__tests__/useIndexedDBCachedQuery.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
Due: none

.
  js_modules/dagster-ui/packages/ui-core/src/search/__tests__/useIndexedDBCachedQuery.test.tsx
Due: none

More docs design polish (#24913)
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/theme-globals.scss
Due: none

Wrap IndexeddbDB usage with try/catch and degrade gracefully. (#24946)
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/__tests__/HourlyDataCache.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/__tests__/useIndexedDBCachedQuery.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
Due: none

Add an opt-in delay after compute logs finish to ensure that the captured logs are redirected back to stdout/stderr (#24548)
  python_modules/dagster/dagster/_core/execution/compute_logs.py
Due: pyright

Fixing comment on targeted_by_multiple_tasks (#24912)
  examples/experimental/dagster-airlift/dagster_airlift/core/multiple_tasks.py
Due: pyright

[docs] use args for class docstrings
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  examples/experimental/dagster-blueprints/dagster_blueprints/load_from_yaml.py
  python_modules/dagster/dagster/_core/definitions/asset_check_evaluation.py
  python_modules/dagster/dagster/_core/definitions/asset_check_result.py
  python_modules/dagster/dagster/_core/definitions/asset_daemon_cursor.py
  python_modules/dagster/dagster/_core/definitions/asset_dep.py
  python_modules/dagster/dagster/_core/definitions/asset_in.py
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/serialized_objects.py
  python_modules/dagster/dagster/_core/definitions/freshness_policy_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/metadata/source_code.py
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/multi_dimensional_partitions.py
  python_modules/dagster/dagster/_core/definitions/partition_key_range.py
  python_modules/dagster/dagster/_core/definitions/result.py
  python_modules/dagster/dagster/_core/definitions/run_request.py
  python_modules/dagster/dagster/_core/definitions/run_status_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
  python_modules/dagster/dagster/_core/definitions/target.py
  python_modules/dagster/dagster/_core/definitions/time_window_partition_mapping.py
  python_modules/dagster/dagster/_core/definitions/time_window_partitions.py
  python_modules/dagster/dagster/_core/events/__init__.py
  python_modules/dagster/dagster/_core/executor/init.py
  python_modules/dagster/dagster/_core/selector/subset_selector.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_utils/source_position.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/types.py
  python_modules/libraries/dagster-census/dagster_census/types.py
  python_modules/libraries/dagster-databricks/dagster_databricks/databricks.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud/types.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/types.py
  python_modules/libraries/dagster-sdf/dagster_sdf/resource.py
Due: docs-mdx-format, pyright

Remove AssetMaterializationUpstreamData view from materialization views
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetEventDetail.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPartitionDetail.tsx
Due: none

[docs] Mention `dbt deps` and `dbt parse` in `prepare-and-package` (#24923)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
Due: docs-mdx-format, pyright

[dagster-airlift] rename internals to use proxying language
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

Re-enabled airlift versions
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
Due: pyright

[runs feed] small ui fixes (#24915)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/RunsFeedBackfillPage.tsx
Due: none

all runs
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
Due: none

Add kinds parameter to AssetSpec (#24154)
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

[dagster-dbt] populate column tags for dbt (#24718)
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/dbt_packages/test_columns_metadata.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_metadata/models/schema.yml
Due: pyright

Change Runs page breadcrumb to "All runs" (#24954)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
Due: none

Move Dagster Version input lower in report_bug.yml (#24944)
  .github/ISSUE_TEMPLATE/report_bug.yml
Due: none

Add kinds parameter to @asset
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

Kill old backfills page when RunsFeed feature gate is enabled (#24909)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillActionsMenu.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/partitions/BackfillMessaging.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRowTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedUtils.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/SchedulesNextTicks.tsx
Due: none

[dagster-polars] fix loading missing LazyFrames (#24934)
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
Due: pyright

Relax bound on NamedTupleSerializer type variable
  python_modules/dagster/dagster/_serdes/serdes.py
Due: pyright

Relax bound on NamedTupleSerializer type variable (#24958)
  python_modules/dagster/dagster/_serdes/serdes.py
Due: pyright

Revert change to in_progress() condition
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

Apply a limit to the events fetched in AssetPartitionDetailQuery
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPartitionDetail.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/AssetEventDetail.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetPartitionDetail.types.ts
Due: none

Convert JobSnapshot, JobLineageSnapshot to @record
  python_modules/dagster/dagster/_core/snap/job_snapshot.py
  python_modules/dagster/dagster/_serdes/utils.py
Due: pyright

[record] short circuit None on optional containers
  python_modules/dagster/dagster/_check/builder.py
Due: pyright

Revert change to in_progress() condition (#24960)
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

Convert JobSnapshot, JobLineageSnapshot to @record (#24950)
  python_modules/dagster/dagster/_core/snap/job_snapshot.py
  python_modules/dagster/dagster/_serdes/utils.py
Due: pyright

[check builder] short circuit None on optional containers (#24963)
  python_modules/dagster/dagster/_check/builder.py
Due: pyright

make mdx-format
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format
