Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-airlift] top level export for base proxy operator
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dags/migrated_dag.py
Due: pyright

[io managers] Add dagster/relation_identifier metadata to IO Manager outputs
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
  python_modules/libraries/dagster-duckdb-pandas/dagster_duckdb_pandas_tests/test_type_handler.py
  python_modules/libraries/dagster-gcp-pandas/dagster_gcp_pandas_tests/bigquery/test_type_handler.py
  python_modules/libraries/dagster-snowflake-pandas/dagster_snowflake_pandas_tests/test_snowflake_pandas_type_handler.py
  python_modules/libraries/dagster-snowflake-pyspark/dagster_snowflake_pyspark_tests/test_snowflake_pyspark_type_handler.py
Due: pyright

handle json parsing errors from dbt log (#24194)
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
Due: pyright

relation id mock
  python_modules/dagster/dagster_tests/storage_tests/test_db_io_manager.py
Due: pyright

project id
  python_modules/libraries/dagster-gcp-pandas/dagster_gcp_pandas_tests/bigquery/test_type_handler.py
Due: pyright

New test case that includes fetching the most recent asset+partition combo for materializations and observations
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

New test case that includes fetching the most recent asset+partition combo for materializations and observations (#24198)
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

increase default value of DAGSTER_DBT_TERMINATION_TIMEOUT_SECONDS and make it configurable
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_resource.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_invocation.py
Due: pyright

increase default pipes subprocess termination timeout
  python_modules/dagster/dagster/_core/pipes/subprocess.py
Due: pyright

wip
  docs/.vale.ini
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/docs/guides/deployment/kubernetes.md
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

tag no grpc
  python_modules/dagster/dagster/_api/snapshot_partition.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster/_grpc/types.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

Fix automating-assets-schedules-jobs docs
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
Due: docs-mdx-format

todos
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/dagster-plus/insights.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/data-modeling/asset-dependencies.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/guides/deployment/kubernetes.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
Due: none

[docathon] vale clean-up pass #1 (#24180)
  docs/.vale.ini
  docs/docs-beta/docs/about/community.md
  docs/docs-beta/docs/dagster-plus/access/authentication/azure-ad-sso.md
  docs/docs-beta/docs/dagster-plus/access/authentication/pingone-sso.md
  docs/docs-beta/docs/dagster-plus/access/rbac/users.md
  docs/docs-beta/docs/dagster-plus/deployment/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/getting-started/code-requirements.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/data-modeling/asset-dependencies.md
  docs/docs-beta/docs/guides/data-modeling/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/data-modeling/data-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/guides/deployment/docker.md
  docs/docs-beta/docs/guides/deployment/kubernetes.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
  docs/docs-beta/docs/guides/external-systems/pipes.md
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
  docs/docs-beta/docs/guides/project-structure.md
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
  docs/vale/styles/Dagster/acronyms.yml
  docs/vale/styles/Dagster/headings-casing.yml
  docs/vale/styles/Terms/engineering.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

Update aws.mdx
  docs/content/deployment/guides/aws.mdx
Due: docs-mdx-format

docs: guide to set up custom logging in Dagster
  docs/docs-beta/docs/guides/monitor-alert/custom-logging.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/asset-job-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/customlogger.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/ops-job-example.py
Due: pyright

increase default value of DAGSTER_DBT_TERMINATION_TIMEOUT_SECONDS and make it configurable (#24183)
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_resource.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_invocation.py
Due: pyright

fix partition text input resetting
  js_modules/dagster-ui/packages/ui-core/src/partitions/DimensionRangeInput.tsx
Due: none

docs: guide to set up custom logging in Dagster (#24102)
  docs/docs-beta/docs/guides/monitor-alert/custom-logging.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/asset-job-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/customlogger.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/monitor-alert/custom-logging/ops-job-example.py
Due: pyright

Fix time range partition selection input resetting when partition health data updates (#24207)
  js_modules/dagster-ui/packages/ui-core/src/partitions/DimensionRangeInput.tsx
Due: none

Add docs on version compatibility within a deployment
  docs/content/about/releases.mdx
Due: docs-mdx-format

small tweak to selection syntax reference
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
Due: none

small tweak to selection syntax reference (#24211)
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
Due: none

Update automating-assets-schedules-jobs.mdx
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
Due: docs-mdx-format

Add --no-cache option to run_pyright script
  pyright/master/requirements-pinned.txt
  scripts/run-pyright.py
Due: pyright

[Docs] Fix automating-assets-schedules-jobs (#24204)
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
Due: docs-mdx-format

no abstract
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
Due: pyright

avoid gRPCs when resolving partition tags for implicit asset jobs (#23885)
  python_modules/dagster/dagster/_api/snapshot_partition.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster/_grpc/types.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

[1/n] rename get_workspace_snapshot() to get_code_location_entries()
  python_modules/dagster-graphql/dagster_graphql/implementation/external.py
  python_modules/dagster-graphql/dagster_graphql_tests/client_tests/test_shutdown_repository_location.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/test_utils.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster/_daemon/sensor.py
  python_modules/dagster/dagster/_daemon/workspace.py
  python_modules/dagster/dagster/_scheduler/scheduler.py
  python_modules/dagster/dagster_tests/core_tests/workspace_tests/test_request_context.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_pythonic_resources.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_run_status_sensors.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_sensor_run.py
  python_modules/dagster/dagster_tests/daemon_tests/conftest.py
  python_modules/dagster/dagster_tests/scheduler_tests/conftest.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_pythonic_resources.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

[docs] update mentions of ".cron()" to ".on_cron()"
  docs/content/concepts/automation/declarative-automation.mdx
Due: docs-mdx-format

[dagster-airlift] top level export for base proxy operator (#24193)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dags/migrated_dag.py
Due: pyright

[1/n] rename get_workspace_snapshot() to get_code_location_entries() (#24068)
  python_modules/dagster-graphql/dagster_graphql/implementation/external.py
  python_modules/dagster-graphql/dagster_graphql_tests/client_tests/test_shutdown_repository_location.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/test_utils.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster/_daemon/sensor.py
  python_modules/dagster/dagster/_daemon/workspace.py
  python_modules/dagster/dagster/_scheduler/scheduler.py
  python_modules/dagster/dagster_tests/core_tests/workspace_tests/test_request_context.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_pythonic_resources.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_run_status_sensors.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_sensor_run.py
  python_modules/dagster/dagster_tests/daemon_tests/conftest.py
  python_modules/dagster/dagster_tests/scheduler_tests/conftest.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_pythonic_resources.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

[2/n] Pass around a CodeLocationEntriesSnapshot object into the WorkspaceRequestContext instead of a dictionary (#24069)
  python_modules/dagster-graphql/dagster_graphql/test/utils.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_reload_repository_location.py
  python_modules/dagster-webserver/dagster_webserver/debug.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster/_daemon/workspace.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/core_tests/workspace_tests/test_request_context.py
  python_modules/dagster/dagster_tests/general_tests/asset_graph_differ_tests/test_asset_graph_differ.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_scheduler_run.py
Due: pyright

Use a consistent workspace throughout a single invocation of submit_asset_run
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
Due: pyright

[3/n] Use a consistent workspace throughout a single invocation of submit_asset_run (#24070)
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
Due: pyright

[dagster-airlift] tutorial auth
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/custom_proxy.py
Due: pyright

[docs-beta] re-introduce missing ingestion example
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
Due: none

[docs-beta] re-introduce missing ingestion example (#24215)
  docs/docs-beta/docs/guides/ingestion-transformation/ingesting-data.md
Due: none

add a test case that fails if you forget to filter asset check executions by asset key
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
