Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[DA] Allow custom AutomationConditions to cross a serdes boundary
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/asset_condition_tests/test_auto_materialize_policy_conversion.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/asset_condition_tests/test_automation_condition.py
Due: pyright

Combine UserCodeAutomationConditionSensor into AutomationConditionSensor
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_sensor_run.py
  python_modules/dagster/dagster_tests/definitions_tests/asset_policy_sensors_tests/test_default_auto_materialize_sensors.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/user_space_ds_defs.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_policy_sensor_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_repository_definition.py
Due: pyright

[DA] Simplify legacy_context handling
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
Due: pyright

[DA] Add `get_empty_slice` to AutomationContext
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/code_version_changed_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/asset_condition_tests/automation_condition_scenario.py
Due: pyright

[DA] Simplify AutomationResult
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/code_version_changed_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/asset_condition_tests/automation_condition_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/asset_condition_tests/test_automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/asset_condition_tests/test_dep_condition.py
Due: pyright

[dagster-dbt][dagster-sdf] default-on code references
  python_modules/libraries/dagster-dbt/dagster_dbt/dagster_dbt_translator.py
  python_modules/libraries/dagster-sdf/dagster_sdf/dagster_sdf_translator.py
Due: pyright

[ui] Code location page: Allow server section
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewSectionHeader.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationServerSection.oss.tsx
Due: none

Computation-based dlt integration
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

create time filtering for bulk actions table (#23560)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs_feed.py
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster/_core/storage/runs/base.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

BulkActions filters in GQL layer (#23682)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_backfills.py
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_backfill.py
Due: pyright

filter by multiple statuses in BulkActionsFilter
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

error sooner
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

gql
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_backfill.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

co
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/constants.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

cp
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

cp
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_dagster_translator.py
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_partitions.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

cp
  docs/content/integrations/embedded-elt/dlt.mdx
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/constants.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: docs-mdx-format, pyright

cp
  docs/content/integrations/embedded-elt/dlt.mdx
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/dlt_partitions.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/dlt_computation.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: docs-mdx-format, pyright

fix asset sensor name
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Due: none

[docs-beta] Remove install-state (#23825)
  docs/docs-beta/.yarn/install-state.gz
Due: none

Automation: versioned docs for 1.8.2
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

[dagster-sdf] Enable Caching & Asset Selection (#23750)
  python_modules/libraries/dagster-sdf/dagster_sdf/asset_utils.py
  python_modules/libraries/dagster-sdf/dagster_sdf/constants.py
  python_modules/libraries/dagster-sdf/dagster_sdf/include/scaffold/assets.py.jinja
  python_modules/libraries/dagster-sdf/dagster_sdf/include/scaffold/definitions.py.jinja
  python_modules/libraries/dagster-sdf/dagster_sdf/resource.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_event.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_invocation.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_information_schema.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_version.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_workspace.py
  python_modules/libraries/dagster-sdf/dagster_sdf_tests/conftest.py
  python_modules/libraries/dagster-sdf/dagster_sdf_tests/test_asset_checks.py
  python_modules/libraries/dagster-sdf/dagster_sdf_tests/test_asset_decorator.py
  python_modules/libraries/dagster-sdf/dagster_sdf_tests/test_resource.py
  python_modules/libraries/dagster-sdf/setup.py
Due: pyright

[ui] Sensor history: Fix tick ID variable (#23802)
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickDetailsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/TickTagForRun.tsx
Due: none

[docs-beta] Remove install-state (#23834)
  docs/docs-beta/.yarn/install-state.gz
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Due: none

filter by multiple statuses in BulkActionsFilter (#23772)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_backfill.py
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

[docs-beta] Add snippets folder
  examples/docs_beta_snippets/README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/asset-sensor-custom-eval.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/asset-sensor-with-config.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/multi-asset-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/schedule-with-partition.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-asset-sensor-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-schedule-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-sensor-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-avoid.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-explicit.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-io-manager.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-rewrite-assets.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/__init__.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/conftest.py
  examples/docs_beta_snippets/pyproject.toml
  examples/docs_beta_snippets/setup.py
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/asset-sensor-custom-eval.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/asset-sensor-with-config.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/multi-asset-sensor.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/schedule-with-partition.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-asset-sensor-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-schedule-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-sensor-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-avoid.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-explicit.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-io-manager.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-rewrite-assets.py
Due: pyright

[DAGSTER_BRANCH=jamie/reorder-params]
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_backfills.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster/_core/storage/runs/base.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster/_daemon/backfill.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

[sling] yield asset materialization / materialize result depending on if asset or op
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
Due: pyright

add tests and instructions
  docs/docs-beta/README.md
  docs/docs-beta/src/components/CodeExample.tsx
  examples/docs_beta_snippets/README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-sensor-example.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_beta_snippets/setup.py
Due: pyright

run prettier
  examples/docs_beta_snippets/README.md
  examples/docs_beta_snippets/docs_beta_snippets_tests/conftest.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_beta_snippets/tox.ini
Due: pyright

run ruff
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/multi-asset-sensor.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/automation/simple-schedule-example.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-assets/passing-data-assets/passing-data-io-manager.py
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_all_files_load.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/multi-asset-sensor.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/automation/simple-schedule-example.py
  examples/docs_snippets/docs_snippets/docs_beta/guides/data-assets/passing-data-assets/passing-data-io-manager.py
Due: pyright

[dagster-airlift] unit testing framework
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_peering.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_sensor.py
Due: pyright

[dagster-airlift] allow all retrieval methods of task/dag
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_utils.py
Due: pyright

Reorder status and filters params for get_backfills (#23773)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_backfills.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster/_core/storage/runs/base.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster/_daemon/backfill.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

type ignore
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/rebuild_customers_list.py
Due: pyright

pyright
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
Due: none

1.8.3 changelog
  CHANGES.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
