Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[dagster-tableau] Move refresh and materialize logic to Tableau resource
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/conftest.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_reconstruction.py
Due: pyright

Update build_tableau_executable_assets_definition
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/conftest.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_reconstruction.py
Due: pyright

[dbt] modify context type signatures and usage for making AssetExecutionContext a standalone class (#25543)
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_event.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
Due: pyright

[sdf] modify context type signatures and usage for making AssetExecutionContext a standalone class (#25544)
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_event.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_invocation.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_information_schema.py
Due: pyright

[celery] modify context type signatures and usage for making AssetExecutionContext a standalone class (#25545)
  python_modules/libraries/dagster-celery/example/example_code/definitions.py
Due: pyright

[dagster-sigma] Add SigmaFilter to filter set of incoming workbooks
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[core] modify context type signatures and usage for making AssetExecutionContext a standalone class (#25541)
  python_modules/dagster/dagster/_core/execution/context/asset_execution_context.py
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
  python_modules/dagster/dagster/_core/execution/plan/compute.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_execution_context.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_context.py
Due: pyright

[dagster-airlift] dag level
  docs/content/integrations/airlift/migrating-full-dags.mdx
  docs/content/integrations/airlift/tutorial.mdx
Due: docs-mdx-format

[pipes] modify context type signatures and usage for making AssetExecutionContext a standalone class (#25542)
  integration_tests/test_suites/k8s-test-suite/tests/test_pipes.py
  python_modules/dagster/dagster/_core/pipes/client.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/pipes/subprocess.py
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/in_process_client.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-docker/dagster_docker/pipes.py
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
Due: pyright

[dagster-airlift] Split up tutorial
  docs/content/integrations/airlift/asset-checks.mdx
  docs/content/integrations/airlift/faq.mdx
  docs/content/integrations/airlift/tutorial/1-intro.mdx
  docs/content/integrations/airlift/tutorial/2-setup.mdx
  docs/content/integrations/airlift/tutorial/3-peer.mdx
  docs/content/integrations/airlift/tutorial/4-observe.mdx
  docs/content/integrations/airlift/tutorial/5-migrate.mdx
Due: docs-mdx-format

Convert deprecation to error for custom PartitionsDefinition subclass
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
Due: pyright

Unexperimentalize asset tag params (#25597)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Due: docs-mdx-format, pyright

[docs] Pass on kind docs (#25596)
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/content/concepts/metadata-tags/tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/kinds.svg
Due: docs-mdx-format

feat(cli.project): enable optional minimalist configuration in templates (#25245)
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/__init__.py
  python_modules/dagster/dagster/_generate/download.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/setup.cfg.tmpl
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER/__init__.py
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER/assets.py
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER/definitions.py.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER_tests/__init__.py
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/PROJECT_NAME_PLACEHOLDER_tests/test_assets.py.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/README.md.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/pyproject.toml.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/setup.cfg.jinja
  python_modules/dagster/dagster/_generate/templates/PROJECT_NAME_PLACEHOLDER/setup.py.jinja
  python_modules/dagster/dagster_tests/cli_tests/test_project_commands.py
  scripts/install_dev_python_modules.py
Due: pyright

AssetKey as deps backcompat (#25463)
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

[dagster-airlift] Unified complete code directory
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/migrate_dag_level.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/migrate_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/observe_dag_level.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/observe_with_partitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/partial_migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/peer.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/peer_with_check.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/dagster_stages/standalone.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/shared_code/export_duckdb_to_csv.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/completed_code_examples/shared_code/load_csv_to_duckdb.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/shared/complete/__init__.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrate_with_check_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_observing_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_peer_with_check_e2e.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_peering_e2e.py
Due: pyright

fix 2
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/libraries/dagster-looker/dagster_looker/api/cli.py
Due: pyright

dagster-looker 0.24.14rc5
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

Process Tableau workspace resources when loading specs
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

add partition filter to get_latest_storage_id_by_partition (#25510)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

always fetch storage_ids by partition for latest materializations call (#25511)
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
Due: pyright

[dagster-tableau] Process Tableau resources + EnvVars when loading specs
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

Convert deprecation to error for custom PartitionsDefinition subclass (#25602)
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
Due: pyright

Process Tableau workspace resources when loading specs (#25605)
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

appease ruff
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-global.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-job-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-job-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-no-more-than-1-job.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-job-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-job-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-op.py
Due: pyright

Update docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
Due: none

remove reference to GitHub/GitLab "integration"
  docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
Due: none

[dagster-sigma] Add SigmaFilter to filter set of incoming workbooks (#25529)
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

simplify GitHub/GitLab sections
  docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
Due: none

EDIT remove hard coding in url
  python_modules/libraries/dagster-azure/dagster_azure/adls2/fake_adls2_resource.py
  python_modules/libraries/dagster-azure/dagster_azure/adls2/file_manager.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/adls2_tests/test_adls2_file_manager.py
Due: pyright

[DOC-430] Add Managing Concurrency Guide (#24296)
  docs/docs-beta/docs/guides/managing-concurrency.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-global.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-job-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-job-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-no-more-than-1-job.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-job-asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-job-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/concurrency-tag-key-op.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tbd/global_concurrency/dagster.yaml
Due: pyright

fix race condition for deleting state
  python_modules/dagster/dagster/_scheduler/scheduler.py
Due: pyright

[docs-beta] Refresh Dagster+ Serverless guide (#25563)
  docs/docs-beta/docs/dagster-plus/deployment/serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/dagster-ips.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/security.md
Due: none
