Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

rm pathlib
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/advanced-yaml-asset-factory.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/asset-factories/simple-yaml-asset-factory.py
Due: pyright

use dag_defs and task_defs
  examples/experimental/dagster-airlift/README.md
Due: none

Update
  examples/experimental/dagster-airlift/README.md
Due: none

update
  examples/experimental/dagster-airlift/README.md
Due: none

[docs] indicate Run Monitoring enabled by default in Dagster+
  docs/content/deployment/run-monitoring.mdx
Due: docs-mdx-format

Revert "[docs] fix 404ing URL"
  docs/content/dagster-plus/deployment/agents/amazon-ecs.mdx
Due: docs-mdx-format

yarn lint
  js_modules/dagster-ui/packages/ui-core/src/runs/usePaginatedRunsTableRuns.tsx
Due: none

remove unneeded part of URL
  docs/content/deployment/run-monitoring.mdx
Due: docs-mdx-format

[ui] Add a brief readme to dagster-ui
  js_modules/dagster-ui/README.md
Due: none

[UI] fix: missing last 5 runs on each run page (#23817)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRunsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/usePaginatedRunsTableRuns.tsx
Due: none

Add more Vale examples to readme
  docs/docs-beta/README.md
Due: none

Clean up metadata docs
  docs/docs-beta/docs/guides/data-modeling/metadata.md
Due: none

[docs-revamp] - Add more Vale examples to readme (#23914)
  docs/docs-beta/README.md
Due: none

[docs-revamp] - Add resource stub pages (#23908)
  docs/docs-beta/docs/guides/external-systems/authentication.md
  docs/docs-beta/docs/guides/external-systems/build-your-own.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
Due: none

[ui] Fix case sensitivity in launchpad partition picker
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
Due: none

one->you
  docs/docs-beta/docs/guides/data-modeling/metadata.md
Due: none

Finish feedback from erin
  docs/docs-beta/docs/guides/data-modeling/metadata.md
Due: none

cp
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
Due: pyright

Add complete.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/complete.py
Due: pyright

Use dag_defs in dbt_example
  examples/experimental/dagster-airlift/dagster_airlift/dbt/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
Due: pyright

Use dag_defs in dbt_example" (#23881)
  examples/experimental/dagster-airlift/dagster_airlift/dbt/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/complete.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
Due: pyright

Change tutorial to use dag_defs
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/duckdb_to_csv_defs.py
Due: pyright

Change tutorial to use dag_defs (#23883)
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/duckdb_to_csv_defs.py
Due: pyright

Eliminiate combine defs
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/complete.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
Due: pyright

Eliminiate combine defs (#23919)
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/complete.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
Due: pyright

Delete peering-with-dbt/peering_with_dbt_tests/conftest.py in airlift
  examples/experimental/dagster-airlift/examples/peering-with-dbt/peering_with_dbt_tests/conftest.py
Due: pyright

Checkpoint
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
Due: none

Fix broken link and other vale warnings
  docs/docs-beta/docs/guides/data-modeling/metadata.md
Due: none

Add migration steps to Airlift README (#23756)
  examples/experimental/dagster-airlift/README.md
Due: none

Eliminate DefsFactory in airlift
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/def_factory.py
  examples/experimental/dagster-airlift/dagster_airlift/core/multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift/core/python_callable.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_python_multi_assets.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/observe.py
Due: pyright

Configuring assets guide
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/src/components/CodeExample.tsx
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/config-schema.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/configuring-assets/run_config.yaml
Due: pyright

[dagster-airlift] update migration state format
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/migration_state/marked_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/migration_state/some_other_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_cacheable_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/extra_key/extra_key.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/nonsense/nonsense_value.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/valid/first.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/valid/second.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/airflow_dags/dagster_migration/simple.yaml
Due: pyright

[dagster-airlift] remove cruft
  examples/experimental/dagster-airlift/examples/dbt-example/README.md
  examples/experimental/dagster-airlift/examples/peering-with-dbt/peering_with_dbt_tests/conftest.py
Due: pyright

etl dir -> ingestion-and-transformation
  docs/docs-beta/docs/guides/ingestion-and-transformation/backfill.md
  docs/docs-beta/docs/guides/ingestion-and-transformation/ingesting-data.md
  docs/docs-beta/docs/guides/ingestion-and-transformation/transform-dbt.md
  docs/docs-beta/sidebars.ts
Due: none

delete reference to DbtProjectDefs
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/dagster_airlift/dbt/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dbt_multi_asset.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/complete.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
Due: pyright

ruff
  examples/experimental/dagster-airlift/dagster_airlift/dbt/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
Due: pyright

delete comment
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dbt_multi_asset.py
Due: pyright

Eliminate DefsFactory in airlift (#23921)
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/def_factory.py
  examples/experimental/dagster-airlift/dagster_airlift/core/multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift/core/python_callable.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/dbt/multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dbt_multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_python_multi_assets.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/complete.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/definitions.py
Due: pyright

Delete peering-with-dbt/peering_with_dbt_tests/conftest.py in airlift (#23922)
  examples/experimental/dagster-airlift/examples/peering-with-dbt/peering_with_dbt_tests/conftest.py
Due: pyright

[dagster-airlift] update migration state format (#23917)
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/migration_state/marked_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/migration_state/some_other_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_cacheable_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/extra_key/extra_key.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/nonsense/nonsense_value.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/valid/first.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/migration_state_yamls/valid/second.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/dbt_dag.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/migration_state/load_lakehouse.yaml
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/airflow_dags/dagster_migration/simple.yaml
Due: pyright
