Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

ruffian
  python_modules/dagster/dagster_tests/general_tests/utils_tests/test_cached_method.py
Due: pyright

[dagster-sigma] Use aiohttp to fetch data from Sigma APIs
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

rerun snapshot
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/__snapshots__/test_load_defs_from_yaml.ambr
Due: none

more to first asset
  docs/docs-beta/docs/tutorial/02-dagster-project-setup.md
Due: none

adding dagster-duckdb package
  examples/etl_tutorial/setup.py
Due: pyright

Upgrade dagster helm to pydantic 2
  helm/dagster/schema/setup.py
Due: pyright

formatting
  docs/docs-beta/docs/guides/tbd/managing-concurrency.md
Due: none

[dagster-sigma] Add kind tag icon (#24568)
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/sigma.svg
Due: none

renamed scaffold command to "getting_started_etl_tutorial"
  examples/getting_started_etl_tutorial/data/products.csv
  examples/getting_started_etl_tutorial/data/sales_data.csv
  examples/getting_started_etl_tutorial/data/sales_reps.csv
  examples/getting_started_etl_tutorial/data/sample_request/request.json
  examples/getting_started_etl_tutorial/etl_tutorial/definitions.py
  examples/getting_started_etl_tutorial/pyproject.toml
  examples/getting_started_etl_tutorial/setup.cfg
  examples/getting_started_etl_tutorial/setup.py
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

adding project scaffold files for etl tutorial (#25370)
  examples/getting_started_etl_tutorial/data/products.csv
  examples/getting_started_etl_tutorial/data/sales_data.csv
  examples/getting_started_etl_tutorial/data/sales_reps.csv
  examples/getting_started_etl_tutorial/data/sample_request/request.json
  examples/getting_started_etl_tutorial/etl_tutorial/definitions.py
  examples/getting_started_etl_tutorial/pyproject.toml
  examples/getting_started_etl_tutorial/setup.cfg
  examples/getting_started_etl_tutorial/setup.py
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

vale suggestion
  docs/docs-beta/docs/guides/tbd/managing-concurrency.md
Due: none

looker no rc pin
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

add next steps
  docs/docs-beta/docs/guides/tbd/managing-concurrency.md
Due: none

dagster-looker 0.24.12rc2
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

rc
  python_modules/libraries/dagster-looker/setup.py
Due: pyright

dagster-looker 0.24.12rc3
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

set DAGSTER_FROM_OSS in internal pipeline execution
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_main.py
Due: pyright

Hide non_argument_deps
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster_tests/test_annotations.py
Due: docs-mdx-format, pyright

Fixing custom RBAC docs based on Pedram's feedback
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Due: docs-mdx-format

[dagster-airlift] Fixes for demo
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/proxied_state/rebuild_iris_models.yaml
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/proxied_state/rebuild_iris_models.yaml-e
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/jaffle_shop.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe_with_check.py
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: pyright

[dagster-airlift] Proxy partitioning working
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/partition_utils.py
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/migrated_partitioned.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/migrated_daily_interval_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_observation.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
Due: pyright

[dagster-airlift] Multi code locations working
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_location_dags.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_first_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_second_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_instance.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/constants.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/observation_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/__init__.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/first_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/second_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/workspace.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_multi_code_location.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_observation.py
Due: pyright

merge from master
  docs/docs-beta/docs/guides/tbd/managing-concurrency.md
Due: none

only 1 guide
  docs/docs-beta/docs/guides/managing-concurrency.md
  docs/docs-beta/docs/guides/tbd/managing-concurrency.md
Due: none

[dagster-airlift] 0.0.27
  examples/experimental/dagster-airlift/CHANGES.md
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[cli] fix ruff and unit tests for --excludes
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/download.py
  python_modules/dagster/dagster/_generate/generate.py
  python_modules/dagster/dagster_tests/cli_tests/test_project_commands.py
Due: pyright

Docs for Custom RBAC
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Due: docs-mdx-format

[docs] display supersession info
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
Due: docs-mdx-format, pyright

[docs] add StepLauncher deprecation notes
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/internals.rst
  python_modules/dagster/dagster/_core/definitions/step_launcher.py
  python_modules/libraries/dagster-aws/dagster_aws/emr/pyspark_step_launcher.py
  python_modules/libraries/dagster-databricks/dagster_databricks/databricks_pyspark_step_launcher.py
Due: docs-mdx-format, pyright

Fix bug when switching from non-user-code to user-code
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster/_daemon/sensor.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_defs.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_non_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

Update test_perf.py to include asset checks
  python_modules/dagster-test/dagster_test/toys/auto_materializing/large_graph.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/perf_tests/test_perf.py
Due: pyright

Fix tests
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
Due: pyright

Make automation evaluate async
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/perf_tests/test_perf.py
Due: pyright

Sum over gathered
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
Due: pyright

targets_latest_materialization
  python_modules/dagster-graphql/dagster_graphql/schema/asset_checks.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
Due: pyright

Gather since op results
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

Missed one
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
Due: pyright

Make compute asset subset functions async
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/operands.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/subset_automation_condition.py
Due: pyright

Make compute check functions async
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/operands.py
Due: pyright

Make AutomationCondition evaluate optionally async
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/check_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
