Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Ruff --line-length 100
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Due: pyright

make ruff
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Due: pyright

[docs] add supersession notes to Spark integration page
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes.mdx
  docs/content/integrations/spark.mdx
Due: docs-mdx-format

[docs] replace `StepLauncher` with Pipes on Spark integration page (#25420)
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes.mdx
  docs/content/integrations/spark.mdx
Due: docs-mdx-format

feat: use has_metrics_tag and time expiration to inform ui on metrics availability
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_runs.py
  python_modules/dagster/dagster/_core/storage/tags.py
Due: pyright

add backfill id index for runs table
  python_modules/dagster/dagster/_core/storage/alembic/versions/045_1aca709bba64_add_runs_table_backfill_id_index.py
  python_modules/dagster/dagster/_core/storage/runs/schema.py
Due: pyright

add tests
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

do set operations correct
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[ui] Resolve AMP state before handling Overview AMP route
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
Due: none

add backfill id index for runs table (#25477)
  python_modules/dagster/dagster/_core/storage/alembic/versions/045_1aca709bba64_add_runs_table_backfill_id_index.py
  python_modules/dagster/dagster/_core/storage/runs/schema.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

write backfill id if column exists
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

fix import
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
Due: pyright

[lazy-defs] Eliminate PendingRepositoryDefinition
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/__init__.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/valid_definitions.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/single_cacheable_asset_repository.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/test_repository_snap.py
  python_modules/dagster/dagster_tests/core_tests/test_external_execution_plan.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
  python_modules/dagster/dagster_tests/execution_tests/execution_plan_tests/test_external_step.py
  python_modules/dagster/dagster_tests/general_tests/test_cacheable_assets_defs.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/definitions.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_reconstruction.py
Due: pyright

autoimport goofed
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[lazy-defs] Eliminate PendingRepositoryDefinition (#24632)
  python_modules/dagster/dagster/_core/definitions/decorators/repository_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/__init__.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/valid_definitions.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/single_cacheable_asset_repository.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/test_repository_snap.py
  python_modules/dagster/dagster_tests/core_tests/test_external_execution_plan.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/execution_tests/engine_tests/test_step_delegating_executor.py
  python_modules/dagster/dagster_tests/execution_tests/execution_plan_tests/test_external_step.py
  python_modules/dagster/dagster_tests/general_tests/test_cacheable_assets_defs.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/definitions.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_reconstruction.py
Due: pyright

write backfill id to runs table if column exists (#25407)
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

add data migration
  python_modules/dagster/dagster/_core/storage/runs/migration.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

force migration to run
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
Due: pyright

test works without manually calling migration
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
Due: pyright

update comment
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
Due: pyright

fix migration
  python_modules/dagster/dagster/_core/storage/runs/migration.py
Due: pyright

update test
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

final fixes
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

read from new backfill_id column if present
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[docs] add StepLauncher -> Pipes migration guide
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes.mdx
  docs/content/guides/migrations/from-step-launchers-to-pipes.mdx
  docs/content/integrations/spark.mdx
  docs/sphinx/sections/api/apidocs/internals.rst
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/downstream_asset.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/downstream_asset_script.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/new_code.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/old_code.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/ruff.toml
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/upstream_asset.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/upstream_asset_script.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/utils.py
Due: docs-mdx-format, pyright

[docs] add StepLauncher -> Pipes migration guide (#25422)
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes.mdx
  docs/content/guides/migrations/from-step-launchers-to-pipes.mdx
  docs/content/integrations/spark.mdx
  docs/sphinx/sections/api/apidocs/internals.rst
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/downstream_asset.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/downstream_asset_script.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/new_code.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/old_code.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/ruff.toml
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/upstream_asset.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/upstream_asset_script.py
  examples/docs_snippets/docs_snippets/guides/migrations/from_step_launchers_to_pipes/utils.py
Due: docs-mdx-format, pyright

runs table backfill_id column - data migration (#25425)
  python_modules/dagster/dagster/_core/storage/runs/migration.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

filter.exclude_subruns uses backfill_id column if present (#25449)
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/general_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/compat_tests/test_back_compat.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/compat_tests/test_back_compat.py
Due: pyright

[dagster-airlift] Multi code locations working
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_location_dags.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_first_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_second_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_instance.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/constants.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/observation_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/__init__.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/first_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/second_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/workspace.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_multi_code_location.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_observation.py
Due: pyright

[changelog] 1.8.13
  CHANGES.md
Due: none

Setup BI integrations for release
  python_modules/libraries/dagster-powerbi/dagster_powerbi/__init__.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/version.py
  python_modules/libraries/dagster-powerbi/setup.py
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
  python_modules/libraries/dagster-sigma/setup.py
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau/version.py
  python_modules/libraries/dagster-tableau/setup.py
Due: pyright

[changelog] 1.8.13 (#25500)
  CHANGES.md
Due: none

fix
  python_modules/libraries/dagster-powerbi/setup.py
  python_modules/libraries/dagster-sigma/setup.py
  python_modules/libraries/dagster-tableau/setup.py
Due: pyright

Lint
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
Due: pyright

Fix pyright
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

Fix docstring
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
Due: pyright

[dagster-looker] Detach spec loading, assets def building from Looker resource
  docs/content/integrations/looker.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: docs-mdx-format, pyright

Fix ruff and graphite bot
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

[dagster-looker] Standardize translator signature
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
