Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

make it work
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadAllowedRoot.tsx
Due: none

always fetch storage_ids by partition for latest materializations call (#25511)
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
Due: pyright

better
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadAllowedRoot.tsx
Due: none

[dagster-airlift] Add airlift to snippets requirements
  examples/docs_snippets/docs_snippets_tests/integrations_tests/test_airlift.py
  examples/docs_snippets/tox.ini
Due: pyright

[ui] Eliminate legacy nav
  js_modules/dagster-ui/packages/ui-core/src/app/App.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/AppTopNav/AppTopNavLinks.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/settings/SettingsMainPane.tsx
Due: none

Fix "Large launchpad configs returned by Test Sensor feature causes URL to be too long and page to be unloadable" (#25577)
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadAllowedRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/DryRunRequestTable.tsx
Due: none

[dagster-airlift] tutorial snippets working
  docs/content/integrations/airlift/reference.mdx
  docs/tox.ini
Due: docs-mdx-format

[ui] Eliminate legacy nav (#25583)
  js_modules/dagster-ui/packages/ui-core/src/app/App.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/AppTopNav/AppTopNavLinks.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/useVisibleFeatureFlagRows.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/AutomaterializationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/OverviewTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/settings/SettingsMainPane.tsx
Due: none

[graphql] move asset node fetches back to asset_graph
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/workspace/context.py
Due: pyright

[asset graph] all_asset_keys -> get_all_asset_keys()
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_load_defs_from_yaml.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/definitions/asset_layer.py
  python_modules/dagster/dagster/_core/definitions/asset_selection.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/context/data_version_cache.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_code_references.py
  python_modules/libraries/dagster-sdf/dagster_sdf_tests/test_code_references.py
Due: pyright

Update dbt reference post review
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

[docs] update wording in backfill page
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
Due: docs-mdx-format

[dagster-airlift] Api docs working
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-airlift.rst
Due: docs-mdx-format, pyright

[asset graph] all_asset_keys -> get_all_asset_keys() (#25582)
  examples/experimental/dagster-blueprints/dagster_blueprints_tests/test_load_defs_from_yaml.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/definitions/asset_layer.py
  python_modules/dagster/dagster/_core/definitions/asset_selection.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/context/data_version_cache.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_code_references.py
  python_modules/libraries/dagster-sdf/dagster_sdf_tests/test_code_references.py
Due: pyright

[docs] add `dagster-ray` to community integrations page (#25565)
  docs/content/integrations.mdx
Due: docs-mdx-format

Pins croniter<4.0.0 (#25571)
  python_modules/dagster/setup.py
Due: pyright

[dagster-airlift] Move tutorial to docs site mdx
  docs/content/_navigation.json
  docs/content/integrations/airlift/tutorial.mdx
Due: docs-mdx-format

[dagster-airlift] Make observe step flow better
  docs/content/integrations/airlift/reference.mdx
  docs/content/integrations/airlift/tutorial.mdx
Due: docs-mdx-format

[graphql] move asset node fetches back to asset_graph (#25580)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/workspace/context.py
Due: pyright

[docs] update wording in backfill page (#25584)
  docs/content/concepts/partitions-schedules-sensors/backfills.mdx
Due: docs-mdx-format

[dagster-airlift] Fix proxy section
  docs/content/integrations/airlift/tutorial.mdx
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe_with_partitions.py
Due: docs-mdx-format, pyright

[dagster-airlift] Use airflow reserialize instead of adding warning.
  docs/content/integrations/airlift/tutorial.mdx
Due: docs-mdx-format

EDIT attempting to add cloud type into resource and tests
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/adls2_tests/test_adls2_file_manager.py
Due: pyright

EDIT test for not specifying cloud type
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
  python_modules/libraries/dagster-azure/dagster_azure_tests/adls2_tests/test_adls2_file_manager.py
Due: pyright

[dagster-tableau] Update Tableau documentation to showcase new API patterns
  docs/content/integrations/tableau.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-tableau.rst
  examples/docs_snippets/docs_snippets/integrations/tableau/add-tableau-data-quality-warning.py
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/refresh-and-materialize-tableau-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
Due: docs-mdx-format, pyright

[dagster-airlift] Refactor csv loader to take args directly
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/observe_with_partitions.py
Due: pyright

[dagster-tableau] Make new Tableau APIs experimental
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

[dagster-looker] Make new Looker APIs experimental
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

[docs] Add dbt defer and Dagster branch deployments guide (#24760)
  docs/content/integrations/dbt/reference.mdx
  examples/docs_snippets/docs_snippets/integrations/dbt/dbt.py
Due: docs-mdx-format, pyright

[dagster-tableau] Make new Tableau APIs experimental (#25589)
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

[dagster-looker] Make new Looker APIs experimental (#25590)
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

fix
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/libraries/dagster-looker/dagster_looker/api/cli.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

include excludes in generate_project
  python_modules/dagster/dagster/_cli/project.py
  python_modules/dagster/dagster/_generate/generate.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
