Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

table formatting how-to
  docs/docs-beta/CONTRIBUTING.md
Due: none

changelog
  CHANGES.md
Due: none

add period
  CHANGES.md
Due: none

Table formatting how-to (#26599)
  docs/docs-beta/CONTRIBUTING.md
Due: none

add deployment settings pointer for concurrency docs
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Due: docs-mdx-format

todo links
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-multiple-projects-and-teams.md
Due: none

fix executionParamsList
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
Due: none

todo links
  docs/docs-beta/docs/dagster-plus/deployment/management/rate-limits.md
Due: none

todo links
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
Due: none

todo links
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/configuration.md
Due: none

rm referenceftable
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/configuration.md
Due: none

todo links
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/docker/configuration.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/docker/setup.md
Due: none

todo links
  docs/docs-beta/docs/dagster-plus/features/insights/export-metrics.md
Due: none

Add flag to TestEventLogStorage for storages that don't implement get_logs_for_all_runs_by_log_id
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

weak map memoize
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/weakMapMemoize.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/weakMapMemoize.ts
Due: none

step stats
  python_modules/dagster/dagster/_core/execution/stats.py
  python_modules/dagster/dagster_tests/storage_tests/test_event_log.py
Due: pyright

changes
  CHANGES.md
Due: none

reorganize pipes section
  docs/docs-beta/docs/guides/build/integrate/pipes.md
  docs/docs-beta/docs/guides/build/integrate/pipes/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/integrate/pipes/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/integrate/pipes/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/integrate/pipes/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/integrate/pipes/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/integrate/pipes/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/integrate/pipes/index.md
  docs/docs-beta/docs/guides/build/integrate/pipes/kubernetes-pipeline.md
Due: none

[ui] Fix googledrive svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-googledrive-color.svg
Due: none

more pipes
  docs/docs-beta/docs/guides/build/integrate/pipes/index.md
Due: none

move assets docs to assets section
  docs/docs-beta/docs/guides/build/assets-concepts/asset-factories.md
  docs/docs-beta/docs/guides/build/assets-concepts/configuring-assets.md
Due: none

[docs-beta] migrate - dagster+ settings
  docs/docs-beta/CONTRIBUTING.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/customizing-agent-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/deployment-settings.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/theme/MDXComponents.tsx
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/management/settings/aws_compute_logs.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/management/settings/code_server_ttl.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/management/settings/disable_compute_logs.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/management/settings/streaming_compute_logs.yaml
Due: none

Add flag to TestEventLogStorage for storages that don't implement get_logs_for_all_runs_by_log_id (#26604)
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[record] kw_only
  python_modules/dagster/dagster/_core/definitions/selector.py
  python_modules/dagster/dagster/_core/remote_representation/handle.py
  python_modules/dagster/dagster/_core/snap/node.py
  python_modules/dagster/dagster/_record/__init__.py
  python_modules/dagster/dagster_tests/general_tests/test_record.py
Due: pyright

1.9.6 changelog (#26555)
  CHANGES.md
Due: none

edit
  docs/content/guides/limiting-concurrency-in-data-pipelines.mdx
Due: docs-mdx-format

[ui] Fix googledrive svg (#26606)
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-googledrive-color.svg
Due: none

move some docs to operate section
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
  docs/docs-beta/docs/guides/operate/run-executors.md
Due: none

fix for launchpad
  js_modules/dagster-ui/packages/ui-core/src/runs/RunConfigDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/DryRunRequestTable.tsx
Due: none

[module-loaders] [rfc] Definitions from module loader (#26546)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_defs_source_metadata.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

fix links
  docs/docs-beta/docs/dagster-plus/features/catalog-views.md
  docs/docs-beta/docs/getting-started/quickstart.md
  docs/docs-beta/docs/guides/automate/about-automation.md
  docs/docs-beta/docs/guides/automate/asset-sensors.md
  docs/docs-beta/docs/guides/automate/index.md
  docs/docs-beta/docs/guides/automate/schedules.md
  docs/docs-beta/docs/guides/automate/sensors.md
  docs/docs-beta/docs/guides/build/connect-to-external-systems/apis.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/assets-concepts/configuring-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/data-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/index.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/ingesting-data.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/pipes/index.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/pipes/javascript-pipeline.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/guides/operate/managing-concurrency.md
  docs/docs-beta/docs/guides/test/asset-checks.md
  docs/docs-beta/docs/guides/test/unit-tests-assets-and-ops.md
  docs/docs-beta/docs/intro.md
Due: none

more links
  docs/docs-beta/docs/dagster-plus/features/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/insights/asset-metadata.md
  docs/docs-beta/docs/getting-started/installation.md
  docs/docs-beta/docs/guides/automate/schedules.md
  docs/docs-beta/docs/guides/build/connect-to-external-systems/databases.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/assets-concepts/configuring-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/data-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/external-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/index.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/metadata.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/partition-dependencies.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/partitioning.md
  docs/docs-beta/docs/guides/test/asset-checks.md
  docs/docs-beta/docs/guides/test/data-freshness-testing.md
Due: none

more links
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/security.md
  docs/docs-beta/docs/guides/build/connect-to-external-systems/apis.md
  docs/docs-beta/docs/guides/build/connect-to-external-systems/databases.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/assets-concepts/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/assets-concepts/asset-factories.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/assets-concepts/configuring-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/data-assets.md
  docs/docs-beta/docs/guides/build/create-asset-pipelines/metadata.md
  docs/docs-beta/docs/guides/build/integrate-with-external-systems/ingesting-data.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/guides/test/unit-tests-assets-and-ops.md
Due: none

add max entries options
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/weakMapMemoize.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/weakMapMemoize.ts
Due: none

[docs-beta] migrate - dagster+ tokens
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/agent-tokens.md
Due: none

add partitions and backfills section
  docs/docs-beta/docs/guides/build/backfill.md
  docs/docs-beta/docs/guides/build/partition-and-backfill-data/backfills.md
  docs/docs-beta/docs/guides/build/partition-and-backfill-data/index.md
  docs/docs-beta/docs/guides/build/partition-and-backfill-data/partitions.md
  docs/docs-beta/docs/guides/build/partition-and-backfill-data/testing-partitions.md
Due: none

[components] Add --rebuild-component-registry option, build cache on code loc construction
  python_modules/libraries/dagster-dg/dagster_dg/cache.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/test_cache.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
