Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

fix backfill run termination (#24127)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
Due: pyright

Add lint rule to disallow importing Route from react-router-dom (#24176)
  js_modules/dagster-ui/packages/eslint-config/.eslintrc.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/missing-graphql-variables-type.test.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/no-apollo-client.js
  js_modules/dagster-ui/packages/eslint-config/rules/__tests__/no-react-router-route.test.js
  js_modules/dagster-ui/packages/eslint-config/rules/index.js
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-apollo-client.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-oss-imports.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-react-router-route.js
  js_modules/dagster-ui/packages/eslint-config/util/findRelativeImportPath.js
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/__tests__/analytics.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/AssetPartitions.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/__tests__/useQueryAndLocalStoragePersistedState.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/__tests__/useQueryPersistedState.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/__stories__/BackfillPage.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/__tests__/BackfillLogsTab.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/__tests__/BackfillPage.test.tsx
Due: none

switch get_event_records => fetch_materializations for multi asset sensors (#22779)
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
Due: pyright

restore unconsumed check short circuit
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
Due: pyright

update
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
Due: none

update
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
Due: none

.
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
Due: none

rm console.log
  js_modules/dagster-ui/packages/eslint-config/rules/no-react-router-route.js
Due: none

[dagster-airlift] move transitive asset dep testing to unit
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_transitive_asset_deps.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/transitive_asset_deps_dags/first.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/transitive_asset_deps_dags/second.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_build_defs.py
Due: pyright

fix
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-react-router-route.js
Due: none

fix
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

perf
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
Due: none

test write_pandas sending only columns but empty data
  python_modules/libraries/dagster-snowflake-pandas/dagster_snowflake_pandas_tests/test_snowflake_pandas_type_handler.py
Due: pyright

simpler
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
Due: none

only write data if at least columns exist
  python_modules/libraries/dagster-snowflake-pandas/dagster_snowflake_pandas/snowflake_pandas_type_handler.py
Due: pyright

Update eslint version (#24184)
  js_modules/dagster-ui/packages/eslint-config/CHANGES.md
  js_modules/dagster-ui/packages/eslint-config/package.json
  js_modules/dagster-ui/packages/eslint-config/rules/missing-graphql-variables-type.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-react-router-route.js
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

wip TokenIgnores
  docs/.vale.ini
  docs/vale/styles/Terms/engineering.yml
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

wip
  docs/docs-beta/docs/guides/data-modeling/asset-factories-with-deps.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/guides/tbd/selection-syntax.md
Due: none

wip
  docs/docs-beta/docs/about/community.md
  docs/vale/styles/Dagster/headings-casing.yml
  docs/vale/styles/Terms/engineering.yml
Due: none

stdev
  docs/docs-beta/docs/guides/project-structure.md
Due: none

[dagster-airlift] genericize dagster operator
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/dagster_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dags/migrated_dag.py
Due: pyright

comment todos
  docs/docs-beta/docs/about/community.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/data-modeling/asset-dependencies.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/guides/external-systems/non-python.md
  docs/docs-beta/docs/guides/ingestion-transformation/transform-dbt.md
Due: none

[dagster-airlift] move transitive asset dep testing to unit (#24161)
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_transitive_asset_deps.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/transitive_asset_deps_dags/first.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/transitive_asset_deps_dags/second.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_build_defs.py
Due: pyright

[dagster-airlift] dbt test refactor
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/dbt_defs_from_yaml/my_dbt_multi_asset.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dbt_multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/dbt_project.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/customers.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/docs.md
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/orders.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/overview.md
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/schema.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/schema.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/stg_customers.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/stg_orders.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/stg_payments.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/profiles.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/.gitkeep
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/raw_customers.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/raw_orders.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/raw_payments.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dbt_defs_migrated.py
Due: pyright

[dagster-airlift] remove unnecessary integration test
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_airflow_instance.py
Due: pyright

[dagster-airlift][rfc] genericize dagster operator (#24187)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/dagster_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/operator_test_project/dags/migrated_dag.py
Due: pyright

[dagster-airlift] 0.0.16 (#24155)
  examples/experimental/dagster-airlift/setup.py
Due: pyright

switch get_event_records => fetch_materializations for multi asset sensors (#22779) (#24129)
  python_modules/dagster/dagster/_core/definitions/multi_asset_sensor_definition.py
Due: pyright

[dagster-airlift]
  examples/experimental/dagster-airlift/Makefile
  examples/experimental/dagster-airlift/scripts/mirror_tutorial.sh
  examples/experimental/dagster-airlift/setup.py
Due: pyright

Fix typo dagster-pandera (#24158)
  docs/content/integrations/pandera.mdx
Due: docs-mdx-format

handle json parsing errors from dbt log
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
Due: pyright

[dagster-embedded-elt][dlt] Support `AutomationCondition` (#24173)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/translator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

[dagster-airlift] 0.0.21
  examples/experimental/dagster-airlift/Makefile
  examples/experimental/dagster-airlift/scripts/mirror_tutorial.sh
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] move dbt tests to unit (#24162)
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/dbt_defs_from_yaml/my_dbt_multi_asset.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_dbt_multi_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/dbt_project.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/customers.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/docs.md
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/orders.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/overview.md
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/schema.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/schema.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/stg_customers.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/stg_orders.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/models/staging/stg_payments.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/profiles.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/.gitkeep
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/raw_customers.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/raw_orders.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_project/seeds/raw_payments.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dbt_defs_migrated.py
Due: pyright

[dagster-airlift] remove unnecessary integration test (#24163)
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_airflow_instance.py
Due: pyright

[dagster-airlift] 0.0.21 and revamped release process (#24191)
  examples/experimental/dagster-airlift/Makefile
  examples/experimental/dagster-airlift/scripts/mirror_tutorial.sh
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] remove cacheable asset integration test
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_cacheable_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dbt_defs_migrated.py
Due: pyright

[dagster-airlift] move cacheable asset testing to unit (#24164)
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_cacheable_asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dbt_defs_migrated.py
Due: pyright

[dagster-airlift] remove unused examples
  examples/experimental/dagster-airlift/examples/simple-migration/.gitignore
  examples/experimental/dagster-airlift/examples/simple-migration/.vscode/settings.json
  examples/experimental/dagster-airlift/examples/simple-migration/Makefile
  examples/experimental/dagster-airlift/examples/simple-migration/README.md
  examples/experimental/dagster-airlift/examples/simple-migration/conftest.py
  examples/experimental/dagster-airlift/examples/simple-migration/setup.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/__init__.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/airflow_dags/dagster_migration/simple.yaml
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/airflow_dags/simple.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/__init__.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/dagster_defs/peer.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration/shared.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration_tests/__init__.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/simple-migration/simple_migration_tests/test_load_dagster.py
  examples/experimental/dagster-airlift/examples/simple-migration/tox.ini
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: pyright
