Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Fixup command syntax
  python_modules/dagster-test/dagster_test/fixtures/docker_compose.py
Due: pyright

[docs-beta] Use yarn
  docs/docs-beta/.gitignore
  docs/docs-beta/.remarkrc.js
  docs/docs-beta/.vscode/extensions.json
  docs/docs-beta/.yarn/install-state.gz
  docs/docs-beta/.yarn/releases/yarn-4.4.0.cjs
  docs/docs-beta/.yarnrc.yml
  docs/docs-beta/README.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/package.json
  docs/docs-beta/pnpm-lock.yaml
  docs/docs-beta/yarn.lock
Due: none

[docs-sphinx] Update sphinx conf to find all python modules automatically
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/setup.py
  docs/sphinx/conf.py
Due: pyright

[docs-beta] Add the beta docs site
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docs/guides/automation/schedules.md
  docs/docs-beta/docs/guides/automation/sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/static/img/docusaurus-social-card.jpg
  docs/docs-beta/static/img/docusaurus.png
  docs/docs-beta/static/img/undraw_docusaurus_mountain.svg
  docs/docs-beta/static/img/undraw_docusaurus_react.svg
  docs/docs-beta/static/img/undraw_docusaurus_tree.svg
Due: none

[docs-sphinx] Clean up Sphinx styling in API docs
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery-docker.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery-k8s.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-databricks.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-docker.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-k8s.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pagerduty.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-shell.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
Due: none

docs: update Sphinx configuration and add new documentation
  docs/Makefile
  docs/sphinx/README.md
  docs/sphinx/conf.py
  docs/sphinx/requirements.txt
Due: pyright

feat: add Vale linting styles for documentation
  .github/workflows/vale.yml
Due: none

[docs-revamp] Create basic Sphinx html build
  docs/sphinx/_static/css/custom.css
  docs/sphinx/_static/css/style.css
  docs/sphinx/_static/fonts/GeistMonoVF.woff
  docs/sphinx/_static/fonts/GeistVF.woff
  docs/sphinx/_static/images/logo-dark.svg
  docs/sphinx/_static/images/logo-light.svg
  docs/sphinx/_templates/globaltoc.html
  docs/sphinx/_templates/layout.html
  docs/sphinx/_templates/layouts.html
  docs/sphinx/_templates/searchbox.html
Due: none

refactor: simplify Sphinx documentation build process
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/setup.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/tox.ini
Due: pyright

[dagster-pandera] conditional typing_type based on input schema
  python_modules/libraries/dagster-pandera/dagster_pandera/__init__.py
  python_modules/libraries/dagster-pandera/dagster_pandera_tests/test_dagster_pandera.py
  python_modules/libraries/dagster-pandera/dagster_pandera_tests/test_polars.py
Due: pyright

[single-implicit-asset-job] add `partitionKeysOrError` and `partition` to `GrapheneJob` (#23494)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/utils.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_keys.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_job_partitions.py
Due: pyright

[dagster-polars] Handle upstream partitionned asset with optional partitions
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/base.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers.py
  python_modules/libraries/dagster-polars/dagster_polars_tests/test_upath_io_managers_lazy.py
Due: pyright

[ui] Fix “filter to group” action no longer working in the asset graph UI
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetCatalogFiltering.oss.tsx
Due: none

[ui] Fix “filter to group” action no longer working in the asset graph (#23768)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/useAssetCatalogFiltering.oss.tsx
Due: none

Revert "revert single implicit asset job (#23607)"
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_sensors.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster-test/dagster_test_tests/toys_tests/partitioned_assets_tests/test_hourly_and_daily_and_unpartitioned.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_external_data.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_repository_definition.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

PR feedback
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
Due: none

Add kinds parameter to AssetSpec
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
Due: pyright

fdsjkl
  airbyte-decorator.py
  state-driven-blueprints-decorator.py
Due: pyright

add sharepoint and .net
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-sharepoint-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-sharepoint-color.svg
Due: none

Update Version
  python_modules/libraries/dagster-sdf/dagster_sdf/resource.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_version.py
Due: pyright

add kinds table
  docs/content/concepts/metadata-tags/kind-tags.mdx
Due: docs-mdx-format

reduce prose image padding
  docs/next/styles/globals.css
Due: none

add kind tags page to nav
  docs/content/_navigation.json
Due: docs-mdx-format

[ui] Use single hidden asset job for all single-run asset executions (#23747)
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/RunningBackfillsNotice.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetChoosePartitionsDialog.fixtures.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetExecutionButton.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetChoosePartitionsDialog.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetExecutionButton.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/LaunchAssetExecutionButton.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/RunningBackfillsNotice.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigFetch.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigEditorConfigPicker.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigFetch.types.ts
Due: none

[ui] Display lowercase compute and storage kinds and correctly map icons
  js_modules/dagster-ui/packages/ui-core/src/search/BuildAssetSearchResults.tsx
Due: none

[docs-beta] Update sidebar
  .github/workflows/build-docs-revamp.yml
  docs/docs-beta/.yarn/install-state.gz
  docs/docs-beta/docs/guides/automation/configuring.md
  docs/docs-beta/docs/guides/data-modeling/asset-dependencies.md
  docs/docs-beta/docs/guides/data-modeling/configuring-assets.md
  docs/docs-beta/docs/guides/data-modeling/creating-asset-factories.md
  docs/docs-beta/docs/guides/data-modeling/external-assets.md
  docs/docs-beta/docs/guides/data-modeling/metadata.md
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  docs/docs-beta/docs/guides/data-modeling/selecting-subsets-of-assets.md
  docs/docs-beta/docs/guides/deployment/managing-code-locations.md
  docs/docs-beta/docs/guides/deployment/secrets.md
  docs/docs-beta/docs/guides/etl.md
  docs/docs-beta/docs/guides/etl/backfill.md
  docs/docs-beta/docs/guides/etl/dbt.md
  docs/docs-beta/docs/guides/etl/incremental-loading.md
  docs/docs-beta/docs/guides/etl/ingesting-data.md
  docs/docs-beta/docs/guides/etl/transform-python.md
  docs/docs-beta/docs/guides/external-systems/apis.md
  docs/docs-beta/docs/guides/external-systems/cloud.md
  docs/docs-beta/docs/guides/external-systems/databases.md
  docs/docs-beta/docs/guides/external-systems/iomanagers.md
  docs/docs-beta/docs/guides/external-systems/pipes.md
  docs/docs-beta/docs/guides/external-systems/resources.md
  docs/docs-beta/docs/guides/monitoring/alerting.md
  docs/docs-beta/docs/guides/monitoring/custom-logging.md
  docs/docs-beta/docs/guides/quality-testing.md
  docs/docs-beta/docs/guides/quality-testing/integration-tests.md
  docs/docs-beta/docs/guides/quality-testing/testing-assets-with-asset-checks.md
  docs/docs-beta/docs/guides/quality-testing/testing-for-data-freshness.md
  docs/docs-beta/docs/guides/quality-testing/unit-tests-for-assets-and-ops.md
  docs/docs-beta/docs/guides/testing/unit-tests-for-assets-and-ops.md
  docs/docs-beta/docs/guides/troubleshooting.md
  docs/docs-beta/docs/guides/troubleshooting/some-guide.md
  docs/docs-beta/sidebars.ts
Due: none

[docs-beta] Fix pnpm in package.json
  docs/docs-beta/package.json
Due: none

update docs
  docs/content/concepts/metadata-tags/kind-tags.mdx
Due: docs-mdx-format

Use the docker compose CLI (#23770)
  python_modules/dagster-test/dagster_test/fixtures/docker_compose.py
Due: pyright

Revert "revert single implicit asset job (#23607)" (#23777)
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_sensors.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_data_versions.py
  python_modules/dagster-test/dagster_test_tests/toys_tests/partitioned_assets_tests/test_hourly_and_daily_and_unpartitioned.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_source_asset_observation_job.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
  python_modules/dagster/dagster_tests/core_tests/host_representation_tests/test_external_data.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/base_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/scenario_state.py
  python_modules/dagster/dagster_tests/definitions_tests/auto_materialize_tests/updated_scenarios/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_class.py
  python_modules/dagster/dagster_tests/definitions_tests/test_external_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_repository_definition.py
  python_modules/dagster/dagster_tests/storage_tests/branching_io_manager_tests/utils.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

Allow attaching IO managers to specs
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
Due: pyright

[dagster-airlift] peer/observe/migrate for dbt example
  examples/experimental/dagster-airlift/examples/dbt-example/.vscode/settings.json
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/README.md
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dbt_dag.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/__init__.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/csv_to_duckdb_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/migrate.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/peer.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/test_load_dagster.py
Due: pyright

[docs-beta] value -> vale
  docs/docs-beta/README.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
