Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-databricks] Support existing clusters in Pipes
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Due: pyright

update import
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/__fixtures__/buildBackfillDetails.ts
Due: none

Expose a global 'max_runtime_seconds' field on run monitoring
  docs/content/dagster-plus/managing-deployments/deployment-settings-reference.mdx
  docs/content/deployment/run-monitoring.mdx
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
  python_modules/dagster/dagster_tests/daemon_tests/test_monitoring_daemon.py
Due: docs-mdx-format, pyright

Add tests
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-databricks/dagster_databricks_tests/test_pipes.py
Due: pyright

Fix `dagster-cloud serverless deploy-python-executable` references in docs (#24667)
  docs/content/dagster-plus/deployment/serverless.mdx
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
Due: docs-mdx-format

move user display
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadHooksContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/CreatedByTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/UserDisplay.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/Filters/useAssetOwnerFilter.tsx
Due: none

[dagster-tableau] Add basic docs
  docs/content/integrations/tableau.mdx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/tox.ini
Due: docs-mdx-format

Add code snippets
  docs/content/integrations/tableau.mdx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-assets.py
Due: docs-mdx-format, pyright

Fix variables
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-assets.py
Due: docs-mdx-format, pyright

[dagster-databricks] Support existing clusters in Pipes (#24526)
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-databricks/dagster_databricks_tests/test_pipes.py
Due: pyright

Expose a global 'max_runtime_seconds' field on run monitoring (#24653)
  docs/content/dagster-plus/managing-deployments/deployment-settings-reference.mdx
  docs/content/deployment/run-monitoring.mdx
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
  python_modules/dagster/dagster_tests/daemon_tests/test_monitoring_daemon.py
Due: docs-mdx-format, pyright

[docs-beta] fix mobile view of announcement bar
  docs/docs-beta/src/styles/custom.scss
Due: none

Update post-review
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
Due: docs-mdx-format, pyright

Update post-review
  docs/content/integrations/tableau.mdx
Due: docs-mdx-format

[docs-beta] fix mobile view of announcement bar (#24688)
  docs/docs-beta/src/styles/custom.scss
Due: none

[dagster-tableau] Add basic docs (#24609)
  docs/content/integrations/tableau.mdx
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
  examples/docs_snippets/tox.ini
Due: docs-mdx-format, pyright

[serdes] Add new skip_when_none param to whitelist_for_serdes
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
Due: pyright

in source asset deprecation warning, explain IO managers
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_materialize.py
Due: pyright

eradicate launchpad hooks
  js_modules/dagster-ui/packages/ui-core/src/app/PythonErrorInfo.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/PythonErrorInfoHeader.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetObservationButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/MaterializeButton.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/ExecuteChecksButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchRootExecutionButton.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadHooksContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchWithTelemetry.oss.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/UserDisplay.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilterSorter.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/workspacePath.ts
Due: none

StateBackedDefinitionsLoader (#24646)
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_state_backed_defs_loader.py
Due: pyright

update import
  js_modules/dagster-ui/packages/ui-core/src/workspace/workspacePath.ts
Due: none

[serdes] Add new `skip_when_none_fields` param to `whitelist_for_serdes` (#24687)
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
Due: pyright

Update quickstart.mdx
  docs/content/integrations/dbt/quickstart.mdx
Due: docs-mdx-format

add status bar
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillAssetPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillOpJobPartitionsTable.tsx
Due: none

add status bar
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillOpJobPartitionsTable.tsx
Due: none

Lint
  docs/content/integrations/dbt/quickstart.mdx
Due: docs-mdx-format

Update prerequisites in dbt Quickstart (#22580)
  docs/content/integrations/dbt/quickstart.mdx
Due: docs-mdx-format

Add kinds parameter to AssetSpec
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster/dagster/_core/definitions/asset_out.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
Due: pyright

refactor
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
Due: pyright

Add functional-style mapping object
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
Due: pyright

Refactor airlift defintions construction logic for more elegant replacement
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

unnecessary scope
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

fix unit test
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

Use test utils
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_state_backed_defs_loader.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

Use state-backed definition loader in Airlift
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
Due: pyright

get_task_infos
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/test/airflow_test_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_test_utils.py
Due: pyright

FetchedAirflowData
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
Due: pyright

rm comment
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
Due: pyright

get_task_infos
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
