Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[azure] helm and ruff fixes (#27027)
  helm/dagster/schema/schema/charts/dagster/subschema/compute_log_manager.py
  helm/dagster/schema/schema_tests/test_instance.py
  helm/dagster/templates/helpers/instance/_compute-log-manager.tpl
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
  python_modules/libraries/dagster-azure/dagster_azure/blob/compute_log_manager.py
Due: pyright

Install dagster-pands from source in gcp live tests (#27020)
  integration_tests/test_suites/dagster-gcp-live-tests/tox.ini
Due: none

[bug] Fix issue when passing in a top-level partitions definition with specs that have a group name (#27024)
  python_modules/dagster/dagster/_core/definitions/decorators/decorator_assets_definition_builder.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
Due: pyright

Update docstring
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Due: pyright

[module-loaders] Add load_definitions_from_package_module
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_utils.py
Due: pyright

Update test
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

Fix WorkspaceContext over-fetching code locations on cascading updates. (#26970)
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__fixtures__/Workspace.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
Due: none

[module-loaders] Add load_definitions_from_package_module (#26992)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_utils.py
Due: pyright

[module-loaders] Add load_definitions_from_package_name
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

[components] Fix bug with reversed boolean for managed env
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_component_type_commands.py
Due: pyright

[docs-beta] Change preview and beta language in API lifecycle guide
  docs/docs-beta/docs/api/api-lifecycle.md
Due: none

[components] Fix bug with reversed boolean for managed env (#27028)
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_component_type_commands.py
Due: pyright

[repro] Duplicate asset key error
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/another_module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
Due: pyright

[module-loaders] Add load_definitions_from_package_name (#26993)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

[module-loaders] Add docstring for load_definitions_from_module
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Due: pyright

also add functions to op selection syntax
  js_modules/dagster-ui/packages/ui-core/src/op-selection/OpSelection.g4
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/op-selection/generated/OpSelectionVisitor.ts
Due: none

[module-loaders] Add docstring for load_definitions_from_module (#26994)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Due: pyright

[docs] Make all load_definitions_from_* functions public
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/definitions.rst
  python_modules/dagster/dagster/__init__.py
Due: docs-mdx-format, pyright

Fix spec error conditions in loaders
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
Due: pyright

Fix spec error conditions in loaders (#27030)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
Due: pyright

further edits and screenshots
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/static/images/dagster-plus/asset-catalog/catalog-views.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/new-catalog-view.png
Due: none

1.9.8 changelog
  CHANGES.md
Due: none

1.9.8 changelog (#27033)
  CHANGES.md
Due: none

[docs-beta] Change preview and beta language in API lifecycle guide (#27029)
  docs/docs-beta/docs/api/api-lifecycle.md
Due: none

[docs] Make all load_definitions_from_* functions public (#26995)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/definitions.rst
  python_modules/dagster/dagster/__init__.py
Due: docs-mdx-format, pyright

Add a "task_definition_prefx" config option for EcsRunLauncher.
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
Due: pyright

DOC-620 Migrate asset catalog doc to new docs (#27001)
  docs/docs-beta/docs/dagster-plus/features/alerts/index.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/catalog-views.md
  docs/docs-beta/docs/dagster-plus/features/asset-catalog/index.md
  docs/docs-beta/docs/dagster-plus/features/authentication-and-access-control/index.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/index.md
  docs/docs-beta/docs/dagster-plus/features/data-catalog.md
  docs/docs-beta/docs/dagster-plus/features/insights/index.md
  docs/docs-beta/docs/dagster-plus/index.md
  docs/docs-beta/static/images/dagster-plus/asset-catalog/asset-catalog-cloud-pro.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/asset-catalog.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/catalog-views.png
  docs/docs-beta/static/images/dagster-plus/asset-catalog/new-catalog-view.png
Due: none

formatting
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
  docs/docs-beta/docs/dagster-plus/deployment/management/environment-variables/agent-config.md
Due: none

format tags
  docs/docs-beta/docs/tags.yml
Due: none

fix formatting
  docs/docs-beta/docs/dagster-plus/deployment/management/environment-variables/agent-config.md
Due: none

Automation: versioned docs for 1.9.8
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

formatting
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-multiple-projects-and-teams.md
Due: none

formatting
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/deployment-settings.md
Due: none

more formatting
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/ci-cd-file-reference.md
Due: none
