Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

pr comments
  docs/docs-beta/docs/guides/external-systems/apis.md
Due: none

pr comments
  docs/docs-beta/docs/guides/external-systems/apis.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/configurable_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/minimal_resource.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_configurable_resource_in_asset.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/apis/use_minimal_resource_in_asset.py
Due: pyright

`get_job_name` method on `PartitionArgs` and `PartitionNamesArgs` (#23981)
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster/_grpc/types.py
Due: pyright

make `job_name` param on `PartitionArgs` and `PartitionNames` args optional (#23983)
  python_modules/dagster/dagster/_grpc/types.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

1.8.3 changelog (#23838)
  CHANGES.md
Due: none

Automation: versioned docs for 1.8.3
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

fix GrapheneAssetNode.resolve_configFields (#23932)
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
Due: pyright

enable launch backfill graphql mutation to target multiple partition ranges per asset (#23844)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_backfill.py
  python_modules/dagster/dagster/_core/definitions/selector.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_backfill.py
Due: pyright

[airlift] Initial README update pass (#23974)
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/images/migrated_dag.png
  examples/experimental/dagster-airlift/images/observe.svg
  examples/experimental/dagster-airlift/images/peer.svg
  examples/experimental/dagster-airlift/images/peer_materialize.svg
  examples/experimental/dagster-airlift/images/state_in_airflow.png
Due: none

Check-in minor repo of resource issue and mark suspect code (#23982)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_from_airflow.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_dbt_defs_migrated.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_load_dagster.py
Due: pyright

[airlift] Tweak ports to 3000 in tutorial, update readme
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
Due: none

[airlift] Tweak ports to 3000 in tutorial, update readme (#23986)
  examples/experimental/dagster-airlift/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
Due: none

style tweaks
  yarn.lock
Due: none

more style updates
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/infima.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
  node_modules/.yarn-integrity
Due: none

fix mermaid color
  docs/docs-beta/docs/guides/automation/asset-sensors.md
Due: none

Create documentation for running non-python
  docs/docs-beta/docs/guides/external-systems/non-python.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-asset-with-context.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/non-python/pipes-asset.py
Due: pyright

update second code example
  docs/docs-beta/docs/guides/external-systems/non-python.md
Due: none

Add grpcio pin in dagster-dbt
  python_modules/libraries/dagster-dbt/setup.py
Due: pyright

remove yarn lock
  yarn.lock
Due: none

Even More Docs Style Updates (#23988)
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/styles/infima.scss
  docs/docs-beta/src/styles/theme-dark.scss
  docs/docs-beta/src/styles/theme-globals.scss
  docs/docs-beta/src/styles/theme-light.scss
  node_modules/.yarn-integrity
Due: none

[DOC-353] Alerts in Dagster+
  docs/docs-beta/docs/dagster-plus/deployment/alerts.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/generate_alerts_doc.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-slack.yaml
  examples/docs_beta_snippets/setup.py
Due: pyright

[DOC-353] Alerts in Dagster+ (#23963)
  docs/docs-beta/docs/dagster-plus/deployment/alerts.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/asset-check-failed-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/code-location-error-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/generate_alerts_doc.py
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/job-running-over-one-hour-slack.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-email.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-microsoft_teams.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-pagerduty.yaml
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/schedule-sensor-failure-slack.yaml
  examples/docs_beta_snippets/setup.py
Due: pyright

Fix pip upgrades in dbt examples
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
  examples/assets_dbt_python/.github/workflows/examples/branch_deployments.yml
  examples/assets_dbt_python/.github/workflows/examples/deploy.yml
Due: docs-mdx-format

[docathon] placeholder images
  docs/docs-beta/docs/intro.md
  docs/docs-beta/static/img/placeholder.svg
Due: none

iterate on env var section
  docs/docs-beta/docs/guides/external-systems/apis.md
Due: none

outline
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
Due: none

[docathon] placeholder images (#24003)
  docs/docs-beta/docs/intro.md
  docs/docs-beta/static/img/placeholder.svg
Due: none

[ui] Try to guard against history loop in useQueryPersistedState (#23980)
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
Due: none

[ui] Fix case sensitivity in launchpad partition picker (#23916)
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
Due: none

[ui] Add a brief readme to dagster-ui (#23913)
  js_modules/dagster-ui/README.md
Due: none

Apply suggestions from code review
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
Due: none

[ui] Clean up dependabot alerts
  docs/dagster-university/yarn.lock
  docs/docs-beta/package-lock.json
  docs/docs-beta/yarn.lock
  docs/next/yarn.lock
  js_modules/dagster-ui/yarn.lock
Due: none

.
  js_modules/dagster-ui/packages/eslint-config/rules/index.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-apollo-client.js
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
Due: none

[1/4] Wrap useQuery/useLazyQuery + lint rule (#23860)
  js_modules/dagster-ui/packages/eslint-config/rules/index.js
  js_modules/dagster-ui/packages/eslint-config/rules/no-apollo-client.js
  js_modules/dagster-ui/packages/ui-core/src/apollo-client/index.tsx
Due: none

[ui] Clean up dependabot alerts (#24008)
  docs/dagster-university/yarn.lock
  docs/docs-beta/package-lock.json
  docs/docs-beta/yarn.lock
  docs/next/yarn.lock
  js_modules/dagster-ui/yarn.lock
Due: none

[docs-beta] Fix webpack dependabot alert
  docs/docs-beta/yarn.lock
Due: none

Fix pip upgrades in dbt examples (#24001)
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/hybrid.mdx
  docs/content/integrations/dbt/using-dbt-with-dagster-plus/serverless.mdx
  docs/dagster-university/pages/dagster-dbt/lesson-7/4-creating-the-manifest-during-deployment.md
  examples/assets_dbt_python/.github/workflows/examples/branch_deployments.yml
  examples/assets_dbt_python/.github/workflows/examples/deploy.yml
Due: docs-mdx-format
