Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[compute logs] shift interface to avoid over-reading (#26356)
  python_modules/dagster/dagster/_core/storage/cloud_storage_compute_log_manager.py
  python_modules/dagster/dagster/_core/storage/compute_log_manager.py
  python_modules/dagster/dagster/_core/storage/local_compute_log_manager.py
  python_modules/dagster/dagster/_core/storage/noop_compute_log_manager.py
  python_modules/dagster/dagster_tests/storage_tests/test_compute_log_manager.py
  python_modules/libraries/dagster-gcp/dagster_gcp_tests/gcs_tests/test_compute_log_manager.py
Due: pyright

ECS Executor WIP
  python_modules/dagster/dagster/_core/executor/step_delegating/step_delegating_executor.py
  python_modules/dagster/dagster/_core/executor/step_delegating/step_handler/base.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/executor.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/utils.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/executor_tests/test_executor.py
  python_modules/libraries/dagster-docker/dagster_docker/docker_executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s/executor.py
Due: pyright

add stub page for dagster_cloud.yaml reference
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-yaml.md
Due: none

[components] Fix dg-cli in automation tests
  python_modules/automation/automation_tests/test_repo.py
  python_modules/automation/tox.ini
Due: pyright

latest feed and all profiles models
  examples/project_atproto_dashboard/dbt_project/models/analysis/all_profiles.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/latest_feed.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/num_posts_per_profile.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/schema.yml
  examples/project_atproto_dashboard/dbt_project/profiles.yml
Due: none

finish adding pages for amazon ECS agent
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/amazon-ecs-existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/amazon-ecs-new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/configuration-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/manual-provision.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/new-vpc.md
Due: none

clean up branch deployments
  docs/docs-beta/docs/dagster-plus/features/branch-deployments/dagster-cloud-cli.md
  docs/docs-beta/docs/dagster-plus/features/branch-deployments/testing.md
Due: none

add dagster-cloud cli reference page
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-cli.md
Due: none

[docs] Add automation-conditions-explained
  docs/content/_navigation.json
Due: docs-mdx-format

[dagster-airbyte] Add destination_type to kind tags in Airbyte asset specs (#26376)
  python_modules/libraries/dagster-airbyte/dagster_airbyte/translator.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/experimental/conftest.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/experimental/test_translator.py
Due: pyright

add sql language designator to markdown code block
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
Due: pyright

turn dagster-cloud CLI into section
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-cli.md
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-cli/dagster-cloud-cli-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-cli/index.md
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-cli/installing-and-configuring.md
Due: none

add external links to latest feed
  examples/project_atproto_dashboard/dbt_project/models/analysis/latest_feed.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/schema.yml
Due: none

scoring changes
  examples/project_atproto_dashboard/dbt_project/models/analysis/all_profiles.sql
Due: none

clean up env variables section
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/agent-config.md
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
Due: none

clean up rest of deployment section, move settings pages to dedicated section
  docs/docs-beta/docs/dagster-plus/deployment/code-requirements.md
  docs/docs-beta/docs/dagster-plus/deployment/dagster-cloud-cli/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types.md
  docs/docs-beta/docs/dagster-plus/deployment/settings/dagster-plus-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/settings/deployment-settings.md
  docs/docs-beta/docs/dagster-plus/deployment/settings/index.md
Due: none

[ui] Avoid a “0 partitions” tag when an un-partitioned asset is backfilled (#26361)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
Due: none

[ui] Make sensor and schedule links from the run feed list clickable (#26362)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

fix sidebar position
  docs/docs-beta/docs/dagster-plus/deployment/settings/dagster-plus-settings.md
Due: none

clean up tokens docs and multi-tenancy doc
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agent-tokens.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/tokens.md
  docs/docs-beta/docs/dagster-plus/deployment/multi-tenancy.md
  docs/docs-beta/docs/dagster-plus/deployment/user-agent-tokens.md
  docs/docs-beta/docs/dagster-plus/deployment/user-tokens.md
Due: none

[components] Fix dg-cli in automation tests (#26389)
  python_modules/automation/automation_tests/test_repo.py
  python_modules/automation/tox.ini
Due: pyright

add url-param to try new asset selection syntax
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
Due: none

also include a thing
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

also include a thing
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
Due: none

worker safe
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
Due: none

[Asset selection syntax] Add url search param to enable hidden featue flag (#26395)
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

fix
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

unit test
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/assets.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/rebuild_workbook.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

0;95;0c[dagster-sigma] mat
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/rebuild_workbook.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

pass based on review comments
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/assets.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/materialize_workbook.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

update lots of deployment docs
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/code-location-history.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs/upgrading-cloudformation.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/docker/configuration.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/docker/setup.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes/configuration.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/kubernetes/setup.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/customizing-agent-configuration.md
  docs/docs-beta/docs/dagster-plus/deployment/managing-compute-logs-and-error-messages.md
  docs/docs-beta/docs/dagster-plus/deployment/managing-multiple-projects-and-teams.md
  docs/docs-beta/docs/dagster-plus/deployment/rate-limits.md
  docs/docs-beta/docs/dagster-plus/deployment/settings/deployment-settings.md
Due: none

[ui] For runs targeting assets, show >1 asset in the Target column
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillOpJobPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineReference.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunAssetTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTargetLink.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__stories__/AssetKeyTagCollection.stories.tsx
Due: none

[docs] Add automation-conditions-explained (#26391)
  docs/content/_navigation.json
Due: docs-mdx-format

[components] Add execute method to dbt project, remove resource from defs
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
Due: pyright

[components] Add execute method to dbt project, remove resource from defs (#26363)
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
Due: pyright

[ui] For runs targeting assets, show >1 asset in the Target column (#26122)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillOpJobPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineReference.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunAssetTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTargetLink.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__stories__/AssetKeyTagCollection.stories.tsx
Due: none

Add unit test for MultiToSinglePartitionMapping scenario.
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/test_db_io_manager.py
Due: pyright

Ensure ruff.
  python_modules/dagster/dagster/_core/storage/db_io_manager.py
  python_modules/dagster/dagster_tests/storage_tests/test_db_io_manager.py
Due: pyright

finalize alerts section
  docs/docs-beta/docs/dagster-plus/features/alerts/configuring-an-alert-notification-service.md
  docs/docs-beta/docs/dagster-plus/features/alerts/creating-alerts.md
  docs/docs-beta/docs/dagster-plus/features/alerts/index.md
Due: none

put branch deployments in ci/cd section
  docs/docs-beta/docs/dagster-plus/features/branch-deployments/index.mdx
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/dagster-cloud-cli.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/index.mdx
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/setting-up-branch-deployments.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/ci-cd-file-reference.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/index.md
Due: none
