Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

dagster_azure: do not import fake implementations by default (#26754)
  python_modules/libraries/dagster-azure/dagster_azure/adls2/fake_adls2_resource.py
  python_modules/libraries/dagster-azure/dagster_azure/fakes/__init__.py
  python_modules/libraries/dagster-azure/dagster_azure/fakes/fake_adls2_resource.py
Due: pyright

[dg] check component cli
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster/_utils/source_position.py
  python_modules/libraries/dagster-components/dagster_components/cli/__init__.py
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/component.py
Due: pyright

pyright
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
Due: pyright

tests wip
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_check_cli.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/utils.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/component.py
Due: pyright

fix off-by-one on carat position
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
Due: pyright

test case for targeting specific folder
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
Due: pyright

update test
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
Due: pyright

typer
  python_modules/libraries/dagster-components/setup.py
Due: pyright

upd tests
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_cases.py
Due: pyright

no todo
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
Due: pyright

cleanup tests
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/basic_components.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_cases.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_check_cli.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/utils.py
Due: pyright

comments
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
Due: pyright

re-add typer colors
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
Due: pyright

[single-grpc-server] add disablement flag
  integration_tests/test_suites/daemon-test-suite/dagster_dev_command_tests/test_dagster_dev_command.py
  python_modules/dagster/dagster/_cli/dev.py
Due: pyright

[dg][cli] add dg check component cli (#26989)
  python_modules/dagster/dagster/_utils/pydantic_yaml.py
  python_modules/dagster/dagster/_utils/source_position.py
  python_modules/libraries/dagster-components/dagster_components/cli/__init__.py
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/basic_components.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_cases.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/utils.py
  python_modules/libraries/dagster-components/setup.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/component.py
Due: pyright

[dg][cli] augment certain pyright errors for dg check
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_cases.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
Due: pyright

[ui] When clicking backfill header links to runs, expand runs within backfills (#27095)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillAssetPartitionsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunStatuses.tsx
Due: none

[ui] Fix incorrect “Run are queued” copy in the current run banner (#27094)
  js_modules/dagster-ui/packages/ui-core/src/assets/CurrentRunsBanner.tsx
Due: none

[dagster-aws] split Pipes tests to separate modules
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_components.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_emr.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_lambda.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/utils.py
Due: pyright

time_window_partitions: add get_partition_key helper method that converts date/datetime to str partition key
  python_modules/dagster/dagster/_core/definitions/time_window_partitions.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitioned_assets.py
Due: pyright

[dagster-aws] split Pipes tests to separate modules (#27012)
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/conftest.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_components.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_ecs.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_emr.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_lambda.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/utils.py
Due: pyright

[dagster-aws] a basic test for PipesEMRClient
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_emr.py
Due: pyright

[dagster-aws] a basic test for PipesEMRClient (#27015)
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_emr.py
Due: pyright

[dg][cli] augment certain pyright errors for dg check (#27069)
  python_modules/libraries/dagster-components/dagster_components/cli/check.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_cases.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
Due: pyright

fix formatting, add new docs where needed
  docs/docs-beta/docs/about/telemetry.md
  docs/docs-beta/docs/guides/deploy/code-locations/managing-code-locations-with-definitions.md
  docs/docs-beta/docs/guides/deploy/dagster-instance-configuration.md
  docs/docs-beta/docs/guides/deploy/dagster-yaml.md
  docs/docs-beta/docs/guides/deploy/deployment-options/aws.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/kubernetes-and-celery.md
  docs/docs-beta/docs/guides/deploy/deployment-options/kubernetes/migrating-while-upgrading.md
  docs/docs-beta/docs/guides/deploy/dev-to-prod.md
  docs/docs-beta/docs/guides/deploy/execution/celery.md
  docs/docs-beta/docs/guides/deploy/execution/customizing-run-queue-priority.md
  docs/docs-beta/docs/guides/deploy/execution/dagster-daemon.md
  docs/docs-beta/docs/guides/deploy/execution/dask.md
  docs/docs-beta/docs/guides/deploy/execution/run-coordinators.md
  docs/docs-beta/docs/guides/deploy/execution/run-launchers.md
  docs/docs-beta/docs/guides/deploy/execution/run-monitoring.md
  docs/docs-beta/docs/guides/deploy/execution/run-retries.md
  docs/docs-beta/docs/guides/deploy/oss-deployment-architecture.md
  docs/docs-beta/docs/guides/deploy/using-environment-variables-and-secrets.md
  docs/docs-beta/static/images/guides/deploy/code-locations/code-locations-diagram.png
  docs/docs-beta/static/images/guides/deploy/execution/dagster-priority-in-launchpad.png
  docs/docs-beta/static/images/guides/deploy/hacker_news_asset_graph.png
  docs/docs-beta/static/images/guides/deploy/snowflake_data.png
Due: none

[ui] Add tabs to evaluation dialog (#26960)
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationListRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/runTableFiltersForEvaluation.tsx
Due: none

Rebuild pins
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: none

Fix deps
  docs/tox.ini
Due: none

Add dagster-sling to install_dev_python_modules.py
  scripts/install_dev_python_modules.py
Due: pyright

Fix deps
  examples/docs_beta_snippets/tox.ini
  examples/docs_snippets/tox.ini
Due: none

Fix docs snippet test
  docs/content/integrations/embedded-elt/sling.mdx
  examples/docs_snippets/docs_snippets/integrations/embedded_elt/sling_connection_resources.py
Due: docs-mdx-format, pyright

Delete sling code in dagster-embedded-elt
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/asset_defs.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/dagster_sling_translator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_replication.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/__init__.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/blueprints/test2.csv
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/conftest.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/base_config/replication.yaml
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/base_config_disabled/replication.yaml
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/base_with_default_meta/replication.yaml
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/base_with_meta_config/replication.yaml
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Employees.csv
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Orders.csv
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Products.csv
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/replication.yaml
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/test.csv
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test.csv
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_asset_decorator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_dagster_sling_translator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_fetch_metadata.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_json.no_ext
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_op.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/test_resource.py
  python_modules/libraries/dagster-embedded-elt/setup.py
Due: pyright

Use dagster-sling in dagster_components_tests
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

Use dagster-sling in dagster-components
  python_modules/libraries/dagster-components/setup.py
  python_modules/libraries/dagster-components/tox.ini
Due: pyright

Update sling import in dagster-components
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication_collection/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/custom_sling_location/custom_sling_location/components/debug_sling_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
Due: pyright

Fix deps
  python_modules/libraries/dagster-embedded-elt/tox.ini
Due: none

[dagster-sling] Copy Sling code to dagster-sling
  python_modules/libraries/dagster-sling/LICENSE
  python_modules/libraries/dagster-sling/MANIFEST.in
  python_modules/libraries/dagster-sling/README.md
  python_modules/libraries/dagster-sling/dagster_sling/__init__.py
  python_modules/libraries/dagster-sling/dagster_sling/asset_decorator.py
  python_modules/libraries/dagster-sling/dagster_sling/asset_defs.py
  python_modules/libraries/dagster-sling/dagster_sling/dagster_sling_translator.py
  python_modules/libraries/dagster-sling/dagster_sling/py.typed
  python_modules/libraries/dagster-sling/dagster_sling/resources.py
  python_modules/libraries/dagster-sling/dagster_sling/sling_event_iterator.py
  python_modules/libraries/dagster-sling/dagster_sling/sling_replication.py
  python_modules/libraries/dagster-sling/dagster_sling/version.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/__init__.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/blueprints/test2.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/conftest.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_config/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_config_disabled/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_with_default_meta/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/base_with_meta_config/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Employees.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Orders.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Products.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/replication.yaml
  python_modules/libraries/dagster-sling/dagster_sling_tests/replication_configs/csv_to_sqlite_config/test.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/test.csv
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_asset_decorator.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_dagster_sling_translator.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_fetch_metadata.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_json.no_ext
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_op.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_resource.py
  python_modules/libraries/dagster-sling/dagster_sling_tests/test_version.py
  python_modules/libraries/dagster-sling/integration.yaml
  python_modules/libraries/dagster-sling/setup.cfg
  python_modules/libraries/dagster-sling/setup.py
  python_modules/libraries/dagster-sling/tox.ini
Due: pyright

clean up run monitoring doc
  docs/docs-beta/docs/guides/deploy/execution/run-monitoring.md
Due: none
