Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

🍱 Update state_in_airflow.png
  examples/experimental/dagster-airlift/examples/tutorial-example/images/state_in_airflow.png
Due: none

update
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

Noonan/powerbi docs revision (#25342)
  docs/content/_apidocs.mdx
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/powerbi.mdx
  docs/next/next-env.d.ts
  docs/next/public/objects.inv
  docs/sphinx/index.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-powerbi.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/materialize-semantic-models.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/multiple-power-bi-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/representing-power-bi-assets.py
Due: docs-mdx-format, pyright

Automation: versioned docs for 1.8.12
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

Gather since op results
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

Fix tests
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
Due: pyright

Clean up
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/check_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

Missed one
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
Due: pyright

Make automation evaluate async
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/perf_tests/test_perf.py
Due: pyright

Sum over gathered
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
Due: pyright

Make AutomationCondition evaluate optionally async
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/check_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

Fix for AssetCheckSummaryRecord
  python_modules/dagster/dagster/_core/storage/event_log/base.py
Due: pyright

Make AssetStatusCacheValue inherit InstanceLoadableBy
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
Due: pyright

random other things
  profile.json
  python_modules/dagster/dagster/_core/asset_graph_view/serializable_entity_subset.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/serialized_objects.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
Due: pyright

Remove @cached_method
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
Due: pyright

Refactor
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
Due: pyright

Make compute asset subset functions async
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/operands.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/subset_automation_condition.py
Due: pyright

targets_latest_materialization
  python_modules/dagster-graphql/dagster_graphql/schema/asset_checks.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
Due: pyright

[demo] Passing in the LoadingContext through the blocking batch load fns
  python_modules/dagster/dagster/_core/loader.py
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
  python_modules/dagster/dagster_tests/utils_tests/test_dataloader.py
Due: pyright

Make compute check functions async
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/operands.py
Due: pyright

[dagster-looker] Fetch dashboards, explores etc in parallel (#25319)
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

[dagster-aws, docs] mark PipesEMRServerlessClient as public
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

add comment
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
Due: pyright

[dagster-looker] Add support for refinements, extensions (#25321)
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_asset_specs.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/lkml/test_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_extensions/views/base.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_extensions/views/double_extension.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_extensions/views/extension.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_refinements/views/base.view.lkml
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/test_refinements/views/refinement.view.lkml
Due: pyright

publish individual package as rc
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/prerelease_package.py
  scripts/build_and_publish.sh
Due: pyright

[dagster-dlift] project scaffold
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/experimental/dagster-dlift/.coveragerc
  examples/experimental/dagster-dlift/CHANGES.md
  examples/experimental/dagster-dlift/LICENSE
  examples/experimental/dagster-dlift/MANIFEST.in
  examples/experimental/dagster-dlift/README.md
  examples/experimental/dagster-dlift/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift/test/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift/test/shared_fixtures.py
  examples/experimental/dagster-dlift/dagster_dlift/version.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/unit_tests/__init__.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/unit_tests/test_basic.py
  examples/experimental/dagster-dlift/py.typed
  examples/experimental/dagster-dlift/setup.cfg
  examples/experimental/dagster-dlift/setup.py
  examples/experimental/dagster-dlift/tox.ini
Due: pyright

[dagster-dlift] working graphql connection
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/conftest.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
Due: pyright

[dagster-dlift] working loader
  examples/experimental/dagster-dlift/dagster_dlift/dbt_gql_queries.py
  examples/experimental/dagster-dlift/dagster_dlift/instance.py
  examples/experimental/dagster-dlift/dagster_dlift/load_defs.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_connection.py
  examples/experimental/dagster-dlift/dagster_dlift_tests/integration_tests/test_instance.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/.gitignore
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/Makefile
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/README.md
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/conftest.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/cloud_instance.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift/dagster_defs/defs.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/kitchen_sink_dlift_tests/__init__.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/pyproject.toml
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/setup.py
  examples/experimental/dagster-dlift/examples/kitchen-sink-dlift/tox.ini
  examples/experimental/dagster-dlift/setup.py
Due: pyright

[dagster-aws, docs] mark PipesEMRServerlessClient as public (#25350)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

[dagster-k8s] feat: add HA options to user deployments
  helm/dagster/charts/dagster-user-deployments/templates/deployment-user.yaml
  helm/dagster/charts/dagster-user-deployments/templates/pdb-user.yaml
  helm/dagster/charts/dagster-user-deployments/values.yaml
Due: none

[utils] add supersession warning and decorator
  python_modules/dagster/dagster/_annotations.py
  python_modules/dagster/dagster/_utils/warnings.py
Due: pyright

[dagster-aws] [docs] add docs for PipesEMRClient
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/emr_script.py
Due: pyright

edit docs
  dagster_pipes.zip
  docs/content/_navigation.json
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts.mdx
  docs/content/concepts/dagster-pipes/aws-emr.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/Dockerfile
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/dagster_code.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/emr_script.py
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/emr/script.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
Due: docs-mdx-format, pyright

make docker termination timeout configurable
  python_modules/libraries/dagster-docker/dagster_docker/docker_executor.py
  python_modules/libraries/dagster-docker/dagster_docker/docker_run_launcher.py
  python_modules/libraries/dagster-docker/dagster_docker/utils.py
  python_modules/libraries/dagster-docker/dagster_docker_tests/test_launch_docker.py
Due: pyright

refactor: consolidate config to pyproject.toml only
  docs/content/getting-started/create-new-project.mdx
  docs/content/guides/understanding-dagster-project-files.mdx
  docs/content/integrations/dbt/quickstart.mdx
  docs/docs-beta/docs/guides/project-structure.md
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/setup.cfg.tmpl
  python_modules/dagster/dagster/_generate/templates/CODE_LOCATION_NAME_PLACEHOLDER/setup.py.tmpl
  python_modules/dagster/dagster/_generate/templates/REPO_NAME_PLACEHOLDER/pyproject.toml
  python_modules/dagster/dagster/_generate/templates/REPO_NAME_PLACEHOLDER/pyproject.toml.tmpl
  python_modules/dagster/dagster/_generate/templates/REPO_NAME_PLACEHOLDER/setup.cfg.tmpl
  python_modules/dagster/dagster/_generate/templates/REPO_NAME_PLACEHOLDER/setup.py.tmpl
Due: docs-mdx-format

add troubleshooting
  docs/docs-beta/docs/guides/tbd/managing-concurrency.md
Due: none

[docs] add EnvVar reference to API docs
  docs/sphinx/sections/api/apidocs/resources.rst
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
