Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

[docs] add info about needed GH permissions
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

Remove duplicated label attribute
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

Remove duplicated label attribute (#24762)
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

[backcompat-tests] Remove tests against older webserver than code server
  .buildkite/dagster-buildkite/dagster_buildkite/steps/integration.py
  integration_tests/test_suites/backcompat-test-suite/README.md
  integration_tests/test_suites/backcompat-test-suite/tests/test_backcompat.py
  integration_tests/test_suites/backcompat-test-suite/tox.ini
  integration_tests/test_suites/backcompat-test-suite/webserver_service/Dockerfile_webserver_release
  integration_tests/test_suites/backcompat-test-suite/webserver_service/build.sh
  integration_tests/test_suites/backcompat-test-suite/webserver_service/docker-compose.yml
Due: pyright

[lazy-defs] @definitions -> @lazy_definitions (test utility)
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
  python_modules/dagster/dagster/_core/definitions/decorators/definitions_decorator.py
  python_modules/dagster/dagster/_core/definitions/definitions_class.py
  python_modules/dagster/dagster/_core/definitions/definitions_loader.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster/_utils/test/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_execute_command.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/definitions_loader_with_context.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/lazy_definitions.py
  python_modules/dagster/dagster_tests/cli_tests/workspace_tests/autodiscovery_tests/test_autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/metadata_defs_global_context.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definitions_load_context.py
  python_modules/dagster/dagster_tests/definitions_tests/test_reconstructable.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/repos/pending_repo_two_workspaces.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: docs-mdx-format, pyright

Revert "[docs] add info about needed GH permissions"
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

add content inside a Note section instead
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

fix formatting
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

Revert "fix formatting"
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

RFC: targeted_by_multiple_tasks
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

[docs] add section about GitHub repo permissions in Serverless doc (#24761)
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

make statis set filter controlled
  js_modules/dagster-ui/packages/ui-core/src/instance/flattenCodeLocationRows.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/__stories__/useFilters.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/__tests__/useStaticSetFilter.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useStaticSetFilter.tsx
Due: none

Avoid annoying pydantic warnings
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_check_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_dep_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
Due: pyright

Changelog script updates
  CHANGES.md
  scripts/generate_changelog.py
Due: pyright

Avoid annoying pydantic warnings (#24776)
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_check_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_dep_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
Due: pyright

1.8.9 Changelog (#24774)
  CHANGES.md
  scripts/generate_changelog.py
Due: pyright

Expose AssetSpec on OutputContext (#24495)
  python_modules/dagster/dagster/_core/execution/context/output.py
  python_modules/dagster/dagster_tests/execution_tests/context_tests/test_output.py
Due: pyright

Revert "[ui-components] Upgrade Rollup (#24686)"
  js_modules/dagster-ui/packages/ui-components/CHANGES.md
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-components/rollup.config.js
  js_modules/dagster-ui/yarn.lock
Due: none

kill job feature context
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/PipelineNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/JobFallthroughRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/JobFeatureContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/JobTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/__tests__/PipelineNav.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/__tests__/PipelineRoot.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/buildJobTabs.oss.tsx
Due: none

Revert "[ui-components] Upgrade Rollup (#24686)" (#24779)
  js_modules/dagster-ui/packages/ui-components/CHANGES.md
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-components/rollup.config.js
  js_modules/dagster-ui/yarn.lock
Due: none

Fix asset check selection for required asset checks
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/check_not_subsettable.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

[docs-beta] Add ids to nodes
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/theme/MDXComponents.tsx
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/builders/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/conf.py
  docs/sphinx/conf.py
Due: pyright

Fix asset check selection for required asset checks (#24781)
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/check_not_subsettable.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
Due: pyright

fix ruff
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

[docs-beta] add id attribute to api sig elements to allow anchor linking [DOC-527] (#24735)
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/theme/MDXComponents.tsx
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/builders/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/conf.py
  docs/sphinx/conf.py
Due: pyright

[docs-beta] fix vercel api docs build
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
  docs/tox.ini
Due: none

[docs, dagster-pipes] fix old PipesResult import in docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/next/public/objects.inv
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/session_lifecycle_orchestration.py
  python_modules/dagster/dagster/__init__.py
Due: docs-mdx-format, pyright

[docs] Enable parallel read and add looker_sdk to conf.py
  .github/workflows/build-docs-revamp.yml
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/conf.py
Due: pyright

allow literals in tag sets
  python_modules/dagster/dagster/_core/definitions/tags/tag_set.py
  python_modules/dagster/dagster_tests/definitions_tests/tags_tests/test_tag_set.py
Due: pyright

add dagster-powerbi/asset-type tag
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

in BI integration docs, move from translators to map_asset_specs
  docs/content/integrations/powerbi.mdx
  docs/content/integrations/sigma.mdx
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

include the actual error message when AMP or an asset backfill fails to submit a run due to a user code error
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
Due: pyright

[docs] Enable parallel read and add looker_sdk to conf.py (#24798)
  .github/workflows/build-docs-revamp.yml
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/conf.py
Due: pyright

Kill JobFeatureContext (#24780)
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/PipelineNav.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/JobFallthroughRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/JobFeatureContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/JobTabs.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/__tests__/PipelineNav.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/__tests__/PipelineRoot.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/buildJobTabs.oss.tsx
Due: none

update UI Runs filter to use created_after rather than updated_after
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none
