Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Update code
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/run_handler.py
Due: pyright

Update docstring and type hints
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/run_handler.py
Due: pyright

[dagster-dbt] Support asset check evaluations in DbtCloudJobRunResults.to_default_asset_events
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/run_handler.py
Due: pyright

output the duration of the slowest 10 dagster-dg tests in buildkite (#28783)
  python_modules/libraries/dagster-dg/tox.ini
  scripts/templates_create_dagster_package/tox.ini.tmpl
Due: none

[Docs] Fixes for a handful of Linear tix (#28777)
  docs/content-templates/concept.md
  docs/content-templates/example-reference.md
  docs/content-templates/guide-no-steps.md
  docs/content-templates/guide-with-steps.md
  docs/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/setup.md
  docs/docs/dagster-plus/features/insights/index.md
Due: docs-mdx-format

[dagster-dbt] Support asset check evaluations in DbtCloudJobRunResults.to_default_asset_events (#28748)
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/run_handler.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/run_results.json
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/test_run_events.py
Due: pyright

Draft the changelog for the Dagster 1.10.7 release
  CHANGES.md
Due: none

Move large configuration diffs to two public Gists
  CHANGES.md
Due: none

Draft the changelog for the Dagster 1.10.7 release (#28792)
  CHANGES.md
Due: none

[dagster-dbt] Add dbt Cloud run URL to asset materializations metadata
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/run_handler.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/types.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/conftest.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/manifest.json
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/run_results.json
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/test_run_events.py
Due: pyright

[dg] simplify telemetry tests (#28785)
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_telemetry.py
Due: pyright

Fix a bug in the pyspark guide example code (#28788)
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/pyspark/dagster_code.py
Due: pyright

fix spacing typo
  docs/docs/guides/build/ops/graphs.md
Due: none

note that DefaultSensorStatus can be STOPPED
  docs/docs/guides/automate/sensors/index.md
Due: none

copyedit
  docs/docs/guides/automate/sensors/index.md
Due: none

[docs] fix spacing typo (#28797)
  docs/docs/guides/build/ops/graphs.md
Due: none

[docs] Note that DefaultSensorStatus can be STOPPED (#28798)
  docs/docs/guides/automate/sensors/index.md
Due: none

fix tox -e integrations
  examples/docs_snippets/docs_snippets_tests/test_all_files_load.py
  examples/docs_snippets/docs_snippets_tests/test_integration_files_load.py
  examples/docs_snippets/tox.ini
Due: pyright

rm docs_beta_snippets bk
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
Due: pyright

fix tests
  examples/docs_snippets/docs_snippets/integrations/databricks/databricks.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/__init__.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/reference/__init__.py
  examples/docs_snippets/docs_snippets/integrations/duckdb/tutorial/__init__.py
  examples/docs_snippets/docs_snippets/integrations/fivetran/fivetran.py
  examples/docs_snippets/docs_snippets_tests/concepts_tests/assets_tests/test_cross_code_location_asset.py
  examples/docs_snippets/setup.py
  examples/docs_snippets/tox.ini
Due: pyright

exclude some ported files
  examples/docs_snippets/docs_snippets_tests/test_all_files_load.py
Due: pyright

fix
  examples/docs_snippets/docs_snippets/concepts/assets/cross_cl_code_location_2.py
  examples/docs_snippets/docs_snippets/guides/data-modeling/asset-dependencies/asset-dependencies.py
Due: pyright

fix databricks; fix cross code location tests
  examples/docs_snippets/docs_snippets/concepts/assets/cross_cl_code_location_1.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/dagster_pipes_tests/test_databricks.py
Due: pyright

[ui] Modify arrayLimit on qs.parse for useQueryPersistedState
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/__tests__/useQueryPersistedState.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

rm docs_beta_snippets references
  .github/workflows/build-docs.yml
  examples/docs_snippets/docs_snippets_tests/integrations_tests/test_dbt.py
  pyproject.toml
  pyright/master/exclude.txt
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

Add a "validate_partition_mapping" method on PartitionMapping
  python_modules/dagster/dagster/_core/definitions/partition_mapping.py
  python_modules/dagster/dagster/_core/definitions/time_window_partition_mapping.py
  python_modules/dagster/dagster_tests/asset_defs_tests/partition_mapping_tests/test_asset_partition_mappings.py
  python_modules/dagster/dagster_tests/asset_defs_tests/partition_mapping_tests/test_multipartition_partition_mapping.py
  python_modules/dagster/dagster_tests/asset_defs_tests/partition_mapping_tests/test_static_partition_mapping.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/storage_tests/test_fs_io_manager.py
Due: pyright

[dagster-dbt] put existing source behavior under test
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_checks.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/dbt_projects/test_dagster_asset_checks/models/sources.yml
Due: pyright

[ui] Restore __typename to tag filtering on automations
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
Due: none

[docs] Bump vite in /docs in the npm_and_yarn group across 1 directory (#28804)
  docs/yarn.lock
Due: none

[dagster-dbt] Add dbt Cloud run URL to asset materializations metadata (#28793)
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/run_handler.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cloud_v2/types.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/conftest.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/manifest.json
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/run_results.json
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/cloud_v2/test_run_events.py
Due: pyright

[ui] Restore __typename to tag filtering on automations (#28806)
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
Due: none

Make useTimeRangeFilter controlled (#28756)
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/RunFilterInput.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/__stories__/useFilters.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/__tests__/useTimeRangeFilter.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useTimeRangeFilter.tsx
Due: none

Remove components check from DgContext.for_project_environment
  python_modules/libraries/dagster-dg/dagster_dg/context.py
Due: pyright

update model fields access
  python_modules/dagster/dagster/_config/pythonic_config/config.py
  python_modules/dagster/dagster/_core/definitions/metadata/metadata_set.py
  python_modules/dagster/dagster/_core/definitions/tags/tag_set.py
  python_modules/libraries/dagster-shared/dagster_shared/dagster_model/pydantic_compat_layer.py
Due: pyright

[ui] Modify arrayLimit on qs.parse for useQueryPersistedState (#28799)
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/__tests__/useQueryPersistedState.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/useQueryPersistedState.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
