Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

plus -> +
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
Due: none

respond to review comments
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
Due: none

[airlift] add script to rebuild readme from snippets (#24036)
  examples/experimental/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_correctly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_incorrectly_marked.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/simple-migration/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/Makefile
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/dagster_defs/stages/standalone.py
  examples/experimental/dagster-airlift/scripts/airflow_setup.sh
  examples/experimental/dagster-airlift/scripts/build_and_publish.sh
  examples/experimental/dagster-airlift/scripts/increment_pypi_version.sh
  examples/experimental/dagster-airlift/scripts/update_readme_snippets.py
Due: pyright

docker deployment guide
  docs/docs-beta/docs/guides/deployment/docker.md
Due: none

.js -> .tsx
  docs/docs-beta/src/theme/NotFound/Content/index.js
  docs/docs-beta/src/theme/NotFound/Content/index.tsx
  docs/docs-beta/src/theme/NotFound/index.tsx
Due: none

switch tick filters to contained set rather than every permutation (#23781)
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
Due: none

simplify 404; add helpful links
  docs/docs-beta/src/styles/custom.scss
  docs/docs-beta/src/theme/NotFound/Content/index.tsx
Due: none

Port run isolation docs
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

Align with the new structure
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
Due: none

More language tweaks
  docs/docs-beta/docs/dagster-plus/deployment/serverless/run-isolation.md
Due: none

[dagster-aws] add "params" argument to PipesGlueClient.run and deprecate direct arguments"
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/setup.py
Due: docs-mdx-format, pyright

[dagster-aws] add `params` argument to `PipesGlueClient.run `and deprecate direct arguments (#23949)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/dagster-pipes/aws-glue.mdx
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/glue/dagster_code.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
  python_modules/libraries/dagster-aws/setup.py
Due: docs-mdx-format, pyright

add BaseAWSPipesClient
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/base.py
Due: pyright

Add retryOnAssetOrOpFailure to helm chart (#24028)
  helm/dagster/schema/schema/charts/dagster/subschema/daemon.py
  helm/dagster/schema/schema_tests/test_dagster_daemon.py
  helm/dagster/templates/configmap-instance.yaml
  helm/dagster/values.schema.json
Due: pyright

Clarify why you'd use this
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/local.md
Due: none

[docs-beta] Fix preview links in docs-revamp GH action
  .github/workflows/build-docs-revamp.yml
Due: none

[docs-beta] Fix preview links in docs-revamp GH action (#24046)
  .github/workflows/build-docs-revamp.yml
Due: none

outline
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
Due: none

Dagster+ UI env vars guide
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
Due: none

pr comments
  docs/docs-beta/docs/dagster-plus/deployment/environment-variables/dagster-ui.md
Due: none

Update Permissions.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/Permissions.tsx
Due: none

[docathon] partitioning assets
  docs/docs-beta/docs/guides/data-modeling/partitioning.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/dynamic_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/partitioned_dependencies.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/static_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/time_based_partitioning.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/data-modeling/partitioning/two_dimensional_partitioning.py
Due: pyright

typecheck?
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

[typo] asset selection syntax upstream->downstream
  docs/content/concepts/assets/asset-selection-syntax.mdx
Due: docs-mdx-format

[bk] tweak docs beta snippets tox
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/generate_alerts_doc.py
  examples/docs_beta_snippets/setup.py
  examples/docs_beta_snippets/tox.ini
  scripts/generate_changelog.py
Due: pyright

[bk] tweak docs beta snippets tox (#24054)
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/deployment/alerts/generate_alerts_doc.py
  examples/docs_beta_snippets/setup.py
  examples/docs_beta_snippets/tox.ini
  scripts/generate_changelog.py
Due: pyright

Port the code requirements page and clean it up
  docs/docs-beta/docs/dagster-plus/getting-started/code-requirements.md
Due: none

add styles
  docs/docs-beta/src/styles/custom.scss
Due: none

fix immediate redirect
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
Due: none

[DOC-366] Add Dagster Plus audit log guide (#23931)
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
  examples/docs_beta_snippets/docs_beta_snippets/dagster-plus/access/rbac/audit-logs.graphql
Due: none

rm console.log
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
Due: none

fix another way
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
Due: none

comment
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetView.tsx
Due: none

Udpate Airbyte assets to avoid name collisions
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_instance.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_project.py
Due: pyright

[typo] asset selection syntax upstream->downstream (#24053)
  docs/content/concepts/assets/asset-selection-syntax.mdx
Due: docs-mdx-format

Refresh ECS agent installation
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs-existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs-new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/amazon-ecs.md
Due: none

Lint
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_asset_defs.py
Due: pyright
