Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[ui] Fix vertical centering of arrows on the asset graph, asset name wrapping
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetNode.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__fixtures__/AssetNode.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__stories__/AssetNode.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/layout.ts
  js_modules/dagster-ui/packages/ui-core/src/graph/asyncGraphLayout.ts
Due: none

add deploymentlabel to user-deployment
  helm/dagster/charts/dagster-user-deployments/templates/deployment-user.yaml
Due: none

[docs] update Serverless IP address date
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

Update OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: none

Subset-aware version of should_backfill_atomic_asset_partitions_unit
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/asset_graph_view/entity_subset.py
  python_modules/dagster/dagster/_core/asset_graph_view/serializable_entity_subset.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
Due: pyright

[docs] update Serverless IP address date (#25982)
  docs/content/dagster-plus/deployment/serverless.mdx
Due: docs-mdx-format

[dagster-fivetran] Mark FivetranWorkspace as experimental (#25962)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/resources.py
Due: pyright

[docs] add dagster-mssql-bcp integration entry
  docs/content/integrations.mdx
Due: docs-mdx-format

new subsett-y bfs method
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
Due: pyright

[graphql] fix backfill target keys
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

replace direct calls to _step_execution_context with getter calls
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
Due: pyright

[graphql] fix backfill target keys (#25964)
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_all_snapshot_ids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_assets.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/__snapshots__/test_solids.ambr
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

[dependencies] Fix with_airflow example for compat with apache-airflow-providers-cncf-kubernetes>10
  examples/experimental/dagster-airlift/examples/tutorial-example/customers.csv
  examples/with_airflow/setup.py
  examples/with_airflow/with_airflow/airflow_kubernetes_dag.py
Due: pyright

[dependencies] Fix with_airflow example for compat with apache-airflow-providers-cncf-kubernetes>10 (#25984)
  examples/experimental/dagster-airlift/examples/tutorial-example/customers.csv
  examples/with_airflow/setup.py
  examples/with_airflow/with_airflow/airflow_kubernetes_dag.py
Due: pyright

[dependencies] Make dagster-polars compatible with polars>=1.14
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
  python_modules/libraries/dagster-polars/tox.ini
Due: pyright

[dependencies] Make dagster-polars compatible with polars>=1.14 (#25985)
  python_modules/libraries/dagster-polars/dagster_polars/io_managers/delta.py
  python_modules/libraries/dagster-polars/tox.ini
Due: pyright

fix pagination 2
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
Due: pyright

fix pagination
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
Due: pyright

fix tests
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
Due: pyright

[dagster-sigma] fix pagination behavior (#25935)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
Due: pyright

Fix tests
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__fixtures__/AssetNode.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__tests__/AssetNode.test.tsx
Due: none

[dagster-sigma] Add filter option to hide unused datasets
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

docstr
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[dagster-sigma] Add filter option to hide unused datasets (#25988)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[dagster-sigma] Add support for direct workbook->table deps"
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
Due: pyright

moar test fix
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

Fix get_child_subset partition mapping
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
Due: pyright

[docs] Mention DAGSTER_BUILD_STATEDIR in dbt defer guide
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

[check] handle TypedDict
  python_modules/dagster/dagster/_check/builder.py
  python_modules/dagster/dagster_tests/general_tests/check_tests/test_check.py
Due: pyright

test
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

Lint
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

Fix url
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

dagster-sigma 0.25.3rc5
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

[dagster-sigma] Add additional metadata, kind tags
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

dagster-sigma 0.25.3rc6
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

fix name
  python_modules/libraries/dagster-sigma/setup.py
  scripts/build_and_publish.sh
Due: pyright

fix
  scripts/build_and_publish.sh
Due: none

2 fix
  scripts/build_and_publish.sh
Due: none

fix 3
  scripts/build_and_publish.sh
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
