Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

replace definitions with $defs
  helm/dagster/values.schema.json
Due: none

fix the values schema using the `dagster-helm schema apply` command
  helm/dagster/values.schema.json
Due: none

fix the failing unit tests of the Migrate class
  helm/dagster/schema/schema_tests/test_instance_migrate.py
Due: pyright

[dagster-databricks] Fix Cluster Drive Log Root Error when no extras provided for pipe (#26592)
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Due: pyright

[dagster-aws] remove stubs from runtime dependencies
  python_modules/libraries/dagster-aws/setup.py
Due: pyright

ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/util.ts
Due: none

[dagster-aws] remove stubs from runtime dependencies (#26968)
  python_modules/libraries/dagster-aws/setup.py
Due: pyright

fix workspace context overfetching on cascading updates
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__fixtures__/Workspace.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
Due: none

background asset wipe
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/types/useWipeAssets.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/useWipeAssets.tsx
  js_modules/dagster-ui/packages/ui-core/src/graphql/possibleTypes.generated.json
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/__init__.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/assets.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/mutation.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/definitions/events.py
  python_modules/dagster/dagster/_core/instance/__init__.py
Due: pyright

[ui] Open evaluation detail dialog from automaterialize tag (#26963)
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutomaterializeTagWithEvaluation.tsx
Due: none

Fix typo
  docs/content/about/releases.mdx
Due: docs-mdx-format

Lint
  docs/next/components/markdoc/Badges.tsx
Due: none

Update docs
  docs/content/about/releases.mdx
Due: docs-mdx-format

Update docstring_flags.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
Due: pyright

Update css classes
  docs/next/styles/globals.css
Due: none

[docs] display preview warning and decorator info
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
  docs/sphinx/sections/api/apidocs/utilities.rst
Due: docs-mdx-format, pyright

Lint
  docs/next/styles/globals.css
Due: none

feedback
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineExplorerRoot.oss.tsx
Due: none

[perf] Skip expensive `PIPELINE_EXPLORER_ROOT_QUERY` query if viewing an asset job and prefer asset rendering is enabled (#26957)
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineExplorerRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/util.ts
Due: none

ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

Add test case for step stats with a retry event before a step start event
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

[docs] extend sensors definition (#26892)
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  docs/docs-beta/docs/guides/automate/sensors.md
Due: docs-mdx-format

[docs] display preview warning and decorator info (#26819)
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
  docs/sphinx/sections/api/apidocs/utilities.rst
Due: docs-mdx-format, pyright

[docs] display beta warning and decorator info
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
  docs/sphinx/sections/api/apidocs/utilities.rst
Due: docs-mdx-format, pyright

Fix O(n^2) code (#26951)
  js_modules/dagster-ui/packages/ui-core/src/assets/usePartitionHealthData.tsx
Due: none

remove reference to quickstart-etl project
  docs/content/dagster-plus/getting-started.mdx
Due: docs-mdx-format

[docs] display beta warning and decorator info (#26821)
  docs/content/about/releases.mdx
  docs/markdoc-component-documentation.md
  docs/next/components/markdoc/Badges.tsx
  docs/next/components/mdx/MDXComponents.tsx
  docs/next/markdoc/tags.js
  docs/next/styles/globals.css
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/docstring_flags.py
  docs/sphinx/sections/api/apidocs/utilities.rst
Due: docs-mdx-format, pyright

[docs-beta] Map API lifecycle flags to style level for docs beta
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
Due: pyright

[docs] Update CSS for superseded and deprecated flags
  docs/next/styles/globals.css
Due: none

fix 2
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
Due: none

[changelog] 1.9.7
  CHANGES.md
Due: none

no nullish coalesce operator
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
Due: none

[changelog] 1.9.7 (#26975)
  CHANGES.md
Due: none

testing
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
Due: none

more
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetEdges.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/assetKeyTokensInRange.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/layout.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPartitions.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartLayout.ts
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttStatusPanel.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/StepLogsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/SectionedLeftNav.tsx
Due: none

Fix O(n^2) logic part 2 (#26977)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetEdges.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/assetKeyTokensInRange.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/layout.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPartitions.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartLayout.ts
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttStatusPanel.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/StepLogsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/SectionedLeftNav.tsx
Due: none

fix API docs links
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs-beta/docs/guides/build/external-resources/configuring-resources.md
  docs/docs-beta/docs/guides/build/external-resources/defining-resources.md
Due: none

Update out of date "output_required" explanation on @asset (#26954)
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
