Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

rename catalog views page
  docs/docs-beta/docs/dagster-plus/features/catalog-views.md
Due: none

Move custom delay_generator to top level of the module
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
Due: pyright

Remove bad test and run ruff
  python_modules/libraries/dagster-aws/dagster_aws_tests/pipes_tests/test_pipes.py
Due: pyright

[components] Rename `dg-cli` module/source to `dagster-dg`
  python_modules/automation/automation_tests/test_repo.py
  python_modules/automation/tox.ini
  python_modules/libraries/dagster-dg/LICENSE
  python_modules/libraries/dagster-dg/MANIFEST.in
  python_modules/libraries/dagster-dg/README.md
  python_modules/libraries/dagster-dg/dagster_dg/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/error.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/py.typed
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/components/.gitkeep
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/definitions.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/lib/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER_tests/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.jinja
  python_modules/libraries/dagster-dg/dagster_dg/templates/COMPONENT_TYPE/COMPONENT_TYPE_NAME_PLACEHOLDER.py.jinja
  python_modules/libraries/dagster-dg/dagster_dg/templates/DEPLOYMENT_NAME_PLACEHOLDER/.github/workflows/dagster-cloud-deploy.yaml.jinja
  python_modules/libraries/dagster-dg/dagster_dg/templates/DEPLOYMENT_NAME_PLACEHOLDER/code_locations/.gitkeep
  python_modules/libraries/dagster-dg/dagster_dg/templates/DEPLOYMENT_NAME_PLACEHOLDER/dagster_cloud.yaml.jinja
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg/version.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_list_commands.py
  python_modules/libraries/dagster-dg/pytest.ini
  python_modules/libraries/dagster-dg/setup.cfg
  python_modules/libraries/dagster-dg/setup.py
  python_modules/libraries/dagster-dg/tox.ini
  python_modules/libraries/dg-cli/MANIFEST.in
Due: pyright

Add missing max_retries param
  python_modules/libraries/dagster-aws/dagster_aws/pipes/message_readers.py
Due: pyright

[components] Rename `dg-cli` module/source to `dagster-dg` (#26386)
  python_modules/automation/automation_tests/test_repo.py
  python_modules/automation/tox.ini
  python_modules/libraries/dagster-dg/LICENSE
  python_modules/libraries/dagster-dg/MANIFEST.in
  python_modules/libraries/dagster-dg/README.md
  python_modules/libraries/dagster-dg/dagster_dg/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/error.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/py.typed
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/components/.gitkeep
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/definitions.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER/lib/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/CODE_LOCATION_NAME_PLACEHOLDER_tests/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/templates/CODE_LOCATION_NAME_PLACEHOLDER/pyproject.toml.jinja
  python_modules/libraries/dagster-dg/dagster_dg/templates/COMPONENT_TYPE/COMPONENT_TYPE_NAME_PLACEHOLDER.py.jinja
  python_modules/libraries/dagster-dg/dagster_dg/templates/DEPLOYMENT_NAME_PLACEHOLDER/.github/workflows/dagster-cloud-deploy.yaml.jinja
  python_modules/libraries/dagster-dg/dagster_dg/templates/DEPLOYMENT_NAME_PLACEHOLDER/code_locations/.gitkeep
  python_modules/libraries/dagster-dg/dagster_dg/templates/DEPLOYMENT_NAME_PLACEHOLDER/dagster_cloud.yaml.jinja
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg/version.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_list_commands.py
  python_modules/libraries/dagster-dg/pytest.ini
  python_modules/libraries/dagster-dg/setup.cfg
  python_modules/libraries/dagster-dg/setup.py
  python_modules/libraries/dagster-dg/tox.ini
  python_modules/libraries/dg-cli/MANIFEST.in
Due: pyright

pr comments
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_resources.py
Due: pyright

more test
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_snowflake_io_manager.py
Due: pyright

make more generic
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/snowflake_io_manager.py
Due: pyright

[dagster-snowflake] Add client_store_temporary_credential authentication option to SnowflakeResource
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
Due: pyright

update
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/snowflake_io_manager.py
Due: pyright

[components] create venv when scaffolding code location
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[components] create venv when scaffolding code location (#26348)
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

add deploymentlabel to user-deployment (#25981)
  helm/dagster/charts/dagster-user-deployments/templates/deployment-user.yaml
Due: none

[dagster-snowflake] Add additional_snowflake_connection_args option to SnowflakeResource/IOManager for catchall snowflake connector args (#26040)
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/snowflake_io_manager.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_resources.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_snowflake_io_manager.py
Due: pyright

[ui] Clean up Dependabot alerts
  docs/docs-beta/yarn.lock
  docs/next/yarn.lock
  js_modules/dagster-ui/yarn.lock
Due: none

unlist and add notes to branch deployments pages
  docs/docs-beta/docs/dagster-plus/deployment/hybrid/agents/settings.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/dagster-cloud-cli.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
Due: none

unlist ci/cd file reference page
  docs/docs-beta/docs/dagster-plus/features/ci-cd/ci-cd-file-reference.md
Due: none

add extract_serialized_job_snap_from_job_data
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_serdes/serdes.py
  python_modules/dagster/dagster_tests/api_tests/api_tests_repo.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_repository.py
  python_modules/dagster/dagster_tests/cli_tests/test_api_commands.py
  python_modules/dagster/dagster_tests/general_tests/test_serdes.py
Due: pyright

[dagster-airlift] Standardize asset key interpolation (#26141)
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/materialize_assets_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift_tests/integration_tests/materialize_assets_operator_test_project/dags/dag.py
  python_modules/libraries/dagster-airlift/dagster_airlift_tests/integration_tests/materialize_assets_operator_test_project/dagster_defs.py
  python_modules/libraries/dagster-airlift/dagster_airlift_tests/integration_tests/test_materialize_assets_operator.py
Due: pyright

add backoff for duckdb connections
  docs/dagster-university/next-env.d.ts
  docs/dagster-university/pages/dagster-essentials/lesson-4/coding-practice-taxi-zones-asset.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/coding-practice-trips-by-week-asset.md
  docs/dagster-university/pages/dagster-essentials/lesson-4/loading-data-into-a-database.md
  docs/dagster-university/pages/dagster-essentials/lesson-6/setting-up-a-database-resource.md
  docs/dagster-university/pages/dagster-essentials/lesson-6/using-resources-in-assets.md
Due: none

make prettier
  examples/project_dagster_modal_pipes/README.md
  examples/project_dagster_modal_pipes/dagster_modal_demo/pipeline_factory.py
Due: pyright

[project_dagster_modal_pipes] port project to monorepo for inclusion in docs
  examples/project_dagster_modal_pipes/.env.example
  examples/project_dagster_modal_pipes/.gitignore
  examples/project_dagster_modal_pipes/Makefile
  examples/project_dagster_modal_pipes/README.md
  examples/project_dagster_modal_pipes/_static/architecture-diagram.png
  examples/project_dagster_modal_pipes/_static/dagster-modal-banner.png
  examples/project_dagster_modal_pipes/_static/screenshot_dagster_lineage.png
  examples/project_dagster_modal_pipes/_static/screenshot_dagster_summary_asset.png
  examples/project_dagster_modal_pipes/_static/screenshot_r2_storage.png
  examples/project_dagster_modal_pipes/dagster_modal_demo/__init__.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/constants.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/dagster_modal/__init__.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/dagster_modal/resources.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/definitions.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/pipeline_factory.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/resources.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/utils/__init__.py
  examples/project_dagster_modal_pipes/dagster_modal_demo/utils/summarize.py
  examples/project_dagster_modal_pipes/dagster_modal_demo_tests/__init__.py
  examples/project_dagster_modal_pipes/dagster_modal_demo_tests/test_assets.py
  examples/project_dagster_modal_pipes/modal_project/.env.example
  examples/project_dagster_modal_pipes/modal_project/config.py
  examples/project_dagster_modal_pipes/modal_project/hello_dagster.py
  examples/project_dagster_modal_pipes/modal_project/transcribe.py
  examples/project_dagster_modal_pipes/modal_project/verify_cloud_mount.py
  examples/project_dagster_modal_pipes/pyproject.toml
  examples/project_dagster_modal_pipes/setup.cfg
  examples/project_dagster_modal_pipes/setup.py
Due: pyright

use dagster-contrib-modal
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/dagster_modal/__init__.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/dagster_modal/resources.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/pipeline_factory.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/resources.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/utils/summarize.py
  examples/project_dagster_modal_pipes/setup.py
Due: pyright

rename project; rebuild pyright; appease ruff
  examples/project_dagster_modal_pipes/modal_project/config.py
  examples/project_dagster_modal_pipes/modal_project/hello_dagster.py
  examples/project_dagster_modal_pipes/modal_project/transcribe.py
  examples/project_dagster_modal_pipes/modal_project/verify_cloud_mount.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/__init__.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/constants.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/dagster_modal/__init__.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/dagster_modal/resources.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/definitions.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/pipeline_factory.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/resources.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/utils/__init__.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/utils/summarize.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes_tests/__init__.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes_tests/test_assets.py
  examples/project_dagster_modal_pipes/pyproject.toml
  examples/project_dagster_modal_pipes/setup.cfg
  examples/project_dagster_modal_pipes/setup.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: pyright

sensors docs: clarify run_key behavior in a single sensor evaluation
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
Due: docs-mdx-format

add more detail in error text
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
Due: none

[ui] add more detail in launch multiple runs' error text (#26409)
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
Due: none

fix pyright
  examples/project_dagster_modal_pipes/modal_project/transcribe.py
  examples/project_dagster_modal_pipes/project_dagster_modal_pipes/utils/summarize.py
Due: pyright

type ignore; rebuild pyright pins
  examples/project_dagster_modal_pipes/modal_project/transcribe.py
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
Due: pyright

refactor
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/__tests__/SelectionAutoComplete.test.ts
Due: none

finalized initial models and brought in dbt project to dagster
  examples/project_atproto_dashboard/dbt_project/dbt_project.yml
  examples/project_atproto_dashboard/dbt_project/models/analysis/activity_over_time.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/all_profiles.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/latest_feed.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/schema.yml
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_daily_posts.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_external_links.sql
  examples/project_atproto_dashboard/dbt_project/models/staging/schema.yml
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
Due: pyright

unnecessary type ignores
  examples/project_dagster_modal_pipes/modal_project/transcribe.py
Due: pyright

add tracking to launch all button
  js_modules/dagster-ui/packages/ui-core/src/ticks/EvaluateScheduleDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/SensorDryRunDialog.tsx
Due: none

[dagster-databricks, docs] fix indentation in PipesDatabricksClient docs
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Due: pyright

ruff fix
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
Due: pyright

change backfill log message when waiting for runs to retry (#26360)
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
Due: pyright

[components] DltPipelineCollection component impl
  python_modules/libraries/dagster-components/dagster_components/lib/dlt_pipeline_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/dlt_location/components/my_dlt_project/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/dlt_location/input.csv
  python_modules/libraries/dagster-components/dagster_components_tests/dlt_sources/filesystem/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_dlt_pipeline_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
