Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Update test
  python_modules/libraries/dagster-openai/dagster_openai_tests/test_resources.py
Due: pyright

[dagster-openai] Fix not called assertion in tests for Python 3.12 (#26012)
  python_modules/libraries/dagster-openai/dagster_openai_tests/test_resources.py
Due: pyright

dont patch global lint
  js_modules/dagster-ui/packages/ui-components/src/components/NewConfigEditor.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/configeditor/codemirror-yaml/lint.js
Due: none

[ui] Fix vertical centering of arrows on the asset graph, asset name wrapping (#25974)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetNode.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__fixtures__/AssetNode.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__stories__/AssetNode.stories.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/__tests__/AssetNode.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/layout.ts
  js_modules/dagster-ui/packages/ui-core/src/graph/asyncGraphLayout.ts
Due: none

[ui] Fix the launchpad’s “no partition specified” warning for asset jobs (#25971)
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
Due: none

[wip][rfc] Add alert indicator to runs
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeRunsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunStatusTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedRow.tsx
Due: none

Use helper functions instead
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelectionVisitor.ts
Due: none

More tests
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
Due: none

Implement AntlrAssetSelectionVisitor on frontend
  js_modules/dagster-ui/packages/ui-core/src/app/GraphQueryImpl.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
Due: none

Add error listener
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
Due: none

Refactor tests
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
Due: none

[dagster-airlift] Airlift 0.0.28 plus tutorial updates
  examples/airlift-migration-tutorial/README.md
  examples/experimental/dagster-airlift/scripts/mirror_tutorial.sh
  examples/experimental/dagster-airlift/setup.py
Due: pyright

[dagster-airlift] Federation tutorial mirroring
  examples/airlift-federation-tutorial/README.md
  examples/experimental/dagster-airlift/Makefile
  examples/experimental/dagster-airlift/scripts/mirror_federation_tutorial.sh
Due: none

Hook up ANTLR in useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/__tests__/AntlrAssetSelection.test.ts
Due: none

[dagster-sigma] Add dagster-sigma snapshot CLI, which allows persisting the contents of a Sigma workspace to a file
  python_modules/libraries/dagster-sigma/dagster_sigma/cli.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_snapshot.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

rename field
  python_modules/libraries/dagster-sigma/dagster_sigma/cli.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

[dagster-powerbi] Default-on admin scan APIs
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
Due: pyright

docs
  docs/content/integrations/powerbi.mdx
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: docs-mdx-format, pyright

your
  docs/content/integrations/powerbi.mdx
Due: docs-mdx-format

fix doc
  docs/content/integrations/powerbi.mdx
Due: docs-mdx-format

[dagster-powerbi] Gracefully handle reports with no dataset
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

dagster project scaffold --name project_atproto_dashboard
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/project_atproto_dashboard/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/assets.py
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/project_atproto_dashboard_tests/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard_tests/test_assets.py
  examples/project_atproto_dashboard/pyproject.toml
  examples/project_atproto_dashboard/setup.cfg
  examples/project_atproto_dashboard/setup.py
Due: pyright

CodeMirror lint: stop patching global lint (#26013)
  js_modules/dagster-ui/packages/ui-components/src/components/NewConfigEditor.tsx
  js_modules/dagster-ui/packages/ui-components/src/components/configeditor/codemirror-yaml/lint.js
Due: none

[ui] Fix dark mode scrollbars
  js_modules/dagster-ui/packages/ui-components/src/theme/darkThemeColors.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/GlobalStyleProvider.tsx
Due: none

[docs][dagster-sigma] Update dagster-sigma filter docs (#26006)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/sigma.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/filtering-sigma-assets.py
Due: docs-mdx-format, pyright

[ui] Fix dark mode scrollbars (#26033)
  js_modules/dagster-ui/packages/ui-components/src/theme/darkThemeColors.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/GlobalStyleProvider.tsx
Due: none

[Asset-graph] Rename a few props (#25949)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphFilterBar.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphExplorerFilters.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/BaseFilters/useFilter.tsx
Due: none

[2/4] Add asset selection filtering to asset catalog table. (#25970)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphFilterBar.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/sidebar/Sidebar.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionFiltering.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionState.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/AssetTables.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/types.ts
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
Due: none

[dagster-powerbi][fix] Gracefully handle reports with no dataset (#26031)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

feedback
  js_modules/dagster-ui/packages/ui-components/src/components/NewConfigEditor.tsx
Due: none

[dagster-sigma] Add dagster-sigma snapshot CLI, which allows persisting the contents of a Sigma workspace to a file (#25913)
  python_modules/libraries/dagster-sigma/dagster_sigma/cli.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_snapshot.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

[4/4] Add asset selection input for new syntax (#26000)
  js_modules/dagster-ui/packages/app-oss/src/pages/index.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionLinter.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionMode.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionSyntaxErrorListener.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/GraphQueryInput.tsx
Due: none

test branch
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionLinter.ts
Due: none

fix
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
