Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Fix asset owner links on catalog page (#25142)
  js_modules/dagster-ui/packages/ui-core/src/search/BuildAssetSearchResults.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useGlobalSearch.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/assetOwnerAsString.ts
Due: none

Per the discussion about not pushing the `Definitions`-centric integration pattern and instead focusing more on continuity, this is how that would apply to the current airlift examples.
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/top_level_dag_def_api.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/jaffle_shop.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
Due: pyright

[rfc] AssetSpec.replace_attributes and AssetSpec.merge_attributes
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster_tests/definitions_tests/test_asset_spec.py
Due: pyright

try autocap with snowflake
  python_modules/libraries/dagster-snowflake-pandas/dagster_snowflake_pandas/snowflake_pandas_type_handler.py
  python_modules/libraries/dagster-snowflake-pyspark/dagster_snowflake_pyspark/snowflake_pyspark_type_handler.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake/snowflake_io_manager.py
Due: pyright

standalone
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster_tests/definitions_tests/test_asset_spec.py
Due: pyright

[graphql] lazy load repository location
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
Due: pyright

[graphql] look up job by selector
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster/dagster/_core/workspace/context.py
Due: pyright

[docs] build api docs (#25149)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/next-env.d.ts
  docs/next/public/objects.inv
Due: docs-mdx-format

[dagster-airlift] Introduce asset_with_task_mapping and use the to divorce from Definitions-centric construction in airlift examples (#25081)
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/top_level_dag_def_api.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/jaffle_shop.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/lakehouse.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/observe.py
Due: pyright

Add name to EntityMatchesCondition
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
Due: pyright

Add name to EntityMatchesCondition (#25155)
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
Due: pyright

[graphql] lazy load repository location (#25135)
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
Due: pyright

[graphql] look up job by selector (#25140)
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster/dagster/_core/workspace/context.py
Due: pyright

Add regression test for labels of dep conditions
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
Due: pyright

[4/c] query column tags when building lineage (#24928)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/buildConsolidatedColumnSchema.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/lineage/types/useColumnLineageDataForAssets.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/lineage/useColumnLineageDataForAssets.tsx
Due: none

fix variables typing error
  python_modules/libraries/dagster-github/dagster_github/resources.py
  python_modules/libraries/dagster-github/dagster_github_tests/test_resources.py
Due: pyright

[dagster-aws] add `since_last_modified` parameter to get_s3_keys
  python_modules/libraries/dagster-aws/dagster_aws/s3/sensor.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_s3_sensor.py
Due: pyright

Add regression test for labels of dep conditions (#25157)
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
Due: pyright

use typeddict with boto3 stubs
  python_modules/libraries/dagster-aws/dagster_aws/_stubs.py
  python_modules/libraries/dagster-aws/dagster_aws/s3/sensor.py
Due: pyright

add search bar to partitions tab
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPartitions.tsx
Due: none

[dagster-github] - add type hints and move queries to constant values (#25148)
  python_modules/libraries/dagster-github/dagster_github/resources.py
  python_modules/libraries/dagster-github/dagster_github_tests/test_resources.py
Due: pyright

[record] opt-in defensive checks
  python_modules/dagster/dagster/_record/__init__.py
  python_modules/dagster/dagster_tests/conftest.py
  python_modules/dagster/dagster_tests/general_tests/test_record.py
Due: pyright

add search bar to partitions tab (#25162)
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetPartitions.tsx
Due: none

[record] opt-in defensive checks (#25042)
  python_modules/dagster/dagster/_record/__init__.py
  python_modules/dagster/dagster_tests/conftest.py
  python_modules/dagster/dagster_tests/general_tests/test_record.py
Due: pyright

[graphql] back GrapheneAssetNode with RemoteAssetNode
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/loader.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
Due: pyright

update
  docs/content/concepts/metadata-tags/kind-tags.mdx
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds_multi.py
Due: docs-mdx-format, pyright

[docs] Add kind tags docs, script for updating kinds list
  docs/Makefile
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/csv.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/dag.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/dashboard.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/file.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-bronze-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-gold-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-silver-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/notebook.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/pdf.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/seed.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/source.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/table.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/task.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-bigquery-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-pytorchlightning-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-s3-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/view.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/yaml.svg
  docs/scripts/regen_kind_tags.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds_multi.py
Due: docs-mdx-format, pyright

typo
  docs/Makefile
  docs/content/concepts/metadata-tags/kind-tags.mdx
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: docs-mdx-format

[graphql] back GrapheneAssetNode with RemoteAssetNode (#25144)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/loader.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
Due: pyright

Remove support for K8s <1.29, note prepended init containers
  helm/dagster/schema/schema/charts/dagster/subschema/daemon.py
  helm/dagster/schema/schema/charts/dagster/subschema/migrate.py
  helm/dagster/schema/schema/charts/dagster/subschema/postgresql.py
  helm/dagster/schema/schema/charts/dagster/subschema/webserver.py
  helm/dagster/templates/deployment-daemon.yaml
  helm/dagster/templates/helpers/_deployment-webserver.tpl
  helm/dagster/templates/helpers/_helpers.tpl
  helm/dagster/templates/job-instance-migrate.yaml
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
Due: pyright

[docs] Add kind tags docs, script for updating kinds list (#25073)
  docs/Makefile
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/csv.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/dag.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/dashboard.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/file.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-bronze-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-gold-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/medallion-silver-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/notebook.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/pdf.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/seed.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/source.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/table.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/task.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-bigquery-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-pytorchlightning-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-s3-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/view.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/yaml.svg
  docs/scripts/regen_kind_tags.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds.py
  examples/docs_snippets/docs_snippets/concepts/metadata-tags/asset_kinds_multi.py
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: docs-mdx-format, pyright

[dagster-sigma] add option to warn on lineage fetch failure instead of error outright
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[dagster-sigma] add option to warn on lineage fetch failure instead of error outright (#24907)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

accept asset key coercibles in AssetSelection.checks_for_assets
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/asset_selection.py
  python_modules/dagster/dagster_tests/definitions_tests/test_asset_check_selection.py
Due: pyright

[dagster-airlift] make dag mapping utilities plural
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_asset.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

accept asset key coercibles in AssetSelection.checks_for_assets (#25161)
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/asset_selection.py
  python_modules/dagster/dagster_tests/definitions_tests/test_asset_check_selection.py
Due: pyright

Fix "Last day of the month" schedules in dagster
  python_modules/dagster/dagster/_utils/schedules.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_cron_string_iterator.py
Due: pyright

Fix "Last day of the month" schedules in dagster (#25169)
  python_modules/dagster/dagster/_utils/schedules.py
  python_modules/dagster/dagster_tests/scheduler_tests/test_cron_string_iterator.py
Due: pyright
