Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

dagster-sigma 0.25.3rc7
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

Fix get_child_subset partition mapping (#25992)
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
Due: pyright

woo
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
Due: pyright

Subset-aware version of should_backfill_atomic_asset_partitions_unit
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_partition_backfill.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/asset_graph_view/entity_subset.py
  python_modules/dagster/dagster/_core/asset_graph_view/serializable_entity_subset.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
Due: pyright

sofar
  js_modules/dagster-ui/packages/app-oss/src/pages/index.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionLinter.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionMode.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionSyntaxErrorListener.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/useAssetSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsCatalogTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/GraphQueryInput.tsx
Due: none

add feature flag for new asset selection syntax
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
Due: none

asset selection input
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
Due: none

rm console.log
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetGraphExplorer.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
Due: none

[oss] Add feature flag for new asset selection syntax (#25999)
  js_modules/dagster-ui/packages/ui-core/src/app/FeatureFlags.oss.tsx
Due: none

fix autocomplete when overflowing input
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionInput.oss.tsx
Due: none

better traversal autocomplete
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/input/AssetSelectionAutoComplete.ts
Due: none

fix hack
  js_modules/dagster-ui/packages/ui-components/src/components/NewConfigEditor.tsx
Due: none

add uv.tool.sources (in uv.toml)
  uv.toml
Due: none

removes legacy python classifiers from setup.py (#25871)
  docs/dagster-ui-screenshot/setup.py
  python_modules/libraries/dagster-deltalake-pandas/setup.py
  python_modules/libraries/dagster-deltalake-polars/setup.py
  python_modules/libraries/dagster-deltalake/setup.py
Due: pyright

Update docs/docs-beta/docs/tutorial/03-creating-a-downstream-asset.md
  docs/docs-beta/docs/tutorial/03-creating-a-downstream-asset.md
Due: none

[check] handle TypedDict (#25994)
  python_modules/dagster/dagster/_check/builder.py
  python_modules/dagster/dagster_tests/general_tests/check_tests/test_check.py
Due: pyright

Add missing raise statement for DagsterInvalidDefinitionError (#25917)
  python_modules/dagster/dagster/_core/definitions/run_status_sensor_definition.py
Due: pyright

Fix elasticsearch-color
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: none

[ui] Lint against window.open
  js_modules/dagster-ui/packages/eslint-config/index.js
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetGroupRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeLineageGraph.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsGlobalGraphRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/useOpenInNewTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/insights/InsightsBarChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineExplorerRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunHeaderActions.tsx
Due: none

[dagster-sigma] Add support for direct workbook->table deps (#25991)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

[docs] Mention DAGSTER_BUILD_STATEDIR in dbt defer guide (#25993)
  docs/content/integrations/dbt/reference.mdx
Due: docs-mdx-format

Update OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
Due: none

[ui] Lint against window.open (#25912)
  js_modules/dagster-ui/packages/eslint-config/index.js
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetGroupRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeLineageGraph.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetsGlobalGraphRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/hooks/useOpenInNewTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/insights/InsightsBarChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineExplorerRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunHeaderActions.tsx
Due: none

[dagster-sigma] Add additional metadata, kind tags
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

docs
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/scripts/regen_kind_tags.py
Due: docs-mdx-format, pyright

tweak
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
Due: pyright

[dagster-sigma] Add additional metadata, kind tags (#25996)
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/scripts/regen_kind_tags.py
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/conftest.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: docs-mdx-format, pyright

[docs][dagster-sigma] Update dagster-sigma filter docs
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/filtering-sigma-assets.py
Due: docs-mdx-format, pyright

rst
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
Due: docs-mdx-format

[ui] Fix cross-spawn dependabot alerts in docs
  docs/dagster-university/yarn.lock
  docs/docs-beta/yarn.lock
Due: none

[ui] Fix cross-spawn dependabot alerts in docs (#26008)
  docs/dagster-university/yarn.lock
  docs/docs-beta/yarn.lock
Due: none

[ui] Add Denodo kind icon and replace tool-sqlserver svg icon for a smaller version (#25839)
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-denodo-color.svg
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-sqlserver-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-denodo-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-sqlserver-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/optag-images/sqlserver.svg
Due: docs-mdx-format

executable and da strawman
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Due: pyright

[dagster-airlift] Implement spec methods
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
Due: pyright

[dagster-airlift] Use declarative automation
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  docs/content/_navigation.json
  docs/content/integrations/airlift/federation-tutorial/federated-execution.mdx
  docs/content/integrations/airlift/federation-tutorial/observe.mdx
  docs/content/integrations/airlift/federation-tutorial/overview.mdx
  docs/content/integrations/airlift/federation-tutorial/setup.mdx
  examples/airlift-federation-tutorial/airlift_federation_tutorial/metrics_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial/warehouse_airflow_dags/dags.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_load.py
  examples/airlift-federation-tutorial/airlift_federation_tutorial_tests/test_stage.py
  examples/airlift-federation-tutorial/snippets/federated_execution.py
Due: docs-mdx-format, pyright

[dagster-airlift] Use spec methods
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
Due: pyright

[dagster-airlift] Asset spec sequence
  examples/airlift-federation-tutorial/airlift_federation_tutorial/dagster_defs/stages/executable_and_da.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/predicates.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
Due: pyright

[dagster-openai] Fix no calls assertion in tests for Python 3.12
  python_modules/libraries/dagster-openai/dagster_openai_tests/test_resources.py
Due: pyright
