Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-pipes] arbitrary metadata for PipesClientCompletedInvocation (#24342)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/concepts/metadata-tags/kind-tags.mdx
  python_modules/dagster/dagster/_core/pipes/client.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/in_process_client.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_in_process_client.py
Due: docs-mdx-format, pyright

[docs] add navigation entry for step launchers -> pipes migration guide
  docs/content/_navigation.json
Due: docs-mdx-format

[docs] add navigation entry for step launchers -> pipes migration guide (#25834)
  docs/content/_navigation.json
Due: docs-mdx-format

[ui] Add Denodo kind icon
  js_modules/dagster-ui/packages/ui-core/src/graph/OpTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-denodo-color.svg
Due: none

[doc] Regenerate kind tags
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-denodo-color.svg
Due: docs-mdx-format

Fix Docs (An To A)
  docs/docs-beta/docs/integrations/wandb.md
  examples/with_wandb/with_wandb/assets/multi_asset_example.py
  examples/with_wandb/with_wandb/assets/simple_example.py
  examples/with_wandb/with_wandb/ops/simple_job.py
  python_modules/dagster-webserver/dagster_webserver/graphiql/graphiql.min.js
  python_modules/dagster/dagster/_utils/source_position.py
  python_modules/libraries/dagster-wandb/dagster_wandb/io_manager.py
Due: pyright

updated RBAC docs based on feedback
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Due: docs-mdx-format

Realized I missed a few of the suggestions
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Due: docs-mdx-format

fix?
  docs/next/public/images/concepts/metadata-tags/kinds/sigma.svg
Due: none

fix?
  docs/next/public/images/concepts/metadata-tags/kinds/icons/sigma.svg
Due: none

fix?
  docs/content/_navigation.json
Due: docs-mdx-format

[pipes] fixes for asset keys of length > 1
  python_modules/dagster-pipes/dagster_pipes/__init__.py
  python_modules/dagster-pipes/dagster_pipes_tests/test_context.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_key.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_in_process_client.py
Due: pyright

fix docs build (#25846)
  docs/content/_navigation.json
  docs/next/public/images/concepts/metadata-tags/kinds/icons/sigma.svg
Due: docs-mdx-format

generate antlr ts
  js_modules/dagster-ui/.gitattributes
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelection.interp
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelection.tokens
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/scripts/generateAssetSelection.ts
  js_modules/dagster-ui/yarn.lock
Due: none

generate antlr ts
  js_modules/dagster-ui/.gitattributes
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelection.interp
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelection.tokens
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/asset-selection/generated/AssetSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/scripts/generateAssetSelection.ts
  python_modules/dagster/dagster/_core/definitions/antlr_asset_selection/AssetSelection.g4
Due: none

generate antlr ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelection.interp
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelection.tokens
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionLexer.interp
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionLexer.tokens
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionLexer.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionListener.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionParser.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/generated/AssetSelectionVisitor.ts
Due: none

generate antlr ts
  js_modules/dagster-ui/.gitattributes
Due: none

[ui] use check jobNames when executing checks
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/SidebarAssetInfo.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/ExecuteChecksButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/VirtualizedAssetCheckTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecks.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/ExecuteChecksButton.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/VirtualizedAssetCheckTable.types.ts
Due: none

[check] dont allow str, bytes, or record for sequence or iterable (#25410)
  python_modules/dagster/dagster/_check/functions.py
  python_modules/dagster/dagster/_check/record.py
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster/_record/__init__.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_selection.py
  python_modules/dagster/dagster_tests/core_tests/partition_tests/test_partition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_definition_errors.py
  python_modules/dagster/dagster_tests/general_tests/check_tests/test_check.py
Due: pyright

[ui] use check jobNames when executing checks (#25772)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/SidebarAssetInfo.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/ExecuteChecksButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/VirtualizedAssetCheckTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecks.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/ExecuteChecksButton.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/VirtualizedAssetCheckTable.types.ts
Due: none

[freshnes check sensor] api docs update
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/definitions/asset_check_factories/freshness_checks/sensor.py
Due: docs-mdx-format, pyright

[pipes] make sure Pipes support ops (#25744)
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/test_in_process_client.py
Due: pyright

display column tags
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/AssetGraphJobSidebar.types.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/SidebarAssetInfo.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetCheckDetailModal.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecks.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/VirtualizedAssetCheckTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetMetadata.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetNodeDefinition.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetPartitionDetail.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetView.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/useLatestPartitionEvents.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/useRecentAssetEvents.types.ts
  js_modules/dagster-ui/packages/ui-core/src/dagstertype/types/DagsterType.types.ts
  js_modules/dagster-ui/packages/ui-core/src/metadata/TableSchema.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/TableSchemaFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/types/MetadataEntryFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/metadata/types/TableSchemaFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/GraphExplorer.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/PipelineExplorerRoot.oss.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/SidebarContainerOverview.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/LogsProvider.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/LogsRow.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/LogsScrollingTableMessageFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunFragments.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunMetadataProvider.types.ts
  js_modules/dagster-ui/packages/ui-core/src/typeexplorer/types/TypeExplorer.types.ts
  js_modules/dagster-ui/packages/ui-core/src/typeexplorer/types/TypeExplorerContainer.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/GraphRoot.types.ts
Due: none

Display column tags in asset overview page (#25734)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/AssetGraphJobSidebar.types.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/SidebarAssetInfo.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetCheckDetailModal.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/AssetChecks.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/asset-checks/types/VirtualizedAssetCheckTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetMetadata.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetNodeDefinition.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetPartitionDetail.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetView.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/useLatestPartitionEvents.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/useRecentAssetEvents.types.ts
  js_modules/dagster-ui/packages/ui-core/src/dagstertype/types/DagsterType.types.ts
  js_modules/dagster-ui/packages/ui-core/src/metadata/TableSchema.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/TableSchemaFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/metadata/types/MetadataEntryFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/metadata/types/TableSchemaFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/GraphExplorer.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/PipelineExplorerRoot.oss.types.ts
  js_modules/dagster-ui/packages/ui-core/src/pipelines/types/SidebarContainerOverview.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/LogsProvider.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/LogsRow.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/LogsScrollingTableMessageFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunFragments.types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunMetadataProvider.types.ts
  js_modules/dagster-ui/packages/ui-core/src/typeexplorer/types/TypeExplorer.types.ts
  js_modules/dagster-ui/packages/ui-core/src/typeexplorer/types/TypeExplorerContainer.types.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/GraphRoot.types.ts
Due: none

[cleanup] Delete PartitionKeysTimeWindowPartitionsSubset
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster/dagster/_core/asset_graph_view/serializable_entity_subset.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/definitions/data_time.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/valid_asset_subset.py
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster/_core/definitions/time_window_partition_mapping.py
  python_modules/dagster/dagster/_core/definitions/time_window_partitions.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster_tests/asset_defs_tests/partition_mapping_tests/test_time_window_partition_mapping.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_entity_subset.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_partitions_subset.py
  python_modules/dagster/dagster_tests/definitions_tests/test_time_window_partitions.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

a few more small edits
  docs/content/dagster-plus/account/managing-users/managing-user-roles-permissions.mdx
Due: docs-mdx-format

remove "(Experimental)" from Declarative Automation menu title
  docs/content/_navigation.json
Due: docs-mdx-format

[ui] replace sqlserver svg for smaller version
  docs/next/public/images/concepts/metadata-tags/kinds/icons/tool-sqlserver-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/kindtag-images/tool-sqlserver-color.svg
  js_modules/dagster-ui/packages/ui-core/src/graph/optag-images/sqlserver.svg
Due: none

Rename InstanceLoadableBy
  python_modules/dagster/dagster/_core/loader.py
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
  python_modules/dagster/dagster_tests/utils_tests/test_dataloader.py
Due: pyright

add version switcher
  docs/docs-beta/docusaurus.config.ts
Due: none

Rename InstanceLoadableBy (#25850)
  python_modules/dagster/dagster/_core/loader.py
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
  python_modules/dagster/dagster_tests/utils_tests/test_dataloader.py
Due: pyright

remove "(Experimental)" from Declarative Automation menu title (#25849)
  docs/content/_navigation.json
Due: docs-mdx-format

Add get_code_version to DagsterDbtTranslator (#25387)
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
  python_modules/libraries/dagster-dbt/dagster_dbt/dagster_dbt_translator.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_asset_decorator.py
Due: pyright

fix partition filter placeholder text
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

add suggested change
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

[ui] fix partition filter placeholder text (#25852)
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

fix build
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
Due: none

Add comments for samples
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
Due: pyright

Fix pyright
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/experimental/conftest.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
