Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

dgclickcommand
  python_modules/libraries/dagster-dg/MANIFEST.in
  python_modules/libraries/dagster-dg/dagster_dg/cli/code_location.py
Due: pyright

use prefix for DAGSTER_HOME temp directory
  docs/docs-beta/docs/guides/deploy/deployment-options/running-dagster-locally.md
  python_modules/dagster/dagster/_cli/utils.py
Due: pyright

[dg] Add dg code-location configure-vscode to set up vscode schema hinting (#27137)
  python_modules/libraries/dagster-dg/MANIFEST.in
  python_modules/libraries/dagster-dg/dagster_dg/cache.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/code_location.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg/utils/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/utils/vscode/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/utils/vscode/vscode_extension_package.json
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_vscode_command.py
Due: pyright

[dg] Nicely format YAML parsing errors in dg check CLI (#27528)
  Makefile
  python_modules/libraries/dagster-components/dagster_components/test/test_cases.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/invalid_yaml_invalid_char/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/invalid_yaml_missing_quote/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/validation_tests/test_component_validation.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/component.py
Due: pyright

[components] Update component naming scheme
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/cli/scaffold.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/cli_tests/test_commands.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/dbt_project_location/components/jaffle_shop_dbt/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/jaffle_shop_dbt/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/python_script_location/components/scripts/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/sling_location/components/ingest/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/templated_custom_keys_dbt_project_location/components/jaffle_shop_dbt/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/component_loader.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/default_file/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/explicit_file/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/local_component_sample/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/validation_error_file/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_extra_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_invalid_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_missing_type/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_missing_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/basic_component_success/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_extra_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_invalid_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/nested_component_missing_values/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/validation/simple_asset_invalid_value/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/custom_scope_component/component.yaml
  python_modules/libraries/dagster-dg/dagster_dg/cli/component.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/component_type.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/component_command_tests/test_check.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/component_command_tests/test_component_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_component_type_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_custom_help_format.py
Due: pyright

[components] Refactor RemoteComponentRegistry
  python_modules/libraries/dagster-dg/dagster_dg/cli/component.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/component_type.py
  python_modules/libraries/dagster-dg/dagster_dg/component.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_component_type_commands.py
Due: pyright

update to include test
  python_modules/libraries/dagster-msteams/dagster_msteams/adaptive_card.py
  python_modules/libraries/dagster-msteams/dagster_msteams/card.py
  python_modules/libraries/dagster-msteams/dagster_msteams/client.py
  python_modules/libraries/dagster-msteams/dagster_msteams/hooks.py
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/__snapshots__/test_client.ambr
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/test_client.py
Due: pyright

claire/dagster-ms-teams-workflow
  python_modules/libraries/dagster-msteams/dagster_msteams/adaptive_card.py
  python_modules/libraries/dagster-msteams/dagster_msteams/client.py
  python_modules/libraries/dagster-msteams/dagster_msteams/sensors.py
Due: pyright

apply to hooks
  python_modules/libraries/dagster-msteams/dagster_msteams/adaptive_card.py
  python_modules/libraries/dagster-msteams/dagster_msteams/card.py
  python_modules/libraries/dagster-msteams/dagster_msteams/client.py
  python_modules/libraries/dagster-msteams/dagster_msteams/hooks.py
  python_modules/libraries/dagster-msteams/dagster_msteams/utils.py
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/__init__.py
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/__snapshots__/test_hooks.ambr
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/conftest.py
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/test_client.py
  python_modules/libraries/dagster-msteams/dagster_msteams_tests/test_hooks.py
Due: pyright

[docs] add redirect from docs-preview.dagster.io to docs.dagster.io
  docs/docs-beta/vercel.json
Due: none

IO manager docs polish
  docs/docs-beta/docs/guides/build/io-managers/index.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/external-systems/assets-with-io-managers.py
Due: pyright

remove dagstermill doc
  docs/docs-beta/docs/api/python-api/libraries/dagstermill.mdx
Due: none

chore: remove gitkeep
  python_modules/libraries/dagster-obstore/dagster_obstore/azure/.gitkeep
  python_modules/libraries/dagster-obstore/dagster_obstore/gcs/.gitkeep
Due: none

chore: fmt yml
  python_modules/libraries/dagster-obstore/dagster_obstore_tests/azure_tests/docker-compose.yml
Due: none

fix: tox.ini deps
  python_modules/libraries/dagster-obstore/tox.ini
Due: none

simpler
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/idb-lru-cache.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/lru-cache.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/idb-lru-cache.ts
  js_modules/dagster-ui/packages/ui-core/src/util/lru-cache.ts
Due: none

simpler
  js_modules/dagster-ui/packages/ui-core/src/util/idb-lru-cache.ts
Due: none

simpler
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/idb-lru-cache.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/idb-lru-cache.ts
Due: none

simpler
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/idb-lru-cache.test.ts
Due: none

rm flaky test
  js_modules/dagster-ui/packages/ui-core/src/nav/__tests__/LeftNavRepositorySection.test.tsx
Due: none

Remove `idb-lru-cache` dependency (#27524)
  js_modules/dagster-ui/packages/ui-core/package.json
  js_modules/dagster-ui/packages/ui-core/src/app/Util.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/useAllAssets.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/nav/__tests__/LeftNavRepositorySection.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/HourlyDataCache.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/HourlyDataCache/__tests__/HourlyDataCache.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/__tests__/useRunsForTimeline.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/__tests__/useIndexedDBCachedQuery.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/search/useIndexedDBCachedQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/idb-lru-cache.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/__tests__/lru-cache.test.ts
  js_modules/dagster-ui/packages/ui-core/src/util/idb-lru-cache.ts
  js_modules/dagster-ui/packages/ui-core/src/util/lru-cache.ts
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/__tests__/WorkspaceContext.test.tsx
  js_modules/dagster-ui/yarn.lock
Due: none

chore: mention in docs
  docs/content/deployment/dagster-instance.mdx
Due: docs-mdx-format

fix: tox ini
  python_modules/libraries/dagster-obstore/tox.ini
Due: none

fix
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteProvider.tsx
Due: none

fix: pah
  python_modules/libraries/dagster-obstore/dagster_obstore_tests/test_version.py
Due: pyright

chore: fmt docs
  docs/content/deployment/dagster-instance.mdx
  examples/docs_snippets/docs_snippets/deploying/dagster_instance/dagster.yaml
Due: docs-mdx-format

code example for google drive factory video
  examples/google_drive_factory/.env.example
  examples/google_drive_factory/README.md
  examples/google_drive_factory/google_drive_factory/__init__.py
  examples/google_drive_factory/google_drive_factory/definitions.py
  examples/google_drive_factory/lineage.svg
  examples/google_drive_factory/pyproject.toml
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

ruff changes
  examples/google_drive_factory/google_drive_factory/definitions.py
Due: pyright

[docs] add API docs for AWS SSM (#27458)
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
Due: none

Don't use `key` as prop name. (#27541)
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteProvider.tsx
Due: none

chore: dagster-pipes need to be installed as editable...
  python_modules/libraries/dagster-obstore/tox.ini
Due: none

[docs] add redirect from docs-preview to docs
  docs/docs-beta/vercel.json
Due: none

[components] Add `dg dev` command
  python_modules/dagster/dagster/_serdes/ipc.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/dev.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/utils/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_dev_command.py
  python_modules/libraries/dagster-dg/setup.py
  python_modules/libraries/dagster-dg/tox.ini
Due: pyright

applied prettier to readme
  examples/google_drive_factory/README.md
Due: none

[uv] bump pin
  .buildkite/dagster-buildkite/dagster_buildkite/utils.py
Due: pyright

[docs-beta] Fix layout in dbt & Dagster guide
  docs/docs-beta/docs/integrations/libraries/dbt/using-dbt-with-dagster/index.md
Due: none
