Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

More precise skipif logic for record tests (#24705)
  python_modules/dagster/dagster_tests/general_tests/test_record.py
Due: pyright

skip pandera test to unbreak release ci (#24704)
  examples/docs_beta_snippets/docs_beta_snippets_tests/test_integration_files_load.py
Due: pyright

hide unlisted from sidebar / nav
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
Due: none

fix(dbt): mark `dbt-core` as a non-dagster library
  python_modules/libraries/dagster-dbt/dagster_dbt/__init__.py
Due: pyright

Add a "hasReportRunlessAssetEventPermission' field to GrapheneAssetNode (#24564)
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
Due: pyright

fix(dbt): mark `dbt-core` as a non-dagster library (#24708)
  python_modules/libraries/dagster-dbt/dagster_dbt/__init__.py
Due: pyright

[docs-beta] add feedback link to github discussion
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
Due: none

[ui] Clean up dynamic row sizing in virtualized tables
  js_modules/dagster-ui/packages/ui-core/src/automation/AutomationsTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsScrollingTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/VirtualizedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/RepositoryLocationsList.tsx
Due: none

Revert "claire/dbt-global-config-fix"
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-dbt/dagster_dbt_tests/core/test_resource.py
Due: pyright

clarify docstring
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
Due: pyright

[docs-beta] Update GitHub edit URL and fix formatting
  docs/docs-beta/docusaurus.config.ts
Due: none

Update docs for Declarative Automation (#24672)
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
Due: docs-mdx-format

Add default_condition to AutomationConditionSensorDefinition (#24613)
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/default_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_e2e.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/legacy_tests/test_auto_observe.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_condition_sensor_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_policy_sensor_definition.py
Due: pyright

Update docstring for dbt global config command (#24615)
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
Due: pyright

[docs-beta] add feedback link to github discussion (#24711)
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/src/styles/custom.scss
Due: none

[docs-beta] Update GitHub edit URL (#24713)
  docs/docs-beta/docusaurus.config.ts
Due: none

fix unit test
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

Refactor airlift defintions construction logic for more elegant replacement
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

[dagster-airlift] readme section on common operators
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

[dagster-airlift] k8s pod operator equivalent
  examples/experimental/dagster-airlift/dagster_airlift/k8s/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/k8s/asset.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/k8s_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/k8s_tests/test_k8s_pod_defs.py
  examples/experimental/dagster-airlift/setup.py
  examples/experimental/dagster-airlift/tox.ini
  python_modules/libraries/dagster-k8s/dagster_k8s/ops/k8s_job_op.py
Due: pyright

remove IWorkspace
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/backfill.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/launcher/base.py
  python_modules/dagster/dagster/_core/run_coordinator/base.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster/_daemon/monitoring/run_monitoring.py
  python_modules/dagster/dagster/_daemon/run_coordinator/queued_run_coordinator_daemon.py
Due: pyright

docs with with_io_manager_key
  docs/content/concepts/io-management/io-managers.mdx
  examples/docs_snippets/docs_snippets/concepts/io_management/source_asset.py
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Due: docs-mdx-format, pyright

Refactor airlift defintions construction logic for more elegant replacement (#24665)
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

unnecessary scope
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
Due: pyright

Use test utils
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_state_backed_defs_loader.py
Due: pyright

Use test utilities in airlift unit tests (#24676)
  examples/experimental/dagster-airlift/dagster_airlift/core/state_backed_defs_loader.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_state_backed_defs_loader.py
Due: pyright

Use state-backed definition loader in Airlift
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
Due: pyright

Use state-backed definition loader in Airlift (#24647)
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
Due: pyright

[dagster-sigma] Extract defs loading context implicitly (#24669)
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo.py
Due: docs-mdx-format, pyright

Add functional-style mapping object
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
Due: pyright

docstrings
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
Due: pyright

refactor
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
Due: pyright

Add functional type mapping object to control complexity in compute_serialized_data (#24680)
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
Due: pyright

fetch runs not in backfills more efficiently (#24575)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

FetchedAirflowData
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
