Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Replace Auto-materialize references in the UI with Automation condition
  js_modules/dagster-ui/packages/ui-components/src/components/Icon.tsx
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/automation_condition.svg
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutomaterializeDaemonStatusTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutomaterializeTagWithEvaluation.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/DeclarativeAutomationBanner.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/GlobalAutomaterializationContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/groupRunsByAutomation.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/CreatedByTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorPageAutomaterialize.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedSensorRow.tsx
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_asset_daemon_failure_recovery.py
Due: pyright

Fix name of run_in_progress AutomationCondition (#25534)
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/operands.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
Due: pyright

[dagster-airbyte] remove deprecated load_assets_from_airbyte_project (#25516)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/content/integrations/airbyte.mdx
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-airbyte.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-embedded-elt.rst
  docs/tox.ini
  examples/docs_snippets/docs_snippets/integrations/airbyte/airbyte.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/__init__.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte/asset_defs.py
  python_modules/libraries/dagster-airbyte/dagster_airbyte_tests/test_load_from_project.py
Due: docs-mdx-format, pyright

[dagster-sigma] Detach spec loading from Sigma resource (#25431)
  python_modules/libraries/dagster-sigma/dagster_sigma/__init__.py
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_with_translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_asset_specs.py
Due: pyright

[dagster-sigma] Standardize translator signature (#25432)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma/translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/pending_repo_with_translator.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_translator.py
Due: pyright

fix Sigma pyright docs issue (#25531)
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Due: docs-mdx-format, pyright

[docs][1.9] Declarative Automation refresh
  docs/content/concepts/automation/declarative-automation.mdx
  docs/content/concepts/automation/declarative-automation/customizing-automation-conditions.mdx
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
Due: docs-mdx-format, pyright

🍱 Update state_in_airflow.png
  examples/experimental/dagster-airlift/examples/tutorial-example/images/state_in_airflow.png
Due: none

📝 Update outdated class names that were renamed
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

🍱 Update Airflow proxied_dag image
  examples/experimental/dagster-airlift/examples/tutorial-example/images/proxied_dag.png
Due: none

📝 Update more instances of class
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
Due: none

[dagster-airlift] [federation-demo] dbt cloud side
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_airflow.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_assets.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/federated_airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/test_federated.py
  examples/experimental/dagster-airlift/examples/dbt-example/setup.py
  examples/experimental/dagster-airlift/examples/dbt-example/tox.ini
  examples/experimental/dagster-dlift/dagster_dlift/translator.py
Due: pyright

[dagster-airlift] [federation-demo] dbt cloud side
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  examples/experimental/dagster-airlift/examples/dbt-example/Makefile
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/constants.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_airflow.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_assets.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/dagster_defs/dbt_cloud_utils.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/federated_airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example_tests/integration_tests/test_federated.py
  examples/experimental/dagster-airlift/examples/dbt-example/setup.py
  examples/experimental/dagster-airlift/examples/dbt-example/tox.ini
  examples/experimental/dagster-dlift/dagster_dlift/translator.py
Due: pyright

add partition filter to get_latest_storage_id_by_partition (#25510)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/event_log/sql_event_log.py
  python_modules/dagster/dagster/_core/storage/legacy_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/event_log_storage.py
Due: pyright

adds run assets table and updates filter
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/runs/schema.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

make asset execution context a standalone class
  python_modules/dagster/dagster/_core/execution/context/asset_execution_context.py
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_decorators.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_execution_context.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_context.py
Due: pyright

update pipes to accept asset execution context
  integration_tests/test_suites/k8s-test-suite/tests/test_pipes.py
  python_modules/dagster/dagster/_core/pipes/client.py
  python_modules/dagster/dagster/_core/pipes/context.py
  python_modules/dagster/dagster/_core/pipes/subprocess.py
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/dagster/dagster_tests/execution_tests/pipes_tests/in_process_client.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-docker/dagster_docker/pipes.py
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
Due: pyright

fix up for 1.9 maybe
  python_modules/dagster/dagster/_core/pipes/client.py
  python_modules/dagster/dagster/_core/pipes/utils.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Due: pyright

update all new things
  python_modules/dagster/dagster/_core/definitions/source_asset.py
  python_modules/dagster/dagster/_core/execution/plan/compute.py
  python_modules/dagster/dagster/_core/pipes/subprocess.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/ecs.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/emr_serverless.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/glue.py
  python_modules/libraries/dagster-aws/dagster_aws/pipes/clients/lambda_.py
  python_modules/libraries/dagster-celery/example/example_code/definitions.py
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_event.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/dbt_cli_invocation.py
  python_modules/libraries/dagster-dbt/dagster_dbt/core/resource.py
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_event.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_cli_invocation.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_information_schema.py
Due: pyright

[dagster-airlift][doc] Remove outdated references `BaseProxyToDagsterOperator` in README (#25347)
  examples/experimental/dagster-airlift/examples/tutorial-example/README.md
  examples/experimental/dagster-airlift/examples/tutorial-example/images/proxied_dag.png
  examples/experimental/dagster-airlift/examples/tutorial-example/images/state_in_airflow.png
Due: none

fix(examples): Stop Docker Compose throwing errors on init because daemon and webserver attempt to connect to postgreSQL DB before it is ready to accept connections
  examples/deploy_docker/docker-compose.yml
Due: none

intial setup end2end
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/Utils.tsx
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/types/RunsFilterInput.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/runs/sql_run_storage.py
Due: pyright

[RemoteJob] lazy snapshot_id calculation
  python_modules/dagster/dagster/_core/remote_representation/external.py
Due: pyright

removes unnecessary type ignores
  python_modules/libraries/dagster-ssh/dagster_ssh/resources.py
Due: pyright

[1.9] Replace Auto-materialize references in the UI with Automation condition (#25414)
  js_modules/dagster-ui/packages/ui-components/src/components/Icon.tsx
  js_modules/dagster-ui/packages/ui-components/src/icon-svgs/automation_condition.svg
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetNodeOverview.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutomaterializeDaemonStatusTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutomaterializeTagWithEvaluation.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/DeclarativeAutomationBanner.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/GlobalAutomaterializationContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/automation/MergedAutomationRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/overview/groupRunsByAutomation.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/CreatedByTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFilterInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorPageAutomaterialize.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedSensorRow.tsx
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_asset_daemon_failure_recovery.py
Due: pyright

set can escape key close to false on launchpad dialog
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadRoot.tsx
Due: none

[dagster-airlift] Multi code locations working
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/Makefile
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/multi_location_dags.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_first_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/dag_second_code_location.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_instance.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/constants.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/observation_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/__init__.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/first_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/second_dag_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_multi_code_locations/workspace.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/conftest.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_multi_code_location.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_observation.py
Due: pyright

[dagster-ssh]: Removes unnecessary type ignores (#25549)
  python_modules/libraries/dagster-ssh/dagster_ssh/resources.py
Due: pyright

set DAGSTER_FROM_OSS in internal pipeline execution (#25309)
  .buildkite/dagster-buildkite/dagster_buildkite/pipelines/dagster_oss_main.py
Due: pyright

Set canEscapeKeyClose to false on launchpad dialog (#25550)
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadRoot.tsx
Due: none

[dagster-looker] safe deser
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
Due: pyright

[dagster-looker] timeout
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
Due: pyright

dagster-looker 0.24.14rc2
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

[dagster-airlift] ignore files
  examples/experimental/dagster-airlift/examples/dbt-example/.vscode/settings.json
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/proxied_state/rebuild_iris_models.yaml-e
Due: none

[1.9] Update asset_selection paramter of AutomationConditionSensorDefinition to `target` (#25476)
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/repo.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_core/definitions/utils.py
  python_modules/dagster/dagster_tests/daemon_sensor_tests/test_sensor_run.py
  python_modules/dagster/dagster_tests/definitions_tests/asset_policy_sensors_tests/test_default_auto_materialize_sensors.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/500_eager_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple_non_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_simple_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/backfill_with_runs_and_checks.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/custom_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/default_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_non_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/simple_user_code.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/test_automation_condition_sensor_definition.py
  python_modules/dagster/dagster_tests/definitions_tests/test_repository_definition.py
Due: pyright

[RemoteJob] lazy snapshot_id calculation (#25548)
  python_modules/dagster/dagster/_core/remote_representation/external.py
Due: pyright

another
  integration_tests/test_suites/k8s-test-suite/tests/test_pipes.py
Due: pyright

k8s
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
Due: pyright
