Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[1/k][ui] Pull, display generic kinds in place of compute kind (#24159)
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/AssetNode.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/AssetNode.types.ts
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/types/useAssetGraphData.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AssetTableFragment.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetNodeDefinition.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetTableFragment.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetView.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/AssetsCatalogTable.types.ts
  js_modules/dagster-ui/packages/ui-core/src/graph/KindTags.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedAssetRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/types/WorkspaceAssetsQuery.types.ts
Due: none

Fix links
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
Due: none

[docs] User Roles & Permissions in Dagster+ guide (#24128)
  docs/docs-beta/docs/dagster-plus/access/rbac/user-roles-permissions.md
  docs/docs-beta/docs/dagster-plus/deployment/tokens.md
Due: none

[dagster-airlift] remove python multi asset (#24166)
  examples/experimental/dagster-airlift/dagster_airlift/core/python_callable.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/multi_asset_python.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_python_multi_assets.py
Due: pyright

[dagster-airlift] fix unit test directory structure (#24167)
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_build_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_asset_keys.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_utils.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/dbt_project.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/customers.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/docs.md
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/orders.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/overview.md
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/schema.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/staging/schema.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/staging/stg_customers.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/staging/stg_orders.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/models/staging/stg_payments.sql
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/profiles.yml
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/seeds/.gitkeep
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/seeds/raw_customers.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/seeds/raw_orders.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/dbt_project/seeds/raw_payments.csv
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/dbt_tests/test_dbt_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/mwaa_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/mwaa_tests/test_mwaa_auth.py
Due: pyright

[dagster-airlift] move mark_as_dagster_migrating tests to unit
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/dags/marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/migration_state/marked_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/dags/marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/migration_state/some_other_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_correctly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_incorrectly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_operator_switcheroo.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

[dagster-airlift] move tags to a neutral location
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

[dagster-airlift] dagster operator unit tests
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_dagster_operator.py
Due: pyright

[dagster-airlift] more mark_as_dagster_migrating tests
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/mark_as_migrating.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

[dagster-airlift] move mark_as_dagster_migrating tests to unit
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/dags/marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/migration_state/marked_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/dags/marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/migration_state/some_other_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_correctly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_incorrectly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_operator_switcheroo.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

[dagster-airlift] move tags to a neutral location (#24197)
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_cacheable_assets_def.py
  examples/experimental/dagster-airlift/dagster_airlift/core/dag_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/defs_builders.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor.py
  examples/experimental/dagster-airlift/dagster_airlift/core/utils.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_dag_defs.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

[dagster-airlift] move mark_as_dagster_migrating tests to unit (#24168)
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift/migration_state.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_convention/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dags/switcheroo_dag.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/airflow_op_switcheroo_tags/dagster_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/dags/marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/correctly_marked_dag/migration_state/marked_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/dags/marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/incorrectly_marked_dag/migration_state/some_other_dag.yaml
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_correctly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_migrating_dag_incorrectly_marked.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/integration_tests/test_operator_switcheroo.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/conftest.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_mark_as_dagster_migrating.py
Due: pyright

DefinitionsLoadContext
  python_modules/dagster/dagster/_cli/api.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster/_core/definitions/definitions_load_context.py
  python_modules/dagster/dagster/_core/definitions/reconstruct.py
  python_modules/dagster/dagster/_core/execution/plan/external_step.py
  python_modules/dagster/dagster/_utils/hosted_user_process.py
Due: pyright

test fixes
  python_modules/dagster/dagster_tests/storage_tests/test_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/test_run_storage.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/test_run_storage.py
Due: pyright

Add a "handles_run_events_in_store_event" property to EventLogStorage, check it when handling new events
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
Due: pyright

[docs-beta] Add a Sphinx MDX builder
  docs/docs-beta/docs/api/.gitignore
  docs/docs-beta/docs/api/.gitkeep
  docs/docs-beta/docs/api/placeholder.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/sidebars.ts
  docs/docs-beta/src/styles/custom.scss
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/Makefile
  docs/sphinx/_ext/sphinx-mdx-builder/README.md
  docs/sphinx/_ext/sphinx-mdx-builder/pyproject.toml
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/builders/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/builders/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/sphinxcontrib/mdxbuilder/writers/mdx.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/__init__.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/conf.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/conftest.py
  docs/sphinx/_ext/sphinx-mdx-builder/tests/datasets/index.rst
  docs/sphinx/_ext/sphinx-mdx-builder/tests/test_rst_blocks.py
  docs/sphinx/_ext/sphinx-mdx-builder/tox.ini
  docs/sphinx/conf.py
  docs/sphinx/requirements.txt
  docs/tox.ini
Due: pyright

[sphinx] fix: check_public_method_has_docstring bug with mappingproxy type
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
Due: pyright

Fix airlift test on 3.8
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
Due: pyright

Add a "handles_run_events_in_store_event" property to EventLogStorage, check it when handling new events (#24229)
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster_tests/storage_tests/test_run_storage.py
  python_modules/dagster/dagster_tests/storage_tests/utils/run_storage.py
  python_modules/libraries/dagster-mysql/dagster_mysql_tests/test_run_storage.py
  python_modules/libraries/dagster-postgres/dagster_postgres_tests/test_run_storage.py
Due: pyright

[1/n][dagster-tableau] Add dagster-tableau package
  python_modules/libraries/dagster-tableau/.coveragerc
  python_modules/libraries/dagster-tableau/LICENSE
  python_modules/libraries/dagster-tableau/MANIFEST.in
  python_modules/libraries/dagster-tableau/README.md
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau/py.typed
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_version.py
  python_modules/libraries/dagster-tableau/setup.cfg
  python_modules/libraries/dagster-tableau/setup.py
  python_modules/libraries/dagster-tableau/tox.ini
Due: pyright

[1/n][dagster-tableau] Add dagster-tableau package (#24186)
  python_modules/libraries/dagster-tableau/.coveragerc
  python_modules/libraries/dagster-tableau/LICENSE
  python_modules/libraries/dagster-tableau/MANIFEST.in
  python_modules/libraries/dagster-tableau/README.md
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau/py.typed
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_version.py
  python_modules/libraries/dagster-tableau/setup.cfg
  python_modules/libraries/dagster-tableau/setup.py
  python_modules/libraries/dagster-tableau/tox.ini
Due: pyright

Switch document name to what's dagster+
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/dagster-plus/getting-started/whats-dagster-plus.md
  docs/docs-beta/sidebars.ts
Due: none

Bring deployment-types.md back from the dead
  docs/docs-beta/docs/dagster-plus/deployment-types.md
Due: none

Consolidate on dagster-cloud CLI
  docs/docs-beta/docs/dagster-plus/getting-started/whats-dagster-plus.md
Due: none

Vale suggestions
  docs/docs-beta/docs/dagster-plus/getting-started.md
Due: none

Refresh dagster+ getting started docs
  docs/docs-beta/docs/dagster-plus/deployment-types.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/sidebars.ts
Due: none

significant overhaul to the dagster plus getting started section
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
  docs/docs-beta/docs/dagster-plus/deployment-types.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
  docs/docs-beta/docs/dagster-plus/deployment/code-requirements.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/dagster-plus/getting-started/features.md
  docs/docs-beta/docs/dagster-plus/getting-started/whats-dagster-plus.md
  docs/docs-beta/docs/dagster-plus/whats-dagster-plus.md
  docs/docs-beta/docs/guides/deployment/dagster-plus.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

Refresh "What's Dagster+" (#24007)
  docs/docs-beta/docs/dagster-plus/access/rbac/audit-logs.md
  docs/docs-beta/docs/dagster-plus/deployment-types.md
  docs/docs-beta/docs/dagster-plus/deployment/code-locations.md
  docs/docs-beta/docs/dagster-plus/deployment/code-requirements.md
  docs/docs-beta/docs/dagster-plus/deployment/hybrid.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
  docs/docs-beta/docs/dagster-plus/getting-started/features.md
  docs/docs-beta/docs/dagster-plus/getting-started/whats-dagster-plus.md
  docs/docs-beta/docs/dagster-plus/whats-dagster-plus.md
  docs/docs-beta/docs/guides/deployment/dagster-plus.md
  docs/docs-beta/sidebars.ts
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

Exclude dagster-tableau from telemetry test
  python_modules/automation/automation_tests/telemetry/test_resource_telemetry.py
Due: pyright

fix: add dagster-tableau to automation tox suite dependencies
  python_modules/automation/tox.ini
Due: none

fix: add dagster-tableau to automation tox suite dependencies (#24249)
  python_modules/automation/tox.ini
Due: none

validate group name in AssetSpec (#24209)
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/utils.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/test_asset_spec.py
Due: pyright

Add docs on version compatibility within a deployment (#24210)
  docs/content/about/releases.mdx
Due: docs-mdx-format

Add link to page
  docs/content/guides/migrations.mdx
Due: docs-mdx-format

Fix heading
  docs/content/guides/migrations/observe-your-airflow-pipelines-with-dagster.mdx
Due: docs-mdx-format

Improve k8s pipes pod name sanitization
  python_modules/libraries/dagster-k8s/dagster_k8s/pipes.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_pipes.py
Due: pyright

[dagster-airlift] Fix airlift test on 3.8 (#24240)
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/conftest.py
Due: pyright

1.8.5 Changelog
  CHANGES.md
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
