Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

tox#2
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
Due: none

[resources] Ensure process_config_and_initialize handles nested resources, env vars properly
  python_modules/dagster/dagster/_config/pythonic_config/resource.py
  python_modules/dagster/dagster/_core/execution/context/init.py
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_lifecycle_methods.py
Due: pyright

wip
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
  docs/tox.ini
Due: none

Add multi run asset test
  python_modules/dagster/dagster_tests/cli_tests/command_tests/asset_multi_run.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/assets.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

wip
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
Due: none

wip
  docs/docs-beta/docusaurus.config.ts
Due: none

add VirtualizedTable export
  js_modules/dagster-ui/packages/ui-components/src/index.ts
Due: none

[docs] MaterializationResult should be MaterializeResult (#24100)
  docs/content/concepts/dagster-pipes/dagster-pipes-details-and-customization.mdx
  docs/content/concepts/dagster-pipes/databricks.mdx
  docs/dagster-university/pages/dagster-essentials/extra-credit/materialization-metadata.md
  examples/docs_snippets/docs_snippets/guides/dagster/dagster_pipes/dagster_pipes_details_and_customization/session_lifecycle_external.py
Due: docs-mdx-format, pyright

Upgrade semver
  js_modules/dagster-ui/packages/ui-components/CHANGES.md
  js_modules/dagster-ui/packages/ui-components/package.json
Due: none

Fix typo
  python_modules/libraries/dagster-azure/dagster_azure/adls2/io_manager.py
Due: pyright

tox sphinx-mdx env
  docs/Makefile
  docs/docs-beta/scripts/vercel-sync-api-docs.sh
  docs/tox.ini
Due: none

[1/n] Add VirtualizedTable export in ui-components (#24369)
  js_modules/dagster-ui/packages/ui-components/CHANGES.md
  js_modules/dagster-ui/packages/ui-components/package.json
  js_modules/dagster-ui/packages/ui-components/src/index.ts
Due: none

revert unused
  docs/docs-beta/README.md
  docs/sphinx/Makefile
Due: none

[sling] lowercase col names, deps
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
Due: pyright

update test
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Products.csv
Due: none

[sling] lowercase col names, deps (#24372)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/sling_event_iterator.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/sling_tests/replication_configs/csv_to_sqlite_config/dataworks/Products.csv
Due: pyright

[resources] Ensure process_config_and_initialize handles nested resources, env vars properly (#24367)
  python_modules/dagster/dagster/_config/pythonic_config/resource.py
  python_modules/dagster/dagster/_core/execution/context/init.py
  python_modules/dagster/dagster_tests/core_tests/resource_tests/pythonic_resources/test_lifecycle_methods.py
Due: pyright

[DA][cleanup] Quarantine ValidAssetSubset class
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_subset.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/valid_asset_subset.py
  python_modules/dagster/dagster/_core/definitions/freshness_based_auto_materialize.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_subset.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_dep_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
Due: pyright

AssetOrCheck -> Entity
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_computation.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/asset_layer.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/base_asset_graph.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
Due: pyright

Create BuiltinAutomationCondition base class, use DagsterModel
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/rule_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/code_version_changed_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

AssetSlice -> EntitySlice
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/valid_asset_subset.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/code_version_changed_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
  python_modules/dagster/dagster/_core/definitions/entity_subset.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_asset_slice.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_latest_time_window.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_dep_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/automation_condition_scenario.py
Due: pyright

Generic AutomationContext, AutomationResult, AutomationCondition
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/rule_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/code_version_changed_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/any_downstream_conditions_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/boolean_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/since_operator.py
Due: pyright

AssetSubset -> EntitySubset
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_evaluation.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/valid_asset_subset.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/serialized_objects.py
  python_modules/dagster/dagster/_core/definitions/entity_subset.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster/_utils/test/schedule_storage.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_entity_subset.py
  scripts/object_profile.py
Due: pyright

Reduce AssetSubset usage
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_subset.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_evaluation.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_evaluator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_evaluation_info.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/rule_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/valid_asset_subset.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/dep_operators.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_asset_slice.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_latest_time_window.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_subset.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_code_version_changed_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_dep_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_eager_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_failed_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_in_progress_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_latest_time_window_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_missing_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_requested_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_true_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_updated_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_on_cron_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_since_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_updated_since_cron_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_will_be_requested_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
Due: pyright

[refactor] Remove CachingStaleStatusResolver from AssetGraphView
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/definitions/asset_daemon_context.py
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_graph_view_tests/test_basic_asset_graph_view.py
Due: pyright

Cleanup / rearrange EntitySubset files
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/asset_graph_view/entity_subset.py
  python_modules/dagster/dagster/_core/asset_graph_view/serializable_entity_subset.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_subset.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_evaluation.py
  python_modules/dagster/dagster/_core/definitions/auto_materialize_rule_impls.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/valid_asset_subset.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/newly_true_operator.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/serialized_objects.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster/_utils/test/schedule_storage.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_entity_subset.py
  scripts/object_profile.py
Due: pyright

Change parition range format
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_asset_list_command.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

[PoC] Add sync capabilities to DataLoader class
  python_modules/dagster/dagster/_core/loader.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_utils/aiodataloader.py
  python_modules/dagster/dagster_tests/utils_tests/test_dataloader.py
Due: pyright

Remove BatchAssetRecordLoader
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
  python_modules/dagster/dagster/_core/definitions/data_version.py
  python_modules/dagster/dagster/_core/loader.py
  python_modules/dagster/dagster/_core/storage/batch_asset_record_loader.py
  python_modules/dagster/dagster/_core/storage/event_log/base.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/storage_tests/test_asset_events.py
Due: pyright

[scratch] check wip
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_core/asset_graph_view/entity_subset.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/__init__.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operators/check_operators.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_latest_check_status_condition.py
Due: pyright

Update AssetCheckExecutionRecord loading
  python_modules/dagster-graphql/dagster_graphql/implementation/asset_checks_loader.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_asset_checks.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_checks.py
  python_modules/dagster/dagster/_core/storage/asset_check_execution_record.py
Due: pyright

[refactor] PartitionStatusCache uses LoadingContext
  integration_tests/test_suites/auto_materialize_perf_tests/perf_scenario.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster/dagster/_core/instance/__init__.py
  python_modules/dagster/dagster/_core/loader.py
  python_modules/dagster/dagster/_core/storage/dagster_run.py
  python_modules/dagster/dagster/_core/storage/partition_status_cache.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
  python_modules/dagster/dagster_tests/storage_tests/utils/partition_status_cache.py
Due: pyright

AssetGraphView is a LoadingContext
  python_modules/dagster/dagster/_core/asset_graph_view/asset_graph_view.py
  python_modules/dagster/dagster/_utils/caching_instance_queryer.py
Due: pyright

fix extraction of table schema metadata
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

expand metadata tests for table schema
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/dlt_test_sources/duckdb_with_transformer.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

WIP adding tests and new method
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/dlt/resource.py
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt_tests/dlt_tests/test_asset_decorator.py
Due: pyright

1.8.7 CHANGELOG
  CHANGES.md
  scripts/generate_changelog.py
Due: pyright

[dagster-k8s] test fixes
  integration_tests/test_suites/k8s-test-suite/tests/test_utils.py
  python_modules/libraries/dagster-k8s/dagster_k8s/client.py
Due: pyright

rename StepExecutionContext.asset_partition_key_range to partition_ke… (#24292)
  python_modules/dagster/dagster/_core/execution/context/op_execution_context.py
  python_modules/dagster/dagster/_core/execution/context/system.py
Due: pyright
