Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Remove some noisy rules
  docs/vale/styles/Dagster/colons.yml
  docs/vale/styles/Dagster/parentheses.yml
Due: none

remove more irrelevant tests
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
Due: pyright

[docs] Update vale to only run on docs-beta
  .github/workflows/vale.yml
Due: none

[script] Add script to help generate the Changelog
  .github/PULL_REQUEST_TEMPLATE.md
  scripts/generate_changelog.py
Due: pyright

use cached asset node partition defs part 2
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
Due: pyright

Update rules
  docs/vale/styles/Dagster/acronyms.yml
  docs/vale/styles/Dagster/headings-casing.yml
  docs/vale/styles/config/ignore/ignore.txt
  docs/vale/styles/config/vocabularies/Dagster/accept.txt
Due: none

Remove React; too noisy
  docs/vale/styles/Terms/engineering.yml
Due: none

[docs] Update vale to only run on docs-beta (#23757)
  .github/workflows/vale.yml
Due: none

Remove readability
  docs/vale/styles/Dagster/readability.yml
Due: none

Updates in pages
  docs/docs-beta/docs/concepts/assets.md
  docs/docs-beta/docs/concepts/assets/thinking-in-assets.md
  docs/docs-beta/docs/concepts/io-managers.md
  docs/docs-beta/docs/guides/automation.md
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docs/guides/automation/schedules.md
  docs/docs-beta/docs/guides/automation/sensors.md
  docs/docs-beta/docs/guides/data-modeling/passing-data-between-assets.md
  docs/docs-beta/docs/partials/_InspirationList.md
  docs/docs-beta/docs/tutorial/installation.md
  docs/docs-beta/docs/tutorial/quick-start.md
Due: none

[single-implicit-asset-job] methods on `CodeLocation` to get job partitions, partition tags, and partition config, with asset selection (#23491)
  python_modules/dagster-graphql/dagster_graphql/implementation/execution/backfill.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster/dagster/_api/snapshot_partition.py
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/definitions/job_definition.py
  python_modules/dagster/dagster/_core/definitions/run_request.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_grpc/impl.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_partition.py
  python_modules/dagster/dagster_tests/api_tests/utils.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/utils.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/inputs.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_keys.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_job_partitions.py
Due: pyright

add sling docs, snip snippet
  examples/use_case_repository/use_case_repository/guides/sling_replicate_csv_files_to_snowflake.md
Due: none

[usecase] replicate csv to snowflake using embedded elt sling (#23716)
  examples/use_case_repository/use_case_repository/guides/sling_replicate_csv_files_to_snowflake.md
  examples/use_case_repository/use_case_repository/guides/sling_replicate_csv_files_to_snowflake.py
Due: pyright

fix(duckdb) only specify custom_user_agent for duckdb > 1.0.0
  python_modules/libraries/dagster-duckdb/dagster_duckdb/io_manager.py
  python_modules/libraries/dagster-duckdb/dagster_duckdb/resource.py
Due: pyright

claire/add-column-schema-toys
  python_modules/dagster-test/dagster_test/toys/column_schema/__init__.py
  python_modules/dagster-test/dagster_test/toys/column_schema/column_schema_assets.py
  python_modules/dagster-test/dagster_test/toys/repo.py
Due: pyright

update docstring for AssetSpec (#23712)
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
Due: pyright

[ui] Make CodeLocationTabs a shared component
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationTabs.oss.tsx
Due: none

feat: add Vale linting styles for documentation
  .github/workflows/vale.yml
Due: none

[daggy-u] [dbt] - Correct S3 env var key (#23553)
  docs/dagster-university/pages/dagster-dbt/lesson-7/5-preparing-for-a-successful-run.md
Due: none

remove irrelevant tests
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_job_partitions.py
Due: pyright

Add column schema toys (#23763)
  python_modules/dagster-test/dagster_test/toys/column_schema/__init__.py
  python_modules/dagster-test/dagster_test/toys/column_schema/column_schema_assets.py
  python_modules/dagster-test/dagster_test/toys/repo.py
Due: pyright

[docs-beta] Add the beta docs site
  docs/docs-beta/docs/guides/automation/asset-sensors.md
  docs/docs-beta/docs/guides/automation/schedules.md
  docs/docs-beta/docs/guides/automation/sensors.md
  docs/docs-beta/docusaurus.config.ts
  docs/docs-beta/static/img/docusaurus-social-card.jpg
  docs/docs-beta/static/img/docusaurus.png
  docs/docs-beta/static/img/undraw_docusaurus_mountain.svg
  docs/docs-beta/static/img/undraw_docusaurus_react.svg
  docs/docs-beta/static/img/undraw_docusaurus_tree.svg
Due: none

[docs-revamp] Create basic Sphinx html build
  docs/sphinx/_static/css/custom.css
  docs/sphinx/_static/css/style.css
  docs/sphinx/_static/fonts/GeistMonoVF.woff
  docs/sphinx/_static/fonts/GeistVF.woff
  docs/sphinx/_static/images/logo-dark.svg
  docs/sphinx/_static/images/logo-light.svg
  docs/sphinx/_templates/globaltoc.html
  docs/sphinx/_templates/layout.html
  docs/sphinx/_templates/layouts.html
  docs/sphinx/_templates/searchbox.html
Due: none

docs: update Sphinx configuration and add new documentation
  docs/Makefile
  docs/sphinx/README.md
  docs/sphinx/conf.py
  docs/sphinx/requirements.txt
Due: pyright

refactor: simplify Sphinx documentation build process
  docs/sphinx/Makefile
  docs/sphinx/_ext/dagster-sphinx/dagster_sphinx/__init__.py
  docs/sphinx/_ext/dagster-sphinx/setup.py
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/tox.ini
Due: pyright

[docs-sphinx] Clean up Sphinx styling in API docs
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery-docker.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-celery-k8s.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-databricks.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-docker.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pandas.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-gcp-pyspark.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-github.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-k8s.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-pagerduty.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-polars.rst
  docs/sphinx/sections/api/apidocs/libraries/dagster-shell.rst
  docs/sphinx/sections/api/apidocs/libraries/dagstermill.rst
Due: none

wip
  js_modules/dagster-ui/packages/ui-core/src/app/ExecutionSessionStorage.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/RunningBackfillsNotice.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/types/LaunchAssetExecutionButton.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/types/RunningBackfillsNotice.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigFetch.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigEditorConfigPicker.types.ts
  js_modules/dagster-ui/packages/ui-core/src/launchpad/types/ConfigFetch.types.ts
Due: none

update the tests
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetChoosePartitionsDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/LaunchAssetExecutionButton.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetChoosePartitionsDialog.fixtures.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__fixtures__/LaunchAssetExecutionButton.fixtures.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetChoosePartitionsDialog.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/__tests__/LaunchAssetExecutionButton.test.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/ConfigEditorConfigPicker.tsx
  js_modules/dagster-ui/packages/ui-core/src/launchpad/LaunchpadSession.tsx
Due: none

use packaging.version
  python_modules/libraries/dagster-duckdb/dagster_duckdb/io_manager.py
  python_modules/libraries/dagster-duckdb/dagster_duckdb/resource.py
Due: pyright

Working proof of concept for nbdoc.
  docs/docs-next/docs/api/assets.ipynb
  docs/docs-next/settings.ini
Due: none

Add SDF Version Warning
  python_modules/libraries/dagster-sdf/dagster_sdf/resource.py
  python_modules/libraries/dagster-sdf/dagster_sdf/sdf_version.py
  python_modules/libraries/dagster-sdf/setup.py
Due: pyright

fix(duckdb) only specify custom_user_agent for duckdb > 1.0.0 (#23762)
  python_modules/libraries/dagster-duckdb/dagster_duckdb/io_manager.py
  python_modules/libraries/dagster-duckdb/dagster_duckdb/resource.py
Due: pyright

Use the docker compose CLI
  python_modules/dagster-test/dagster_test/fixtures/docker_compose.py
Due: pyright

Update approaches-to-writing-integrations.mdx
  docs/content/guides/integrations/approaches-to-writing-integrations.mdx
Due: docs-mdx-format

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
