Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

fix report_bug.yml
  .github/ISSUE_TEMPLATE/report_bug.yml
Due: none

Add error boundaries to prevent write stream errors in InstigationLogger from failing schedule/sensor ticks (#26609)
  python_modules/dagster/dagster/_core/definitions/instigation_logger.py
  python_modules/dagster/dagster_tests/storage_tests/test_instigation_logger.py
Due: pyright

include workspace context change
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

all aws ecs pages
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/configuration-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/manual-provision.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/upgrading-cloudformation.md
Due: none

[dagster-airlift] Handle run retries
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/dagster_run_utils.py
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/airflow_dags/migrated_asset_has_retries.py
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/migrated_asset_has_retries.yaml
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/migrated_asset_has_retries_not_step_failure.yaml
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/dagster_defs/retries_configured.py
Due: pyright

[dagster-airlift] Handle run retries
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/dagster_run_utils.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/gql_queries.py
  python_modules/libraries/dagster-airlift/dagster_airlift/test/shared_fixtures.py
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/airflow_dags/migrated_asset_has_retries.py
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink/dagster_defs/retries_configured.py
  python_modules/libraries/dagster-airlift/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_mapped.py
Due: pyright

Support new selection syntax in Run GanttChart. (#26632)
  js_modules/dagster-ui/packages/ui-core/src/asset-selection/AntlrAssetSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/VirtualizedSimpleAssetKeyList.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChart.tsx
  js_modules/dagster-ui/packages/ui-core/src/gantt/GanttChartSelectionInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelection.ts
  js_modules/dagster-ui/packages/ui-core/src/run-selection/AntlrRunSelectionVisitor.ts
  js_modules/dagster-ui/packages/ui-core/src/runs/Run.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunActionButtons.tsx
  js_modules/dagster-ui/packages/ui-core/src/selection/SelectionAutoCompleteInput.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceContext.tsx
Due: none

broken link fix
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/configuration-reference.md
Due: none

link fix
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/configuration-reference.md
Due: none

[components] Remove duplicative pushd (#26655)
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
Due: pyright

Centralized `Context` type definition based on feedback
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/dag_proxy_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/materialize_assets_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/task_proxy_operator.py
Due: pyright

[components] Create unique name for dynamically load module
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/deployment.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/component_loader.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/test_custom_scope.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_dynamic_python_modules.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
Due: pyright

[components] Python Component Declaration
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_declaration.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/python_decl/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/components/definitions/python_decl/definitions.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_definitions_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_instance_keys.py
Due: pyright

first try
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
Due: none

update
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
Due: none

lint
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
Due: none

update
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationListRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/GlobalAutomaterializationContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRunsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/sensors/SensorPageAutomaterialize.tsx
Due: none

comments
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
  python_modules/dagster/dagster/_core/definitions/automation_tick_evaluation_context.py
Due: pyright

update
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationListRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleRoot.tsx
Due: none

Testing our cursor to rename ComponentInstanceKey
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_instance_keys.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_keys.py
Due: pyright

add strategy to user deployment helm chart
  helm/dagster/charts/dagster-user-deployments/templates/deployment-user.yaml
  helm/dagster/charts/dagster-user-deployments/values.schema.json
  helm/dagster/charts/dagster-user-deployments/values.yaml
  helm/dagster/schema/schema/charts/dagster_user_deployments/subschema/user_deployments.py
  helm/dagster/schema/schema/charts/utils/kubernetes.py
  helm/dagster/schema/schema_tests/test_user_deployments.py
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
Due: pyright

make postgresql secret password key configurable
  helm/dagster/templates/deployment-celery-queues.yaml
  helm/dagster/templates/deployment-daemon.yaml
  helm/dagster/templates/helpers/_deployment-webserver.tpl
  helm/dagster/templates/helpers/_helpers.tpl
  helm/dagster/templates/job-instance-migrate.yaml
  helm/dagster/values.schema.json
Due: none

support also user deployments
  helm/dagster/charts/dagster-user-deployments/templates/deployment-user.yaml
  helm/dagster/charts/dagster-user-deployments/templates/helpers/_helpers.tpl
  helm/dagster/values.yaml
Due: none

[components] Rename component to component_type
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/all_metadata_empty_asset.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_asset.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_pipes_script_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/custom_sling_location/custom_sling_location/components/debug_sling_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/custom_scope_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registered_component.py
Due: docs-mdx-format, pyright

fix
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registry.py
Due: pyright

docs(helm): fix the label component=dagster-webserver
  docs/content/deployment/guides/kubernetes/deploying-with-helm.mdx
Due: docs-mdx-format

[components] Rename component to component_type (#26718)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/all_metadata_empty_asset.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_asset.py
  python_modules/libraries/dagster-components/dagster_components/lib/test/simple_pipes_script_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/custom_sling_location/custom_sling_location/components/debug_sling_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/custom_scope_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registered_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registry.py
Due: docs-mdx-format, pyright

cp
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
Due: pyright

[components] ComponentRegistry --> ComponentTypeRegistry
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  examples/experimental/components/examples/hello_world_deployment/code_locations/hello_world/hello_world/definitions.py
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/deployment.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/component_loader.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
Due: docs-mdx-format, pyright

helpers
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/component_loader.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registered_component.py
Due: pyright

docs
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
Due: docs-mdx-format

[components] ComponentRegistry --> ComponentTypeRegistry (#26719)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  examples/experimental/components/examples/hello_world_deployment/code_locations/hello_world/hello_world/definitions.py
  python_modules/libraries/dagster-components/dagster_components/__init__.py
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/deployment.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/component_loader.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registered_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_registry.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
Due: docs-mdx-format, pyright

[components] Create unique name for dynamically load module
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_decl_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/deployment.py
  python_modules/libraries/dagster-components/dagster_components/lib/definitions_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/component_loader.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_definitions_component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/test_custom_scope.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_dynamic_python_modules.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
Due: pyright

[docs] Include Polars as supported Pandera backend (#26596)
  docs/content/integrations/pandera.mdx
Due: docs-mdx-format

Cleanup local logs after cloud compute log manager is done uploading them to cloud stoage
  python_modules/dagster/dagster/_core/storage/cloud_storage_compute_log_manager.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/s3_tests/test_compute_log_manager.py
Due: pyright

rm hrs
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/configuration-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/manual-provision.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/new-vpc.md
Due: none

DOC 600 ecs agent docs migration (#26676)
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/configuration-reference.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/existing-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/manual-provision.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/new-vpc.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/upgrading-cloudformation.md
  docs/docs-beta/static/images/dagster-cloud/agents/aws-ecs-stack-wizard-existing.png
  docs/docs-beta/static/images/dagster-cloud/agents/aws-ecs-stack-wizard-new.png
  docs/docs-beta/static/images/dagster-cloud/agents/aws-ecs-stack-wizard.png
Due: none

[docs-beta] migrate - dagster+ tokens (#26608)
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/agent-tokens.md
  docs/docs-beta/docs/dagster-plus/deployment/management/tokens/user-tokens.md
  docs/docs-beta/static/images/dagster-plus/user-token-management/manage-user-tokens-for.png
Due: none

Remove unnecessary "Code of Conduct" link in bug report template's `Message from the maintainers` block (#26675)
  .github/ISSUE_TEMPLATE/report_bug.yml
Due: none
