Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

add lineage
  examples/project_atproto_dashboard/.env.example
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/lineage.svg
Due: none

Asset tags accessible via io manager
  python_modules/dagster/dagster/_core/execution/context/input.py
  python_modules/dagster/dagster/_core/execution/context/output.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_loading.py
Due: pyright

rm descriptions as present in metadata
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
Due: pyright

clean up hybrid docs, add architecture diagram
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/amazon-ecs/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/docker/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/kubernetes/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/local.md
  docs/docs-beta/static/images/dagster-cloud/deployment/hybrid-architecture.png
Due: none

[components] Set up test components (#26512)
  python_modules/libraries/dagster-components/dagster_components/cli/__init__.py
  python_modules/libraries/dagster-components/dagster_components/cli/generate.py
  python_modules/libraries/dagster-components/dagster_components/cli/list.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/utils.py
  python_modules/libraries/dagster-components/dagster_components_tests/cli_tests/test_commands.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/all_metadata_empty_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/simple_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/lib/simple_pipes_script_asset.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
  python_modules/libraries/dagster-components/setup.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/info.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_info_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_list_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
Due: pyright

update lineage
  examples/project_atproto_dashboard/lineage.svg
Due: none

Update new docs CONTRIBUTING: Current <ReferenceTable> replacement is a markdown table (#26542)
  docs/docs-beta/CONTRIBUTING.md
Due: none

clean up serverless docs and getting started page
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/security.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
Due: none

[components] Add dagster-dg global config and AppContext
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/info.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/config.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[Asset selection syntax] Add url search param to enable hidden featue flag (#26395)
  js_modules/dagster-ui/packages/ui-core/src/app/DefaultFeatureFlags.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

wip - add dagster colors to markdown code block
  js_modules/dagster-ui/packages/ui-core/src/pipelines/Description.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
Due: pyright

add sql language designator to markdown code block
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
Due: pyright

fix broken anchor links
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
Due: none

missed one
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
Due: none

remove duplicate sql language descriptor for markdown code block
  js_modules/dagster-ui/packages/ui-core/src/pipelines/Description.tsx
Due: none

[components] Add dagster-dg global config and AppContext (#26516)
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/info.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/list.py
  python_modules/libraries/dagster-dg/dagster_dg/config.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/generate.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
Due: pyright

[components] Add cache to dagster-dg
  python_modules/libraries/dagster-dg/dagster_dg/cache.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/config.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_info_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_list_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/test_cache.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
Due: pyright

[components] Add cache to dagster-dg (#26517)
  python_modules/libraries/dagster-dg/dagster_dg/cache.py
  python_modules/libraries/dagster-dg/dagster_dg/cli/__init__.py
  python_modules/libraries/dagster-dg/dagster_dg/config.py
  python_modules/libraries/dagster-dg/dagster_dg/context.py
  python_modules/libraries/dagster-dg/dagster_dg/utils.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_generate_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_info_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/cli_tests/test_list_commands.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/test_cache.py
  python_modules/libraries/dagster-dg/dagster_dg_tests/utils.py
Due: pyright

Add sql syntax highlighting to dbt asset descriptions (#26393)
  python_modules/libraries/dagster-dbt/dagster_dbt/asset_utils.py
Due: pyright

add architecture diagram to readme
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/architecture-diagram.png
Due: none

reorganize imports
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
Due: none

remove commented code
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
Due: none

add custom colors to markdown code block for syntax highlighting
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
Due: none

Add custom colors to markdown code block for syntax highlighting (#26554)
  js_modules/dagster-ui/packages/ui-core/src/pipelines/Description.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
Due: none

nina diagram updates
  examples/project_atproto_dashboard/architecture-diagram.png
Due: none

[components] cleanup component loading
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
Due: pyright

address comments
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
Due: none

move security recommendations
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/architecture.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
Due: none

[devrel] atproto demo ingestion (#26038)
  examples/project_atproto_dashboard/.env.example
  examples/project_atproto_dashboard/.gitignore
  examples/project_atproto_dashboard/README.md
  examples/project_atproto_dashboard/architecture-diagram.png
  examples/project_atproto_dashboard/dagster.yaml
  examples/project_atproto_dashboard/dbt_project/.gitignore
  examples/project_atproto_dashboard/dbt_project/.sqlfluff
  examples/project_atproto_dashboard/dbt_project/dbt_project.yml
  examples/project_atproto_dashboard/dbt_project/models/analysis/activity_over_time.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/all_profiles.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/calendar.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/latest_feed.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/schema.yml
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_daily_posts.sql
  examples/project_atproto_dashboard/dbt_project/models/analysis/top_external_links.sql
  examples/project_atproto_dashboard/dbt_project/models/sources.yml
  examples/project_atproto_dashboard/dbt_project/models/staging/schema.yml
  examples/project_atproto_dashboard/dbt_project/models/staging/stg_feed_snapshots.sql
  examples/project_atproto_dashboard/dbt_project/models/staging/stg_profiles.sql
  examples/project_atproto_dashboard/dbt_project/profiles.yml
  examples/project_atproto_dashboard/lineage.svg
  examples/project_atproto_dashboard/project_atproto_dashboard/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/dashboard/definitions.py
  examples/project_atproto_dashboard/project_atproto_dashboard/definitions.py
  examples/project_atproto_dashboard/project_atproto_dashboard/ingestion/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/ingestion/definitions.py
  examples/project_atproto_dashboard/project_atproto_dashboard/ingestion/resources.py
  examples/project_atproto_dashboard/project_atproto_dashboard/ingestion/utils/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/ingestion/utils/atproto.py
  examples/project_atproto_dashboard/project_atproto_dashboard/modeling/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard/modeling/definitions.py
  examples/project_atproto_dashboard/project_atproto_dashboard_tests/__init__.py
  examples/project_atproto_dashboard/project_atproto_dashboard_tests/test_assets.py
  examples/project_atproto_dashboard/pyproject.toml
  pyright/alt-1/requirements-pinned.txt
  pyright/master/requirements-pinned.txt
  pyright/master/requirements.txt
Due: pyright

fix
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
Due: none

[ui] add sorting order to show more assets and asset checks (#26474)
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
Due: none

add link to agent tokens page
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
Due: none

add placeholder section so hybrid deployment index page can link here
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
  docs/docs-beta/docs/dagster-plus/deployment/management/settings/customizing-agent-settings.md
Due: none

DOC-621 Clean up Serverless docs and Dagster+ getting started page (#26552)
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/ci-cd-in-serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/index.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/run-isolation.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/serverless/security.md
  docs/docs-beta/docs/dagster-plus/getting-started.md
Due: none

fix link
  docs/docs-beta/docs/dagster-plus/deployment/deployment-types/hybrid/index.md
Due: none

[components] cleanup component loading (#26556)
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/utils.py
Due: pyright

[dagster-aws] add ECS Task executor (#26098)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  docs/sphinx/sections/api/apidocs/libraries/dagster-aws.rst
  python_modules/libraries/dagster-aws/dagster_aws/ecs/__init__.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/executor.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
  python_modules/libraries/dagster-aws/dagster_aws/ecs/utils.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/executor_tests/test_example_executor_mode_def.py
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/executor_tests/test_executor.py
Due: docs-mdx-format, pyright

[components] Rendering engine
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_component_rendering.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
