Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Genericize object list utils
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
Due: pyright

[components] Add custom scope for custom components
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/__init__.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/custom_scope_component/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/custom_scope_component/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/test_component_rendering.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/test_custom_scope.py
Due: pyright

update reference tables
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
Due: none

add python runtime
  docs/docs-beta/docs/dagster-plus/deployment/code-locations/dagster-cloud-yaml.md
Due: none

[docs] Include Polars as supported Pandera backend
  docs/content/integrations/pandera.mdx
Due: docs-mdx-format

feat: allow passing config for dagster asset materialize cli [#26069 continued] (#26578)
  python_modules/dagster/dagster/_cli/asset.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_cli/workspace/cli_target.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/assets.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_asset_list_command.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_materialize_command.py
Due: pyright

/todo broken links
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
Due: none

Use new loader code in checks
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
Due: pyright

[module-loaders] Simplify module asset loader code path (#26484)
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_from_modules.py
Due: pyright

Handle attribute mapping properly
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_from_modules.py
Due: pyright

Include specs in asset module loaders
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster-test/dagster_test/toys/repo.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/metadata/source_code.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_package/__init__.py
  python_modules/dagster/dagster_tests/asset_defs_tests/asset_package/module_with_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_defs_source_metadata.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_unresolved_asset_job.py
Due: pyright

Delete extra_source_assets param from assets_from_modules
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
Due: pyright

[module-loaders] Further simplify asset checks path (#26527)
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/definitions_tests/test_asset_spec.py
Due: pyright

[module-loaders] Make asset check coercion explicit in with_attributes (#26529)
  python_modules/dagster/dagster/_core/definitions/asset_check_spec.py
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_key.py
  python_modules/dagster/dagster/_core/definitions/assets.py
  python_modules/dagster/dagster/_core/definitions/cacheable_assets.py
  python_modules/dagster/dagster/_core/definitions/load_assets_from_modules.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_job.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_assets.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_unresolved_asset_job.py
  python_modules/dagster/dagster_tests/general_tests/test_cacheable_assets_defs.py
Due: pyright

File and test refactor
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/another_module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/asset_subsubpackage/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package_with_cacheable/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule_2/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_asset_checks_from_modules.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
Due: pyright

[module-loaders] File and test refactor (#26532)
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_cereal.py
  examples/docs_snippets/docs_snippets_tests/guides_tests/asset_tutorial_tests/test_serial_asset_graph.py
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/code_pointer.py
  python_modules/dagster/dagster/_core/definitions/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/workspace/autodiscovery.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/another_module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/asset_subpackage/asset_subsubpackage/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package/module_with_assets.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/asset_package_with_cacheable/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule_2/__init__.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_asset_checks_from_modules.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_load_assets_from_modules.py
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-dbt/dagster_dbt/cli/app.py
Due: pyright

Split loader file into multiple different files
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule_2/__init__.py
Due: pyright

[module-loaders] Split loader file into multiple different files (#26533)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/checks_module/checks_submodule_2/__init__.py
Due: pyright

[ui] Limit the amount of asset info required for evaluation list (#26571)
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationList.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationListRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationStatusTag.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/__stories__/EvaluationList.stories.tsx
Due: none

[module-loaders] Genericize object list utils (#26535)
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_asset_checks_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_assets_from_modules.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
Due: pyright

Genericize object list functionality to take in all sensors, jobs, schedules
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

[module-loaders] Genericize object list functionality to take in all sensors, jobs, schedules (#26545)
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/utils.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

Definitions from module loader
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/object_list.py
  python_modules/dagster/dagster_tests/definitions_tests/module_loader_tests/test_module_loaders.py
Due: pyright

add pipes section
  docs/docs-beta/docs/guides/build/integrate/pipes/index.md
  docs/docs-beta/docs/guides/build/integrate/pipes/javascript-pipeline.md
Due: none

rename reference doc
  docs/docs-beta/docs/guides/monitor/logging/log-types-and-loggers.md
Due: none

use jobName as fallback if only launching 1 job
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
  js_modules/dagster-ui/packages/ui-core/src/ticks/EvaluateScheduleDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/ticks/SensorDryRunDialog.tsx
Due: none

small fix
  js_modules/dagster-ui/packages/ui-core/src/launchpad/useLaunchMultipleRunsWithTelemetry.ts
Due: none

Add custom colors to markdown code block for syntax highlighting (#26554)
  js_modules/dagster-ui/packages/ui-core/src/pipelines/Description.tsx
  js_modules/dagster-ui/packages/ui-core/src/ui/MarkdownWithPlugins.tsx
Due: none

[buildkite] use longer commit hash in linked builds (#25872)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/trigger.py
Due: pyright

cp
  python_modules/libraries/dagster-dg/dagster_dg/context.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
