Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

Use a single code server
  python_modules/dagster/dagster/_cli/dev.py
  python_modules/dagster/dagster/_core/remote_representation/origin.py
  python_modules/dagster/dagster/_core/types/loadable_target_origin.py
  python_modules/dagster/dagster/_core/workspace/config_schema.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/load.py
  python_modules/dagster/dagster/_grpc/proxy_server.py
  python_modules/dagster/dagster/_grpc/server.py
  python_modules/dagster/dagster_tests/general_tests/grpc_tests/test_grpc_server_registry.py
Due: pyright

Make load_definitions_from_module public (#26949)
  docs/sphinx/sections/api/apidocs/definitions.rst
  python_modules/dagster/dagster/__init__.py
  python_modules/dagster/dagster/_core/definitions/module_loaders/load_defs_from_module.py
Due: pyright

Update out of date "output_required" explanation on @asset
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
Due: pyright

Lazily load AssetGraphDfifer in GrapheneAssetNode (#26894)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
Due: pyright

simplify
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster_tests/general_tests/asset_graph_differ_tests/test_asset_graph_differ.py
Due: pyright

Load individual asset nodes in AssetGraphDiffer instead of the entire asset graph
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster_tests/general_tests/asset_graph_differ_tests/test_asset_graph_differ.py
Due: pyright

Load individual asset nodes in AssetGraphDiffer instead of the entire asset graph (#26904)
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster_tests/general_tests/asset_graph_differ_tests/test_asset_graph_differ.py
Due: pyright

skip expensive query if asset job
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineExplorerRoot.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/util.ts
Due: none

simplify with removal of method prop
  docs/docs-beta/src/components/PyObject.tsx
Due: none

copy suggestion
  docs/docs-beta/CONTRIBUTING.md
Due: none

[docs-beta] fix broken pyobject API references
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-cloud.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

add skeleton for schedules and sensors docs
  docs/docs-beta/docs/guides/automate/schedules/configuring-job-behavior.md
  docs/docs-beta/docs/guides/automate/schedules/constructing-schedules-for-partitioned-assets-and-jobs.md
  docs/docs-beta/docs/guides/automate/schedules/customizing-execution-timezones.md
  docs/docs-beta/docs/guides/automate/schedules/defining-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/index.md
  docs/docs-beta/docs/guides/automate/schedules/testing-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/troubleshooting-schedules.md
  docs/docs-beta/docs/guides/automate/schedules/using-resources-in-schedules.md
  docs/docs-beta/docs/guides/automate/sensors/index.md
  docs/docs-beta/docs/guides/automate/sensors/logging-in-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/monitoring-sensors-in-the-dagster-ui.md
  docs/docs-beta/docs/guides/automate/sensors/run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-run-status-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/testing-sensors.md
  docs/docs-beta/docs/guides/automate/sensors/using-resources-in-sensors.md
Due: none

poll every n seconds to see if sensor is off
  python_modules/dagster/dagster/_core/instance/config.py
  python_modules/dagster/dagster/_daemon/asset_daemon.py
Due: pyright

add resources section
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/authenticating-to-a-resource.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/configuring-resources.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/defining-resources.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/index.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/resource-lifecycle.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/testing-configurable-resources.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/resources/using-bare-python-objects-as-resources.md
Due: none

scenario that works
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/daemon_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/scenario_utils/scenario_specs.py
Due: pyright

scenario that works (#26961)
  python_modules/dagster/dagster/_daemon/asset_daemon.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/daemon_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/scenario_utils/scenario_specs.py
Due: pyright

trying to test with threads
  python_modules/dagster/dagster_tests/declarative_automation_tests/daemon_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
Due: pyright

move dbt guide to integrations, reorganize pipes and resources docs, fix formatting, fix links
  docs/docs-beta/docs/guides/build/assets/configuring-assets.md
  docs/docs-beta/docs/guides/build/assets/creating-asset-factories.md
  docs/docs-beta/docs/guides/build/assets/passing-data-between-assets.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/index.md
  docs/docs-beta/docs/guides/build/external-pipelines/javascript-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/build-your-own.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/connect/index.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/index.md
  docs/docs-beta/docs/guides/build/external-resources-and-systems/ingesting-data.md
  docs/docs-beta/docs/guides/build/external-resources/authenticating-to-a-resource.md
  docs/docs-beta/docs/guides/build/external-resources/configuring-resources.md
  docs/docs-beta/docs/guides/build/external-resources/connecting-to-apis.md
  docs/docs-beta/docs/guides/build/external-resources/connecting-to-cloud-services.md
  docs/docs-beta/docs/guides/build/external-resources/connecting-to-databases.md
  docs/docs-beta/docs/guides/build/external-resources/defining-resources.md
  docs/docs-beta/docs/guides/build/external-resources/index.md
  docs/docs-beta/docs/guides/build/external-resources/managing-resource-state.md
  docs/docs-beta/docs/guides/build/external-resources/testing-configurable-resources.md
  docs/docs-beta/docs/guides/build/external-resources/using-bare-python-objects-as-resources.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/integrations/guides/asset-integration.md
  docs/docs-beta/docs/integrations/guides/multi-asset-integration.md
  docs/docs-beta/docs/integrations/libraries/dbt/index.md
  docs/docs-beta/docs/integrations/libraries/dbt/transform-dbt.md
Due: none

fix link:
  docs/docs-beta/docs/integrations/libraries/dbt/transform-dbt.md
Due: none

test passing
  python_modules/dagster/dagster_tests/declarative_automation_tests/daemon_tests/test_asset_daemon.py
  python_modules/dagster/dagster_tests/declarative_automation_tests/scenario_utils/asset_daemon_scenario.py
Due: pyright

copy over screenshots, removing testing partitions for now, fix links and formatting
  docs/docs-beta/.gitignore
  docs/docs-beta/docs/guides/build/index.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/backfilling-data.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/defining-dependencies-between-partitioned-assets.md
  docs/docs-beta/docs/guides/build/partitions-and-backfills/testing-partitions.md
  docs/docs-beta/static/images/guides/build/partitions-and-backfills/asset-backfill-details-page.png
  docs/docs-beta/static/images/guides/build/partitions-and-backfills/asset-backfill-partition-selection-modal.png
Due: none

[dagster-airlift] remove old airflow docs entirely
  docs/content/_navigation.json
  docs/content/integrations/airflow.mdx
  docs/content/integrations/airflow/from-airflow-to-dagster.mdx
  docs/next/util/redirectUrls.json
Due: docs-mdx-format

add pipes docs
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
Due: none

add prerequisites formatting guidelines
  docs/docs-beta/CONTRIBUTING.md
Due: none

aws lambda pipes doc and images
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/static/images/guides/build/external-pipelines/aws-lambda/aws-lambda-add-dagster-pipes.png
  docs/docs-beta/static/images/guides/build/external-pipelines/aws-lambda/aws-lambda-create-new-file.png
  docs/docs-beta/static/images/guides/build/external-pipelines/aws-lambda/aws-lambda-dagster-ui.png
  docs/docs-beta/static/images/guides/build/external-pipelines/aws-lambda/aws-lambda-function-details.png
Due: none

formatting fixes, add dagster pipes details doc, add image
  docs/docs-beta/docs/guides/build/external-pipelines/aws-ecs-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-emr-serverless-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-glue-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/index.md
Due: none

add image
  docs/docs-beta/static/images/guides/build/external-pipelines/pipes-overview.png
Due: none

[dagster-airlift] remove old airflow docs entirely (#26857)
  docs/content/_navigation.json
  docs/content/integrations/airflow.mdx
  docs/content/integrations/airflow/from-airflow-to-dagster.mdx
  docs/next/util/redirectUrls.json
Due: docs-mdx-format

[docs-beta] fix broken pyobject API references (#26956)
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-cloud.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
Due: none

[DOC-630][docs-beta] update PyObject to create /api/python-api/ href (#26942)
  docs/docs-beta/CONTRIBUTING.md
  docs/docs-beta/docs/dagster-plus/deployment/management/managing-compute-logs-and-error-messages.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/change-tracking.md
  docs/docs-beta/docs/dagster-plus/features/ci-cd/branch-deployments/testing.md
  docs/docs-beta/docs/etl-pipeline-tutorial/create-and-materialize-assets.md
  docs/docs-beta/docs/guides/operate/io-managers.md
  docs/docs-beta/docs/integrations/libraries/airbyte/airbyte-cloud.md
  docs/docs-beta/docs/integrations/libraries/fivetran.md
  docs/docs-beta/src/components/PyObject.tsx
Due: none

[ui] Open evaluation detail dialog from automaterialize tag
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/EvaluationDetailDialog.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutomaterializeTagWithEvaluation.tsx
Due: none

add databricks pipeline doc and images
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
  docs/docs-beta/static/images/guides/build/external-pipelines/databricks/asset.png
  docs/docs-beta/static/images/guides/build/external-pipelines/databricks/run.png
Due: none

fix formatting
  docs/docs-beta/docs/guides/build/external-pipelines/aws-lambda-pipeline.md
  docs/docs-beta/docs/guides/build/external-pipelines/dagster-pipes-details-and-customization.md
Due: none

fix link
  docs/docs-beta/docs/guides/build/external-pipelines/databricks-pipeline.md
Due: none

add kubernetes pipeline doc
  docs/docs-beta/docs/guides/build/external-pipelines/kubernetes-pipeline.md
  docs/docs-beta/static/images/guides/build/external-pipelines/kubernetes/run.png
Due: none

Fix linting issues
  python_modules/libraries/dagster-aws/dagster_aws/ecs/launcher.py
Due: pyright

Add a test case for removing networkConfiguration in ECS Launcher
  python_modules/libraries/dagster-aws/dagster_aws_tests/ecs_tests/launcher_tests/test_launching.py
Due: pyright

Ruff formatting
  python_modules/libraries/dagster-databricks/dagster_databricks/pipes.py
Due: pyright
