Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

.pre-commit-config.yaml:

default_stages: [pre-commit] # don't run on push by default
repos:
- repo: local
  hooks:
  - id: ruff-format
    name: Ruff Format
    entry: ruff
    args: [format]
    language: system
    pass_filenames: false
  - id: ruff-lint
    name: Ruff Lint
    entry: ruff
    args: [check, --fix, --exit-non-zero-on-fix]
    language: system
    pass_filenames: false
  - id: docs-mdx-format
    name: Format Docs
    language: system
    entry: bash -c "cd docs && make mdx-format"
    pass_filenames: false
    files: ^docs/content

  # We do not use pyright's provided pre-commit hook because we need the environment management
  # supplied by `scripts/run-pyright.py`.
  - id: pyright
    name: pyright
    entry: make quick_pyright
    stages: [pre-push]
    # This means pre-commit will not try to install a new environment for this hook. It relies on
    # having a pre-existing `make` installed (and scripts/run-pyright.py).
    language: system
    pass_filenames: false
    types: [python]

add debug log for scheduler daemon no running schedules
  python_modules/dagster/dagster/_scheduler/scheduler.py
Due: pyright

Fix: Docker Compose Example (#25546)
  examples/deploy_docker/docker-compose.yml
Due: none

[snowflake] Support ignoring missing tables when using `fetch_last_updated_timestamps` (#25488)
  python_modules/libraries/dagster-snowflake/dagster_snowflake/resources.py
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_resources.py
Due: pyright

fix race condition for deleting state (#25618)
  python_modules/dagster/dagster/_scheduler/scheduler.py
Due: pyright

[dagster-tableau] Move refresh and materialize logic to Tableau resource (#25551)
  python_modules/libraries/dagster-tableau/dagster_tableau/assets.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

[docs] Pass on kind docs (#25596)
  docs/content/concepts/metadata-tags/kind-tags.mdx
  docs/content/concepts/metadata-tags/tags.mdx
  docs/next/public/images/concepts/metadata-tags/kinds/kinds.svg
Due: docs-mdx-format

Unexperimentalize asset tag params (#25597)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  python_modules/dagster/dagster/_core/definitions/asset_spec.py
  python_modules/dagster/dagster/_core/definitions/decorators/asset_decorator.py
  python_modules/dagster/dagster/_core/definitions/source_asset.py
Due: docs-mdx-format, pyright

ADD cloud type property to fake adls2 resource
  python_modules/libraries/dagster-azure/dagster_azure/adls2/fake_adls2_resource.py
Due: pyright

[docs-beta] fix broken build due to typo in anchor
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/security.md
Due: none

fix more broken anchors
  docs/docs-beta/docs/dagster-plus/deployment/serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/security.md
Due: none

[docs-beta] fix broken build due to typo in anchor (#25622)
  docs/docs-beta/docs/dagster-plus/deployment/serverless.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/runtime-environment.md
  docs/docs-beta/docs/dagster-plus/deployment/serverless/security.md
Due: none

ADD cloud type to base resource
  python_modules/libraries/dagster-azure/dagster_azure/adls2/resources.py
Due: pyright

[dagster-sigma] Update Sigma documentation to showcase new API patterns (#25598)
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/multiple-sigma-organizations.py
  examples/docs_snippets/docs_snippets/integrations/sigma/representing-sigma-assets.py
Due: docs-mdx-format, pyright

[dagster-tableau] Make new Power BI semantic model refresh fn experimental (#25599)
  python_modules/libraries/dagster-powerbi/dagster_powerbi/assets.py
Due: pyright

[dagster-tableau] Update Tableau documentation to showcase new API patterns (#25588)
  docs/content/integrations/tableau.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-tableau.rst
  examples/docs_snippets/docs_snippets/integrations/tableau/add-tableau-data-quality-warning.py
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/multiple-tableau-workspaces.py
  examples/docs_snippets/docs_snippets/integrations/tableau/refresh-and-materialize-tableau-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-cloud-assets.py
  examples/docs_snippets/docs_snippets/integrations/tableau/representing-tableau-server-assets.py
Due: docs-mdx-format, pyright

fix(dagster-snowflake): fix test_fetch_last_updated_timestamps_missing_table
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_resources.py
Due: pyright

fix: pyright issue in tableau tests
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

EDIT mock test for adls storage account
  python_modules/libraries/dagster-azure/dagster_azure_tests/adls2_tests/test_adls2_file_manager.py
Due: pyright

EDIT parameterize test for cloud type specifications
  python_modules/libraries/dagster-azure/dagster_azure_tests/adls2_tests/test_adls2_file_manager.py
Due: pyright

[cli] Set DAGSTER_IS_DEFS_VALIDATION_CLI in dagster definitions validate
  python_modules/dagster/dagster/_cli/definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/definitions_command_projects/valid_project/valid_project/gated_definitions.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_definitions_validate_command.py
Due: pyright

fix(dagster-snowflake): fix test_fetch_last_updated_timestamps_missing_table (#25623)
  python_modules/libraries/dagster-snowflake/dagster_snowflake_tests/test_resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_asset_specs.py
Due: pyright

[dagster-airlift] Move images
  docs/content/integrations/airlift/migrating-full-dags.mdx
  docs/content/integrations/airlift/tutorial/3-peer.mdx
  docs/content/integrations/airlift/tutorial/4-observe.mdx
  docs/content/integrations/airlift/tutorial/5-migrate.mdx
  docs/next/public/images/integrations/airlift/after_dag_override.png
  docs/next/public/images/integrations/airlift/before_dag_override.png
  docs/next/public/images/integrations/airlift/observe.svg
  docs/next/public/images/integrations/airlift/partitioned_mat.png
  docs/next/public/images/integrations/airlift/peer.svg
  docs/next/public/images/integrations/airlift/peer_materialize.svg
  docs/next/public/images/integrations/airlift/proxied_dag.png
  docs/next/public/images/integrations/airlift/state_in_airflow.png
Due: docs-mdx-format

[dagster-airlift] Move more cruft
  docs/content/integrations/airlift/faq.mdx
  docs/content/integrations/airlift/tutorial/5-migrate.mdx
Due: docs-mdx-format

[dagster-looker] Attach URL metadata, owners to dashboards, explores
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/mock_looker_data.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

kinds
  python_modules/libraries/dagster-looker/dagster_looker/lkml/asset_utils.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/looker_projects/sample/views/contracts_fact.view.lkml
Due: pyright

dagster-looker 0.24.14rc6
  python_modules/libraries/dagster-looker/dagster_looker/version.py
Due: pyright

fix logic
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

Introduce translator pattern for Fivetran
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

Requested changes
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

Test custom translator + refactor
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/utils.py
Due: pyright

xor
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

Add test
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
Due: pyright

Import and docstrings
  python_modules/libraries/dagster-fivetran/dagster_fivetran/__init__.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
Due: pyright

[PLUS-1409] Introduce translator pattern for Fivetran (#25557)
  python_modules/libraries/dagster-fivetran/dagster_fivetran/__init__.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran/asset_defs.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/test_load_from_instance.py
  python_modules/libraries/dagster-fivetran/dagster_fivetran_tests/utils.py
Due: pyright

[dagster-airlift] CLI for scaffolding examples
  examples/experimental/dagster-airlift/dagster_airlift/cli.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/cli_tests/test_generate.py
Due: pyright

[ui] Handle failure in code location permalink
  js_modules/dagster-ui/packages/ui-core/src/app/ContentRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationDefinitionsRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationOverviewRoot.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/CodeLocationTabs.oss.tsx
  js_modules/dagster-ui/packages/ui-core/src/code-location/findRepositoryInLocation.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/CodeLocationRowSet.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/VirtualizedCodeLocationRow.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceRoot.tsx
Due: none

add managing concurrency to sidebar
  docs/docs-beta/sidebars.ts
Due: none
