Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

Fix indentation
  python_modules/libraries/dagster-k8s/dagster_k8s/ops/k8s_job_op.py
Due: pyright

updates
  CHANGES.md
Due: none

Delete proxied state from the dagster process (#25007)
  examples/experimental/dagster-airlift/dagster_airlift/core/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_instance.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/proxied_state.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/proxying_fn.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_proxying_to_dagster.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/test_migration_state.py
  examples/experimental/dagster-airlift/examples/dbt-example/dbt_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/print_dag.py
  examples/experimental/dagster-airlift/examples/perf-harness/perf_harness/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/airflow_dags/dags.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example/custom_operator_examples/custom_proxy.py
  examples/experimental/dagster-airlift/examples/tutorial-example/tutorial_example_tests/integration_tests/test_migrating_e2e.py
Due: pyright

Disable buildkite test analytics
  .buildkite/hooks/pre-command
Due: none

Update python_modules/libraries/dagster-k8s/dagster_k8s/ops/k8s_job_op.py
  python_modules/libraries/dagster-k8s/dagster_k8s/ops/k8s_job_op.py
Due: pyright

update
  CHANGES.md
Due: none

1.8.10 changelog (#25035)
  CHANGES.md
Due: none

Update first tick behavior of AutomationCondition.eager()
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_condition_tester.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/automation_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/legacy_context.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/legacy/rule_condition.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/__init__.py
  python_modules/dagster/dagster/_core/definitions/declarative_automation/operands/slice_conditions.py
  python_modules/dagster/dagster/_core/definitions/partition.py
  python_modules/dagster/dagster/_core/definitions/time_window_partitions.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_eager_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_initial_evaluation_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_newly_true_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/builtins/test_on_missing_condition.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_automation_condition_tester.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/automation_condition_tests/fundamentals/test_result_value_hash.py
  python_modules/dagster/dagster_tests/definitions_tests/declarative_automation_tests/daemon_tests/definitions/default_condition.py
Due: pyright

Use workbook ids instead of StartWorkbookRefreshRequest
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/conftest.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/repos/pending_repo_with_refreshable_workbook_ids.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_pending_repo.py
Due: pyright

[dagster-tableau] Implement StartWorkbookRefreshRequest
  python_modules/libraries/dagster-tableau/dagster_tableau/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
  python_modules/libraries/dagster-tableau/dagster_tableau/translator.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/conftest.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/repos/__init__.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/repos/pending_repo.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/repos/pending_repo_with_refresh_requests.py
  python_modules/libraries/dagster-tableau/dagster_tableau_tests/test_pending_repo.py
Due: pyright

Update docs
  docs/content/integrations/tableau.mdx
Due: docs-mdx-format

[dagster-tableau] Update docs with refreshable workbooks and materialization
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/refresh-and-materialize-tableau-assets.py
Due: docs-mdx-format, pyright

Use FinishCode enum
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

Lint
  python_modules/libraries/dagster-tableau/dagster_tableau/resources.py
Due: pyright

Update Tableau docs post review
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/tableau/refresh-and-materialize-tableau-assets.py
Due: docs-mdx-format, pyright

removed dagster project files to just have code snippet
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial_tests/__init__.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial_tests/test_assets.py
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/pyproject.toml
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/setup.cfg
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/setup.py
Due: pyright

[docs-beta-snippets] consistent formatting
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
Due: pyright

rm README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/README.md
Due: none

[dagster-embedded-elt] fix `KeyError` when fetching Sling `row_count` (#24843)
  python_modules/libraries/dagster-embedded-elt/dagster_embedded_elt/sling/resources.py
Due: pyright

[execution] removed unused output_capture
  python_modules/dagster/dagster/_core/execution/api.py
  python_modules/dagster/dagster_tests/execution_tests/dynamic_tests/test_dynamic_output.py
Due: pyright

[docs-beta-snippets] consistent formatting (#25041)
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/README.md
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
Due: pyright

cp
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_parse_metadata.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/print_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/print_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/unit_tests/__init__.py
Due: pyright

initail push for new docs etl tutorial (#24851)
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/data/products.csv
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/data/sales_data.csv
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/data/sales_reps.csv
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/data/sample_request/request.json
  examples/docs_beta_snippets/docs_beta_snippets/guides/tutorials/etl_tutorial/etl_tutorial/definitions.py
Due: pyright

fix python packages logic
  .buildkite/dagster-buildkite/dagster_buildkite/python_packages.py
Due: pyright

[runs feed ui] display correct number of selected backfills in actions menu
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
Due: none

linting! must not forget
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
Due: none

[dagster-airlift] Make autopeered tasks produce synthetic materializations (#25017)
  examples/experimental/dagster-airlift/dagster_airlift/constants.py
  examples/experimental/dagster-airlift/dagster_airlift/core/airflow_defs_data.py
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/compute.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/defs_construction.py
  examples/experimental/dagster-airlift/dagster_airlift/core/serialization/serialized_data.py
  examples/experimental/dagster-airlift/dagster_airlift/in_airflow/base_proxy_operator.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_airflow_asset_mapping.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/core_tests/test_sensor.py
  examples/experimental/dagster-airlift/dagster_airlift_tests/unit_tests/in_airflow_tests/test_parse_metadata.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/print_dag.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/airflow_dags/proxied_state/print_dag.yaml
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/automapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink/dagster_defs/mapped_defs.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/integration_tests/test_e2e_automapped.py
  examples/experimental/dagster-airlift/examples/kitchen-sink/kitchen_sink_tests/unit_tests/__init__.py
Due: pyright

Automation: versioned docs for 1.8.10
  docs/next/.versioned_content/_versions_with_static_links.json
Due: none

[RemoteAssetNode] move from RepositoryHandle to RepositorySelector
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/implementation/utils.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/freshness_based_auto_materialize.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/remote_representation/handle.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_repository.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_telemetry.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_queued_run_coordinator_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/asset_policy_sensors_tests/test_default_auto_materialize_sensors.py
  python_modules/libraries/dagster-celery-k8s/dagster_celery_k8s_tests/test_launcher.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_launcher.py
Due: pyright

delete flaky OrdinalOrSingleRangePartitionSelector test
  js_modules/dagster-ui/packages/ui-core/src/partitions/__tests__/OrdinalOrSingleRangePartitionSelector.test.tsx
Due: none

[ui] Fix logs toolbar step selector width
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsToolbar.tsx
Due: none

[ui] Fix logs toolbar step selector width (#25048)
  js_modules/dagster-ui/packages/ui-core/src/runs/LogsToolbar.tsx
Due: none

[RemoteAssetNode] move from RepositoryHandle to RepositorySelector (#24824)
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_assets.py
  python_modules/dagster-graphql/dagster_graphql/implementation/fetch_runs.py
  python_modules/dagster-graphql/dagster_graphql/implementation/utils.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/external.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/solids.py
  python_modules/dagster/dagster/_cli/job.py
  python_modules/dagster/dagster/_core/definitions/asset_graph.py
  python_modules/dagster/dagster/_core/definitions/asset_graph_differ.py
  python_modules/dagster/dagster/_core/definitions/freshness_based_auto_materialize.py
  python_modules/dagster/dagster/_core/definitions/remote_asset_graph.py
  python_modules/dagster/dagster/_core/execution/asset_backfill.py
  python_modules/dagster/dagster/_core/execution/submit_asset_runs.py
  python_modules/dagster/dagster/_core/remote_representation/code_location.py
  python_modules/dagster/dagster/_core/remote_representation/external.py
  python_modules/dagster/dagster/_core/remote_representation/handle.py
  python_modules/dagster/dagster/_core/workspace/context.py
  python_modules/dagster/dagster/_core/workspace/workspace.py
  python_modules/dagster/dagster_tests/api_tests/test_api_snapshot_repository.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_asset_graph.py
  python_modules/dagster/dagster_tests/asset_defs_tests/test_external_asset_graph.py
  python_modules/dagster/dagster_tests/cli_tests/command_tests/test_telemetry.py
  python_modules/dagster/dagster_tests/core_tests/execution_tests/test_asset_backfill.py
  python_modules/dagster/dagster_tests/daemon_tests/test_queued_run_coordinator_daemon.py
  python_modules/dagster/dagster_tests/definitions_tests/asset_policy_sensors_tests/test_default_auto_materialize_sensors.py
  python_modules/libraries/dagster-celery-k8s/dagster_celery_k8s_tests/test_launcher.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_executor.py
  python_modules/libraries/dagster-k8s/dagster_k8s_tests/unit_tests/test_launcher.py
Due: pyright

[dagster-airlift] Get rid of unused get_asset_events
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

[dagster-airlift] Move sorting to end of loop
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
Due: pyright

mark methods on SigmaOrganization as public and private (#25025)
  python_modules/libraries/dagster-sigma/dagster_sigma/resource.py
  python_modules/libraries/dagster-sigma/dagster_sigma_tests/test_resource.py
Due: pyright

[dagster-airlift][sensor] Get rid of unused get_asset_events (#25050)
  examples/experimental/dagster-airlift/dagster_airlift/core/load_defs.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/__init__.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/builder.py
  examples/experimental/dagster-airlift/dagster_airlift/core/sensor/event_translation.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
