Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

[dagster-tableau][wip] Cleaned up path for simultaneously loading LKML views & API data
  python_modules/libraries/dagster-looker/dagster_looker/__init__.py
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker/lkml/dagster_looker_lkml_translator.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[docs] [jobless-automation] Update automation concept pages
  docs/content/concepts/automation.mdx
  docs/content/concepts/automation/schedules.mdx
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  docs/next/public/images/concepts/partitions-schedules-sensors/schedules/schedules-tab-toggle.png
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/sensors.py
Due: docs-mdx-format, pyright

[ui] Fix scroll behavior, missing tabs when using new runs feed tables (#25638)
  js_modules/dagster-ui/packages/ui-core/src/instance/backfill/BackfillRunsTab.tsx
  js_modules/dagster-ui/packages/ui-core/src/instigation/TickHistory.tsx
  js_modules/dagster-ui/packages/ui-core/src/runs/RunsFeedTable.tsx
  js_modules/dagster-ui/packages/ui-core/src/schedules/ScheduleRoot.tsx
Due: none

[jobless-automation] Unexperimentalize `target` (#25635)
  python_modules/dagster/dagster/_core/definitions/decorators/schedule_decorator.py
  python_modules/dagster/dagster/_core/definitions/decorators/sensor_decorator.py
  python_modules/dagster/dagster/_core/definitions/schedule_definition.py
  python_modules/dagster/dagster/_core/definitions/sensor_definition.py
Due: pyright

[dagster-ge] Drop python 3.9 support (#25637)
  .buildkite/dagster-buildkite/dagster_buildkite/steps/packages.py
  python_modules/libraries/dagster-ge/setup.py
Due: pyright

[jobless-automation] Exclude anonymous jobs from ResourceSnap job_ops_using list (#25640)
  python_modules/dagster/dagster/_core/definitions/asset_job.py
  python_modules/dagster/dagster/_core/definitions/repository_definition/repository_data_builder.py
  python_modules/dagster/dagster/_core/remote_representation/external_data.py
  python_modules/dagster/dagster_tests/core_tests/snap_tests/test_repository_snap.py
Due: pyright

[dagster-looker] Attach URL metadata, owners to dashboards, explores
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/mock_looker_data.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[ui] Skip runs feed load for automation ticks with no requested run IDs (#25569)
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/AutomaterializeMiddlePanelWithData.tsx
Due: none

[dagster-sigma] Update Sigma documentation to showcase workbook filtering
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/filter-workbooks-sigma-assets.py
Due: docs-mdx-format, pyright

[docs] Update docs for `dagster definitions validate` and `DAGSTER_IS_DEFS_VALIDATION_CLI` (#25639)
  docs/content/api/modules.json.gz
  docs/content/api/searchindex.json.gz
  docs/content/api/sections.json.gz
  docs/next/public/objects.inv
  python_modules/dagster/dagster/_cli/definitions.py
Due: docs-mdx-format, pyright

[graphql] handle asset key that does not exist in assetNodes
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
Due: pyright

[dagster-looker] Update Looker documentation to showcase filtering
  docs/content/integrations/looker.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  examples/docs_snippets/docs_snippets/integrations/looker/filtering-looker-assets.py
Due: docs-mdx-format, pyright

Update docs
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/sigma/filtering-sigma-assets.py
Due: docs-mdx-format, pyright

Update docs
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

[docs] [jobless-automation] Update automation concept pages (#25494)
  docs/content/concepts/automation.mdx
  docs/content/concepts/automation/schedules.mdx
  docs/content/concepts/automation/schedules/automating-assets-schedules-jobs.mdx
  docs/content/concepts/partitions-schedules-sensors/sensors.mdx
  docs/next/public/images/concepts/partitions-schedules-sensors/schedules/schedules-tab-toggle.png
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/schedules/basic_asset_schedule.py
  examples/docs_snippets/docs_snippets/concepts/partitions_schedules_sensors/sensors/sensors.py
Due: docs-mdx-format, pyright

[docs] [jobless-automation] Update tutorial
  docs/content/tutorial/connecting-to-external-services.mdx
  docs/content/tutorial/next-steps.mdx
  docs/content/tutorial/scheduling-your-pipeline.mdx
  docs/next/public/images/tutorial/resources-uses.png
  docs/next/public/images/tutorial/schedule.png
  docs/next/public/images/tutorial/test-schedule.png
  examples/docs_snippets/docs_snippets/tutorial/scheduling/with_job/with_job.py
  examples/docs_snippets/docs_snippets/tutorial/scheduling/with_schedule/with_schedule.py
  examples/docs_snippets/docs_snippets_tests/tutorial_tests/scheduling/test_scheduling.py
Due: docs-mdx-format, pyright

[dagster-powerbi] admin
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/conftest.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_asset_specs.py
Due: pyright

[graphql] handle asset key that does not exist in assetNodes (#25645)
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_assets.py
Due: pyright

kinds
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi_tests/test_translator.py
Due: pyright

reload
  python_modules/libraries/dagster-powerbi/dagster_powerbi/resource.py
  python_modules/libraries/dagster-powerbi/dagster_powerbi/translator.py
Due: pyright

make autoMaterializeAssetEvaluationId an ID field
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/GetEvaluationsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/PartitionSubsetListQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/PartitionSubsetListQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/types/AssetDaemonTicksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickDetailsDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/AssetSensorTicksQuery.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/instigation.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
Due: pyright

[docs] [jobless-automation] Update tutorial (#25495)
  docs/content/tutorial/connecting-to-external-services.mdx
  docs/content/tutorial/next-steps.mdx
  docs/content/tutorial/scheduling-your-pipeline.mdx
  docs/next/public/images/tutorial/resources-uses.png
  docs/next/public/images/tutorial/schedule.png
  docs/next/public/images/tutorial/test-schedule.png
  examples/docs_snippets/docs_snippets/tutorial/scheduling/with_job/with_job.py
  examples/docs_snippets/docs_snippets/tutorial/scheduling/with_schedule/with_schedule.py
  examples/docs_snippets/docs_snippets_tests/tutorial_tests/scheduling/test_scheduling.py
Due: docs-mdx-format, pyright

[dagster-sigma] Update Sigma documentation to showcase filtering (#25644)
  docs/content/integrations/sigma.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-sigma.rst
  examples/docs_snippets/docs_snippets/integrations/sigma/filtering-sigma-assets.py
Due: docs-mdx-format, pyright

[dagster-looker] Update Looker documentation to showcase filtering (#25646)
  docs/content/integrations/looker.mdx
  docs/sphinx/sections/api/apidocs/libraries/dagster-looker.rst
  examples/docs_snippets/docs_snippets/integrations/looker/filtering-looker-assets.py
Due: docs-mdx-format, pyright

make autoMaterializeAssetEvaluationIds BigInteger instead of Ints (#25648)
  js_modules/dagster-ui/packages/ui-core/client.json
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/GetEvaluationsQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/PartitionSubsetListQuery.tsx
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/PartitionSubsetListQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/assets/auto-materialization/types/AssetDaemonTicksQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instigation/types/TickDetailsDialog.types.ts
  js_modules/dagster-ui/packages/ui-core/src/sensors/types/AssetSensorTicksQuery.types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/instigation.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_condition_evaluations.py
Due: pyright

[dagit] dont fetch Pipeline.tags (#25524)
  js_modules/dagster-ui/packages/ui-core/src/jobs/JobsPageContent.tsx
  js_modules/dagster-ui/packages/ui-core/src/workspace/WorkspaceContext/WorkspaceQueries.tsx
Due: none

[dagster-looker] Implement PdtBuildDefinition to replace RequestStartPdtBuild
  python_modules/libraries/dagster-looker/dagster_looker/api/assets.py
  python_modules/libraries/dagster-looker/dagster_looker/api/dagster_looker_api_translator.py
  python_modules/libraries/dagster-looker/dagster_looker/api/resource.py
  python_modules/libraries/dagster-looker/dagster_looker_tests/api/test_build_defs.py
Due: pyright

[docs] Fix custom owners examples in BI integrations docs
  docs/content/integrations/looker.mdx
  docs/content/integrations/powerbi.mdx
  docs/content/integrations/sigma.mdx
  docs/content/integrations/tableau.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/power-bi/customize-power-bi-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
  examples/docs_snippets/docs_snippets/integrations/tableau/customize-tableau-asset-defs.py
Due: docs-mdx-format, pyright

[docs] Fix typo in Looker filtering docs
  docs/content/integrations/looker.mdx
Due: docs-mdx-format

sigma snapshot
  python_modules/libraries/dagster-sigma/dagster_sigma/cli.py
Due: pyright

Update docs
  docs/content/integrations/looker.mdx
  docs/content/integrations/sigma.mdx
  examples/docs_snippets/docs_snippets/integrations/looker/customize-looker-assets.py
  examples/docs_snippets/docs_snippets/integrations/sigma/customize-sigma-asset-defs.py
Due: docs-mdx-format, pyright

sigma snapshot
  python_modules/libraries/dagster-sigma/setup.py
Due: pyright

dagster-sigma 0.0.19
  python_modules/libraries/dagster-sigma/dagster_sigma/version.py
Due: pyright

one more int => bigint change
  js_modules/dagster-ui/packages/ui-core/src/assets/AutoMaterializePolicyPage/types/GetEvaluationsQuery.types.ts
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
Due: pyright

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
