Repository dagster-io/dagster: changes, and which pre-commit hooks are due for each by the changed paths.
All: docs-mdx-format, pyright

docs-mdx-format:
  name: Format Docs
  language: system
  entry: bash -c "cd docs && make mdx-format"
  pass_filenames: false

pyright:
  name: pyright
  entry: make quick_pyright
  stages:
  - pre-push
  language: system
  pass_filenames: false

remove redundant dependency mapping
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
Due: pyright

major cleanup
  examples/project_ask_ai_dagster/.env.example
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/query.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/definitions.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github_gql_queries.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/openai.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/pinecone.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/scraper.py
  examples/project_ask_ai_dagster/pyproject.toml
  examples/project_ask_ai_dagster/rag_execution.py
  examples/project_ask_ai_dagster/requirements.txt
Due: pyright

initial working files
  examples/ask-ai-dagster/.env.example
  examples/ask-ai-dagster/.gitignore
  examples/ask-ai-dagster/ReadMe.md
  examples/ask-ai-dagster/ingestion/github.py
  examples/ask-ai-dagster/ingestion/github_gql_queries.py
  examples/ask-ai-dagster/ingestion/openai.py
  examples/ask-ai-dagster/ingestion/webscrape.py
  examples/ask-ai-dagster/rag_execution.py
  examples/ask-ai-dagster/requirements.txt
Due: pyright

refactor to use i/o manager and split assets
  examples/project_ask_ai_dagster/.gitignore
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/lineage.svg
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/retrieval.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/definitions.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/scraper.py
  examples/project_ask_ai_dagster/requirements.txt
Due: pyright

added dagster files
  examples/project_ask_ai_dagster/.env.example
  examples/project_ask_ai_dagster/.gitignore
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/dagster.yaml
  examples/project_ask_ai_dagster/ingestion/github.py
  examples/project_ask_ai_dagster/ingestion/github_gql_queries.py
  examples/project_ask_ai_dagster/ingestion/openai.py
  examples/project_ask_ai_dagster/ingestion/webscrape.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/definitions.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/openai.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/scraper.py
  examples/project_ask_ai_dagster/pyproject.toml
  examples/project_ask_ai_dagster/rag_execution.py
  examples/project_ask_ai_dagster/requirements.txt
Due: pyright

[ui] Directly set MiddleTruncate truncated text to fix flicker (#26888)
  js_modules/dagster-ui/packages/ui-components/src/components/MiddleTruncate.tsx
Due: none

[ui] Change tag collection size-to-fit timing to avoid jank (#26834)
  js_modules/dagster-ui/packages/ui-core/src/runs/AssetTagCollections.tsx
Due: none

colton edits
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/dagster.yaml
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/retrieval.py
Due: pyright

Don’t offer runs vs. roots views on Job > Runs due to tag filter
  js_modules/dagster-ui/packages/ui-core/src/pipelines/PipelineRunsFeedRoot.tsx
Due: none

update code references
  docs/docs-beta/docs/etl-pipeline-tutorial/create-a-sensor-asset.md
  docs/docs-beta/docs/etl-pipeline-tutorial/refactor-your-project.md
Due: none

Make selection filtering case insentive (#26881)
  js_modules/dagster-ui/packages/ui-core/src/app/GraphQueryImpl.ts
Due: none

copy-pasted changes from #24834 by @tdipadova3rd
  helm/dagster/schema/schema/charts/dagster/subschema/daemon.py
  helm/dagster/schema/schema/charts/dagster/subschema/migrate.py
  helm/dagster/schema/schema/charts/dagster/subschema/webserver.py
  helm/dagster/templates/deployment-daemon.yaml
  helm/dagster/templates/helpers/_deployment-webserver.tpl
  helm/dagster/templates/job-instance-migrate.yaml
  helm/dagster/values.schema.json
  helm/dagster/values.yaml
Due: pyright

[docs] add note about alert behavior with RetryPolicy (#26794)
  docs/content/dagster-plus/managing-deployments/alerts.mdx
  docs/docs-beta/docs/dagster-plus/features/alerts/creating-alerts.md
Due: docs-mdx-format

make prettier
  examples/project_ask_ai_dagster/README.md
Due: none

CE 602/rag project implementation (#26795)
  examples/project_ask_ai_dagster/.env.example
  examples/project_ask_ai_dagster/.gitignore
  examples/project_ask_ai_dagster/README.md
  examples/project_ask_ai_dagster/dagster.yaml
  examples/project_ask_ai_dagster/lineage.svg
  examples/project_ask_ai_dagster/project_ask_ai_dagster/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/ingestion.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/assets/retrieval.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/definitions.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/github_gql_queries.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/pinecone.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster/resources/scraper.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster_tests/__init__.py
  examples/project_ask_ai_dagster/project_ask_ai_dagster_tests/test_assets.py
  examples/project_ask_ai_dagster/pyproject.toml
  examples/project_ask_ai_dagster/requirements.txt
Due: pyright

Small Typo (Complimentary → Complementary) (#26835)
  docs/content/concepts/types.mdx
Due: docs-mdx-format

[docs] update AutomationConditionSensorDefinition docstring example (#26838)
  python_modules/dagster/dagster/_core/definitions/automation_condition_sensor_definition.py
Due: pyright

[graphql] Replace `Int` with `BigInt` for overflow
  python_modules/dagster-graphql/dagster_graphql/schema/asset_checks.py
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql/schema/paging.py
Due: pyright

Add explanations (except limits are always `Int`s)
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_policy.py
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql/schema/instigation.py
  python_modules/dagster-graphql/dagster_graphql/schema/logs/events.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/config.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline_run_stats.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
  python_modules/dagster-graphql/dagster_graphql/schema/schedules/schedules.py
Due: pyright

Generate after making changes to GraphQL fragments
  js_modules/dagster-ui/packages/ui-core/src/graphql/schema.graphql
  js_modules/dagster-ui/packages/ui-core/src/graphql/types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/types/InstanceConcurrency.types.ts
  js_modules/dagster-ui/packages/ui-core/src/instance/types/VirtualizedInstanceConcurrencyTable.types.ts
Due: none

Revert "Add explanations (except limits are always `Int`s)"
  python_modules/dagster-graphql/dagster_graphql/schema/asset_condition_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/asset_graph.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_asset_evaluations.py
  python_modules/dagster-graphql/dagster_graphql/schema/auto_materialize_policy.py
  python_modules/dagster-graphql/dagster_graphql/schema/backfill.py
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql/schema/instigation.py
  python_modules/dagster-graphql/dagster_graphql/schema/logs/events.py
  python_modules/dagster-graphql/dagster_graphql/schema/partition_sets.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/config.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline.py
  python_modules/dagster-graphql/dagster_graphql/schema/pipelines/pipeline_run_stats.py
  python_modules/dagster-graphql/dagster_graphql/schema/roots/query.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs.py
  python_modules/dagster-graphql/dagster_graphql/schema/runs_feed.py
  python_modules/dagster-graphql/dagster_graphql/schema/schedules/schedules.py
Due: pyright

Undo changes to `GrapheneCursor` and priority type
  python_modules/dagster-graphql/dagster_graphql/schema/instance.py
  python_modules/dagster-graphql/dagster_graphql/schema/paging.py
Due: pyright

[ui] Delete Dagster+ promotion component
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/DagsterPlusLaunchPromotion.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/dagster_plus.png
Due: none

[graphql] Change `Int` to `ID` instead of `BigInt`
  python_modules/dagster-graphql/dagster_graphql/schema/asset_checks.py
Due: pyright

Support Python 3.7
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/dag_proxy_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/task_proxy_operator.py
Due: pyright

Add project_ask_ai_dagster to available examples
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

[ui] Delete Dagster+ promotion component (#26900)
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/DagsterPlusLaunchPromotion.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/dagster_plus.png
Due: none

Update expected storage ID output to Python string
  python_modules/dagster-graphql/dagster_graphql_tests/graphql/test_asset_checks.py
Due: pyright

[ui] Move usePrefixedCacheKey into its own file
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/usePrefixedCacheKey.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

[ui] Move usePrefixedCacheKey into its own file (#26901)
  js_modules/dagster-ui/packages/ui-core/src/app/AppProvider.tsx
  js_modules/dagster-ui/packages/ui-core/src/app/usePrefixedCacheKey.tsx
  js_modules/dagster-ui/packages/ui-core/src/asset-graph/useAssetGraphData.tsx
Due: none

[dagster-airlift] ✨Support Python 3.7 (#26576)
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/base_asset_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/dag_proxy_operator.py
  python_modules/libraries/dagster-airlift/dagster_airlift/in_airflow/task_proxy_operator.py
Due: pyright

Add project_ask_ai_dagster to available examples (#26902)
  python_modules/dagster/dagster/_generate/download.py
Due: pyright

[components] Use AssetAttributesModel instead of DbtTranslatorParams
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components/core/dsl_schema.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
Due: pyright

[components] Use AssetAttributesModel instead of DbtTranslatorParams (#26768)
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components/core/dsl_schema.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_templated_custom_keys_dbt_project.py
Due: pyright

[components] Resolver -> Renderer
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components/core/dsl_schema.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/test_component_rendering.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_spec_processing.py
  python_modules/libraries/dagster-components/setup.py
Due: pyright

[components] Resolver -> Renderer (#26769)
  python_modules/libraries/dagster-components/dagster_components/core/component.py
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/core/component_rendering.py
  python_modules/libraries/dagster-components/dagster_components/core/dsl_schema.py
  python_modules/libraries/dagster-components/dagster_components/lib/dbt_project/component.py
  python_modules/libraries/dagster-components/dagster_components/lib/pipes_subprocess_script_collection.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components_tests/rendering_tests/test_component_rendering.py
  python_modules/libraries/dagster-components/dagster_components_tests/unit_tests/test_spec_processing.py
  python_modules/libraries/dagster-components/setup.py
Due: pyright

[components] Add SlingReplicationCollection component
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/sling_location/components/ingest/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

[components] Add SlingReplicationCollection component (#26650)
  python_modules/libraries/dagster-components/dagster_components/core/component_defs_builder.py
  python_modules/libraries/dagster-components/dagster_components/lib/__init__.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication.py
  python_modules/libraries/dagster-components/dagster_components/lib/sling_replication_collection.py
  python_modules/libraries/dagster-components/dagster_components_tests/code_locations/sling_location/components/ingest/component.yaml
  python_modules/libraries/dagster-components/dagster_components_tests/integration_tests/test_sling_integration_test.py
  python_modules/libraries/dagster-components/dagster_components_tests/registry_tests/test_registry.py
Due: pyright

[ui] Add option to pass interactions/buttons to SectionEmptyState
  js_modules/dagster-ui/packages/ui-core/src/assets/overview/Common.tsx
Due: none

Path conditions:
  docs-mdx-format: any of: ^docs/content
  pyright: any of: \.py$
